@import '../../../../../styles/theme/_colors.scss';

a {
  color: $primary;
}

.top {
  padding: 20px;
}

d-flex {
  border-top: 1px solid #ececec;
}
/*
.dialog-text {
  @media (max-width:450px) {
    max-height: 60vh;
  }
}
*/
