<h1 mat-dialog-title class="text-center" >Vilkår for bruk av tjenesten</h1>
<hr>
<div mat-dialog-content>
  <div class="modal-body text-left">
      <div class="mb-4">
            Denne tjenesten er laget for at du så enkelt som mulig skal kunne hente dine rente-og lånedata,foratviskal kunne overvåke dine betingelser. Bruk av denne tjenesten innebærer at du logger inn hos din bank med din BankID på mobil, og gir oss i Renteradar.no (Forbrukerøkonomene AS) tilgang til din side hos din bank. Det betyr at vi får tilgang til den samme informasjonen du selv ser, dersom du logger deg inn hos din bank. Vi lover å bruke tilgangen du gir oss utelukkende til å hente dine rente-og lånedata, samt navn, adresse og email, via krypterte kommunikasjonskanaler, og vil ikke samle annen informasjon utover disse opplysningene, eller gjøre endringer på dine vegne. Vi vil heller ikke kunne logge inn på et senere tidspunkt, fordi innloggingen du gjør med BankID på mobil ikke kan gjenbrukes. For å benytte tjenesten må du oppgi telefonnummeret ditt og fødselsdatoen din, men vi vil ikke kunne se eller få tilgang til passordet ditt.
      </div>
      <div class="mb-4">
            Dine rente-og lånedata vil kun benyttes til å sammenligne dine betingelser med konkurrerende tilbud/betingelser i markedet. Dataene dine vil ikke deles med tredjeparter uten ditt samtykke. Eksempler på dette kan være hvis du ønsker at vi innhenter et tilbud for deg fra en konkurrerende bank.
      </div>
      <div class="mb-4">
            Du kan når som helst kreve at vi sletter alle dine lånedata, og alle andre opplysninger vi har innhentet fra deg.
      </div>
      <div class="mb-4">
            For å benytte denne tjenesten må du oppgi telefonnummeret ditt, og vi forbeholder oss retten til å ringe deg eller sende deg en SMS ifmutvikling av tjeneste vi leverer. Samtidig lover vi å ikke spamme deg.
      </div>
      <div class="mb-4">
            I tillegg til vilkårene for bruk av denne tjenesten kommer våre generelle vilkår, som du finner her:
            <p>
                <a class="link" href="/brukervilkar">Generelle vilkår</a>
            </p>
      </div>
    <div class="mb-4">
        Ønsker du mer informasjon om hvordan vi behandler personopplysningene dine, kan du lese vår personvernerklæring som
        du finner her: 
        <p>
            <a href="/personvernerklaering">
                Personvernerklæring</a>
        </p>
    </div>
  </div>
</div>
<hr>
<div mat-dialog-actions class="d-flex justify-content-center">
  <rente-button cdkFocusInitial color="primary" (click)="onClose()" style="width: 200px">OK</rente-button>
</div>
