<div class="box">

    <div class="top-box" *ngIf="!isErrorState; else errorState">
      <h3 i18n=“confirmation|bargain@@bargainNordeaNordea.success.sent” mat-dialog-title> Meldingen er sendt til Nordea</h3>
      <hr class="my-0">
      <p i18n=“confirmation-you|bargain@@bargainNordea.success.sent.you” class="mt-3">
        Nordea vil kontakte deg i løpet av 5 virkedager. Du har også mottatt en epost 
        bekreftelse fra oss på at meldingen er sendt.
      </p> <br/>


    </div>

      <div *ngIf="envService.isNorway()" class="tibber-promo-container">
        <div class="top"></div>
        <div class="top-2"></div>
        <div class="box">
          
          <h2>Hvorfor ikke redusere strømregningen også?</h2>

          <p>Renteradar.no anbefaler deg å sjekke ut Tibber:</p>

          <ul>
            <li>Tibber har null fortjeneste på strømmen du bruker, og vil derimot hjelpe deg å bruke mindre</li>
            <li>Du får tilgang til en smart app som kan hjelpe deg å redusere strømforbruket ditt</li>
            <li>Du betaler kun 39 kr per måned utover strømprisen</li>
          </ul>


          <a href = "https://tibber.com/no/renteradar-tibber?utm_source=renteradar&utm_medium=referral&utm_campaign=partnership_campaign" class="external-button-link">
            <p>
              Spar på strømmen hos Tibber
            </p>
          </a>
        </div>
      </div>

      <div class="button-container">
          <rente-button i18n=“confirmation|bargain@@bargainNordea.success.backToOffers“
          color="primary"
          (click)="continue()"
          >Tilbake til tilbudssiden
        </rente-button>
      </div>
      
  
    <ng-template #errorState>
        <h3 i18n=“error|bargain@@bargainNordea.success.error” mat-dialog-title class="text-left my-0">Noe gikk galt…</h3>
        <hr class="my-0">
        <p i18n=“error2|bargain@@bargainNordea.success.error2”>
          Beklager, noe gikk galt og vi vil rette opp feilen så fort som mulig. Vennligst prøv igjen senere.
        </p>
    </ng-template>

  </div>
