<div class="box">

    <div *ngIf="!isErrorState; else errorState">
      <h3 mat-dialog-title>E-post er nå sendt til din bank</h3>
      <hr class="my-0">
      <p class="mt-3">
        Vi har også sendt deg en epost fra prute@renteradar.no med kopi av eposten vi har sendt
        til din bank. Hvis du ikke finner den, sjekk om eposten kan ha kommet i spam/søppelpost.
      </p> <br/>
      <p>
        Bankene pleier å bruke én eller to uker på å svare deg.
        Får du ikke noe svar fra banken i løpet av to uker, anbefaler vi følgende:
      </p>
      <ul style="font-weight: 200; font-size: 14px; margin: 10px 0; line-height: 22px;">
        <li>Kopier teksten vi har sendt til din bank og som ligger nederst i eposten</li>
        <li>Logg inn på nettbanken hos banken din</li>
        <li>Gå til din postkasse i nettbanken. Send en melding til banken derfra og lim inn teksten du har kopiert</li>
      </ul>
      <p>
        Får du fortsatt ikke svar fra banken din eller banken ikke vil sette ned renten,
        er det kanskje på tide å bytte bank. Renteradar.no viser deg hvilken bank du bør bytte til.
      </p><br/>
      <p>
        Send oss gjerne en e-post på <a href = "mailto: hei@renteradar.no">hei@renteradar.no</a>  eller bruk chat-funksjonen i tjenesten
        for å fortelle oss om du har fått lavere rente eller om du har noen spørsmål.
      </p>
    </div>
  
    <ng-template #errorState>
        <h3 mat-dialog-title class="text-left my-0">Noe gikk galt…</h3>
        <hr class="my-0">
        <p>
          Beklager, noe gikk galt og vi vil rette opp feilen så fort som mulig. Vennligst prøv igjen senere.
        </p>
    </ng-template>
  
    <div mat-dialog-actions class="row justify-content-center mt-3 mb-0">
      <div class="col-12" style="text-align: center;">
        <rente-button color="primary" (click)="continue()">Lykke til!</rente-button>
      </div>
    </div>
  </div>
