@import '../theme/variables';

.dialogs-container {
  position: fixed;
  z-index: 10;

  &.opened {
    left: 0;
  }
}

.cdk-overlay-pane {
  max-height: calc(100vh - 155px) !important;
  max-width: 600px !important;
  // height: 100% !important;
  margin: auto;

  @media (max-width: 370px) {
    max-height: calc(100vh - 138px) !important;
  }
}

.button-200 {
  min-width: 200px !important;
}

.info-dialog {
  padding: 16px;
  background-color: rgba(14, 7, 21, 0.75);
  border-radius: 4px;
  min-width: 370px;

  &.centered {
    left: 0;
    right: 0;
    max-width: 500px;
    margin: 16px auto;
  }

  &.alert {
    background-color: $color-text-error;
  }

  .info-close {
    display: inline-block;
    margin-left: 8px;

    .close-button,
    .close-button-secondary {
      background-color: #870000;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }

    .close-button-secondary {
      background-color: #0e0715;
    }
  }
}

.full-height-dialog {
  padding: 16px;
  width: 310px;
  background-color: #26202c;
  height: 100vh;
  overflow-y: auto;
}
