<nav>
  <div class="inner-nav">
    <a [routerLink]="['/']">
      <img
        src="../../../../assets/img/renteradar_white_logo.svg"
        alt="Renteradar logo"
      />
    </a>
    <div class="menu-container">
      <div class="desktop-menu desktop">
        <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Hjem</a>
        <a [routerLink]="['/dashboard/tilbud']" *ngIf="isLoggedIn" routerLinkActive="active-link">Min side</a>
        <a href="https://blogg.renteradar.no" target="_self">Blogg</a>
        <a [routerLink]="['/kontakt']" routerLinkActive="active-link">Kontakt</a>
        <a [routerLink]="['/om-oss']" routerLinkActive="active-link">Om oss</a>
        <span [routerLink]="['/']" fragment="faq"> 
            <a href="#faq">FAQ </a> 
        </span>
        <a [routerLink]="['/']" *ngIf="isLoggedIn" (click)="auth.logout()">Logg ut</a>
      </div>
      <div class="menu mobile" (click)="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="mobile-menu mobile" *ngIf="toggleNavbar">
      <a
        [routerLink]="['/']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleNav()"><h3>Hjem</h3>
      </a>
      <a
        *ngIf="isLoggedIn"
        [routerLink]="['/dashboard/tilbud']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3>Min side</h3>
      </a>
      <a
        href="https://blogg.renteradar.no/"
        target="_blank"
        (click)="toggleNav()"><h3>Blogg</h3>
      </a>
      <a
        [routerLink]="['/kontakt']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3>Kontakt</h3>
      </a>
      <a
        [routerLink]="['/om-oss']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3>Om oss</h3>
      </a>
      <a
        [routerLink]="['/faq']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3>FAQ</h3>
      </a>
      <a
        [routerLink]="['/']"
        *ngIf="isLoggedIn"
        (click)="auth.logout()"><h3>Logg ut</h3>
      </a>
    </div>
  </div>
</nav>
<div class="nav-space"></div>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" id="mainNav">
  <div class="container py-2">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']">
      <img class="img-fluid img-200" src="../../../../assets/img/renteradar_white_logo.svg" alt="Renteradar">
    </a>

    <button #navBarButton class="navbar-toggler navbar-toggler-right text-uppercase bg-transparent border-0 text-white"
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNav()">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="!isSmallScreen">
      <ul class="navbar-nav m-0 ml-auto">

        <li class="nav-item mx-0 mx-lg-1"
          *ngIf="!localStorageService.isFixedRateType && !localStorageService.isNoLoansPresent && !localStorageService.isNewUser && auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/dashboard/tilbud']" routerLinkActive="router-link-active">
            Min side
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Register deg
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/slik-funger-renteradar']" routerLinkActive="router-link-active">
            Slik fungerer det
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/omoss']"
            routerLinkActive="router-link-active">
            Om oss
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" href="https://blogg.renteradar.no/"
            routerLinkActive="router-link-active" target="_blank">
            Blogg
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/kontakt']"
            routerLinkActive="router-link-active">Kontakt oss</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Logg inn
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" (click)="auth.logout()"
            routerLinkActive="router-link-active">
            Logg ut
          </a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive" [@inOutAnimation] *ngIf="toggleNavbar && isSmallScreen">
      <ul class="navbar-nav m-0 ml-auto">

        <li class="nav-item mx-0 mx-lg-1"
          *ngIf="!localStorageService.isFixedRateType && !localStorageService.isNoLoansPresent && !localStorageService.isNewUser && auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/dashboard/tilbud']" routerLinkActive="router-link-active">
            Min side
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Register deg
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/slik-funger-renteradar']" routerLinkActive="router-link-active">
            Slik fungerer det
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/omoss']"
            routerLinkActive="router-link-active">
            Om oss
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" href="https://blogg.renteradar.no/"
            routerLinkActive="router-link-active" target="_blank">
            Blogg
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/kontakt']"
            routerLinkActive="router-link-active">Kontakt oss</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/ofte-stilte-sporsmaal']" routerLinkActive="router-link-active">FAQ</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/personvern']"
            routerLinkActive="router-link-active">Personvern</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Logg inn
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" (click)="auth.logout()"
            routerLinkActive="router-link-active">
            Logg ut
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 -->
