<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" id="mainNav">
  <div class="container py-2">
    <a class="navbar-brand js-scroll-trigger" [routerLink]="['/']">
      <img class="img-fluid img-200" src="../../../../assets/img/renteradar_white_logo.svg" alt="Renteradar">
    </a>

    <button #navBarButton class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleNav()">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="!isSmallScreen">
      <ul class="navbar-nav m-0 ml-auto">

        <li class="nav-item mx-0 mx-lg-1"
          *ngIf="!localStorageService.isFixedRateType && !localStorageService.isNoLoansPresent && auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/dashboard/tilbud']" routerLinkActive="router-link-active">
            Min side
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Register deg
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/slik-funger-renteradar']" routerLinkActive="router-link-active">
            Slik fungerer det
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/omoss']"
            routerLinkActive="router-link-active">
            Om oss
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/kontakt']"
            routerLinkActive="router-link-active">Kontakt oss</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Logg inn
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" (click)="auth.logout()"
            routerLinkActive="router-link-active">
            Logg ut
          </a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive" [@inOutAnimation] *ngIf="toggleNavbar && isSmallScreen">
      <ul class="navbar-nav m-0 ml-auto">

        <li class="nav-item mx-0 mx-lg-1"
          *ngIf="!localStorageService.isFixedRateType && !localStorageService.isNoLoansPresent && auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/dashboard/tilbud']" routerLinkActive="router-link-active">
            Min side
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Register deg
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white"
            [routerLink]="['/slik-funger-renteradar']" routerLinkActive="router-link-active">
            Slik fungerer det
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/omoss']"
            routerLinkActive="router-link-active">
            Om oss
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/kontakt']"
            routerLinkActive="router-link-active">Kontakt oss</a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="!auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" [routerLink]="['/velgbank']"
            routerLinkActive="router-link-active">
            Logg inn
          </a>
        </li>

        <li class="nav-item mx-0 mx-lg-1" *ngIf="auth.isLoggedIn">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white" (click)="auth.logout()"
            routerLinkActive="router-link-active">
            Logg ut
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>