<div class="co-main" [hidden]="!isLoading"></div>
<div class="main" [hidden]="isLoading" [@fade]>
  <div class="upper-statistics">
    <h3 i18n="“title|statistics@@virdi.statistics”">Boligstatistikk</h3>
    <mat-tab-group
      (selectedTabChange)="onRbChange($event)"
      [selectedIndex]="!showPriceDevelopment ? 0 : 1"
    >
      <mat-tab label="Kvadratmeterpris" (click)="onRbChange($event)"> </mat-tab>
      <mat-tab label="Prisutvikling" (click)="onRbChange($event)"> </mat-tab>
    </mat-tab-group>
  </div>
  <div
    [class]="showPriceDevelopment ? 'hidden' : ''"
    [@slide]="showPriceDevelopment ? 'close' : 'open'"
  >
    <div class="chart-title">
      <p
        i18n="“title|sqm-price@@virdi.statistics.sqmPrice”"
        class="small center"
      >
        Din kvadratmeterpris:
      </p>
      <h3
        class="primary center"
        i18n="“input|avg-sqm@@virdi.statistics.avgSqm”"
      >
        {{ averageSqmPrice | thousands }} NOK
      </h3>
    </div>
    <p i18n="“houses|statistics@@virdi.statistics.houses”" class="big bold">
      Boliger i {{ indexArea }}
    </p>
    <div class="chart-wrapper">
      <p i18n="“sales|statistics@@virdi.statistics.sales”" class="small">
        Antall salg i/på {{ indexArea }} siste 6 mnder:
        <b>{{ openMarketSalesHalfYear }}</b>
      </p>
      <div class="chart" id="columnChartAddress{{ address.id }}"></div>
      <p i18n="“data|statistics@@virdi.statistics.data”" class="small virdi">
        Data levert av <a href="https://virdi.no/" target="_blank">virdi.no</a>
      </p>
    </div>
    <!-- <p i18n="“sales|statistics@@virdi.statistics.sales”" class="small">
      Antall salg i/på {{ indexArea }} siste 6 mnder:
      <b>{{ openMarketSalesHalfYear }}</b>
    </p> -->
  </div>

  <div
    [class]="!showPriceDevelopment ? 'hidden' : ''"
    [@slide]="!showPriceDevelopment ? 'close' : 'open'"
  >
    <div class="chart-title">
      <p
        i18n="“price-dev|statistics@@virdi.statistics.priceDev”"
        class="small center"
      >
        Prisutvikling i
      </p>
      <h3 class="primary center">{{ indexArea }}</h3>
    </div>
    <p i18n="“10k|statistics@@virdi.statistics.10k”" class="big bold">
      kr i 10 000
    </p>
    <div class="chart-wrapper">
      <div class="chart" id="lineChartAddress{{ address.id }}"></div>
      <p i18n="“data|statistics@@virdi.statistics.data”" class="small virdi">
        Data levert av <a href="https://virdi.no/" target="_blank">virdi.no</a>
      </p>
    </div>
  </div>
</div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>
