<div class="row justify-content-center" *ngIf="!isLoading" [@shakeAnimation]>
    <h2 class="title">Virdi statistikk</h2>
</div>
<div class="row">
    <div id="columnChart" class="col-12 col-lg-6 .order-lg-1"></div>
    <div class="col-12 col-lg-6 order-lg-3" *ngIf="!isLoading" [@shakeAnimation]>
        <div class="text-left">Antall salg i ditt område siste 6 mnder: {{openMarketSalesHalfYear}}</div>
    </div>
    <div id="lineChart" class="col-12 col-lg-6 order-lg-2"></div>
</div>
<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="isLoading">
    <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>