@import '../../../../../styles/theme/_colors.scss';

@mixin text-style($size, $line-height) {
  font-size: $size;
  color: $black;
  font-family: Lato;
  line-height: $line-height;
}

.provided-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  .provided-text {
    @include text-style(23px, 29px);
  }
}