@import '../../../../../styles/theme/_colors.scss';

.provided-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;

  @media (max-width: 750px) {
    justify-content: center;
  }
}

.chart-title {
  padding: 20px 0;
  .small {
    margin-bottom: 5px;
  }
}
a {
  color: $primary;
}

.chart {
  margin: 15px 0px;
  border-radius: 5px;
}
.primary {
  color: $primary;
}

.small {
  color: $white;
}
