@import '../../../../../styles/theme/_colors.scss';

:host {
  width: 100%;
  background: #ececec;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #b0b0b0;
}

.progress {
  height: 100%;
  border-radius: 20px;
}

.round {
  border-radius: 20px;
}

.mixed {
  border-radius: 20px 0px 0px 20px;
}

.green {
  background: $primary;
}
.green-light {
  background: #82c6b4;
}

.yellow {
  background: $grey-dark;
}

.orange {
  background: #e45a2a;
}

.red {
  background: red;
}
