
.tink-wrapper {
    margin: 20px auto 80px;
    min-height: 800px;
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    iframe {
        display: block;
        margin: auto;
    }
}

iframe{ 
    height: 600px;
    box-shadow: 1px 1px 7px 2px #cdcdcd;
    border: 0;
}