

.tink-wrapper {
    height: 600px;
    margin-bottom: 80px;
    iframe{ 
        height: 600px;
        margin: auto;
        display: block;
    }
    
    h3{
        text-align: center;
        font-size: 37;
        margin-bottom: 20px;
    }
}