<div class="the-offers">
  <h3
    id="best-offers-text"
    i18n="“best-offers3|offers-main@@offers.mainPage.bestOffers3”"
    style="margin-bottom: 20px"
  >
    Beste tilbud:
  </h3>

  <div class="offers-type-container">
    <div class="offers-type-switch">
      <a
        class="clickable"
        [ngClass]="currentOfferType == 'rate' ? 'active' : 'deactive'"
        (click)="setOfferType('rate')"
      >
        <p>Rente</p>
      </a>
      <a
        class="clickable"
        [ngClass]="currentOfferType == 'score' ? 'active' : 'deactive'"
        (click)="setOfferType('score'); setShowHamburger()"
      >
        <p>For deg</p>
      </a>
    </div>
    <a
      *ngIf="isMobile"
      id="hamburger"
      class="preferences-button"
      (click)="preferencesButtonClicked()"
      [@mobileAnimate]="showHamburger ? 'close' : 'open'"
    >
      <span
        [ngClass]="
          !showScorePreferences
            ? 'preferences-button'
            : 'preferences-button-active'
        "
      >
        <img
          [@fade]="showScorePreferences ? 'open' : 'close'"
          [src]="
            showScorePreferences
              ? '../../../assets/icons/preferences-icon-green.svg'
              : '../../../assets/icons/preferences-icon-green.svg'
          "
        />
      </span>
    </a>
    <a
      *ngIf="!isMobile"
      id="hamburger"
      class="preferences-button"
      (click)="preferencesButtonClicked()"
      [@desktopAnimate]="showHamburger ? 'close' : 'open'"
    >
      <span
        [ngClass]="
          !showScorePreferences
            ? 'preferences-button'
            : 'preferences-button-active'
        "
      >
        <img
          [src]="
            showScorePreferences
              ? '../../../assets/icons/preferences-icon-green.svg'
              : '../../../assets/icons/preferences-icon-green.svg'
          "
        />
      </span>
    </a>
  </div>

  <!--  <h1 (click)="showDemoTrigger$.next(!showDemoTrigger$.value)">Trykk her!</h1> -->
  <custom-dropdown
    [style.visibility]="currentOfferType === 'score' ? 'unset' : 'hidden'"
    id="user-score-dropdown"
    [opened]="showScorePreferences"
    (toggle)="preferencesButtonClicked()"
  >
    <div #sliders class="user-score-preferences-box">
      <h2 class="user-score-header">
        Hvor viktig er det for deg med en bank som:
      </h2>

      <rente-user-score-preferences
        [sliderBox]="true"
        [scoreListener]="scoreListener$"
        [shouldShowDemoListener]="showDemoAction$"
        [initialScores]="initialScores$"
      ></rente-user-score-preferences>
    </div>
  </custom-dropdown>

  <div
    *ngIf="isMobile"
    class="sticky-table-header"
    [@onScroll]="onScroll ? true : false"
  >
    <p
      i18n="“your-interest|offers-main@@offers.mainPage.yourInterestStickyBox”"
    >
      Min effektive rente:
    </p>
    <span>{{ offersInfo.totalEffectiveRate | number: '1.2-2' }} %</span>
  </div>
  <div class="offers-container">
    <div *ngIf="shouldOverRideLoadingState === false">
      <div
        class="spinner"
        *ngIf="offerService.isUpdatingOffers$ | async as isUpdatingOffers"
      >
        <rente-spinner [size]="'83px'"></rente-spinner>
      </div>
    </div>

    <div
      *ngIf="!(offerService.isUpdatingOffers$ | async)"
      class="offers-grid"
      [@fade]
    >
      <ng-container>
        <div *ngFor="let offer of currentOffers" class="the-offer">
          <ng-container *ngIf="isMobile; else desktop">
            <rente-offer-card
              [offer]="offer"
              [offersInfo]="currentOfferInfo"
              [index]="offer.offerPosition"
            >
            </rente-offer-card>
          </ng-container>

          <ng-template #desktop>
            <rente-offer-card-big-blue
              [offer]="offer"
              [offersInfo]="currentOfferInfo"
              [index]="offer.offerPosition"
            >
            </rente-offer-card-big-blue>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>
