<div class="the-offers">
  <h3
    id="best-offers-text"
    i18n="“best-offers3|offers-main@@offers.mainPage.bestOffers3”"
    style="margin-bottom: 20px"
  >
    Beste tilbud:
  </h3>

  <div class="offers-type-container">
    <div class="offers-type-switch">
      <a
        class="clickable"
        [ngClass]="currentOfferType == 'rate' ? 'active' : 'deactive'"
        (click)="setOfferType('rate')"
      >
        <p>Rente</p>
      </a>
      <a
        class="clickable"
        [ngClass]="currentOfferType == 'score' ? 'active' : 'deactive'"
        (click)="setOfferType('score')"
      >
        <p>For deg</p>
      </a>
    </div>
    <a class="preferences-button" (click)="preferencesButtonClicked()">
      <span
        [ngClass]="
          !showScorePreferences
            ? 'preferences-button'
            : 'preferences-button-active'
        "
      >
        <img
          [src]="
            showScorePreferences
              ? '../../../assets/icons/slider-icon-blue-medium.svg'
              : '../../../assets/icons/slider-icon-green.svg'
          "
        />
      </span>
    </a>
  </div>

  <custom-dropdown
    [opened]="showScorePreferences"
    (toggle)="preferencesButtonClicked()"
  >
    <div class="user-score-preferences-box">
      <p class="info-box">
        Besvar spørsmålene under ved å flytte på slideren for å markere din
        preferanse, og så finner vi riktig bank for deg basert på dine valg.
      </p>
      <h2 class="user-score-header">
        Hvor viktig er det for deg med en bank som:
      </h2>

      <rente-user-score-preferences
        [sliderBox]="true"
        [scoreListener]="scoreListener$"
        [shouldShowDemoListener]="shouldShowDemo$"
        [initialScores]="initialScores$"
      ></rente-user-score-preferences>
    </div>
  </custom-dropdown>

  <div *ngIf="isMobile" class="sticky-table-header">
    <p
      i18n="“your-interest|offers-main@@offers.mainPage.yourInterestStickyBox”"
    >
      Min effektive rente:
    </p>
    <span>{{ offersInfo.totalEffectiveRate | number: '1.2-2' }} %</span>
  </div>

  <div class="offers-container">
    <div
      class="spinner"
      *ngIf="offerService.isUpdatingOffers$ | async as isUpdatingOffers"
    >
      <rente-spinner [size]="'83px'"></rente-spinner>
    </div>

    <div *ngIf="!(offerService.isUpdatingOffers$ | async)" class="offers-grid">
      <ng-container>
        <!--        <div *ngFor="let offer of test; let i = index">
          <h1>LALALLA</h1>
        </div>
 -->
        <!-- <div
          *ngFor="let offer of currentOfferInfo$ | async; index as i"
          class="the-offer"
        >
          <h1>JAPP!!</h1>
        </div> -->
        <div *ngFor="let offer of currentOffers" class="the-offer">
          <ng-container *ngIf="isMobile; else desktop">
            <rente-offer-card
              [offer]="offer"
              [offersInfo]="currentOfferInfo"
              [index]="offer.offerPosition"
            >
            </rente-offer-card>
          </ng-container>

          <ng-template #desktop>
            <rente-offer-card-big-blue
              [offer]="offer"
              [offersInfo]="currentOfferInfo"
              [index]="offer.offerPosition"
            >
            </rente-offer-card-big-blue>
          </ng-template>
        </div>
      </ng-container>
    </div>

    <div *ngIf="!(offerService.isUpdatingOffers$ | async)" class="offers-grid">
      <ng-container *ngIf="offersInfo">
        <div
          *ngFor="
            let offer of offersInfo.offers.additionalPartnersOffers;
            let i = index
          "
          class="the-offer"
        >
          <ng-container *ngIf="isMobile; else desktop">
            <rente-offer-card
              [offer]="offer"
              [offersInfo]="currentOfferInfo"
              [index]="offer.offerPosition"
            >
            </rente-offer-card>
          </ng-container>

          <ng-template #desktop>
            <rente-offer-card-big-blue
              [offer]="offer"
              [offersInfo]="currentOfferInfo"
              [index]="offer.offerPosition"
            >
            </rente-offer-card-big-blue>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</div>
