@import '../../../../../../styles/theme/_colors.scss';
h3,
p {
  color: #fff;
}

@media (min-width: 600px) {
  h3 {
    font-size: 38px;
  }
}

h3 {
  color: #fff;
  margin-bottom: 28px;
}

.info-box {
  color: #fff;
  background-color: $karl-blue;
  border: 1px solid $blue-light;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  margin-bottom: 20px;
}

.offers-container {
  min-height: 1000px;

  .spinner {
    margin-top: 100px;
  }
}

.user-score-preferences-box {
  border: 1px solid #478ccc;
  border-radius: 15px;
  padding: 15px;
  background: #112639;

  .user-score-header {
    color: #fff;
    margin-bottom: 28px;
  }
}

.sticky-table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  z-index: 9;
  top: 55px;
  font-size: 14px;
  color: #fff;
  background-color: #6c7580;
  height: 4em;
  width: 100%;
  padding: 10px;

  span {
    margin-right: 29px;
  }
}

.offers-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px auto;
  height: 60px;

  @media (max-width: 600px) {
    width: 100%;
  }

  @media (min-width: 600px) {
    width: 40%;
    min-width: 382px;
  }

  .offers-type-switch {
    background: $secondary;
    width: 80%;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px 0 0 10px;

    a {
      flex: 1;
      height: 100%;
      line-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        color: $primary;
        font-weight: 400;
      }
      &.active {
        p {
          color: white;
          background: none;
          background: $blue-medium;
          border-radius: 20px;
          padding: 0.5em 2em;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 3px 3px -1px;
        }
      }
    }
  }
  .preferences-button {
    width: 20%;
    height: 60px;
    background: $karl-blue;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40px;
    }
  }
}

:host {
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: span 2;
}

h3,
p {
  color: #fff;
}

@media (min-width: 600px) {
  h3 {
    font-size: 38px;
  }
}

.sticky-table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  z-index: 20;
  top: 55px;
  font-size: 14px;
  color: #fff;
  background-color: #6c7580;
  height: 4em;
  width: 100%;
  padding: 10px;

  @media (min-width: 600px) {
    top: 114px;
  }
  p {
    color: white;
    font-weight: 400;

    span {
      margin-left: 20px;
      font-size: 14px;
    }
  }
  p:first-of-type {
    margin-right: auto;
  }
  ul {
    display: flex;
    justify-content: end;
    list-style: none;
    width: 240px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;

    li:first-child {
      font-size: 5.5em;
    }
  }
  li:first-child {
    display: none;
  }
}

.version {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  .versionButton {
    border-radius: 15px;
    padding: 10px 20px;
    background: $grey-light;
    color: $grey-dark;
  }
}
