<div class="intro">
  <p>
    Vi opplever at {{ bank?.label }} sperrer sine kunder fra å innhente egne
    lånedata. Derfor har vi laget en løsning hvor du selv fyller inn dine
    lånedata:
  </p>

  <ul>
    <li>Lånebeløp</li>
    <li>Nominell rente</li>
    <li>Løpetid</li>
    <li>Termingebyr</li>
    <li>Type lån</li>
  </ul>
  <br />

  <p>
    Les mer om hvor du finner disse dataene
    <a
      target="_blank"
      class="link"
      href="https://blogg.renteradar.no/slik-finner-du-din-rente-og-lanedata-i-dnbs-mobil-og-nettbank/"
      >her</a
    >.
  </p>
</div>
