<div class="intro">
  <p>
    Renteradar har ingen løsning for innhenting av dine lånedata for brukere av
    BankID med passord og Koder appen. Men fortvil ikke, etter innlogging fyller
    du bare inn noen lånedetaljer selv. Det tar ikke mer enn to minutter.
  </p>

  <br />

  <p>
    Ønsker du å benytte Nordea Koder appen, velg vanlig BankID under,
    identifiser deg med fødselsnummer og velg Nordea Koder.
  </p>

  <div *ngIf="generalText">
    <br />
    <p class="general-text">{{ generalText }}</p>
  </div>
</div>
