<div class="intro">
  <p>
    Renteradar har ingen automatisk løsning for innhenting av lånedata for
    brukere uten BankID på mobil. Hvis du vil bruke BankID med passord eller
    Nordea Koder appen må du selv fylle inn dine lånedata. Renteradar trenger
    følgende informasjon:
  </p>
  <ul>
    <li>Lånebeløp</li>
    <li>Nominell rente</li>
    <li>Løpetid</li>
    <li>Termingebyr</li>
    <li>Type lån</li>
  </ul>
  <br />
  <p>
    Ønsker du å benytte Nordea Koder appen, velg vanlig BankID under,
    identifiser deg med fødselsnummer og velg Nordea Koder.
  </p>
</div>
