<div class="front-container">
  <h3 i18n=“title|sub-component@@sparebank1”>Velg din bank</h3>
  <div class="bank-list">
    <a [routerLink]="['/autentisering/sparebank_1_bv']">SpareBank 1 BV</a>
    <a [routerLink]="['/autentisering/sparebank_1_gudbrandsdal']"
      >SpareBank 1 Gudbrandsdal
    </a>
    <a [routerLink]="['/autentisering/sparebank_1_hallingdal_valdres']"
      >SpareBank 1 Hallingdal Valdres
    </a>
    <a [routerLink]="['/autentisering/sparebank_1_lom_og_skjak']"
      >SpareBank 1 Lom og Skjåk
    </a>
    <a [routerLink]="['/autentisering/sparebank_1_modum']">SpareBank 1 Modum</a>
    <a [routerLink]="['/autentisering/sparebank_1_nord_norge']"
      >SpareBank 1 Nord-Norge</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_nordvest']"
      >SpareBank 1 Nordvest</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_ringerike_hadeland']"
      >SpareBank 1 Ringerike Hadeland</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_smn']">SpareBank 1 SMN</a>
    <a [routerLink]="['/autentisering/sparebank_1_sore_sunnmore']"
      >SpareBank 1 Søre Sunnmøre</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_sr_bank']"
      >SpareBank 1 SR-Bank</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_telemark']"
      >SpareBank 1 Telemark</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_ostfold_akershus']"
      >SpareBank 1 Østfold Akershus</a
    >
    <a [routerLink]="['/autentisering/sparebank_1_ostlandet']"
      >SpareBank 1 Østlandet</a
    >
  </div>
  <!-- <div>

    <div class="row justify-content-center text-center">
      <div class="col">
        <h3>Velg din bank</h3>
      </div>
    </div>

    <div class="row justify-content-center mt-0 mt-lg-3">
      <div class="col-lg-8">

        <ul class="list-unstyled row">
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_bv']">SpareBank 1 BV</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_gudbrandsdal']">SpareBank 1
            Gudbrandsdal</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_hallingdal_valdres']">SpareBank 1
            Hallingdal Valdres</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_lom_og_skjak']">SpareBank 1 Lom og
            Skjåk</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_modum']">SpareBank 1 Modum</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_nord_norge']">SpareBank 1 Nord-Norge</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_nordvest']">SpareBank 1 Nordvest</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_ringerike_hadeland']">SpareBank 1
            Ringerike Hadeland</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_smn']">SpareBank 1 SMN</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_sore_sunnmore']">SpareBank 1 Søre
            Sunnmøre</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_sr_bank']">SpareBank 1 SR-Bank</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_telemark']">SpareBank 1 Telemark</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_ostfold_akershus']">SpareBank 1 Østfold
            Akershus</a>
          <a class="list-item col-lg-6 py-2" [routerLink]="['/autentisering/sparebank_1_ostlandet']">SpareBank 1 Østlandet</a>

        </ul>

      </div>
    </div>

  </div>
   -->
</div>
