@import "../../../../styles/theme/_colors.scss";
h2 {
  margin-bottom: 40px;
  text-align: center;
}
.bank-list {
  display: grid;

  a {
    text-align: center;
    text-decoration: none;
    color: $primary;
    display: block;
    margin-bottom: 40px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media (min-width: 600px) {
  .bank-list {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 600px;
    margin: auto;
    a {
      text-align: left;
    }
  }
}
