<div class="dashboard-wrapper">
  <div class="loading" *ngIf="isLoading && !errorMessage">
    <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
  </div>

  <div
    class="offers"
    *ngIf="
      offersInfo?.ltvType === offersLtvType.LTV_OK ||
      offersInfo?.ltvType === offersLtvType.LTV_TOO_HIGH_85
    "
  >
    <div class="desktop">
      <!-- 
          <a *ngIf="offersInfo?.ltvType === offersLtvType.LTV_TOO_HIGH_85" class="obs clickable"
          (click)="openLtvTooHightDialog()">
  
          <p>
            <b>OBS:</b> Vi har beregnet belåningsgraden din til over 85%.
            Vennligst kontroller boligverdien i boligfanen. Du kan også lese
            mer om dette ved å <a>klikke her</a>.
            ng
          </p>
        </a> 
        -->

      <!-- <div *ngIf="
          offersInfo?.incompleteInfoLoanPresent === true
        " class="obs">
          <p>
            <b>OBS:</b> Vi får kun hentet din nominelle rente og lånebeløp. For
            utregninger har vi tatt utgangspunkt i en gjenværende løpetid på 20 år,
            månedlige betalinger og 50,- i termingebyr. Faktisk løpetid og
            termingebyrer vil endre forventede besparelser.
          </p>
        </div> -->
    </div>

    <div class="dashboard-inner-wrapper">
      <div class="rente-boxes desktop-main-box-grid desktop">
        <!-- barometer -->
        <barometer
          [offersInfo]="offersInfo"
          [offerSavingsType]="offerSavingsType"
        >
        </barometer>

        <!-- box grid -->
        <box-grid [offersInfo]="offersInfo"> </box-grid>

        <!-- end of box-grid-->

        <div *ngIf="!isMobile" class="compared">
          <rente-offers-statistics-blue
            [offersInfo]="offersInfo"
            [userRateColor]="rateBarPercentage.hex"
          >
          </rente-offers-statistics-blue>
        </div>

        <div *ngIf="isSweden" class="big-box round-box left">
          <div class="top">
            <div class="circleIconWrapper">
              <img
                class=""
                src="../../../../assets/icons/rente-green-big.svg"
              />
            </div>
            <p i18n="“found-offers|offers-main@@offers.mainPage.foundOffers”">
              Vi har funnet de beste tilbudene for deg
            </p>
          </div>
          <div class="bottom">
            <rente-button
              i18n="
                “found-best-offers|offers-main@@offers.mainPage.found.bestOffers.button”"
              [disabled]="
                changeBankLoading ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
              "
              [isLoading]="changeBankLoading"
              color="primary-wide"
              (click)="goToBestOffer()"
              >Se beste tilbud</rente-button
            >
          </div>
        </div>
        <div
          *ngIf="canBargain && isSweden"
          class="big-box round-box right desktop"
        >
          <div class="top">
            <div class="circleIconWrapper">
              <img class="" src="../../../../assets/icons/mail-green.svg" />
            </div>
            <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
              Be banken min om lavere rente
            </p>
          </div>
          <div class="bottom">
            <rente-button
              i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
              color="primary-wide-hollow"
              [disabled]="
                changeBankLoading ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
              "
              [isLoading]="changeBankLoading"
              (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
              >Be banken matche tilbud</rente-button
            >
          </div>
        </div>
        <div
          *ngIf="!canBargain && isSweden"
          class="big-box round-box right desktop"
        >
          <div class="top">
            <div class="circleIconWrapper">
              <img class="" src="../../../../assets/icons/mail-green.svg" />
            </div>
            <p>Pruta-funktionen är inte tillgänglig för dig</p>
          </div>
          <div class="bottom">
            <rente-button
              color="primary-wide-hollow"
              [disabled]="
                changeBankLoading ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
              "
              [isLoading]="changeBankLoading"
              (click)="openBargainMoreInfoDialog()"
              >Läs mer</rente-button
            >
          </div>
        </div>

        <tips-component
          [offersInfo]="offersInfo"
          [aggregatedLoanType]="aggregatedLoanType"
          [aggregatedRateType]="aggregatedRateType"
        ></tips-component>

        <div *ngIf="!isSweden" class="big-box round-box left">
          <div class="top">
            <div class="circleIconWrapper">
              <img
                class=""
                src="../../../../assets/icons/rente-green-big.svg"
              />
            </div>
            <p i18n="“found-offers|offers-main@@offers.mainPage.foundOffers”">
              Vi har funnet de beste tilbudene for deg
            </p>
          </div>
          <div class="bottom">
            <rente-button
              i18n="
                “found-best-offers|offers-main@@offers.mainPage.found.bestOffers.button”"
              [disabled]="
                changeBankLoading ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
              "
              [isLoading]="changeBankLoading"
              [color]="antiChurnIsOn ? 'primary-wide-hollow' : 'primary-wide'"
              (click)="goToBestOffer()"
              >Se beste tilbud</rente-button
            >
          </div>
        </div>

        <div
          *ngIf="canBargain && !isSweden && !antiChurnIsOn"
          class="big-box round-box right"
        >
          <div class="top">
            <div class="circleIconWrapper">
              <img class="" src="../../../../assets/icons/mail-green.svg" />
            </div>
            <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
              Be banken min om lavere rente
            </p>
          </div>
          <div class="bottom">
            <rente-button
              i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
              color="primary-wide-hollow"
              [disabled]="
                changeBankLoading ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
              "
              [isLoading]="changeBankLoading"
              [color]="antiChurnIsOn ? 'primary-wide' : 'primary-wide-hollow'"
              (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
              >Be banken matche tilbud</rente-button
            >
          </div>
        </div>

        <div
          *ngIf="antiChurnIsOn"
          class="big-box round-box right anti-churn-box"
        >
          <div class="top">
            <div class="circleIconWrapper">
              <img src="{{ banksMap['NORDEA'].imgCircle }}" />
            </div>
            <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
              Nordea ønsker å beholde deg som kunde
            </p>
          </div>
          <div class="bottom">
            <p>
              Gi Nordea anledningen til å sette ned renten din før du eventuelt
              bytter bank
            </p>
            <rente-button
              i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
              [color]="
                antiChurnIsOn ? 'primary-wide-break' : 'primary-wide-hollow'
              "
              [disabled]="
                changeBankLoading ||
                !antiChurnIsOn ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
              "
              [isLoading]="changeBankLoading"
              (click)="openAntiChurnBankDialog(offersInfo.offers.top5[0])"
              >Be Nordea om et bedre tilbud</rente-button
            >
          </div>
        </div>
      </div>

      <!-- Mobile boxes -->
      <div class="rente-boxes mobile">
        <div class="info-box-grid">
          <barometer
            [offersInfo]="offersInfo"
            [offerSavingsType]="offerSavingsType"
          ></barometer>

          <box-grid [offersInfo]="offersInfo"></box-grid>

          <!-- Mobile Tips -->
          <tips-component></tips-component>
          <!-- Mobile Tips -->
        </div>

        <div class="split-sections mobile">
          <div class="split-section">
            <div class="mobile cta-boxes">
              <div class="big-box round-box">
                <div class="top">
                  <div class="circleIconWrapper">
                    <img
                      class=""
                      src="../../../../assets/icons/rente-green-big.svg"
                    />
                  </div>
                  <p
                    i18n="
                      “found-offers|offers-main@@offers.mainPage.foundOffers”"
                  >
                    Vi har funnet de beste tilbudene for deg
                  </p>
                </div>
                <div class="bottom">
                  <rente-button
                    i18n="
                      “found-best-offers|offers-main@@offers.mainPage.found.bestOffers.button”"
                    [disabled]="
                      changeBankLoading ||
                      offersInfo.offerSavingsType ===
                        offerSavingsType.NO_SAVINGS
                    "
                    [isLoading]="changeBankLoading"
                    [color]="
                      antiChurnIsOn ? 'primary-wide-hollow' : 'primary-wide'
                    "
                    (click)="goToBestOffer()"
                    >Se beste tilbud</rente-button
                  >
                </div>
              </div>

              <div
                *ngIf="!canBargain && isSweden"
                class="big-box round-box right mobile"
              >
                <div class="top">
                  <div class="circleIconWrapper">
                    <img
                      class=""
                      src="../../../../assets/icons/mail-green.svg"
                    />
                  </div>
                  <p>Pruta-funktionen är inte tillgänglig för dig</p>
                </div>
                <div class="bottom">
                  <rente-button
                    color="primary-wide-hollow"
                    [disabled]="
                      changeBankLoading ||
                      offersInfo.offerSavingsType ===
                        offerSavingsType.NO_SAVINGS
                    "
                    [isLoading]="changeBankLoading"
                    (click)="openBargainMoreInfoDialog()"
                    >Läs mer</rente-button
                  >
                </div>
              </div>

              <div
                *ngIf="canBargain && !antiChurnIsOn"
                class="big-box round-box"
              >
                <div class="top">
                  <div class="circleIconWrapper">
                    <img
                      class=""
                      src="../../../../assets/icons/mail-green.svg"
                    />
                  </div>
                  <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
                    Be banken min om lavere rente
                  </p>
                </div>
                <div class="bottom">
                  <rente-button
                    i18n="
                      “help-you|offers-main@@offers.mainPage.helpYou.button”"
                    [color]="
                      antiChurnIsOn ? 'primary-wide' : 'primary-wide-hollow'
                    "
                    [disabled]="
                      changeBankLoading ||
                      offersInfo.offerSavingsType ===
                        offerSavingsType.NO_SAVINGS
                    "
                    [isLoading]="changeBankLoading"
                    (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
                    >Be banken matche tilbud</rente-button
                  >
                </div>
              </div>

              <div
                *ngIf="canBargain && antiChurnIsOn"
                class="big-box round-box right anti-churn-box"
              >
                <div class="top">
                  <div class="circleIconWrapper">
                    <img src="{{ banksMap['NORDEA'].imgCircle }}" />
                  </div>
                  <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
                    Nordea ønsker å beholde deg som kunde
                  </p>
                </div>
                <div class="bottom">
                  <p>
                    Gi Nordea anledningen til å sette ned renten din før du
                    eventuelt bytter bank
                  </p>
                  <rente-button
                    i18n="
                      “help-you|offers-main@@offers.mainPage.helpYou.button”"
                    [color]="
                      antiChurnIsOn
                        ? 'primary-wide-break'
                        : 'primary-wide-hollow'
                    "
                    [disabled]="
                      changeBankLoading ||
                      !antiChurnIsOn ||
                      offersInfo.offerSavingsType ===
                        offerSavingsType.NO_SAVINGS
                    "
                    [isLoading]="changeBankLoading"
                    (click)="openAntiChurnBankDialog(offersInfo.offers.top5[0])"
                    >Be Nordea om et bedre tilbud</rente-button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isMobile" class="compared">
          <rente-offers-statistics-blue
            [offersInfo]="offersInfo"
            [userRateColor]="rateBarPercentage.hex"
          >
          </rente-offers-statistics-blue>
        </div>
      </div>

      <rente-offers-list [offersInfo]="currentOfferInfo"></rente-offers-list>
    </div>
    <!-- Mobile boxes -->
  </div>

  <div class="problems" style="max-width: 780px">
    <div
      class="title"
      *ngIf="offersInfo?.ltvType === offersLtvType.LTV_CREDIT_LINE_TOO_HIGH_60"
    >
      <h3>
        Rammelån/boligkreditt er kun tilgjengelig for lavere belåningsgrad enn
        60%.
      </h3>
      <p>
        Din belåningsgrad er høyere enn dette, vennligst endre din belåningsgrad
        i<a [routerLink]="['/dashboard/' + routesMap.property]"> boligfanen</a>
      </p>
    </div>
    <div class="title" *ngIf="!offersInfo && !isLoading && !errorMessage">
      <h3>Ingen bedre tilbud enda...</h3>
    </div>

    <div class="title" *ngIf="errorMessage">
      <h3>{{ errorMessage }}</h3>
    </div>
  </div>

  <div *ngIf="effRateLoweredDialogVisible">
    <rente-dialog
      [title]="customLangTextSerice.getlowerRateTitle()"
      [message]="customLangTextSerice.getlowerRateBody()"
      (action)="onDialogAction($event)"
    >
    </rente-dialog>
  </div>
</div>
