# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

#language output
src/app/config/locale/locale-js.js
src/app/config/locale/locale.ts
src/app/local-components/components-output.ts
src/locale/messages.nb.xtb
src/locale/messages.sv.xtb
src/messages.xmb
src/messages.xmb

src/app/shared/constants/mask.ts
src/app/config/routes-config.ts

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.vscode
.vscode/launch.json

# System Files
.DS_Store
Thumbs.db

package-lock.json
src/version.ts

