<div class="intro" [style.margin-bottom.px]="isMobile ? 20 : 80">
  <h1 class="mobile">
    <a [routerLink]="['/']">Bolåneräntor</a> <br> Hitta bästa räntan!
  </h1>

  <h1 class="hide-temp-swedish desktop" i18n="title|landing-page@@landing.title"
    [style.margin-bottom.px]="isMobile ? 20 : 40">
    Få beste <a [routerLink]="['/']">boliglånsrente</a>
  </h1>

  <h4 i18n="Our-header|Describes-the-header@@landing.header">
    Sammenlign boliglånet ditt mot markedets beste tilbud <br> <span class="green"> - kjapt, enkelt og
      gratis! </span>
  </h4>
</div>

<rente-button i18n="CTA button|Call-to-action-button@@landing.bestOffer" color="primary-wide-landing" [routerLink]="'/velgbank'">
  Finn beste tilbud
</rente-button>

<img class="showcase" src="../../../assets/img/isometric-new-optimized.png" />