<div class="intro" [style.margin-bottom.px]="isMobile ? 20 : 80">
  <h1 class="mobile">
    <a [routerLink]="['/']">Bolåneräntor</a> <br> Hitta bästa räntan!
  </h1>

  <h1 class="hide-temp-swedish desktop" i18n="title|landing-page@@landing.title"
    [style.margin-bottom.px]="isMobile ? 20 : 40">
    Få beste <a [routerLink]="['/']">boliglånsrente</a>
  </h1>

  <h4 >
    Jämför din bolåneränta mot marknadens bästa erbjudanden<br> <span class="green"> - snabbt enkelt och gratis! </span>
  </h4>
</div>

<rente-button i18n="CTA button|Call-to-action-button@@landing.bestOffer" color="primary-wide-landing" (click)="pushCTAButton()">
  Finn beste tilbud
</rente-button>
<img class="showcase" src="../../../assets/img/isometric-new-optimized.png" />

<a href="http://www.google.it" target="_blank">My link</a>
<!-- <a href="googlechromes://ranteradar.se/">google open</a> -->
<h3>{{agentTest}}</h3>
<h3>is custom browswer {{isCustomInAppBrowser()}}</h3>
<h3>is ios  {{isIos}}</h3>
<h3>is Android {{isAndroid}}</h3>

<h3>{{isSnapchat}}</h3>
<h3>{{isFacebook}}</h3>
<h3>{{isInstagram}}</h3>



