@import "../../../../../styles/theme/_colors.scss";

.container {
    //background: linear-gradient(180deg, #162537 0%, #183A63 27.08%);
}

h3 {
  color: white;
}

p {
  color: black;
}

.confirm-property-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  img {
    margin: auto;
    width: 60px;
    margin: 20px auto;
  }

.explain-text {
  padding: 40;
  text-align: center;
}
}

.house {
  padding-bottom: 80px;
  .title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    h3,p {
      color: white;
    }
    p {
      font-size: 18px;
    }
  }
}

.addressform:last-of-type {
  margin-bottom: 40px;
  display: block;
}

.add {
  margin: auto;
  display: block;
  text-align: center;
}

@media (min-width: 600px) {
  .house {
    padding: 40px 80px;
    .title {
      padding: 0;
      padding-bottom: 20px;
    }
  }
  .houses {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
  }
  rente-address-form {
    margin-bottom: 80px;
  }
}
@media (min-width: 900px) {
  .houses {
    grid-template-columns: 1fr 1fr;
  }
}

.center-logo {
  margin-top: 40px;

  p{
    color: white;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  text-align: center;

  img{
    width: 180px;
  }
}
