<div class="mb-5">
  <h3 class="title" i18n="About us header@@about-us-header">Om oss</h3>

  <div>
    <p>
      Markedet for boliglån kan være kaotisk, og det kan være vanskelig å vite hvilken rente du fortjener og i hvilken
      bank du finner denne. I tillegg tilbyr bankene et mylder av forskjellige kundeprogrammer som gjør det enda
      vanskeligere å orientere seg. Boliglån er i prinsippet et fryktelig enkelt produkt og det er ingen grunn til at
      man skal betale mer enn man trenger. Vi vet også at det kan være tidkrevende å følge med på rentemarkedet og hente
      inn tilbud fra andre banker. Flere synes også det kan være ubehagelig å prute i banken.
    </p>
    <p>
      Med bakgrunn i dette startet vi Renteradar.no. Vi ønsker å gjøre det lettere for deg som boliglånskunde, og vi har
      bygget opp tjenesten rundt 3 pilarer. Våre medlemmer skal:
    </p>
    <ul>
      <li><b>Spare penger:</b> Våre brukere skal spare penger gjennom å alltid ha de beste betingelsene</li>
      <li><b>Spare tid:</b> Våre brukere skal spare tid ved at vi gjør jobben med å overvåke både renten deres og hvilke
        tilbud som er i markedet
      </li>
      <li><b>Få trygghet:</b> Våre brukere skal få trygghet rundt hva de betaler i rente, og vite at de ikke blir lurt
        av banken
      </li>
    </ul>
    <p>
      Renteradar.no eies og driftes av Forbrukerøkonomene AS. Vi kjenner rentemarkedet godt, har bred erfaring med både
      finansiering og refinansiering, og i tillegg er vi gode til å forhandle. Sammen har vi satt dette i system som
      skal komme Renteradar.no's medlemmer til gode.
    </p>
  </div>


  <h4 class="mt-4">Møt noen av oss</h4>

  <div class="row">
    <div class="col-sm-12">
      <div class="card border-none">
        <div class="row no-gutters">
          <div class="col-auto">
            <img class="w-140" src="../../../assets/img/fredrik.png" alt="Fredrik Stang Heffermehl"
              title="Fredrik Stang Heffermehl">
          </div>
          <div class="col">
            <div class="card-block px-2">
              <h5 class="card-title">
                Fredrik Stang Heffermehl
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Daglig leder</h6>
              <div class="col-sm-6">
                <p class="card-text">Fredrik er ingeniør fra NTNU og har bakgrunn som konsulent i Arkwright
                  Consulting. Han brenner for å gi våre kunder verdi og finne gode løsninger.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="col-sm-12">
      <div class="card border-none">
        <div class="row no-gutters">
          <div class="col-auto">
            <img class="w-140" alt="Axel Busch-Christensen" title="Axel Busch-Christensen"
              src="../../../assets/img/axel.png">
          </div>
          <div class="col">
            <div class="card-block px-2">
              <h5 class="card-title">Axel Busch-Christensen</h5>
              <h6 class="card-subtitle mb-2 text-muted">Styreleder</h6>
              <div class="col-sm-6">
                <p class="card-text">Axel har bakgrunn fra investerings bank og konsulentselskapet McKinsey.
                  De seneste årene har han drevet med oppstartsbedrifter internasjonalt. Axel er utdannet
                  siviløkonom fra NHH.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
