<div class="front-container">
  <h1 i18n=“headline|about-us@@aboutUs”>Om oss</h1>
  <h4 i18n=“text|intro@@aboutUs.intro1”>
    <a href="https://renteradar.no" target="_blank">Renteradar.no</a> så sitt lys våren 2019. Vi var en gjeng som mente at det var vanskelig å
    navigere i markedet for boliglån. I tillegg måtte man følge med på banken sin hele tiden
    for å få den lave renten man fortjener. Dette ønsket vi å gjøre noe med og laget
    <a href="https://renteradar.no" target="_blank">Renteradar.no</a>
  </h4>
  
  <h4 i18n=“text|about-us@@aboutUs.intro2”>
    Boliglån er i grunnen et veldig enkelt produkt som bankene tjener veldig godt på.
    I Norge betaler nesten alle renter og avdrag på boliglånet og bankene har svært
    lave tap. Det er derfor ingen grunn til at man skal betale mer enn det man trenger på boliglånet.
  </h4>
  <h4 i18n=“text|about-us@@aboutUs.goals”>
    Vi ønsker å gjøre det enklere for deg som boliglånskunde gjennom å:
  </h4>
  <div class="fordeler">
    <div class="fordeler-inner">
      <h4 i18n=“text|about-us@@aboutUs.goal1”>
        <b>Spare penger</b> gjennom å alltid ha de beste betingelsene.
      </h4>
      <h4 i18n=“text|about-us@@aboutUs.goal2”>
        <b>Spare tid</b> ved at vi automatisk, raskt og enkelt sjekker renten du
        har og sammenligner med det beste tilbudet i markedet for deg.
      </h4>
      <h4 i18n=“text|about-us@@aboutUs.goal3”>
        <b>Få trygghet</b> rundt hva du betaler i rente, og vite at du ikke blir lurt av banken.
      </h4>
    </div>
  </div>
  <h4 i18n=“text|about-us@@aboutUs.governance”>
    <a href="https://renteradar.no" target="_blank">Renteradar.no</a>
    eies og driftes av Forbrukerøkonomene AS. Vi kjenner rentemarkedet godt og har bred erfaring
    innenfor bank, finans og teknologi. Sammen har vi satt dette i system som skal komme brukerne av
    <a href="https://renteradar.no" target="_blank">Renteradar.no</a> til gode.
  </h4>

  <div>
    <img src="../../../assets/img/omossv1.jpg" style="width: 100%; margin-bottom: 60px;" />
  </div>

  <div class="styret">

    <div class="styremedlem">
      <div class="person">
        <div class="navn">
          <h4><b>Finn Olav Brækken</b></h4>
          <h4 i18n=“title|about-us@@aboutUs.Finn”><i>Co-Founder</i></h4>
        </div>
      </div>
      <h4 i18n=“text|about-us@@aboutUs.finn.intro”>
        Finn Olav er økonom fra Cass Business School i London og har jobbet fem år med renter i
        Nordea Markets. Nå har han tatt steget ut fra bank-verden for å leve ut gründer-drømmen.
        Finn Olav er tall-knuseren vår som elsker statistikk og data.
      </h4>
    </div>

    <div class="styremedlem">
      <div class="person">
        <!-- div class="bilde" style="background-image: url('../../../assets/img/fredrik.png');"></div -->
        <div class="navn">
          <h4><b>Fredrik Stang Heffermehl</b></h4>
          <h4 i18n=“title|about-us@@aboutUs.fredrik”><i>Daglig Leder/Founder</i></h4>
        </div>
      </div>
      <h4 i18n=“text|about-us@@aboutUs.fredrik.intro”>
        Fredrik er ingeniør fra NTNU og arkitekten bak <a href="https://renteradar.no" target="_blank">Renteradar.no</a>.
        Han brenner for å gi våre kunder verdi og finne gode løsninger.
        Før Fredrik startet opp <a href="https://renteradar.no" target="_blank">Renteradar.no</a> jobbet han som
        konsulent i Arkwright Consulting.
      </h4>
    </div>

    <div class="styremedlem">
      <div class="person">
        <!-- div class="bilde" style="background-image: url('../../../assets/img/axel.png');" ></div -->
        <div class="navn">
          <h4><b>Sindre Noss</b></h4>
          <h4 i18n=“title|about-us@@aboutUs.sindre”><i>Co-Founder</i></h4>
        </div>
      </div>
      <h4 i18n=“text|about-us@@aboutUs.sindre.intro”>
        Sindre er siviløkonom fra NHH og har jobbet i 15 år i DNB Markets.
        De siste fire årene ledet han aktivitetene på renteprodukter.
        Nå har han tatt forbrukernes side og vil utfordre storbankene.
        Sindre kjenner markedet for boliglån og bankene godt.
      </h4>
    </div>

  </div>

</div>
