property-select {
}

@media (max-width: 600px) {
  .cdk-fix {
    position: fixed;
    background: white;
    bottom: 0px;
    width: 100%;
    height: 14%;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  @media (max-width: 600px) {
    position: fixed;
    bottom: 15px;
    width: 100%;
  }
}
