<div class="property-group mb-4">

  <div class="row">
      <div class="col-lg-5 col-12">
        Property {{idx+1}}
      </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="mt-2">
        <span class="input-label">Adresse</span>
        <input
          type="text"
          class="text-input"
          maxlength="100"
          placeholder="Adresse"
          [(ngModel)]="address.street"
        />
      </div>
      <div class="mt-2">
        <span class="input-label">ZIP</span>
        <input
          type="number"
          class="text-input"
          placeholder="Postnummer"
          min="0"
          max="9999"
          [(ngModel)]="address.zip"
        />
      </div>
      <div class="mt-2">
        <span class="input-label">Størrelse på bolig (kvm)</span>
        <input
          type="number"
          class="text-input"
          maxlength="5"
          placeholder="Størrelse på bolig (kvm)"
          [(ngModel)]="address.apartmentSize"
        />
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <mat-radio-group [(ngModel)]="address.useManualPropertyValue" >
        <div class="mb-2 mt-4">
          <mat-radio-button
            [value]="false"
            (change)="onRbChange($event)">
            <h3>Bruk estimat</h3>
          </mat-radio-button>
          <div class="mt-1">
            <input
              type="number"
              class="text-input"
              [ngModel]="address.estimatedPropertyValue"
              [disabled]="true"
            />
          </div>
        </div>
        <div class="mt-4">
          <mat-radio-button
            [value]="true"
            (change)="onRbChange($event)">
            <h3>Jeg vet hva boligen er verdt</h3>
          </mat-radio-button>
          <div class="mt-0">
              <input
                type="number"
                min="0"
                maxlength="8"
                class="text-input"
                placeholder="Boligen min er verdt"
                [(ngModel)]="address.manualPropertyValue"
                [disabled]="address.useManualPropertyValue == false"
              />
          </div>
        </div>
      </mat-radio-group>
    </div>
  </div>

  <div
    *ngIf="ableToDelete"
    class="row">
    <div class="ml-3 mt-3">
      <button
        (click)="onDeleteAddressClick()">
        Delete property
      </button>
    </div>
  </div>

  <div
    *ngIf="address.message"
    class="row">
    <p class="ml-3 mt-1 error-message">{{address.message}}</p>
  </div>

</div>
