@import "../../../../../styles/theme/_colors.scss";
.mat-form-field {
  text-align: center;
}
.double {
  grid-gap: 40px;
}
.mat-form-field-disabled * {
  color: rgba(0, 0, 0, 0.38) !important;
}
.estimated .small {
  text-align: center;
  top: -10px;
  position: relative;
}
.heading {
  background-color: $lightgreen;
  border-top: 1px solid $green;
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  b {
    display: inline-block;
    margin-left: 10px;
  }
  mat-icon {
    color: $blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}
.center-button {
  margin-top: 40px;
  text-align: center;
}

rente-button {
  text-align: center;
  display: inline-block;

  .save-changes-local button {
    margin: auto;
    display: block;
    text-align: center;
    width: calc(100% - 40px);
    @media (min-width: 600px) {
      top: unset;
      bottom: 40px;
      max-width: 400px;
    }
  }
}



.body {
  padding: 20px;
  border-bottom: 1px solid $lesslight;
  > div {
    margin-bottom: 20px;
  }
  .address {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;

    button {
      color: white;
      background-color: $blue;
      border-radius: 100px;
      height: 36px;
      width: 36px;
      position: absolute;
      right: 0px;
      transform: translateY(-50%);
      top: 50%;
      text-align: center;
      .mat-icon {
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
      }
    }
  }
}

@media (min-width: 600px) {
  .housecontainer {
    border: 1px solid $lesslight;
    .heading {
      border-top: none;
      border-bottom: 1px solid $green;
    }
    .body {
      border-bottom: 0;
    }
  }
}
