@import "../../../../../styles/theme/_colors.scss";
.mat-form-field {
  text-align: center;
}
.estimated .small {
  text-align: center;
  top: -10px;
  position: relative;
}
.heading {
  background-color: $light;
  border-top: 1px solid $lesslight;
  display: block;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  b {
    display: inline-block;
    margin-left: 10px;
  }
  mat-icon {
    color: $blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}

.body {
  padding: 20px;
  border-bottom: 1px solid $lesslight;
  > div {
    margin-bottom: 20px;
  }
  .address {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;

    button {
      color: white;
      background-color: $blue;
      border-radius: 100px;
      height: 36px;
      width: 36px;
      position: absolute;
      right: 0px;
      transform: translateY(-50%);
      top: 50%;
      text-align: center;
      .mat-icon {
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
      }
    }
  }
}
/* .property-group {
  background-color: #efefef;
  border-radius: 10px;
  padding: 20px;
}
.text-input {
  width: 100%;
}
.input-label {
  font-size: 10px;
}
.error-message {
  color: red;
}
.statistics-button {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
 */
