<section class="container masthead">
  <h3 class="title">Vilkår for bruk av Renteradar.no</h3>
  <div class="pt-3">
    <div class="font-weight-bold">1. Beskrivelse av tjenesten</div>
    <p>
      Dette dokumentet beskriver Renteradar.no sine vilkår for tjenesten, herunder ditt uttrykkelige samtykke til
      behandling og formidling av opplysninger til selskapene Renteradar.no samarbeider med.
    </p>

    <div class="font-weight-bold">2. Forutsetninger for avtaleinngåelse</div>
    <p>
      Renteradar.no innhenter og overvåker betingelsene (herunder: lånebeløp, lånetype, rente, etc..) på dine lån i din
      bank ved hjelp av fullmakt. Ved å akseptere brukervilkårene og registrere deg som bruker gir du oss fullmakt til å
      behandle disse opplysningene. Vi overvåker samtidig markedet for hvilke betingelser du kan oppnå i andre banker.
      Du gir ditt samtykke til at vi kan formidle kontakt med banker som kan gi deg et bedre tilbud enn det du har i
      dag. Dette samtykket inkluderer formidling av anonymiserte data.
      Bindende avtale inngås direkte med ny bank dersom det skal være aktuelt.
    </p>

    <div class="font-weight-bold">3. Avtalens parter</div>
    <p>
      Renteradar.no/Forbrukerøkonomene AS er ikke part i avtalen som inngås mellom deg og banken du eventuelt velger.
      Renteradar.no opptrer som en plattform for formidling av informasjon mellom deg som forbruker og
      finansinstitusjoner som er tilknyttet tjenesten. Avtaler inngås direkte mellom selskapene og deg som kunde.
    </p>

    <div class="font-weight-bold">4. Samtykke til kredittvurdering gjort av banken</div>
    <p>
      Ved å akseptere vilkårene, bekrefter du at aktuelle selskaper du er i dialog med kan foreta en kredittvurdering av
      deg. Selskapene vil trenge et aktivt samtykke av deg for å gjøre dette i form av at du oppgir personnummeret ditt
      til det aktuelle selskapet.
    </p>

    <div class="font-weight-bold">5. Dine rettigheter og ansvar</div>
    <p>
      Du plikter å oppgi riktig informasjon om deg, både til Renteradar.no og banker du eventuelt skulle komme i kontakt
      med gjennom tjenesten.
    </p>

    <div class="font-weight-bold">6. Renteradar.no og selskapets ansvar</div>
    <p>
      Renteradar.no har ansvaret for tjenesten slik den er beskrevet på våre nettsider. Renteradar.no er ikke under noen
      omstendighet ansvarlig for avtaler du inngår. Alminnelig norsk erstatnings- og avtalerett gjelder.
    </p>
    <div class="font-weight-bold">7. Sletting av brukerdata</div>
    <p>
      Du kan når som helst kreve at vi sletter alle dine lånedata, og alle andre opplysninger vi har innhentet fra deg.
      Dette gjøres ved å sende email til slettmeg@forbrukerøkonomene.no og be om å bli glemt.
    </p>
    <p>
      Oslo, 14.08.2019
    </p>
  </div>
</section>