<div class="front-container">
  <h3 i18n=“title|terms@@terms.conditions”>Vilkår for bruk av Renteradar.no</h3>
  <div class="pt-3">
    <div i18n=“title-service|terms@@terms.conditions.titleService” class="font-weight-bold">1. Beskrivelse av tjenesten</div>
    <p i18n=“description-document|terms@@terms.conditions.descriptionDocument”>
      Dette dokumentet beskriver Renteradar.no sine vilkår for tjenesten, 
      herunder ditt uttrykkelige samtykke til behandling og formidling av 
      opplysninger til selskapene Renteradar.no samarbeider med.
    </p>

    <div i18n=“title-conditions|terms@@terms.conditions.titleConditions” class="font-weight-bold">2. Forutsetninger for avtaleinngåelse</div>
    <p i18n=“description-conditions|terms@@terms.conditions.descriptionConditions”>
      Renteradar.no innhenter betingelsene (herunder: lånebeløp, lånetype, rente, etc..) på dine lån i din bank 
      ved hjelp av fullmakt. Ved å akseptere brukervilkårene og registrere deg som bruker gir du oss fullmakt til å behandle disse opplysningene. 
      Vi overvåker samtidig markedet for hvilke betingelser du kan oppnå i andre banker.
    </p>

    <div i18n=“title-agreement|terms@@terms.conditions.titleAgreement” class="font-weight-bold">3. Avtalens parter</div>
    <p i18n=“description-agreement|terms@@terms.conditions.descriptionAgreement”>
      Renteradar.no/Forbrukerøkonomene AS er ikke part i avtalen som inngås mellom deg og 
      banken du eventuelt velger. Avtaler inngås direkte mellom selskapene og deg som kunde.
    </p>

    <div class="font-weight-bold">
      4. Kommunikasjon
    </div>
    <p>
      En viktig del av tjenestetilbudet til Renteradar.no er å gi brukeren en rettferdig 
      boliglånsrente over tid. Vi overvåker markedet og gir deg beskjed når man bør 
      sjekkerenten sin og om det har kommet noen bedre tilbud. Gjennom å akseptere vilkårene 
      gir du Renteradar.no rett til å sende e-post kontinuerlig. Dette inkluderer også 
      markedsoppdateringer og nyhetsbrev. Du kan under «Profil» etter innlogging endre dine 
      preferanser hvis du ikke ønsker å motta e-post fra Renteradar.no. Det ligger også ved 
      en link ved hver mailutsendelse hvor man enkelt kan melde seg av..
    </p>

    <div i18n=“title-consent|terms@@terms.conditions.titleConsent” class="font-weight-bold">
      5. Samtykke til kredittvurdering gjort av banken
    </div>
    <p i18n=“description-consent|terms@@terms.conditions.descriptionConsent”>
      Ved å akseptere vilkårene, bekrefter du at aktuelle selskaper du er i dialog med 
      kan foreta en kredittvurdering av deg. Selskapene vil trenge et aktivt samtykke av 
      deg for å gjøre dette i form av at du oppgir personnummeret ditt til det aktuelle 
      selskapet.
    </p>

    <div i18n=“title-rights|terms@@terms.conditions.titleRights” class="font-weight-bold">6. Dine rettigheter og ansvar</div>
    <p i18n=“description-rights|terms@@terms.conditions.descriptionRights”>
      Du plikter å oppgi riktig informasjon om deg, både til Renteradar.no og banker
      du eventuelt skulle komme i kontakt med gjennom tjenesten.
    </p>

    <div i18n=“title-responsibility|terms@@terms.conditions.titleResponsibility” class="font-weight-bold">7. Renteradar.no og selskapets ansvar</div>
    <p i18n=“description-responsibility|terms@@terms.conditions.descriptionResponsibility”>
      Renteradar.no har ansvaret for tjenesten slik den er beskrevet på våre nettsider. 
      Renteradar.no er ikke under noen omstendighet ansvarlig for avtaler du inngår. 
      Alminnelig norsk erstatnings- og avtalerett gjelder.
    </p>
    <div i18n=“title-erase-data|terms@@terms.conditions.titleErase.data” class="font-weight-bold">8. Sletting av brukerdata</div>
    <p i18n=“description-erase-data|terms@@terms.conditions.descriptionErase.data”>
      Du kan når som helst kreve at vi sletter alle dine lånedata, og alle andre opplysninger vi 
      har innhentet fra deg. Dette gjøres ved å sende email til <a href = "mailto: tabortmig@ranteradar.se">slettmeg@renteradar.no</a> og be om 
      å bli glemt.
    </p>
    <p>
      Oslo, 24.08.2020
    </p>
  </div>
</div>
