<!-- NB! The [@animationTriggerName] has to be the same name as the trigger name from the xported animation style -->

<div
  *ngIf="animationType == checkAnimationStyle.SLIDE_LEFT_RIGHT"
  class="slideleftright"
  [@slideLeftRight]="animationState ? 'visible' : 'hidden'"
>
  {{ displayText }}
</div>

<div
  (click)="onClickBanner()"
  *ngIf="animationType === checkAnimationStyle.DROP_DOWN_UP"
  [ngClass]="isDashboard ? 'dropdownupdash' : 'dropdownup'"
  [class.error]="status === 'error'"
  [class.success]="status === 'success'"
  [class.success-with-arrow]="status === 'success-with-arrow'"
  [@dropDownUp]="animationState ? 'visible' : 'hidden'"
>
  {{ displayText }}
  <img class="scroll-arrow" src="{{ scrollArrowImg }}" *ngIf="scrollArrow" />
</div>

<div
  (click)="onClickBanner()"
  *ngIf="animationType === checkAnimationStyle.SLIDE_UP"
  [ngClass]="isDashboard ? 'dropdownupdash' : 'dropdownup'"
  [class.error]="status === 'error'"
  [class.success]="status === 'success'"
  [@slideUp]="animationState ? 'visible' : 'hidden'"
>
  {{ displayText }}
</div>
