@import '../../../../../styles/theme/_colors.scss';

.slideleftright {
  position: absolute;
  // margin-bottom: 20;
  // top: 0px;
  font: bold;
  text-align: center;
  width: 100%;
  // background-color: lightpink;
  background: linear-gradient(180deg, #162537, #183a63 10.08%) !important;
  color: azure;
  margin: auto;
  padding: 20px;
}

.dropdownup {
  position: absolute;
  width: 40%;
  background: $white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  color: #383838;
  box-shadow: rgba(67, 70, 69, 0.63) 0px 5px 15px;
  top: 125px;
  left: 30%;
  z-index: 1;

  @media (max-width: 600px) {
    width: 70%;
    left: 15%;
    top: 66px;
  }
}
