<div class="top">
    <p>
        I vissa banker sätter man individuella räntor. Har du inte en sådan bank kan vi 
        inte hjälpa dig att pruta ner din befintliga ränta hos din bolåneaktör. 
        Är du missnöjd med din ränta och funderar på att flytta ditt bolån? Då 
        har vi presenterat marknadens bästa erbjudanden, helt anpassat efter dina unika 
        förutsättningar! 
    </p>
</div>
<div class="bottom">
    <rente-button color="primary" (click)="close()">
        Ok
    </rente-button>
</div>