<!-- <div class="row justify-content-center">
    <div class="col-12 text-center">
        <h3>
            Kjenner du noen som bør teste Renteradar.no?
        </h3>
        <p>
            (Klikk på et ikon for å dele)
        </p>
    </div>

    <div class="col-8 col-sm-6 col-lg-12 d-lg-flex justify-content-lg-center">
        <share-button button="facebook" [url]="'https://renteradar.no/'"></share-button>
        <div class="d-inline-block d-lg-none">
            <share-button button="messenger" [url]="'https://renteradar.no/'"
                [description]="'Hei! Jeg har testet Renteradar.no! Tjenesten er gratis og viser deg hvor mye du kan spare på boliglånet ditt. Du kan også be din bank om bedre rente med et klikk!'">
            </share-button>
        </div>
        <div class="d-inline-block d-lg-none">
            <share-button button="sms" [url]="'https://renteradar.no/'"
                [description]="'Hei! Jeg har testet Renteradar.no! Tjenesten er gratis og viser deg hvor mye du kan spare på boliglånet ditt. Du kan også be din bank om bedre rente med et klikk!'">
            </share-button>
        </div>
        <share-button button="email" [url]="'https://renteradar.no/'" [title]="'Har du testet Renteradar.no?'"
            [description]="'Hei,
            
Jeg har testet Renteradar.no! Tjenesten er gratis og viser deg hvor mye du kan spare på boliglånet ditt. Du kan også be din bank om bedre rente med et klikk!
'">
        </share-button>
        <div class="d-inline-block d-lg-none">
            <share-button button="whatsapp" [url]="'https://renteradar.no/'"
                [description]="'Hei! Jeg har testet Renteradar.no! Tjenesten er gratis og viser deg hvor mye du kan spare på boliglånet ditt. Du kan også be din bank om bedre rente med et klikk!'">
            </share-button>
        </div>
        <share-button button="copy" [url]="'https://renteradar.no/'"></share-button>
    </div>
</div> -->