<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h3>
            Kjenner du noen som bør teste Renteradar?
        </h3>
    </div>

    <div class="col-8 col-sm-6 col-lg-12 d-lg-flex justify-content-lg-center">
        <share-button button="facebook" [url]="'https://renteradar.no/'"></share-button>
        <share-button button="messenger" [url]="'https://renteradar.no/'"></share-button>
        <div class="d-inline-block d-lg-none">
            <share-button button="sms" [url]="'https://renteradar.no/'"></share-button>
        </div>
        <share-button button="email" [url]="'https://renteradar.no/'"></share-button>
        <share-button button="whatsapp" [url]="'https://renteradar.no/'"></share-button>
        <share-button button="copy" [url]="'https://renteradar.no/'"></share-button>
    </div>
</div>