<div class="dash-tabs-blue-wrapper">
  <div class="dash-tabs-blue">
    ​
    <div class="inner">
      <nav mat-tab-nav-bar class="dash-tab">
        <a
          mat-tab-link
          [active]="activeLinkIndex == 0"
          [routerLink]="'./' + routesMap.offers"
          (click)="setActiveIndex(0)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="inside-btn">
            <span
              class="notification circle"
              *ngIf="getOfferNotifications() | async"
              ><p>{{ getOfferNotifications() | async }}</p></span
            >
            <img
              class="rente-icon"
              src="../../../assets/icons/rente-logo-icon-white.svg"
              alt="Banktilbud"
              *ngIf="activeLinkIndex !== 0"
            />
            <img
              class="rente-icon"
              src="../../../assets/icons/rente-logo-icon-green.svg"
              alt="Banktilbud"
              *ngIf="activeLinkIndex == 0"
            />
            <p i18n="“title|offer@@dashboard.loggedIn.offer”">Tilbud</p>
          </div>
        </a>
      </nav>
      <nav mat-tab-nav-bar class="dash-tab">
        <a
          mat-tab-link
          [active]="activeLinkIndex == 1"
          [routerLink]="'./' + routesMap.loans"
          (click)="setActiveIndex(1)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="inside-btn">
            <img
              class="graph-icon"
              src="../../../assets/icons/graph-icon-white.svg"
              alt="Mine lån"
              *ngIf="activeLinkIndex !== 1"
            />
            <img
              class="graph-icon"
              src="../../../assets/icons/graph-icon-green.svg"
              alt="Mine lån"
              *ngIf="activeLinkIndex == 1"
            />
            <p i18n="“title2|my-loans@@dashboard.loggedIn.myLoans”">Mine lån</p>
          </div>
        </a>
      </nav>
      <nav mat-tab-nav-bar class="dash-tab">
        <a
          mat-tab-link
          [active]="activeLinkIndex == 2"
          [routerLink]="'./' + routesMap.property"
          (click)="setActiveIndex(2)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="inside-btn">
            <img
              class="house-icon"
              src="../../../assets/icons/house-icon-white.svg"
              alt="Bolig"
              *ngIf="activeLinkIndex !== 2"
            />
            <img
              class="house-icon"
              src="../../../assets/icons/house-icon-green.svg"
              alt="Bolig"
              *ngIf="activeLinkIndex == 2"
            />
            <p i18n="“title3|house@@dashboard.loggedIn.house”">Bolig</p>
          </div>
        </a>
      </nav>
      <nav mat-tab-nav-bar class="dash-tab">
        <a
          mat-tab-link
          [active]="activeLinkIndex == 4"
          [routerLink]="'./' + routesMap.profile"
          (click)="setActiveIndex(4)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="inside-btn">
            <span
              class="notification circle"
              *ngIf="getProfileNotifications() | async"
              >{{ getProfileNotifications() | async }}</span
            >
            <img
              class="profile-icon"
              src="../../../assets/icons/profile-icon-white.svg"
              alt="Profil"
              *ngIf="activeLinkIndex !== 4"
            />
            <img
              class="profile-icon"
              src="../../../assets/icons/profile-icon-green.svg"
              alt="Profil"
              *ngIf="activeLinkIndex == 4"
            />
            <p i18n="“title4|profile@@dashboard.loggedIn.profile”">Profil</p>
          </div>
        </a>
      </nav>
    </div>
  </div>
</div>
