<div class="loading" *ngIf="isLoading && !errorMessage">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div
  class="offers"
  *ngIf="
    offersInfo?.ltvType === offersLtvType.LTV_OK ||
    offersInfo?.ltvType === offersLtvType.LTV_TOO_HIGH_85"
>

<div class ="desktop">
  <a
      *ngIf="offersInfo?.ltvType === offersLtvType.LTV_TOO_HIGH_85"
      class="obs clickable"  
      (click)="openLtvTooHightDialog()"
    >
    
      <p i18n=“too-high-leverage|offers-main@@offers.mainPage.high”>
        <b>OBS:</b> Vi har beregnet belåningsgraden din til over 85%. 
        Vennligst kontroller boligverdien i boligfanen. Du kan også lese 
        mer om dette ved å  <a >klikke her</a>.
        
      </p>
  </a>

  <div
      *ngIf="
        offersInfo?.incompleteInfoLoanPresent === true
      "
      class="obs"
    >
      <p i18n=“assumption|offers-main@@offers.mainPage.assumption”>
        <b>OBS:</b> Vi får kun hentet din nominelle rente og lånebeløp. For
        utregninger har vi tatt utgangspunkt i en gjenværende løpetid på 20 år,
        månedlige betalinger og 50,- i termingebyr. Faktisk løpetid og
        termingebyrer vil endre forventede besparelser.
      </p>
    </div>
</div>
  <!-- Mobile Tips -->
  <div class="mobile">
    <div
      class="tipsAccordion"
      (click)="isShowTips = !isShowTips"
      *ngIf="tips.length > 0"
    >
      <p>
        <mat-icon *ngIf="!isShowTips">expand_more</mat-icon>
        <mat-icon *ngIf="isShowTips">expand_less</mat-icon>
        <span class="nr">{{ tips.length }}</span> tips
      </p>
    </div>
    <div
      class="tips"
      style="border-bottom: none;"
      *ngIf="tips.length > 0 && !isShowTips"
    ></div>
    <div class="tips" *ngIf="isShowTips && tips.length > 0">
      <div *ngFor="let tip of tips; let i = index">
        <div
          *ngIf="!tip.external"
          routerLink="{{ tip.buttonLink }}"
          class="tip"
        >
          <p>
            {{ tip.text }}
          </p>

          <mat-icon *ngIf="tip.buttonLink !== './'">chevron_right</mat-icon>
        </div>

        <a
          *ngIf="tip.external"
          href="{{ tip.buttonLink }}"
          target="_blank"
          class="tip"
        >
          <p>
            {{ tip.text }}
          </p>

          <mat-icon>chevron_right</mat-icon>
        </a>
      </div>
    </div>
    <a
      *ngIf="offersInfo?.ltvType === offersLtvType.LTV_TOO_HIGH_85"
      class="obs clickable"  
      (click)="openLtvTooHightDialog()"
    >
    
      <p i18n=“too-high-leverage-check|offers-main@@offers.mainPage.highCheck”>
        <b>OBS:</b> Vi har beregnet belåningsgraden din til over 85%. 
        Vennligst kontroller boligverdien i boligfanen. Du kan også lese 
        mer om dette ved å  <a (click)="openLtvTooHightDialog()">klikke her</a>.
        
      </p>
    </a>
    <div
      *ngIf="
        offersInfo?.incompleteInfoLoanPresent === true
      "
      class="obs"
    >
      <p i18n=“assumption2|offers-main@@offers.mainPage.assumption2”>
        <b>OBS:</b> Vi får kun hentet din nominelle rente og lånebeløp. For
        utregninger har vi tatt utgangspunkt i en gjenværende løpetid på 20 år,
        månedlige betalinger og 50,- i termingebyr. Faktisk løpetid og
        termingebyrer vil endre forventede besparelser.
      </p>
    </div>
  </div>
  <!-- Mobile Tips -->

  <div class="barometer">
    
    <div class="rente-status" [ngSwitch]="offersInfo.offerSavingsType">
      <p i18n=“interest-very-good|offers-main@@offers.mainPage.interest.veryGood” *ngSwitchCase="offerSavingsType.NO_SAVINGS">
        Renten din er <b>svært god</b>
      </p>
      <p i18n=“interest-good|offers-main@@offers.mainPage.interest.good”
        *ngSwitchCase="
          offerSavingsType.SAVINGS_FIRST_YEAR_BETWEEN_0_AND_2000
        "
      >
        Renten din er <b>god</b>, men ikke best
      </p>
      <p i18n=“interest-ok|offers-main@@offers.mainPage.interest.ok”
        *ngSwitchCase="
          offerSavingsType.SAVINGS_FIRST_YEAR_BETWEEN_2000_AND_6000
        "
      > 
        Renten din er <b>OK</b>, men du kan få bedre
      </p>
      <p i18n=“interest-bad|offers-main@@offers.mainPage.interest.bad”
        *ngSwitchCase="
          offerSavingsType.SAVINGS_FIRST_YEAR_BETWEEN_6000_AND_10000
        "
      >
        Renten din er <b>dårlig</b> og du kan spare en del
      </p>
      <p i18n=“interest-very-bad|offers-main@@offers.mainPage.interest.veryBad” *ngSwitchCase="offerSavingsType.SAVINGS_FIRST_YEAR_GREATER_10000">
        Renten din er <b>svært  dårlig</b> 
      </p>
      <div *ngSwitchDefault>-</div>
    </div>

    <div class="rente-bar-container center-horizontal">
      <div class="bar-ticks">
        <p i18n=“interest-bad2|offers-main@@offers.mainPage.interest.bad2”>Dårlig rente</p>
        <p i18n=“interest-good2|offers-main@@offers.mainPage.interest.good2”>Bra rente</p>
      </div>
      <div class="bar-wrap" [ngClass]="[rateBarPercentage.class]" > 
        <span class="bar-fill" [ngStyle]="{'width': rateBarPercentageInverted + '%'}"></span> 
        <!-- <span class="bar-fill" [ngStyle]="{'width': 0 + '%'}"></span> -->
      </div>

      <!--
      <div class="arrow-box center-align" [ngStyle]="{'left': barBoxPosition}">
        <p>Din rente</p>
      </div>
      --> 
    </div>

    <div class="save-info">
      <p i18n=“save|offers-main@@offers.mainPage.save”>Du kan spare</p>
        <h2 *ngIf="offersInfo.bestOfferTotalSaving > 0; else noBestOffer">
          {{ offersInfo.bestOfferTotalSaving | abs | number }},-
        </h2>
        <ng-template #noBestOffer>
          <h2> 0,- </h2>
        </ng-template>
      <p i18n=“time|offers-main@@offers.mainPage.time”>over lånets løpetid</p>
    </div>
  </div>

  <div class="split-sections">
    <div class="split-section">
      
        <!-- Mobile boxes -->
        <div class="rente-boxes mobile">
          <div class="double">
            <div class="box">
              <p i18n=“your-interest|offers-main@@offers.mainPage.yourInterest”>Din effektive rente</p>
              <h2>{{ offersInfo.totalEffectiveRate | number: "1.2-2" }}%</h2>
            </div>
            <a class="box positive clickable" (click)="goToBestOffer()">
              <p i18n=“best-offer|offers-main@@offers.mainPage.bestOffer”>
                Beste tilbud <img src="../../../../assets/icons/go_to.svg" />
              </p>
              <h2>
                {{ offersInfo.bestOfferEffectiveRate | number: "1.2-2" }}%
              </h2>
              <!-- <h2>{{ offersInfo.customerName | null }}</h2> -->
            </a>
          </div>
          <div class="double">
            <a class="box clickable" (click)="goToProperty()">
              <p i18n=“value|offers-main@@offers.mainPage.value”>
                Boligverdi <img src="../../../../assets/icons/go_to.svg" />
              </p>
              <h2 i18n=“millions|offers-main@@offers.mainPage.millions”>
                {{ offersInfo.propertyValue / 1000000 | number: "1.1-3" }}
                mill.
              </h2>
              <p i18n=“debt|offers-main@@offers.mainPage.debt” class="small">
                  Fellesgjeld
                {{
                  (offersInfo.commonDebt / 1000000 | number: "1.1-2")
                }}
                mill.
              </p>
            
              <p i18n=“virdi-estimate|offers-main@@offers.mainPage.virdiEstimate” class="small">
                Estimat levert av
                <a href="https://virdi.no/" target="_blank">virdi.no</a>
              </p>
            </a>
            <a class="box clickable" (click)="goToLoans()">
              <p i18n=“loan-remaining|offers-main@@offers.mainPage.loanRemaining”>
                Gjenværende lån <img src="../../../../assets/icons/go_to.svg" />
              </p>
              <h2 i18n=“millions2|offers-main@@offers.mainPage.millions2”>
                {{
                  offersInfo.totalOutstandingDebt / 1000000 | number: "1.1-3"
                }}
                mill.
              </h2>
              <p i18n=“leverage2|offers-main@@offers.mainPage.leverage2” class="small">
                Belåningsgrad
                {{
                  (offersInfo.ltv) *
                    100 | number: "1.1-1"
                }}%
              </p>
            </a>
          </div>
        </div>
        <!-- Mobile boxes -->
     
        <div class="mobile">
          <div class="top-buttons full-width">
            <div i18n=“found-offers|offers-main@@offers.mainPage.foundOffers” class="item">
            
            
              <p>Vi har funnet de beste tilbudene for deg</p>
              <rente-button class="min-width vertical-20"
                [disabled]="changeBankLoading ||
                offersInfo.offerSavingsType === offerSavingsType.NO_SAVING"
                [isLoading]="changeBankLoading"
                color="primary"
                type="raised"
                (click)="goToBestOffer()"
                >Se beste tilbud</rente-button
              >
            </div> 
            
            <div i18n=“help-deal|offers-main@@offers.mainPage.helpDeal” class="item">
        
              <p>Vi hjelper deg å be banken din om lavere rente</p>
              <div class="max-width vertical-20">
                <rente-button
                  class="min-width"
                  [disabled]="
                  changeBankLoading ||
                  offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS"
                  [isLoading]="changeBankLoading"
                  color="primary"
                  type="raised"
                  (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
                  >Be banken matche tilbud</rente-button
                > 
              </div> 
            </div> 
          </div>
        </div>

      <div class="desktop">
        
        

     <!-- Desktop boxes -->
    <div class="rente-boxes desktop">
      <div class="double">
        <div class="box">
          <p i18n=“your-interest|offers-main@@offers.mainPage.yourInterest”>Din effektive rente</p>
          <h2>{{ offersInfo.totalEffectiveRate | number: "1.2-2" }}%</h2>
        </div>
        <a class="box positive clickable" (click)="goToBestOffer()">
          <p i18n=“best-offers2|offers-main@@offers.mainPage.bestOffers2”>Beste tilbud <img src="../../../../assets/icons/go_to.svg" /></p>
          <h2>{{ offersInfo.bestOfferEffectiveRate | number: "1.2-2" }}%</h2>
        
        </a>
      </div>
      <div class="double">
          <a class="box clickable" (click)="goToProperty()">
            <p i18n=“value2|offers-main@@offers.mainPage.value2”>
              Boligverdi <img src="../../../../assets/icons/go_to.svg" />
            </p>
            <h2 i18n=“millions3|offers-main@@offers.mainPage.millions3”>
              {{ offersInfo.propertyValue / 1000000 | number: "1.1-3" }}
              mill.
            </h2>
            <p i18n=“debt2|offers-main@@offers.mainPage.debt2” class="small">
                Fellesgjeld
              {{
                (offersInfo.commonDebt / 1000000 | number: "1.1-2")
              }} mill.
            </p>
          
            <p i18n=“virdi-delivered|offers-main@@offers.mainPage.virdiDelivered” class="small">
              Estimat levert av
              <a href="https://virdi.no/" target="_blank">virdi.no</a>
            </p>
          </a>
          <a class="box clickable" (click)="goToLoans()">
            <p i18n=“remaining-loans2|offers-main@@offers.mainPage.remainingLoans2”>
              Gjenværende lån <img src="../../../../assets/icons/go_to.svg" />
            </p>
            <h2 i18n=“millions4|offers-main@@offers.mainPage.millions4”>
              {{
                offersInfo.totalOutstandingDebt / 1000000 | number: "1.1-3"
              }}
              mill.
            </h2>
            <p i18n=“leverage2|offers-main@@offers.mainPage.leverage2” class="small">
              Belåningsgrad
              {{
                (offersInfo.ltv) *
                  100 | number: "1.1-1"
              }}%
            </p>
          </a>
      </div>

      <div
          class="tipsAccordion clickable"
          (click)="isShowTips = !isShowTips"
          *ngIf="tips.length > 0"
        >
        <p>
          <mat-icon *ngIf="!isShowTips">expand_more</mat-icon>
          <mat-icon *ngIf="isShowTips">expand_less</mat-icon>
          <span class="nr">{{ tips.length }}</span> tips
        </p>
      </div>
        <div
          class="tips"
          style="border-bottom: none;"
          *ngIf="tips.length > 0 && !isShowTips"
        ></div>
        <div class="tips" *ngIf="isShowTips && tips.length > 0">
          <div
            *ngFor="let tip of tips; let i = index"
            [ngClass]="tip.buttonLink === './' ? '' : 'clickable'"
          >
            <div
              *ngIf="!tip.external"
              routerLink="{{ tip.buttonLink }}"
              class="tip"
            >
              <p>
                {{ tip.text }}
              </p>

              <mat-icon *ngIf="tip.buttonLink !== './'">chevron_right</mat-icon>
            </div>

            <a
              *ngIf="tip.external"
              href="{{ tip.buttonLink }}"
              target="_blank"
              class="tip"
            >
              <p>
                {{ tip.text }}
              </p>

              <mat-icon>chevron_right</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Desktop boxes -->
      
    </div>
    <div class="split-section">

      <div class="compared">
        <rente-offers-statistics [offersInfo]="offersInfo">
        </rente-offers-statistics>
      </div>

    </div>
  </div>

  <div class="desktop">
    <div class="top-buttons full-width">
      <div i18n=“found-best-offers|offers-main@@offers.mainPage.found.bestOffers” class="item">
      
      
        <p>Vi har funnet de beste tilbudene for deg</p>
        <rente-button class="min-width vertical-20"
          [disabled]="changeBankLoading ||
          offersInfo.offerSavingsType === offerSavingsType.NO_SAVING"
          [isLoading]="changeBankLoading"
          color="primary"
          type="raised"
          (click)="goToBestOffer()"
          >Se beste tilbud</rente-button
        >
      </div> 
      
      <div i18n=“help-you|offers-main@@offers.mainPage.helpYou” class="item">
  
        <p>Vi hjelper deg å be banken din om lavere rente</p>
        <div class="max-width vertical-20">
          <rente-button
            class="min-width"
            [disabled]="
            changeBankLoading ||
            offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS"
            [isLoading]="changeBankLoading"
            color="primary"
            type="raised"
            (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
            >Be banken matche tilbud</rente-button
          > 
        </div> 
      </div> 
    </div>
  </div>

  <div class="the-offers">
    <h3 i18n=“best-offers3|offers-main@@offers.mainPage.bestOffers3” style="margin-bottom: 20px;">
      Beste tilbud:
    </h3>
    <div i18n=“bank-interest|offers-main@@offers.mainPage.bankInterest” *ngIf="isMobile" class="sticky-table-header">
      <p>BANK</p>
      <p>Din effektive rente: <span>{{ offersInfo.totalEffectiveRate | number: "1.2-2" }}%</span></p>
    </div>

    <div class="offers-grid">    
      <ng-container *ngIf="offersInfo">
        <div
          *ngFor="let offer of offersInfo.offers.top5; let i = index"
          class="the-offer"
        >

        <ng-container *ngIf="isMobile; else desktop">
          <rente-offer-card [offer]="offer" [offersInfo]="offersInfo" [index]=offer.offerPosition></rente-offer-card>
        </ng-container>
    
        <ng-template #desktop>
          <rente-offer-card-big [offer]="offer" [offersInfo]="offersInfo" [index]=offer.offerPosition></rente-offer-card-big>
        </ng-template>

        </div> 
      </ng-container>
    </div>  
    
    <div class="offers-grid">    
      
      <ng-container *ngIf="offersInfo">
        <div
          *ngFor="let offer of offersInfo.offers.additionalPartnersOffers; let i = index"
          class="the-offer"
        >

        <ng-container *ngIf="isMobile; else desktop">
          <rente-offer-card [offer]="offer" [offersInfo]="offersInfo" [index]=offer.offerPosition></rente-offer-card>
        </ng-container>
    
        <ng-template #desktop>
          <rente-offer-card-big [offer]="offer" [offersInfo]="offersInfo" [index]=offer.offerPosition></rente-offer-card-big>
        </ng-template>
        </div>
      </ng-container>
    </div>
  </div>

</div>
<div class="problems" style="max-width: 780px;">
  
  <div
    class="title"
    *ngIf="
      offersInfo?.ltvType === offersLtvType.LTV_CREDIT_LINE_TOO_HIGH_60
    "
  >
    <h3 i18n=“mortgage-credit|offers-main@@offers.mainPage.mortgageCredit”>
      Rammelån/boligkreditt er kun tilgjengelig for lavere belåningsgrad enn
      60%.
    </h3>
    <p i18n=“high-leverage-change|offers-main@@offers.mainPage.highLeverage.change”>
      Din belåningsgrad er høyere enn dette, vennligst endre din belåningsgrad
      i<a [routerLink]="['/dashboard/bolig']"> boligfanen</a>
    </p>
  </div>
  <div class="title" *ngIf="!offersInfo && !isLoading && !errorMessage">
    <h3 i18n=“no-offers-found|offers-main@@offers.mainPage.noOffers.found”>Ingen bedre tilbud enda...</h3>
  </div>

  <div class="title" *ngIf="errorMessage">
    <h3>{{ errorMessage }}</h3>
  </div>
</div>

<div *ngIf="effRateLoweredDialogVisible">
  <rente-dialog
    [title]="'Du har lavere rente enn forrige gang!'"
    [message]="'Brukte du prutefunksjonen vår for å få bedre rente?'"
    (action)="onDialogAction($event)"
  >
  </rente-dialog>
</div>
