<div class="front-container">

  <h2 class="mb-3">Cookiepolicy</h2>
  <p>
    Renteradar.no benytter seg av cookies (informasjonskapsler).
    Cookies er tekstfiler som lagres på din data eller enhet via din nettleser når du besøker en webside.
    Informasjonen i en cookie kan blant annet beskrive:
  </p>
  <ul style="list-style-type:disc;" class="mt-1">
    <li>
      <p>om du tidligere har besøkt websiden</p>
    </li>
    <li>
      <p>om du har en konto som du har valgt å være innlogget på</p>
    </li>
    <li>
      <p>data du har skrevet inn på nettsiden</p>
    </li>
  </ul>

  <h2 class="mt-5 mb-3">Hvorfor og hvordan bruker vi cookies?</h2>
  <p>
    Renteradar.no bruker cookies for analytiske, tekniske og markedsføringsmessige formål.
    Det vil si at cookies brukes for å gi våre brukere god opplevelse når bruker tjenesten,
    og gir oss mulighet til å utvikle og forbedre tjenesten. Det gir også anledning til å analysere
    trafikken på våre nettsider for blant annet å oppnå bedre målrettet markedsføring. Nærmere
    informasjon om de ulike bruksområdene følger lenger ned.
  </p>

  <h2 class="mt-5 mb-3">Hvilken informasjon registreres om deg som bruker</h2>
  <p>
    Når du besøker renteradar.no kan vi registrere ulik informasjon om deg og enheten. Det inkluderer blant annet:
  </p>
  <ul style="list-style-type:disc;" class="mt-1">
    <li>
      <p>Posisjonsdata</p>
    </li>
    <li>
      <p>Adferd på siden. Det inkluderer blant annet hvilke sider du er inne på og tidsbruk på hver side.</p>
    </li>
    <li>
      <p>Teknisk informasjon om nettleser og operativsystem</p>
    </li>
  </ul>

  <h2 class="mt-5 mb-3">Sletting informasjonskapsler i ulike nettlesere</h2>
  <p>
    Du kan i nettleseren få en oversikt over alle informasjonskapsler som er lagret.
    Der kan du slette informasjonskapsler og angi om du aksepterer lagring av informasjonskapsler
    fra nettsider du besøker. Den nøyaktige fremgangsmåten avhenger av enheten din og hvilken
    nettleser du bruker. I linkene under kan du lese mer:
  </p>
  <ul style="list-style-type:disc;" class="mt-1">
    <li>
      <p><a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">Chrome</a></p>
    </li>
    <li>
      <p><a href="https://support.microsoft.com/en-gb/help/4468242/microsoft-edge-browsing-data-and-privacy-microsoft-privacy" target="_blank">Microsoft Edge</a></p>
    </li>
    <li>
      <p><a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectlocale=en-US&redirectslug=enable-and-disable-cookies-website-preferences" target="_blank">Mozilla Firefox</a></p>
    </li>
    <li>
      <p><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Microsoft Internet Explorer</a></p>
    </li>
    <li>
      <p><a href="https://support.apple.com/en-gb/guide/safari/sfri11471/mac" target="_blank">Apple Safari</a></p>
    </li>
  </ul>

  <h2 class="mt-5 mb-3">Hvilke cookies benytter vi?</h2>
  <ul style="list-style-type:disc;" class="mt-1">
    <li>
      <p>
        <strong>Google Analytics:</strong>
        Er et verktøy som måler all trafikk på nettsiden og kan benyttes for analyseformål. Mer informasjon
        <a href="https://policies.google.com/technologies/ads?hl=no" target="_blank">her.</a></p>
    </li>
    <li>
      <p>
        <strong>Google Ads:</strong>
        Brukes for måling av betalt reklame av søkeord og Google annonsering. Mer informasjon
        <a href="https://policies.google.com/technologies/types?hl=en" target="_blank">her.</a></p>
    </li>
    <li>
      <p>
        <strong>Google Tag Manager:</strong>
        Styrer tags for tracking og analyse. Mer info
        <a href="https://marketingplatform.google.com/about/tag-manager" target="_blank">her.</a></p>
    </li>
    <li>
      <p>
        <strong>Facebook Pixel:</strong>
        Interaksjonsverktøy som Facebook bruker mot nettsteder for å bruke data til mer målrettet reklame. Mer informasjon
        <a href="https://www.facebook.com/help/1075880512458213/?helpref=hc_fnav" target="_blank">her.</a></p>
    </li>
    <li>
      <p>
        <strong>Hotjar:</strong>
        Er et interaksjonsverktøy som registrerer hvordan brukere bruker nettsiden. Mer informasjon
        <a href="https://www.hotjar.com/legal/compliance/opt-out/" target="_blank">her.</a></p>
    </li>
  </ul>

</div>
