<div class="co-main">
  <div class="intro imb">
    <h1 class="mobileh1" *ngIf="isMobile">
      Sammenlign boliglånet ditt mot markedets <br />
      <a [routerLink]="'/velgbank'">beste tilbud</a>
    </h1>

    <h1 class="mobileh1" *ngIf="!isMobile">
      Sammenlign boliglånet <br />
      ditt mot markedets
      <a [routerLink]="'/velgbank'">beste tilbud</a>
    </h1>

    <p
      i18n="surveillance-service|landing-page@@landing.surveillanceService"
      class="surveillance"
      *ngIf="!isMobile"
    >
      Vi overvåker samtlige norske bankers boliglånsrente, 365 dager i året.<br />
      Mange av kundene våre har spart ti-tusener i årlige rentekostnader.
      <br />Sjekk selv på 5 minutter.
    </p>

    <p
      i18n="surveillance-service|landing-page@@landing.surveillanceService"
      class="surveillance"
      *ngIf="isMobile"
    >
      Vi overvåker samtlige norske bankers boliglånsrente, 365 dager i året.
      Mange av kundene våre har spart ti-tusener i årlige rentekostnader. Sjekk
      selv på 5 minutter.
    </p>

    <div class="cta-container" *ngIf="!isMobile">
      <div class="buttons">
        <rente-button
          class="cta-button"
          color="primary-wide-landing-new"
          [routerLink]="'/velgbank'"
        >
          Jeg har boliglån
        </rente-button>

        <div class="gap"></div>

        <rente-button
          color="primary-wide-landing-hollow"
          [routerLink]="'/boliglanskalkulator'"
        >
          Jeg skal kjøpe min første bolig
        </rente-button>
      </div>
    </div>
  </div>

  <div class="cta-container" *ngIf="isMobile">
    <div class="buttons">
      <rente-button
        class="cta-button"
        color="primary-wide-landing-new"
        [routerLink]="'/velgbank'"
      >
        Jeg har boliglån
      </rente-button>

      <div class="gap"></div>

      <rente-button
        color="primary-wide-landing-hollow"
        [routerLink]="'/boliglanskalkulator'"
      >
        Jeg skal kjøpe min første bolig
      </rente-button>
    </div>
  </div>

  <div *ngIf="!isSweden && !isMobile" class="rente-example">
    <img
      src="./../../../../assets/img/example-desktop-info-blue.svg"
      class="rente-image"
    />
  </div>

  <!-- <img class="showcase" src="../../../assets/img/isometric-new-optimized.png" />

<div class="data-logos">
  <a
    class="finansportalen"
    target="_blank"
    href="https://www.finansportalen.no"
    rel="nofollow"
  >
    <img
      src="../../../assets/img/banks-logo/svg/finansportalen.svg"
      alt="Finansportalen logo"
    />
  </a>
  <a target="_blank" href="https://virdi.no/">
    <img src="../../../assets/img/banks-logo/svg/virdi.svg" alt="Virdi logo" />
  </a>
  <a class="boligmappa" target="_blank" href="https://www.boligmappa.no/">
    <img
      src="../../../../assets/img/partners/boligmappa-color.png"
      alt="boligmappa logo"
    />
  </a>

  <div class="defero-wrapper">
    <a class="defero" target="_blank" href="https://www.defero.no/">
      <img
        src="../../../../assets/img/partners/defero-light-mode.png"
        alt="boligmappa logo"
      />
    </a>
  </div>
</div> -->

  <!-- <rente-counter></rente-counter> -->
</div>
