@import "../../../../styles/theme/_colors.scss";


h1 {
  color: black;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
}

a {
  color: $primary;
  position: relative;
  font-weight: 400;
  text-decoration: none;
}

h4 {
  margin-top: 60px;
  max-width: 250px;
  margin: auto;
  font-size: 16px;
  text-align: center;

  .green {
    color: $primary;
  }
}

.intro {
  margin-bottom: 40px;
  @media(min-width: 600px) {
    margin-bottom: 60px;
  }
  h4 {
    max-width: 250px;
    margin: 25px auto 40px;
  }
}

@media(max-width: 600px) {
  .cta-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 135px;
  }
}

}
@media(min-width: 600px) {
  .cta-container {
      margin: auto;
      max-width: 740px;
      min-width: 600px;
    h2 {
      text-align: center;
      margin-bottom: 40px;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.showcase {
  @media (min-width: 600px) {
    width: 500px;
  }
  @media (max-width: 600px) {
    width: 90%;
  }
  display: block;
  margin: 80px auto;
}

.data-logos {


  @media (min-width: 600px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    .boligmappa {
      img {
        width: 130px;
      }
    }
    .defero {
      img {
        width: 70px;
      }
    }
  }

  @media (max-width: 600px) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;

    a {
      grid-row: 1;
      align-self: center;
      margin: auto;
    }
    .finansportalen {
      grid-row: 2;
      margin: auto;
      width: 150px;

      img {
        width: 110px;
      }
    }
    .boligmappa {
      img {
        width: 110px;
      }
    }
    .defero-wrapper {
      width: 100%;
      display: flex;
      .defero {
        a {
          margin: auto;
          grid-row: 2;
          img {
            width: 70px;
          }
        }
        
      }
    }
  }

  img {
    margin: 0 35px;
    width: 80px;
  }


}
