<div class="front-container">
  <div class="intro mb-3">
    <h1>
      Bankguiden
    </h1>
    <h4>
      Renteradar.no sin <span class="green">oversikt</span> over alle <span class="green">banker</span> som tilbyr
      boliglån i Norge
    </h4>
  </div>


  <div class="d-flex justify-content-center bank-search-wrapper">
    <div class="banks mb-3">
      <div class="banks-inner">
        <div class="bank-list">
          <input matInput type="text" placeholder="Velg bank" autocomplete="off"
            (click)="bankGuideService.shouldDisplayBankList = true" [(ngModel)]="bankGuideService.searchStr"
            (ngModelChange)="bankGuideService.onFilterChanged()" />
          <button *ngIf="bankGuideService.searchStr" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="bankGuideService.clear()">
            <img  class="exit"
                src="../../../assets/icons/exit-green.svg" />
          </button>
          <img *ngIf="!bankGuideService.searchStr" class="search"
                src="../../../assets/icons/search-green.svg" />
        </div>
        <mat-selection-list #banklist [class.d-none]="!bankGuideService.shouldDisplayBankList">
          <button *ngFor="let bank of bankGuideService.banks" mat-button class="bank-button"
            (click)="bankGuideService.selectBank(bank)">
            <div *ngIf="bank.icon; then hasIcon; else noIcon"></div>
            <ng-template #hasIcon><img class="bank-button-logo"
                src="../../../assets/img/banks-logo/round/{{ bank.icon }}" />
            </ng-template>
            <ng-template #noIcon><img class="bank-button-logo" src="../../../assets/img/banks-logo/round/annen.png" />
            </ng-template>
            {{ bank.label }}
          </button>
        </mat-selection-list>
      </div>
    </div>
  </div>

  <ul class="list">
    <li class="list-item">
      Hvor bra er banken på boliglån?
    </li>
    <li class="list-item">
      Hvor fornøyd er kundene?
    </li>
    <li class="list-item">
      Er det riktig bank for deg?
    </li>
    <li class="list-item">
      Oversikt over alle tilbud
    </li>
    <li class="list-item">
      Hvilke andre tjenester tilbys
    </li>
    <li class="list-item">
      Kontaktinformasjon og filialer
    </li>
  </ul>
</div>

