
<div class ="redirect-buttons">
    <a id="desktop-fb" href="https://www.facebook.com/dialog/send?app_id=326133992135942&link=https%3A%2F%2Frente-frontend-dev.herokuapp.com%2F%3Fgrsf%3Dmidspm&redirect_uri=https%3A%2F%2Frente-frontend-dev.herokuapp.com%2F">
        desktop fb
    </a>
    <a id="mobil-fb" href=" ">
        mobil fb
    </a>
</div>

<div class="dialog">
    <div class="desktop">
        <div class="wrapper-desktop">
            <div class="left">
                <div class="top">
                    <h2>Hjelp en venn!</h2>
                    <p>Fortell noen du kjenner om Renteradar.no og kanskje de spanderer en middag med alle pengene de
                        sparer.</p>
                </div>

                <div class="linksWrapper">
                    <a class="link margin-hack" href="https://www.facebook.com/dialog/send?app_id=326133992135942&link=https%3A%2F%2Frente-frontend-dev.herokuapp.com%2F%3Fgrsf%3Dmidspm&redirect_uri=https%3A%2F%2Frente-frontend-dev.herokuapp.com%2F">
                        <img src="../../../../../../assets/img/referral-messenger.png" />
                        <p  
                          >Messenger
                    </p>
                    </a>

                </div>
            </div>
            <img class="right" src="../../../../../../assets/img/referral-social-media.png" />
        </div>
    </div>


    <div class="mobile">

        <div class="wrapper-mobile">
            <img class="social" src="../../../../../../assets/img/referral-social-media.png" />

            <div class="top">
                <h2>Hjelp en venn!</h2>
                <p>Fortell noen du kjenner om Renteradar.no og kanskje de spanderer en middag med alle pengene de
                    sparer.</p>
            </div>

            <div class="linksWrapper">
                <a class="link" href="fb-messenger://share?link=https://renteradar.no/&amp;&amp;app_id=326133992135942
                ">
                    <img src="../../../../../../assets/img/referral-messenger.png" />
                    <p>Messenger</p>
                </a>
            </div>
        </div>
    </div>
</div>
