@import "../../../styles/theme/_colors.scss";

h2 {
  margin-bottom: 40px;
  text-align: center;
}

rente-button {
  margin-top: 20px;
}
rente-input,
rente-text-area {
  margin-bottom: 20px;
  display: block;
}
rente-form-message {
  position: relative;
  float: right;
  top: -60px;
}










//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: red!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: #000000!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: #636669 !important;
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #636669!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}



.mat-form-field-empty.mat-form-field-label {
  color: red;
}
