<div class="container contact-us my-5">
  <div class="row justify-content-center">
    <div class="col-6 text-center bg-wrap">
      <h2 class="title">Kontakt oss</h2>
      <p>Kontakt oss gjerne ved å fylle ut skjemaet nedenfor hvis du har spørsmål</p>

      <form [formGroup]="contactUsForm" (ngSubmit)="startLogin(contactUsForm.value)" novalidate>
        <div class="mb-4">
          <rente-input [placeholder]="'Navn'" formControlName="name"></rente-input>

          <rente-form-message class="text-left d-block" [type]="'info'">
          </rente-form-message>

          <div *ngIf="contactUsForm.controls['name'].touched" class="error-message">
            <rente-form-message class="text-left d-block" [type]="'error'" *ngIf="contactUsForm.controls['name'].hasError('required')">Kan ikke være tom Feil størrelse</rente-form-message>
          </div>
        </div>

        <div class="mb-4">
          <rente-input [placeholder]="'E-post:'" formControlName="email"></rente-input>
          <div class="error-message" *ngIf="error">
            <rente-form-message class="text-left d-block" [type]="'error'">
              Vi trenger e-posten din</rente-form-message>
          </div>
        </div>

        <div class="mb-4">
          <rente-input [placeholder]="'Telefonnr'" formControlName="phone"></rente-input>
          <rente-form-message class="text-left d-block pb-0" [type]="'info'">8 siffer</rente-form-message>
          <div class="error-message" *ngIf="error">
            <rente-form-message class="text-left d-block" [type]="'error'">
              This field is required</rente-form-message>
          </div>
        </div>

        <div class="mb-4">
          <rente-text-area [placeholder]="'Melding'" formControlName="message"></rente-text-area>
          <div class="error-message" *ngIf="error">
            <rente-form-message class="text-left d-block" [type]="'error'">
              Vi trenger e-posten din</rente-form-message>
          </div>
        </div>

        <div class="register-btn">
          <rente-button color="primary">Send</rente-button>
        </div>
      </form>
    </div>
  </div>
</div>
