<div class="container contact-us my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center bg-wrap">
      <h2 class="title">Kontakt oss</h2>
      <p>Kontakt oss gjerne ved å fylle ut skjemaet nedenfor hvis du har spørsmål</p>

      <form [formGroup]="contactUsForm" 
            (ngSubmit)="sendContactUsForm(contactUsForm.value)" novalidate>
        <div class="mb-4">
          <rente-input [placeholder]="'Navn'" 
                        formControlName="name" 
                        [errorStateMatcher]="isErrorState(contactUsForm.controls['name'], contactUsForm)">
          </rente-input>

          <rente-form-message class="text-left d-block" 
                              [type]="'info'">
          </rente-form-message>

          <div *ngIf="contactUsForm.controls['name'].touched" 
                class="error-message">
            <rente-form-message class="text-left d-block" 
                                [type]="'error'" 
                                *ngIf="contactUsForm.controls['name'].hasError('required')">
                                Vennligst fyll inn navn
            </rente-form-message>
          </div>
        </div>

        <div class="mb-4">
          <rente-input [placeholder]="'E-post:'"
                       formControlName="email" 
                       [errorStateMatcher]="isErrorState(contactUsForm.controls['email'], contactUsForm)">
          </rente-input>
          <div *ngIf="contactUsForm.controls['email'].touched" class="error-message">
              <rente-form-message class="text-left d-block" [type]="'error'"
                *ngIf="contactUsForm.controls['email'].hasError('required')">
                Ikke gyldig email
              </rente-form-message>
            </div>
        </div>

        <div class="mb-4">
          <rente-input [placeholder]="'Telefonnr'" 
                        formControlName="phone"
                        [type]="'tel'">
          </rente-input>
          <rente-form-message class="text-left d-block pb-0" 
                              [type]="'info'">
                                8 siffer
          </rente-form-message>
        </div>

        <div class="mb-4">
          <rente-text-area [placeholder]="'Melding'" 
                            formControlName="message" 
                            [errorStateMatcher]="isErrorState(contactUsForm.controls['message'], contactUsForm)">
          </rente-text-area>
          <div class="error-message" 
              *ngIf="contactUsForm.controls['message'].touched">
            <rente-form-message class="text-left d-block" 
                                [type]="'error'" 
                                *ngIf="contactUsForm.controls['message'].hasError('required')">
              Vi trenger e-posten din
            </rente-form-message>
          </div>
        </div>

        <div class="register-btn">
          <rente-button color="primary" [disabled]="!contactUsForm.valid">Send</rente-button>
        </div>
      </form>
    </div>
  </div>
</div>
