<h3>Start med å velge banken du har lån i:</h3>
      <div class="bank-buttons">
        <rente-button color="blue-bank" [routerLink]="'/autentisering/sparebank1-sub'">
          <img
            src="../../../assets/img/banks-logo/svg/sparebank1.svg"
            alt="Sparebank1 logo"
            class="sparebank1"
          />
        </rente-button>
        <rente-button color="blue-bank" [routerLink]="'/autentisering/bank/nordea'">
          <img
            src="../../../assets/img/banks-logo/svg/nordea.svg"
            alt="Nordea logo"
            style="height: 20px;"
          />
        </rente-button>
        <rente-button color="blue-bank" [routerLink]="'/autentisering/bank/dnb'">
          <img src="../../../assets/img/banks-logo/svg/dnb.svg" alt="DNB logo" />
        </rente-button>
        <rente-button color="blue-bank" [routerLink]="'/velgbank'">
          <p>Annen bank</p>
        </rente-button>
      </div>