<div class="d-flex flex-column">
  <div class="property-wrapper d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <div class="text-white property-icon">
        <mat-icon>{{icon}}</mat-icon>
      </div>
      <div class="text-white d-block property-label ml-3">
        {{label}}
      </div>
    </div>
    <div class="property-input">
      <form [formGroup]="formGroup" class="p-0 border-0">
        <mat-form-field class="text-white w-100" *ngIf="inputType === 'tel'">
          <input formControlName="{{controlName}}" placeholder="Fyll inn" matInput [type]="inputType"
                 currencyMask
                 [options]="{prefix:'', align: 'left', thousands: ' ', precision: 0}"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="text-white w-100" *ngIf="inputType === 'dropdown'">
          <mat-label>Fyll inn</mat-label>
          <mat-select formControlName="{{controlName}}">
            <mat-option *ngFor="let option of options" [value]="option.value">{{option.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-select-autocomplete *ngIf="inputType === 'autocomplete'"
                                 [placeholder]="'Fyll inn'"
                                 [options]="memberships"
                                 [display]="'label'"
                                 [value]="'name'"
                                 [multiple]='true'
                                 [labelCount]="2"
                                 [selectedOptions]="_selectedMemberships"
                                 (selectionChange)="getSelectedMemberships($event)">
        </mat-select-autocomplete>
      </form>
    </div>
  </div>
</div>
