
<h2 i18n>Vanlig stilte spørsmål om boliglån</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Hvor mye kan jeg spare på boliglånet?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p class="expansion-content" i18n>
        Hvor mye du kan spare på boliglånet avhenger av flere faktorer. 
        De viktigste er hvor mye renten reduseres, og hvor stort lån du har. 
        En gjennomsnittlig bruker hos Renteradar.no kan spare over 9 000 kroner 
        i året og 125 000 kroner over lånets løpetid i renteutgifter.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Er det enkelt å flytte boliglånet til en annen bank?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p class="expansion-content" i18n>
        Det korte svaret er ja. Banken du flytter til gjør mesteparten av jobben. 
        Søknadsprosessen i de fleste bankene er digital og enkel å fylle ut. 
        Mange banker krever at du logger inn med bank-ID. Man må underskrive 
        en del skjema når man flytter lånet, men i mange banker gjøres også 
        dette enkelt gjennom såkalt e-signering.
        <a href="https://blogg.renteradar.no/2020/02/bytte-bank-er-enklere-enn-det-mange-tror/" target="_blank" >
          Du kan lese mer om å flytte boliglånet her.
        </a>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Kan jeg flytte kun boliglån til ny bank? 
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
        Man kan normalt beholde eksisterende kontoer hos sin nåværende bank, 
        og kun flytte boliglån over til den nye banken. Enkelte banker krever 
        at man åpner en brukskonto i tillegg til lån.  Noen banker krever også at 
        du må ha flere produkter og tjenester for å få deres beste rente. 
        Det er en praksis som ikke bør aksepteres.  Hva de enkelte krever av 
        andre produkter blir man informert om gjennom vår tjeneste.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Hvorfor får kunder ulike boliglånsrenter hos bankene?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
        Det finnes gode grunner og mindre gode grunner til at bankene gir 
        kundene sine ulike boliglånsrenter. Mange betaler for mye rett og 
        slett fordi at de stoler på banken sin og ikke forhandler ned 
        renten jevnlig. De viktigste «gode» grunnene er:
      </p>
        <ul>
          <li i18n>
            <b>Belåningsgrad:</b> Lav belåningsgrad skal gi lavere rente. Banken har da mindre risiko for kreditt-tap.
          </li>
          <li i18n>
            <b>Alder:</b> De fleste bankene tilbyr ekstra gode betingelser til de som er 34 år eller yngre.
          </li>
          <li i18n><b>Lånestørrelse:</b> Bankene belønner ofte større lån med lavere rente. Det skyldes at 
            administrasjonskostnadene for ett lån er det samme uavhengig av størrelse. 
          </li>
          <li i18n><b>Medlemskap i en organisasjon:</b> Arbeidstakerorganisasjoner og andre organisasjoner har ofte 
            fremforhandlet gunstige betingelser på boliglån med en samarbeidsbank.
          </li>
        </ul>
      <a href="https://blogg.renteradar.no/billigste-boliglan-10-faktorer-som-pavirker-din-rente/" target="_blank" i18n>Her er de ti viktigste faktorene som påvirker boliglånsrenten din</a>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
              Hvor mye kan jeg låne til bolig?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Myndighetene begrenser bankenes utlån til bolig gjennom boliglånsforskriften. 
          Den sier at man kan maksimalt låne fem ganger årsinntekt og maks belåningsgrad er 85 %. 
      </p>
      <a href="https://blogg.renteradar.no/2020/02/hvor-mye-kan-jeg-lane-til-bolig/" target="_blank" i18n>Les mer om hvor mye man kan låne til bolig her.</a>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Hva er belåningsgrad?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          <a href="https://blogg.renteradar.no/belaningsgrad-er-viktig-for-boliglansrenten-din/">Belåningsgrad</a> er lånebeløp delt på boligens markedsverdi. 
          Eksempel: Boliglån: 3 mill. kroner og markedsverdi på bolig: 4 mill. 
          kroner gir belåningsgrad på 75 %.  Maks belåningsgrad for ordinære boliglån 
          er satt til 85 % i Boliglånsforskriften. 
      </p>
    </mat-expansion-panel>
  </mat-accordion>
<br/>
<h2 i18n>Vanlig stilte spørsmål om Renteradar.no</h2>
  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <p>
              <b i18n>
                Hvordan fungerer Renteradar.no?
              </b>
            </p>
          </mat-expansion-panel-header>
          <p i18n class="expansion-content">
              Renteradar.no henter automatisk renten du har på boliglånet ditt. 
              Renten din sammenlignes med renten du kan få i andre banker, og 
              du kan se hvor mye du kan spare. Du kan prute i banken du er kunde 
              med et klikk, og vi jobber meg å gjøre bytte av bank enkelt. 
              Vi følger også med på om det blir tilgjengelig bedre tilbud i 
              fremtiden. Du vil da få beskjed om dette.
              <a href="https://blogg.renteradar.no/2020/03/slik-fungerer-renteradar-no/" target="_blank"> Her kan du lese mer om hvordan renteradar.no fungerer</a>
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
              Hvorfor må jeg logge på med BankID på mobil?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Renteradar.no henter automatisk dine lånebetingelser fra din bank. 
          For at dette skal fungere trenger vi at du identifiserer deg med 
          BankID på mobil. Du finner mer detaljer om dette i vilkårene ved innlogging.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Kan jeg bruke BankID med passord/kodebrikke?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Vi har dessverre ingen løsning for BankID med passord/kodebrikke, heller ikke engangspassord app. 
          Grunnen til dette er at passordet ditt er personlig og bør ikke oppgis til tredjeparter som Renteradar.no
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Personvern: Er det trygt å bruke tjenesten deres?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Ja, informasjonen din er helt trygg og vi deler ikke 
          personlig informasjon med tredjeparter. Les mer i vår
          <a href="https://renteradar.no/personvern/personvernerklaering" target="_blank">personvernserklæring</a>
          og
          <a href="https://renteradar.no/personvern/brukervilkar" target="_blank">brukervilkår</a>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Jeg finner ikke banken jeg har boliglån i
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Vi har ikke bygget funksjonalitet for å hente lånedetaljer fra alle banker. 
          Det er hittil kun kunder av de fire største bankene (DNB, Nordea, Sparebank 1-bankene og alle Eika-bankene) 
          som kan bruke tjenesten. Vi kommer til å legge til flere banker fremover. 
      </p>
      <br/>
      <p i18n>Gå gjerne til: <a href="https://renteradar.no/faabeskjed" target="_blank">https://renteradar.no/faabeskjed</a></p>
      <br/>      
      <p i18n>Legg til din bank og e-post, så gir vi deg beskjed når din bank er lagt til.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Koster det noe å bruke Renteradar.no?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Nei, det er gratis å bruke Renteradar.no. Forretningsmodellen vår er 
          bygget opp slik at det er bankene som skal dekke kostnaden for denne tjenesten, ikke deg som forbruker.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Viser dere tilbud fra alle banker?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Ja, du ser tilbud fra alle banker. Enkelte lignende tjenester 
          viser kun tilbud fra banker de har avtale med; det gjør ikke Renteradar.no.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
              Jeg har ikke lån enda, kan jeg bruke Renteradar.no?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
        Foreløpig er tjenesten kun for brukere som allerede har boliglån.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Kan jeg slette profilen min når jeg ønsker?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Ja, selvfølgelig! Send en mail til <a href = "mailto: slettmeg@renteradar.no">slettmeg@renteradar.no</a> og 
          vi sletter alle dine data. Du får bekreftelse på dette på mail.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Hvem står bak Renteradar.no?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Renteradar.no eies og drives av Forbrukerøkonomene AS. 
         Se <a href="https://renteradar.no/om-oss" target="_blank">om oss</a> for mer informasjon.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>
          <b i18n>
            Har dere samarbeidsavtaler med noen banker?
          </b>
        </p>
      </mat-expansion-panel-header>
      <p i18n class="expansion-content">
          Ja, per i dag har vi samarbeidsavtaler med Sbanken, Bulder Bank og Landkreditt.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
