<h1>Ofte stilte spørsmål</h1>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvorfor må jeg logge på med BankID på mobil?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Renteradar.no henter automatisk dine lånebetingelser fra din bank. For at
      dette skal fungere trenger vi at du identifiserer deg med BankID på mobil.
      Du finner mer detaljer om dette i vilkårene ved innlogging.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Jeg har ikke BankID på mobil, men bruker BankID med passord
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Vi har dessverre ingen løsning for BankID med passord. Grunnen til dette
      er at passordet ditt er personlig og bør ikke oppgis til tredjeparter som
      Renteradar.no
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvor mye kan jeg spare?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Hvor mye du kan spare avhenger av flere faktorer. De viktigste er hvor mye
      renten reduseres og hvor stort lån du har. Som eksempel vil en
      boliglånskunde med 4 millioner i lån som reduserer renten med 0,3% spare
      12 000 allerede første året.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Koster det noe å bruke Renteradar.no?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Nei, det er gratis å bruke Renteradar.no. Forretningsmodellen vår er
      bygget opp slik at det er bankene som skal dekke kostnaden for denne
      tjenesten, ikke deg som forbruker.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Viser dere tilbud fra alle banker?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Ja, du ser tilbud fra alle banker. Enkelte lignende tjenester viser kun
      tilbud fra banker de har avtale med; det gjør ikke Renteradar.no.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvordan sorterer og filtrerer Renteradar.no lån?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Renteradar.no viser tilbud fra alle banker. Disse tilbudene sorteres og
      vises alltid etter laveste effektive rente. Renteradar.no viser foreløpig
      kun landsdekkende tilbud, det vil si tilbud som er tilgjengelig for
      låntakere uavhengig av hvor de bor. Renteradar.no sorter også ut lån for
      dem som kjøper sin første bolig, såkalte Førstehjemslån. Grunnen til dette
      er at våre brukere allerede har lån og bolig.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvem kan bruke Renteradar.no?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Alle som allerede har boliglån kan bruke Renteradar.no
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Jeg har ikke lån enda, kan jeg bruke Renteradar.no?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Foreløpig er tjenesten kun for brukere som allerede har boliglån.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Kan jeg slette profilen min når jeg ønsker?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Ja, selvfølgelig! Send en email til slettmeg@forbrukerøkonomene.no og vi
      sletter alle dine data. Du får bekreftelse på dette på email.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Trenger jeg å laste opp noe dokumentasjon?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Nei, vi har laget en løsning med BankID på mobil hvor du gir oss fullmakt
      til å hente dine lånedata automatisk. Vi støtter ikke BankID med kode og
      passord enda.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvordan virker Renteradar.no?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Renteradar.no henter automatisk renten du har på boliglånet ditt. Denne
      sammenlignes med renten du kan få i andre banker, og du kan se hvor mye du
      kan spare. Du kan prute i banken du er kunde med et klikk, og snart vil du
      også kunne bytte bank med et klikk.
    </p>
    <p class="expansion-content">
      Vi følger også med på om det blir tilgjengelig bedre tilbud i fremtiden.
      Du vil da få beskjed om dette.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvorfor opprette profil hos Renteradar.no?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Renteradar.no sammenligner renten du har med renten du kan få og viser deg
      hvor mye du kan spare. Du kan prute i banken du er kunde med et klikk, og
      snart vil du også kunne bytte bank med et klikk.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Personvern: Er informasjonen min trygg?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Ja, informasjonen din er helt trygg og vi deler den ikke med tredjeparter.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        <b>
          Hvem står bak Renteradar.no?
        </b>
      </p>
    </mat-expansion-panel-header>
    <p class="expansion-content">
      Renteradar.no eies og drives av Forbrukerøkonomene AS. Se "Om oss" for mer
      informasjon.
    </p>
  </mat-expansion-panel>
</mat-accordion>
