<section class="container">

    <div class="row justify-content-center mt-3">
        <h2>Ofte stilte spørsmål</h2>
    </div>

    <div id="accordion" class="mt-3 mb-5">
            <div class="card">
                <div class="card-header collapsed" id="heading1" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <button class="btn btn-link text-left">
                        Hvorfor opprette profil hos Renteradar.no?
                    </button>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion" style="">
                    <div class="card-body">
                        Formålet med Renteradar.no er at du som boliglånskunde ikke skal betale mer enn nødvendig for boliglånet ditt, og at du skal oppleve trygghet ved å vite at du til enhver tid har beste rente. Tjenesten er gratis og helt uforpliktende for deg som kunde.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <button class="btn btn-link text-left">
                        Hvor mye kan jeg spare
                    </button>
                </div>
                <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion" style="">
                    <div class="card-body">
                        Hvor mye du kan spare avhenger av flere faktorer. De viktigste er hvor mye renten reduseres og hvor stort lån du har. Som eksempel vil en boliglånskunde med 4 millioner i lån som reduserer renten med 0,3% spare 12 000 allerede første året.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <button class="btn btn-link text-left">
                        Koster det noe å være medlem hos Renteradar.no?
                    </button>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion" style="">
                    <div class="card-body">
                        Nei, per i dag koster det ingenting å være medlem hos Renteradar.no. Forretningsmodellen vår er bygget opp slik at det er bankene som skal dekke kostnaden for denne tjenesten, ikke deg som forbruker
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <button class="btn btn-link text-left">
                        Hvordan virker Renteradar.no?
                    </button>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                    <div class="card-body">
                        Oppretter du profil hos Renteradar.no overvåker vi renten du betaler i din bank. Samtidig overvåker vi også hvilken rente du kan få i andre banker. Vi holder deg oppdatert hvordan renten din er i forhold til hva du kan få i andre banker. Hvis renten du har i din bank er høyere enn den bør være, vil vi hjelpe deg med å hente inn tilbud fra andre banker hvor du kan få lavere rente. Du står fritt til å velge om du vil akseptere tilbudet eller om du vil bruke den for å prute i banken du har lånet hos i dag.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <button class="btn btn-link text-left">
                        Trenger jeg å laste opp noe dokumentasjon?
                    </button>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                    <div class="card-body">
                        Nei, vi har laget en løsning med BankID på mobil hvor du gir oss fullmakt til å hente dine lånedata automatisk. Hvis du heller vil laste opp manuelt står du fritt til det.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header collapsed" id="heading6" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <button class="btn btn-link text-left">
                        Hvem kan opprette profil hos Renteradar.no?
                    </button>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion" style="">
                    <div class="card-body">
                        Alle med boliglån i en norsk bank og som har BankID kan registrere seg.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <button class="btn btn-link text-left">
                        Kan jeg slette profilen min når jeg ønsker?
                    </button>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                    <div class="card-body">
                        Ja, selvfølgelig! Å være medlem er helt frivilig og uforpliktende. Inne på din profil kan du velge å melde deg ut, vi sletter da din profil og alle dine data.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading8" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    <button class="btn btn-link text-left">
                        Personvern: Er informasjonen min trygg?
                    </button>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                    <div class="card-body">
                        Ja, informasjonen din er helt trygg og vi deler den ikke med tredjeparter.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <button class="btn btn-link text-left">
                        Hvem står bak Renteradar.no?
                    </button>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                    <div class="card-body">
                        Renteradar.no eies og drives av Forbrukerøkonomene AS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading11" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    <button class="btn btn-link text-left">
                        Hvilke banker er med på tjenesten?
                    </button>
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
                    <div class="card-body">
                        Vår målsetning er at alle banker skal være med på vår tjeneste.
                    </div>
                </div>
            </div>
    </div>

</section>