@import "../../../styles/theme/_colors.scss";

mat-expansion-panel-header {
  background: $lightgreen;
  border: none;
}
mat-panel-title {
  font-weight: bold;
}
.mat-expansion-panel {
  box-shadow: none;
  border-radius: 0 !important;
  border-bottom: 1px solid $primary;
}
.mat-expansion-panel-header {
  padding: 20px;
}

.mat-expansion-panel-spacing {
  margin: 0;
}
.mat-expanded mat-expansion-panel-header {
  background: transparent;
}
