@import '../../../../../styles/theme/_colors.scss';

::ng-deep .mat-form-field-infix {
  // background: white;
}

.housecontainer {
  background: white;
  border-radius: 15px;
  margin: 10px;
  position: relative;
}
.mat-form-field {
  text-align: center;
}

.non-double {
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}

.hidden {
  background: red;
}
.estimated {
  min-height: 74px;
}
.mat-form-field-disabled * {
  color: rgba(0, 0, 0, 0.38) !important;
}
.estimated .small {
  text-align: center;
  top: -10px;
  position: relative;
}

.saveForEstimate {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.heading {
  border-radius: 15px 15px 0 0;
  background-color: $karl-blue;
  display: block;
  padding: 20px 20px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  b {
    display: inline-block;
    margin-left: 10px;
  }
  mat-icon {
    color: $blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}
.center-button {
  margin-top: 40px;
  text-align: center;
}

rente-button {
  text-align: center;
  display: inline-block;

  .save-changes-local button {
    margin: auto;
    display: block;
    text-align: center;
    width: calc(100% - 40px);
    @media (min-width: 600px) {
      top: unset;
      bottom: 40px;
      max-width: 400px;
    }
  }
}

.body {
  ::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    background: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
  }

  ::ng-deep
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    color: white;
  }

  ::ng-deep .mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: white;
  }

  ::ng-deep .ng-tns-c71-3 {
    color: white;
  }

  ::ng-deep .radio .mat-tab-label {
    background: $grey;
    border-radius: 10px;
    height: 75px;
  }

  ::ng-deep .radio .mat-tab-label-active {
    background: $primary;
  }

  padding: 20px;
  margin-bottom: 40px;
  background: $blue;
  > div {
    margin-bottom: 20px;
  }
  .address {
    // display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;

    button {
      color: white;
      background-color: $blue;
      border-radius: 100px;
      height: 36px;
      width: 36px;
      position: absolute;
      right: 0px;
      transform: translateY(-50%);
      top: 50%;
      text-align: center;
      .mat-icon {
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
      }
    }
  }
}

@media (min-width: 600px) {
  .housecontainer {
    border: 1px solid $lesslight;
    min-height: 627px;

    .heading {
      border-top: none;
      border-bottom: 1px solid $green;
    }
    .body {
      border-bottom: 0;
    }
  }
}
