<div class="housecontainer scroll-anchor" id="{{ index + 1 }}">
  <div class="heading">
    <img src="../../../assets/icons/house-icon-white.svg" alt="Bolig" />
    <b>Bolig {{ index + 1 }}</b>
    <mat-icon
      *ngIf="isAbleToDelete"
      (click)="onDeleteAddressClick()"
      class="clickable"
      >delete_forever</mat-icon
    >
    <button
      [disabled]="!isAddressValid"
      (click)="toggleMode()"
      class="clickable"
    >
      <p *ngIf="isEditMode">Se statistikk</p>
      <mat-icon *ngIf="isStatMode">keyboard_backspace</mat-icon>
    </button>
  </div>
  <div class="body">
    <p *ngIf="!isStatMode" class="top-text bold" [@fade]>
      Renteradar trenger din boligverdi for å finne riktige tilbud
    </p>
    <div *ngIf="!isStatMode" class="estimat" [@fade]>
      <p class="slide-toggle-text bold">Automatisk estimat:</p>

      <mat-slide-toggle
        class="button"
        (change)="
          address.useManualPropertyValue = !address.useManualPropertyValue
        "
        value="!address.useManualPropertyValue"
        [checked]="!address.useManualPropertyValue"
      ></mat-slide-toggle>
    </div>
    <div *ngIf="!isStatMode" class="address" [@fade]>
      <p class="input-text">Adresse</p>
      <rente-input
        type="text"
        [(ngModel)]="address.street"
        (change)="countChange()"
      ></rente-input>
    </div>
    <div *ngIf="isStatMode">
      <rente-virdi-statistics [address]="address"> </rente-virdi-statistics>
    </div>
    <div class="double-double">
      <div *ngIf="isEditMode" [@fade]>
        <p class="input-text">Postnummer</p>

        <rente-input
          [type]="'tel'"
          [(ngModel)]="address.zip"
          [maxLength]="4"
          (change)="countChange()"
        ></rente-input>
      </div>
      <div *ngIf="isEditMode" [@fade]>
        <p class="input-text">Størrelse på bolig</p>

        <rente-input
          matInput
          [type]="'tel'"
          [(ngModel)]="address.apartmentSize"
          [maxLength]="3"
          (change)="countChange()"
        ></rente-input>
      </div>
    </div>
    <div class="single" *ngIf="isEditMode">
      <p class="input-text">Fellesgjeld</p>
      <rente-input
        [type]="'tel'"
        (change)="countChange()"
        [maxLength]="11"
        [ngModel]="address?.commonDebt | thousands"
        (ngModelChange)="address.commonDebt = formatThousand($event)"
      ></rente-input>
      <p class="matsuffix-debt">kr</p>
    </div>

    <div *ngIf="!isStatMode" class="non-double estimated" [@fade]>
      <p class="house-value bold">Boligverdi</p>
      <div *ngIf="!address.useManualPropertyValue" [@fade]>
        <p class="green-minus" *ngIf="!isAddressValid">-</p>
        <p
          class="green-text"
          *ngIf="isAddressValid && address.estimatedPropertyValue"
        >
          {{ address.estimatedPropertyValue | thousands }} kr
        </p>
        <p
          *ngIf="
            !address.useManualPropertyValue &&
            isAddressValid &&
            address.estimatedPropertyValue
          "
          class="small white place-under bold"
        >
          Estimert av Virdi
        </p>
      </div>
      <div *ngIf="address.useManualPropertyValue" [@fade]>
        <rente-input
          matInput
          [type]="'tel'"
          [maxLength]="11"
          [ngModel]="address?.manualPropertyValue | thousands"
          (change)="countChange()"
          (keyup)="manualPropertyValueChanged($event)"
        ></rente-input>
        <p class="matsuffix-housevalue">kr</p>
      </div>
    </div>

    <div class="center-button" *ngIf="isEditMode">
      <rente-button
        color="primary-horizontal-padding"
        [disabled]="!ableTosave"
        (click)="save()"
        class="save-changes-local"
        >Lagre endringer
      </rente-button>

      <p
        *ngIf="!address.useManualPropertyValue && ableTosave"
        class="small white saveForEstimate bold"
        [@fade]
      >
        Lagre endringene for å hente estimat
      </p>
    </div>
  </div>
</div>
