<div
  [ngClass]="{ buttons: !isAntichurnOn, 'buttons-nordea': isAntichurnOn }"
  *ngIf="isMobile"
>
  <rente-button
    [color]="'primary-hollow-offer-mobile'"
    (click)="offerCardService.openBankUrlByButton(offer)"
    >Se mer på Bulders hjemmeside</rente-button
  >
  <rente-button
    class="bulder"
    color="primary-offer-mobile"
    (click)="offerCardService.openNewOfferDialog(offer)"
  >
    {{ offerCardService.getOfferButtonText(offer) }}
  </rente-button>

  <nordea-buttons
    [offer]="offer"
    [offersInfo]="offersInfo"
    *ngIf="isAntichurnOn"
  ></nordea-buttons>
</div>

<div
  [ngClass]="{ buttons: !isAntichurnOn, 'buttons-nordea': isAntichurnOn }"
  *ngIf="!isMobile"
>
  <rente-button
    [color]="'primary-hollow-offer-desktop'"
    (click)="offerCardService.openBankUrlByButton(offer)"
    >Se mer på Bulders hjemmeside</rente-button
  >
  <rente-button
    class="bulder"
    color="primary-offer-desktop"
    (click)="offerCardService.openNewOfferDialog(offer)"
  >
    {{ offerCardService.getOfferButtonText(offer) }}
  </rente-button>

  <nordea-buttons
    [offer]="offer"
    [offersInfo]="offersInfo"
    *ngIf="isAntichurnOn"
  ></nordea-buttons>
</div>
