@import '../../../../../../../styles/theme/_colors.scss';

.buttons {
  background: white;
  display: flex;

  @media (min-width: 770px) {
    ::ng-deep button.mat-primary-hollow-offer-desktop {
      max-width: 5vh !important;
    }
    ::ng-deep button.mat-primary-offer-desktop {
      max-width: 5vh !important;
    }
  }
}
