@import '../../../../../../../styles/theme/_colors.scss';

.buttons {
  background: white;
  display: flex;

  @media (min-width: 770px) {
    ::ng-deep button.mat-primary-hollow-offer-desktop {
      background-color: yellow !important;
    }
    ::ng-deep button.mat-primary-offer-desktop {
      background-color: red !important;
    }
  }
}
