<div class="front-container">
  <h2 i18n=“first-title|privacy-policy@@privacy.policy.first.title” class="mb-3"><strong>Personvernerklæring</strong></h2>
  <p i18n=“first-paragraph|privacy-title@@privacy.policy.first.paragraph”>
    Renteradar.no er en tjeneste levert av Forbrukerøkonomene AS (org. nr: 921 534 191). 
    Her vil dufinne en orientering om hvordan vi forholder oss til personopplysninger 
    om brukerne i vår tjeneste.
  </p>
  <p i18n=“second-paragraph|privacy-policy@@privacy.policy.second.paragraph”>
    Forbrukerøkonomene AS er et norsk selskap underlagt norsk lov. Vi behandler 
    personopplysninger i samsvar med den til enhver tid gjeldende personvernlovgivning, 
    herunder personopplysningsloven og personvernforordningen (GDPR). 
  </p>

  <p>
    Om du har spørsmål om vår personvernpolicy eller håndtering av dine 
    opplysninger må du gjernekontakte oss på personvern@forbrukerøkonomene.no. 
    Vi oppfordrer deg til å lese denne erklæringen nøye før du benytter deg av 
    tjenesten. Denne personvernerklæringen gjelder for all behandling av 
    personopplysninger som skjer når du besøker Renteradar.no hjemmesider og 
    benytter deg av Renteradar.no’s tjenester.
  </p>
  <div i18n=“second-title|privacy-policy@@privacy.policy.second.title” class="font-weight-bold mt-4 mb-2">
    Hva er personopplysninger?
  </div>
  <p i18n=“first2-paragraph|privacy-policy@@privacy.policy.first2.paragraph”>
    En personopplysning er informasjon som direkte eller indirekte kan knyttes 
    til en fysisk person. Eksempel på personopplysninger er navn, adresse, 
    telefonnummer og e-postadresse, men også IP-nummer og hvordan du bruker 
    tjenesten betegnes som personopplysninger. Behandling av personopplysninger 
    inkluderer all håndtering av personopplysninger, feks innsamling, analysering,
     registrering og lagring.Opplysningene vil kunne bli supplert med tilgjengelig 
     informasjon fra tredjepartsaktører, e.g. informasjon om boligverdi eller 
     kredittopplysningsselskap.
  </p>
  <p i18n=“second2-paragraph|privacy-policy@@privacy.policy.second2.paragraph”>
    Behandling av personopplysninger er enhver bruk av personopplysninger, 
    som for eksempel innsamling, registrering, sammenstilling, lagring og 
    utlevering eller en kombinasjon av slike bruksmåter. All behandling av 
    personopplysninger er underlagt personopplysningsloven, og Datatilsynet 
    fører tilsyn med loven og medvirker til at personvernet til hver enkelt 
    ikke blir krenket gjennom bruken av personopplysninger.
  </p>

  <p>
    Behandlingsansvarlig er den som bestemmer formålet og midler for behandlingen 
    av personopplysningene og som er ansvarlig for at behandlingen skjer i samsvar 
    med gjeldende personvernlovgivning. Det er Forbrukerøkonomene som er behandlingsansvarlig 
    for behandling av personopplysningene som angis nedenfor.
  </p>


  <div>Formål og grunnlag for behandling av personopplysninger</div>
  <p>
    For å kunne gjennomføre våre tjenester samler vi inn data fra deg som kan suppleres med informasjon fra bankene. 
  </p>

  <p>
    Vi behandler hovedsakelig personopplysninger om deg for å drifte tjenesten. Vi behandler også ovennevnte informasjon til følgende formål:
  </p>

  <ul>
    <li>For å sikkerhetsstille kjennskap til tjenesten</li>
    <li>For å personalisere og forbedre din opplevelse av tjenesten</li>
    <li>For å sende deg varslinger og meldinger via elektronisk kommunikasjon (som SMS eller e-post)</li>
    <li>For å informere deg om våre oppdateringer av tjenesten og brukervilkårene</li>
    <li>For å forbedre og utvikle tjenesten og nye tjenester og produkter, samt å analyser din bruk avtjenesten</li>
    <li>For å sikkerstille den tekniske funksjonaliteten i tjenesten</li>
    <li>For å forhindre bruk av tjenesten i strid med brukervilkårene for tjenesten og for å forebygge og utrede misbruk av tjenesten</li>
    <li>Og for å oppfylle forpliktelser i henhold til gjeldende lover og regler.</li>
  </ul>

  <p>
    Renteradar.no bearbeider personopplysninger for å tilby statistikk til bruk i media, 
    samt offentlige og private virksomheter på aggregert nivå. Statistikken vi deler med 
    disse er aldri personopplysninger og du vil aldri være identifiserbare overfor dem.
  </p>

  <p>Opplysningene samles og behandles inn på følgende måter og på følgende grunnlag:</p>
  
  <ol> 
    <li>
      <p>Opplysninger du selv gir til oss</p>

      <p>
        Når du registrerer en brukerkonto hos vil du oppgi en del opplysninger som 
        vi lagrer og behandles. Opplysningene lagres i vår database for å yte eller 
        sikre leveranse av våre tjenester. Behandlingen av personopplysninger gjøres da 
        for å oppfylle en avtale med deg; å levere tjenestene til deg (GDPR artikkel 6 (1) b).
      </p>

      <p>
        Likeledes vil vi lagre opplysninger når du kontakter oss ved å sende oss 
        en e-post eksempelvis til kundeservice eller gir tilbakemeldinger gjennom 
        funksjoner i tjenesten, herunder e-postadresse, telefonnummer og innholdet i 
        e-postforespørsler slik at vi kan svare på dine spørsmål. Denne behandlingen av 
        personopplysninger er basert på GDPR artikkel 6 (1) f, og vi vurderer at vi har 
        en berettiget interesse for å ha kontakt med våre kunder og andre, og at og at 
        behandling av denne type opplysninger er ikke så inngripende at personvernet 
        til personene det gjelder må overstyre denne behandlingen.
      </p>
    </li>

    <li>
      <div>
        <b>Opplysninger som samles inn gjennom bruk av tjenestene</b>
        <p>
          Når du bruker våre tjenester registrerer vi informasjon om 
          hvilke tjenester du bruker og hvordan du bruker dem. Dette gjør 
          det mulig å forbedre tjenestene våre og avdekke tekniske feil. Som eksempel, 
          kan vi samle informasjon om hvor mye en gjennomsnittlig kunde sparer ved å 
          bytte boliglånet sitt.
        </p>
      </div>

      <div>
        <b>Teknisk informasjon om din enhet og internett-tilkobling</b>
        <p>
          Gjennom tjenerlogger og andre verktøy registrerer vi informasjon om 
          enheten og tilkoblingen til våre tjenester, herunder operativsystem, 
          nettleserversjon, ip-adresser, informasjonskapsler og unike identifikasjonsfiler. 
          Denne informasjon brukes ofte i anonymog aggregert statistikk, men vi kan også 
          koble den mot din brukerkonto. Informasjonen gjør blant annet at vi kan tilpasse 
          visningen av våre tjenester til den enheten du bruker, i tillegg til at vi kan 
          analysere ulike måter som brukerne benytter tjenestene våre på.
        </p>
      </div>

      <div>
        <b>Informasjon om bruk av tjenestene</b>
        <p>
          Når du bruker tjenestene våre, registreres denne aktiviteten automatisk 
          i våre datalogger. Vi bruker denne informasjonen til å forbedre tjenestene 
          våre og for å gi deg innhold som er tilpasset deg som bruker.
        </p>
      </div>

      <div>
        <b>Informasjon om posisjon</b>
        <p>
          Det kan hende at vi registrerer din geografiske posisjon ut i fra ip-adressen 
          eller andre former for geolokalisering, eksempelvis når du bruker mobiltjenestene 
          våre. Informasjonen kan blant annet brukes til å utarbeide statistikk eller tilby 
          lokalt innhold. Informasjonskapsler og annet innhold som lagres lokalt
        </p>

        <p>
          All behandlingen av personopplysninger ovenfor behandles på grunnlag at vi har 
          en interesse av å forberede, utvikle og sikre våre tjenester (GDPR artikkel 6 (1) f).
        </p>

        <p>
          Når du besøker våre tjenester bruker vi ulike teknologier for å gjenkjenne deg 
          som bruker.Vi bruker informasjonskapsler (cookies) for å analysere og teste hvordan 
          brukerne reagerer på endringer av nettsidene eller tjenestene. Informasjonskapsler 
          kan også gi informasjon om feilsaker, og gir oss mulighet til å måle effekten av 
          våre markedsføringskampanjer. Se nedenfor om bruk av informasjonskapsler.
        </p>
      </div>
    </li>

    <li>
      <div>
        <b>Informasjon fra bankene</b>
        <p>
          For å drifte tjenesten innhentes informasjon fra bankene om deg og ditt/dine lån. 
          Denne informasjonen inkluderer navn, adresse, email, fødselsdato/nummer, 
          medlåntaker/kausjonist, lånt beløp, gjenværende lånebeløpbeløp, type lån, 
          rente, renteutgifter og løpetid for dine/ditt lån. Denne informasjonen vil kun 
          deles med våre samarbeidspartnere med ditt spesifikke samtykke. Hvis du ønsker at 
          vi formidler kontakt med banker som kan tilby deg bedre rente kan deler av denne 
          informasjonen bli delt med disse bankene, men vi vil da spørre deg spesifikt om 
          tillatelse til dette. Behandlingen av personopplysninger gjøres da for å oppfylle 
          en avtale med deg for å gi deg sammenligning av vilkårene for ditt lån med andre 
          långivere; å levere tjenestene til deg (etter GDPR artikkel 6 (1) b).
        </p>
      </div>
    </li>

    <li>
      <div>
        <b>Informasjon fra andre kilder</b>
        <p>
          Vi kan fra tid til annen også ta imot og behandle personopplysninger 
          fra andre kilder, somf eks: tilbydere av målingsverktøy eller andre parter 
          som hjelper oss med å forstå brukeraktiviteten eller for å forbedre personalisere 
          tjenesten.
        </p>
      </div>
    </li>
  </ol>

  <div class="font-weight-bold mt-2 mb-2">
    Behandling av personopplysninger om eksisterende og potensielle kunder, leverandører og samarbeidspartnere mv.
  </div>

  <p>
    Vi behandler personopplysninger om kontaktpersoner hos eksisterende og potensielle kunder 
    (i forretningsforhold), leverandører og andre samarbeidspartnere for å 
    administrere vårt forhold til leverandører og andre, forberede, gjennomføre 
    og dokumentere tjenester samt evaluere bruk av tjenester. Vi vil i disse tilfelle 
    behandle navn, kontaktinformasjon, foretaksnavn og opplysninger tilknyttet kontakten 
    med selskapet som vedkommende arbeider i.
  </p>

  <p>
    Behandlingen av personopplysninger er basert på GDPR artikkel 6 (1) f, og vi 
    vurderer at vi har en berettiget interesse for å administrere forholdet til 
    våre kunder, samarbeidspartnere og leverandører, og at og at behandling av denne 
    type opplysninger er ikke så inngripende at personvernet til personene det gjelder 
    må overstyre denne behandlingen.
  </p>

  <p>
    Vi lagrer og utleverer opplysninger også der vi har en rettslig forpliktelse til det, 
    for eksempel etterregnskaps- og skattelovgivningen. Vi kan lagre opplysninger så 
    lenge vi mener det kan bli bruk for dem, for eksempel for å dokumentere forhold 
    rundt tjenester.
  </p>

  <p>
    I mange tilfeller vil det være nødvendig at vi får personopplysninger for å 
    inngå avtaler med kunder og leverandører, blant annet for å dokumentere at 
    avtale er inngått. Får vi ikke de opplysningene vi trenger, vil vi ikke kunne 
    inngå avtaler.
  </p>

  <p>
    Det er frivillig for kontaktpersonene om de ønsker å gi oss personopplysninger. 
    Henter vi inn personopplysninger fra andre, vil det i hovedsak gjelde kontaktopplysninger 
    (herunder navn, adresse, telefonnummer og e-postadresse), stilling, funksjon og 
    arbeidsgiver samt eventuelt kompetanse og referanser der det er relevant. Kilde for 
    slike opplysninger vil være kontaktpersonens arbeidsgiver, for eksempel fra 
    arbeidsgivers nettside. I noen tilfeller henter vi inn referanser fra andre for 
    å vurdere egnethet av leverandører og samarbeidspartnere.
  </p>

  <p>
    Vi lagrer opplysningene inntil forholdet til kunde, leverandør eller samarbeidspart 
    opphører eller tilkontaktpersonen opphører å være kontaktperson, med de unntakene som 
    er nevnt ovenfor.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Behandling av personopplysninger i forbindelse med rekruttering</div>

  <p>
    Ved rekruttering til nye stillinger oss hos vil bl.a. CV, søknad, attester og referanser 
    behandles. Behandling av personopplysninger skjer på grunnlag av samtykke som du har 
    gitt dersom behandling skjer gjennom f.eks. rekrutteringsløsning, eller på grunnlag av 
    vår berettigede interesse for å rekruttere nye ansatte basert på GDPR artikkel 6 (1) f. 
    For sistnevnte har vi vurdert at det er innenfor vår berettigede interesse i å rekruttere 
    nye ansatte, og at de registrertespersonvern ikke går foran disse interessene.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Oppbevaring og lagring (sletting) av personopplysninger </div>


  <p>
    Vi oppbevarer personopplysninger så lenge det er nødvendig for det formål 
    personopplysningene ble samlet inn for, og sletter opplysningene i tråd med krav i 
    regelverket.
  </p>

  <p>
    Dette betyr for eksempel at personopplysninger som vi behandler på grunnlag 
    av ditt samtykke slettes hvis du trekker ditt samtykke. 
    Personopplysninger vi behandler for å oppfylle en avtale med deg slettes når 
    avtalen er oppfylt og alle plikter som følger av avtaleforholdet er oppfylt, 
    som f.eks. lovmessige plikter knyttet til regnskapsføring, oppfølging av 
    kundeforholdet knyttet til reklamasjon mv.
  </p>
  
  <p>
    Har du registrert konto hos oss, så vil kontoen og dine personopplysninger slettes 
    om du ikke har brukt tjenestene på to år. Om du ønsker å bruke tjenesten igjen etter 
    din konto er slettet, må du etablere ny konto. Slettes din konto vil alle opplysninger 
    i denne slettes eller anonymiseres slik at opplysningene ikke kan knyttes til deg. 
    Tekniske logger mv. behandles for å sikre og utvikle tjenesten.
  </p>

  <p>
    Du kan også slette dine opplysninger når du måtte ønske ved å sende en epost til <a href = "mailto: hei@renteradar.no">slettmeg@renteradar.no</a> .
  </p>
  
  <p>
    I stedet for å slette personopplysningene, kan det i enkelte tilfeller være aktuelt å 
    anonymisere personopplysningene. Med anonymisering menes at alle identifiserende 
    eller potensielt identifiserende kjennetegn fjernes fra datasett som tas vare på.
  </p>

  <div i18n=“third-title|privacy-policy@@privacy.policy.third.title” class="font-weight-bold mt-2 mb-2">Hva slags opplysninger samler vi inn?</div>







  <div i18n=“third-title|privacy-policy@@privacy.policy.third.title” class="font-weight-bold mt-2 mb-2">Hva slags opplysninger samler vi inn?</div>
  <p i18n=“first3-paragraph|privacy-policy@@privacy.policy.first3.paragraph”>
    For å kunne gjennomføre våre tjenester samler vi inn data fra deg som kan
    suppleres med informasjon fra bankene. Videre vil også bankene trenge data
    om deg for å kunne gi et lånetilbud. Bankene som eventuelt mottar
    informasjon om deg er personvernansvarlige for sin egen behandling av
    personopplysninger. Du kan lese mer om bankenes grunnkrav samt
    personvernerklæring på deres hjemmesider.
  </p>
  <p i18n=“collecting-info|privacy-policy@@privacy.policy.collectingInfo”>
    Opplysningene samles inn på følgende måter:
  </p>
  <ol type="a">
    <li>
      <div i18n=“collecting-info1|privacy-policy@@privacy.policy.collectingInfo1” class="font-weight-bold">Opplysninger du selv gir til oss</div>
      <p i18n=“collecting-info2|privacy-policy@@privacy.policy.collectingInfo2”>
        Når du registrerer en brukerkonto hos vil du oppgi en del data som
        lagres av oss. Disse opplysningene lagres i vår database for å yte eller
        sikre leveranse av vår tjeneste. Likeledes vil vi lagre opplysninger når
        du kontakter oss ved å sende oss en e-post eksempelvis til kundeservice
        eller gir tilbakemeldinger gjennom funksjoner i tjenesten, herunder
        e-postadresse, telefonnummer og innholdet i e-postforespørsler slik at
        vi kan svare på dine spørsmål.
      </p>
    </li>
    <li>
      <div i18n=“collecting3-info|privacy-policy@@privacy.policy.collectingInfo3” class="font-weight-bold">
        Opplysninger som samles inn gjennom bruk av tjenestene
      </div>
      <p i18n=“collecting4-info|privacy-policy@@privacy.policy.collectingInfo4”>
        Når du bruker våre tjenester registrerer vi informasjon om hvilke
        tjenester du bruker og hvordan du bruker dem. Dette gjør det mulig å
        forbedre tjenestene våre og avdekke tekniske feil. Som eksempel, kan vi
        samle informasjon om hvor mye en gjennomsnittlig kunde sparer ved å
        bytte boliglånet sitt
      </p>

      <div i18n=“collecting5-info|privacy-policy@@privacy.policy.collectingInfo5” class="font-weight-bold">
        Teknisk informasjon om din enhet og internett-tilkobling
      </div>
      <p i18n=“collecting6-info|privacy-policy@@privacy.policy.collectingInfo6”>
        Gjennom tjenerlogger og andre verktøy registrerer vi informasjon om
        enheten og tilkoblingen til våre tjenester, herunder operativsystem,
        nettleserversjon, ip-adresser, informasjonskapsler og unike
        identifikasjonsfiler. Denne informasjon brukes ofte i anonym og
        aggregert statistikk, men vi kan også koble den mot din brukerkonto.
        Informasjonen gjør blant annet at vi kan tilpasse visningen av våre
        tjenester til den enheten du bruker, i tillegg til at vi kan analysere
        ulike måter som brukerne benytter tjenestene våre på.
      </p>

      <div i18n=“use-info|privacy-policy@@privacy.policy.useInfo” class="font-weight-bold">Informasjon om bruk av tjenestene</div>
      <p i18n=“use-info-description|privacy-policy@@privacy.policy.useInfo.description”>
        Når du bruker tjenestene våre, registreres denne aktiviteten automatisk
        i våre datalogger. Vi bruker denne informasjonen til å forbedre
        tjenestene våre og for å gi deg innhold som er tilpasset deg som bruker.
      </p>

      <div i18n=“position-info-title|privacy-policy@@privacy.policy.positionInfo.title” class="font-weight-bold">Informasjon om posisjon</div>
      <p i18n=“position-info|privacy-policy@@privacy.policy.positionInfo”>
        Det kan hende at vi registrerer din geografiske posisjon ut i fra
        ip-adressen eller andre former for geolokalisering, eksempelvis når du
        bruker mobiltjenestene våre. Informasjonen kan blant annet brukes til å
        utarbeide statistikk eller tilby lokalt innhold. Informasjonskapsler og
        annet innhold som lagres lokalt
      </p>
      <p i18n=“position-info2|privacy-policy@@privacy.policy.positionInfo2”>
        Når du besøker våre tjenester bruker vi ulike teknologier for å
        gjenkjenne deg som bruker. Vi bruker informasjonskapsler (cookies) for å
        analysere og teste hvordan brukerne reagerer på endringer av nettsidene
        eller tjenestene. Informasjonskapsler kan også gi informasjon om
        feilsaker, og gir oss mulighet til å måle effekten av våre
        markedsføringskampanjer. Vi kan også lagre anonyme identifikatorer
        lokalt på din enhet, eksempelvis for enheter hvor vi ikke kan benytte
        informasjonskapsler. Disse identifikatorene fungerer i stor utstrekning
        på samme vis som informasjonskapslene, men kan være vanskeligere å
        fjerne. Se under for informasjon om hvordan du kan slette
        informasjonskapsler. Dersom du ikke ønsker lagring av anonyme
        identifikatorer, kan du deaktivere javascript i nettleseren. Det vil
        imidlertid innebære at Renteradar.no ikke vil fungere i nettleseren din.
      </p>
    </li>
    <li>
      <div i18n=“bank-info-title|privacy-policy@@privacy.policy.bankInfo.title” class="font-weight-bold">Informasjon fra bankene</div>
      <p i18n=“bank-info|privacy-policy@@privacy.policy.bankInfo”>
        For å drifte tjeneste kan vi innhente informasjon fra bankene om deg og
        ditt/dine lån. Denne informasjonen inkluderer navn, adresse, email,
        fødselsdato/nummer, medlåntaker/kausjonist, lånt beløp, gjenværende
        lånebeløpbeløp, type lån, rente, renteutgifter og løpetid for dine/ditt
        lån. Denne informasjonen vil ikke deles u-anonymisert med våre
        samarbeidspartnere uten ditt spesifikke samtykke. Hvis du ønsker at vi
        formidler kontakt med banker som kan tilby deg bedre rente vil deler av
        denne informasjonen bli delt med disse bankene, men vi vil da spørre deg
        spesifikt om tillatelse til dette.
      </p>
    </li>
    <li>
      <div i18n=“credit-info-title|privacy-policy@@privacy.policy.creditInfo.title” class="font-weight-bold">Kredittopplysninger</div>
      <p i18n=“credit-info|privacy-policy@@privacy.policy.creditInfo”>
        Før vi eventuelt formidler informasjon til relevante banker kan vi
        foreta en kredittsjekk begrenset til innhenting av informasjon om
        eventuelle betalingsanmerkninger. Dette for å sikre at du er kvalifisert
        for å søke om lån hos våre samarbeidende banker. Kredittsjekken foretas
        av et kredittopplysningsbyrå. I tillegg til den begrensede
        kredittsjekken som vi kan foreta, vil bankene vi formidler kontakt med
        også foreta en egen fullstendig kredittsjekk. Gjenpartsbrevet sendes til
        deg pr post. Dersom banken har mulighet til dette, vil gjenpartsbrevet
        sendes elektronisk til deg via e-post eller SMS.
      </p>
    </li>
    <li>
      <div i18n=“other-info-title|privacy-policy@@privacy.policy.otherInfo.title” class="font-weight-bold">Informasjon fra andre kilder</div>
      <p i18n=“other-info|privacy-policy@@privacy.policy.otherInfo”>
        Vi kan fra tid til annen også ta imot og behandle personopplysninger fra
        andre kilder, som f eks: tilbydere av målingsverktøy eller andre parter
        som hjelper oss med å forstå brukeraktiviteten eller for å forbedre
        personalisere tjenesten.
      </p>
      <div i18n=“purpose-info-title|privacy-policy@@privacy.policy.purposeInfo.title” class="font-weight-bold">Hva brukes opplysningene til?</div>
      <p i18n=“purpose-info|privacy-policy@@privacy.policy.purposeInfo”>
        Vi behandler hovedsakelig personopplysninger om deg for å drifte
        tjenesten. Vi behandler også ovennevnte informasjon til følgende formål:
      </p>
      <ul style="list-style-type:disc; font-weight: normal;">
        <li i18n=“purpose-info-reason1|privacy-policy@@privacy.policy.purposeInfo.reason1”>For å sikkerhetsstille kjennskap til tjenesten</li>
        <li i18n=“purpose-info-reason2|privacy-policy@@privacy.policy.purposeInfo.reason2”>For å personalisere og forbedre din opplevelse av tjenesten</li>
        <li i18n=“purpose-info-reason3|privacy-policy@@privacy.policy.purposeInfo.reason3”>
          For å sende deg varslinger og meldinger via elektronisk kommunikasjon
          (som SMS eller e-post)
        </li>
        <li i18n=“purpose-info-reason4|privacy-policy@@privacy.policy.purposeInfo.reason4”>
          For å informere deg om våre oppdateringer av tjenesten og
          brukervilkårene
        </li>
        <li i18n=“purpose-info-reason5|privacy-policy@@privacy.policy.purposeInfo.reason5”>
          For å forbedre og utvikle tjenesten og nye tjenester og produkter,
          samt å analyser din bruk av tjenesten
        </li>
        <li i18n=“purpose-info-reason6|privacy-policy@@privacy.policy.purposeInfo.reason6”>For å sikkerstille den tekniske funksjonaliteten i tjenesten</li>
        <li i18n=“purpose-info-reason7|privacy-policy@@privacy.policy.purposeInfo.reason7”>
          For å forhindre bruk av tjenesten i strid med brukervilkårene for
          tjenesten og for å forebygge og utrede misbruk av tjenesten
        </li>
        <li i18n=“purpose-info-reason8|privacy-policy@@privacy.policy.purposeInfo.reason8”>
          Og for å oppfylle forpliktelser i henhold til gjeldende lover og
          regler.
        </li>
      </ul>
      
      <p></p>
      <p i18n=“privacy-usage-info|privacy-policy@@privacy.policy.privacyInfo.usage”>

          Renteradar.no bearbeider personopplysninger for å tilby statistikk til 
          bruk i media, samt offentlige og private virksomheter på aggregert nivå. 
          Statistikken vi deler med disse er aldri personopplysninger og du vil aldri 
          være identifiserbare overfor dem.
      </p>
      <p></p>
      <p i18n=“privacy-rights-info|privacy-policy@@privacy.policy.privacyInfo.rights”>
        Din rett til å motsette deg behandlingen: denne behandlingen av dine
        personopplysninger er nødvendig for at vi skal kunne levere vår
        tjeneste. Om du vil motsette deg denne typen behandling av
        personopplysninger kan vi dessverre ikke tilby vår tjeneste.
      </p>
    </li>
  </ol>

  <div i18n=“cookies-rights-info|privacy-policy@@privacy.policy.cookiesInfo.rights” class="font-weight-bold mt-5 mb-2">
    Slik forhindrer du at informasjonskapsler lagres
  </div>
  <ol type="1">
    <li i18n=“cookies-remove-info|privacy-policy@@privacy.policy.cookiesInfo.remove”>
      Du kan slette informasjonskapsler fra din harddisk når som helst, men
      dette gjør at dine personlige innstillinger forsvinner.
    </li>
    <li i18n=“cookies-remove2-info|privacy-policy@@privacy.policy.cookiesInfo.remove2”>
      Du kan også endre innstillingene i din nettleser slik at den ikke tillater
      at informasjonskapsler lagres på din harddisk, eller at du manuelt må
      godkjenne hver enkelt cookie. Dette kan imidlertid gi dårligere
      funksjonalitet på visse nettsider, kan forhindre tilgang til sider som
      krever innlogging og gjøre at deler av innhold og enkelte funksjoner ikke
      blir tilgjengelige.
    </li>
    <li i18n=“cookies-remove3-info|privacy-policy@@privacy.policy.cookiesInfo.remove3”>
      Du kan reservere deg mot cookier som gir deg markedsføring basert på
      interesseområder for en lang rekke aktører på reservasjonssiden til
      Network Advertising Initiative.
    </li>
  </ol>

  <div i18n=“rights-info-title|privacy-policy@@privacy.policy.rightsInfo.title” class="font-weight-bold mt-5 mb-2">
    Dine rettigheter
  </div>
  <p i18n=“rights-info|privacy-policy@@privacy.policy.rightsInfo”>Som registrert hos Renteradar.no har du følgende rettigheter:</p>
  <ul style="list-style-type:disc;">
    <li i18n=“rights-info2|privacy-policy@@privacy.policy.rightsInfo2”>
      Rett på tilgang til personopplysninger registrert om deg. Du kan ved
      skriftlig og undertegnet henvendelse til oss kreve innsyn i øvrige
      registrerte personopplysninger, beskrivelse av hvilke typer opplysninger
      som behandles, og nærmere informasjon om vår behandling av opplysningene.
    </li>
    <li i18n=“rights-info3|privacy-policy@@privacy.policy.rightsInfo3”>
      Rett til å kreve at vi retter feil i personopplysningene registrert om
      deg. Du kan endre all informasjon du har oppgitt ved registrering av
      profil på min side. Dersom forespørselen gjelder kommunikasjon eller annen
      informasjon som ikke er registrert på min side, kan du sende en skriftlig,
      undertegnet henvendelse til oss.
    </li>
    <li i18n=“rights-info4|privacy-policy@@privacy.policy.rightsInfo”4>
      Rett til å forespørre sletting eller begrenset behandling av
      personopplysninger, i tilfeller hvor du mistenker opplysningene blir
      behandlet ulovlig eller ikke er korrekte.
    </li>
    <li i18n=“rights-info5|privacy-policy@@privacy.policy.rightsInfo”5>
      Retten til å motsette seg bruk av personopplysninger i direkte
      markedsføring og i annen kommunikasjon. Dette omfatter også retten til å
      trekke tilbake samtykke om bruk av personopplysninger, når samtykke er
      grunnlaget for behandlingen.
    </li>
    <li i18n=“rights-info6|privacy-policy@@privacy.policy.rightsInfo6”>
      Rett til når som helst å kalle tilbake samtykke til at vi kan behandle
      dine personopplysninger.
    </li>
    <li i18n=“rights-info7|privacy-policy@@privacy.policy.rightsInfo”7>
      Rett til å bli glemt. Det vil si at når du avslutter kontoen din hos
      Renteradar.no slettes all informasjon om deg hos oss.
    </li>
  </ul>
  <p></p>
  <p i18n=“privacy-updated|privacy-policy@@privacy.policy.updated”>
    Sist oppdatert 14.08.2019
  </p>
</div>
