<div class="front-container">
  <h2 class="mb-3"><strong>Personvernerklæring</strong></h2>
  <p>
    Renteradar.no er en tjeneste levert av Forbrukerøkonomene AS (org. nr: 921
    534 191). Her vil du finne en orientering om hvordan vi forholder oss til
    personopplysninger om brukerne i vår tjeneste. Denne orienteringen vil være
    gjenstand for oppdateringer og endringer. Dersom det gjøres vesentlige
    endringer vil du få beskjed om dette på din registrerte e-postadresse.
  </p>
  <p>
    Forbrukerøkonomene AS er et norsk selskap underlagt norsk lov. Vi behandler
    personopplysninger i samsvar med gjeldende personvernlovgivning. Om du har
    spørsmål om vår personvernpolicy eller håndtering av dine opplysninger må du
    gjerne kontakte vårt personvernombud på
    personvernombud@forbrukerøkonomene.no. Vi oppfordrer deg til å lese denne
    erklæringen nøye før du benytter deg av tjenesten. Denne
    personvernerklæringen gjelder for all behandling av personopplysninger som
    skjer når du besøker Renteradar.no hjemmesider og benytter deg av
    Renteradar.no’s tjenester.
  </p>
  <div class="font-weight-bold mt-4 mb-2">
    Hva er personopplysninger?
  </div>
  <p>
    En personopplysning er informasjon som direkte eller indirekte kan knyttes
    til en fysisk levende person. Eksempel på personopplysninger er navn,
    adresse, telefonnummer og e-postadresse, men også IP-nummer og hvordan du
    bruker tjenesten betegnes som personopplysninger. Behandling av
    personopplysninger inkluderer all håndtering av personopplysninger, feks
    innsamling, analysering, registrering og lagring.
  </p>
  <p>
    Behandling av personopplysninger er enhver bruk av personopplysninger, som
    for eksempel innsamling, registrering, sammenstilling, lagring og utlevering
    eller en kombinasjon av slike bruksmåter. All behandling av
    personopplysninger er underlagt personopplysningsloven, og Datatilsynet
    fører tilsyn med loven og medvirker til at personvernet til hver enkelt ikke
    blir krenket gjennom bruken av personopplysninger. Personvernsansvarlig er
    den som alene eller sammen med andre bestemmer formålet og midler for
    behandlingen av personopplysningene og som er ansvarlig for at behandlingen
    skjer i samsvar med gjeldende personvernlovgivning. Opplysningene vil kunne
    bli supplert med tilgjengelig informasjon fra tredjepartsaktører, e.g.
    informasjon om boligverdi eller kredittopplysningsselskap.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Hva slags opplysninger samler vi inn?</div>
  <p>
    For å kunne gjennomføre våre tjenester samler vi inn data fra deg som kan
    suppleres med informasjon fra bankene. Videre vil også bankene trenge data
    om deg for å kunne gi et lånetilbud. Bankene som eventuelt mottar
    informasjon om deg er personvernansvarlige for sin egen behandling av
    personopplysninger. Du kan lese mer om bankenes grunnkrav samt
    personvernerklæring på deres hjemmesider.
  </p>
  <p>
    Opplysningene samles inn på følgende måter:
  </p>
  <ol type="a">
    <li>
      <div class="font-weight-bold">Opplysninger du selv gir til oss</div>
      <p>
        Når du registrerer en brukerkonto hos vil du oppgi en del data som
        lagres av oss. Disse opplysningene lagres i vår database for å yte eller
        sikre leveranse av vår tjeneste. Likeledes vil vi lagre opplysninger når
        du kontakter oss ved å sende oss en e-post eksempelvis til kundeservice
        eller gir tilbakemeldinger gjennom funksjoner i tjenesten, herunder
        e-postadresse, telefonnummer og innholdet i e-postforespørsler slik at
        vi kan svare på dine spørsmål.
      </p>
    </li>
    <li>
      <div class="font-weight-bold">
        Opplysninger som samles inn gjennom bruk av tjenestene
      </div>
      <p>
        Når du bruker våre tjenester registrerer vi informasjon om hvilke
        tjenester du bruker og hvordan du bruker dem. Dette gjør det mulig å
        forbedre tjenestene våre og avdekke tekniske feil. Som eksempel, kan vi
        samle informasjon om hvor mye en gjennomsnittlig kunde sparer ved å
        bytte boliglånet sitt
      </p>

      <div class="font-weight-bold">
        Teknisk informasjon om din enhet og internett-tilkobling
      </div>
      <p>
        Gjennom tjenerlogger og andre verktøy registrerer vi informasjon om
        enheten og tilkoblingen til våre tjenester, herunder operativsystem,
        nettleserversjon, ip-adresser, informasjonskapsler og unike
        identifikasjonsfiler. Denne informasjon brukes ofte i anonym og
        aggregert statistikk, men vi kan også koble den mot din brukerkonto.
        Informasjonen gjør blant annet at vi kan tilpasse visningen av våre
        tjenester til den enheten du bruker, i tillegg til at vi kan analysere
        ulike måter som brukerne benytter tjenestene våre på.
      </p>

      <div class="font-weight-bold">Informasjon om bruk av tjenestene</div>
      <p>
        Når du bruker tjenestene våre, registreres denne aktiviteten automatisk
        i våre datalogger. Vi bruker denne informasjonen til å forbedre
        tjenestene våre og for å gi deg innhold som er tilpasset deg som bruker.
      </p>

      <div class="font-weight-bold">Informasjon om posisjon</div>
      <p>
        Det kan hende at vi registrerer din geografiske posisjon ut i fra
        ip-adressen eller andre former for geolokalisering, eksempelvis når du
        bruker mobiltjenestene våre. Informasjonen kan blant annet brukes til å
        utarbeide statistikk eller tilby lokalt innhold. Informasjonskapsler og
        annet innhold som lagres lokalt
      </p>
      <p>
        Når du besøker våre tjenester bruker vi ulike teknologier for å
        gjenkjenne deg som bruker. Vi bruker informasjonskapsler (cookies) for å
        analysere og teste hvordan brukerne reagerer på endringer av nettsidene
        eller tjenestene. Informasjonskapsler kan også gi informasjon om
        feilsaker, og gir oss mulighet til å måle effekten av våre
        markedsføringskampanjer. Vi kan også lagre anonyme identifikatorer
        lokalt på din enhet, eksempelvis for enheter hvor vi ikke kan benytte
        informasjonskapsler. Disse identifikatorene fungerer i stor utstrekning
        på samme vis som informasjonskapslene, men kan være vanskeligere å
        fjerne. Se under for informasjon om hvordan du kan slette
        informasjonskapsler. Dersom du ikke ønsker lagring av anonyme
        identifikatorer, kan du deaktivere javascript i nettleseren. Det vil
        imidlertid innebære at Renteradar.no ikke vil fungere i nettleseren din.
      </p>
    </li>
    <li>
      <div class="font-weight-bold">Informasjon fra bankene</div>
      <p>
        For å drifte tjeneste kan vi innhente informasjon fra bankene om deg og
        ditt/dine lån. Denne informasjonen inkluderer navn, adresse, email,
        fødselsdato/nummer, medlåntaker/kausjonist, lånt beløp, gjenværende
        lånebeløpbeløp, type lån, rente, renteutgifter og løpetid for dine/ditt
        lån. Denne informasjonen vil ikke deles u-anonymisert med våre
        samarbeidspartnere uten ditt spesifikke samtykke. Hvis du ønsker at vi
        formidler kontakt med banker som kan tilby deg bedre rente vil deler av
        denne informasjonen bli delt med disse bankene, men vi vil da spørre deg
        spesifikt om tillatelse til dette.
      </p>
    </li>
    <li>
      <div class="font-weight-bold">Kredittopplysninger</div>
      <p>
        Før vi eventuelt formidler informasjon til relevante banker kan vi
        foreta en kredittsjekk begrenset til innhenting av informasjon om
        eventuelle betalingsanmerkninger. Dette for å sikre at du er kvalifisert
        for å søke om lån hos våre samarbeidende banker. Kredittsjekken foretas
        av et kredittopplysningsbyrå. I tillegg til den begrensede
        kredittsjekken som vi kan foreta, vil bankene vi formidler kontakt med
        også foreta en egen fullstendig kredittsjekk. Gjenpartsbrevet sendes til
        deg pr post. Dersom banken har mulighet til dette, vil gjenpartsbrevet
        sendes elektronisk til deg via e-post eller SMS.
      </p>
    </li>
    <li>
      <div class="font-weight-bold">Informasjon fra andre kilder</div>
      <p>
        Vi kan fra tid til annen også ta imot og behandle personopplysninger fra
        andre kilder, som f eks: tilbydere av målingsverktøy eller andre parter
        som hjelper oss med å forstå brukeraktiviteten eller for å forbedre
        personalisere tjenesten.
      </p>
      <div class="font-weight-bold">Hva brukes opplysningene til?</div>
      <p>
        Vi behandler hovedsakelig personopplysninger om deg for å drifte
        tjenesten. Vi behandler også ovennevnte informasjon til følgende formål:
      </p>
      <ul style="list-style-type:disc; font-weight: normal;">
        <li>For å sikkerhetsstille kjennskap til tjenesten</li>
        <li>For å personalisere og forbedre din opplevelse av tjenesten</li>
        <li>
          For å sende deg varslinger og meldinger via elektronisk kommunikasjon
          (som SMS eller e-post)
        </li>
        <li>
          For å informere deg om våre oppdateringer av tjenesten og
          brukervilkårene
        </li>
        <li>
          For å forbedre og utvikle tjenesten og nye tjenester og produkter,
          samt å analyser din bruk av tjenesten
        </li>
        <li>For å sikkerstille den tekniske funksjonaliteten i tjenesten</li>
        <li>
          For å forhindre bruk av tjenesten i strid med brukervilkårene for
          tjenesten og for å forebygge og utrede misbruk av tjenesten
        </li>
        <li>
          Og for å oppfylle forpliktelser i henhold til gjeldende lover og
          regler.
        </li>
      </ul>
      <p></p>
      <p>
        Din rett til å motsette deg behandlingen: denne behandlingen av dine
        personopplysninger er nødvendig for at vi skal kunne levere vår
        tjeneste. Om du vil motsette deg denne typen behandling av
        personopplysninger kan vi dessverre ikke tilby vår tjeneste.
      </p>
    </li>
  </ol>

  <div class="font-weight-bold mt-5 mb-2">
    Slik forhindrer du at informasjonskapsler lagres
  </div>
  <ol type="1">
    <li>
      Du kan slette informasjonskapsler fra din harddisk når som helst, men
      dette gjør at dine personlige innstillinger forsvinner.
    </li>
    <li>
      Du kan også endre innstillingene i din nettleser slik at den ikke tillater
      at informasjonskapsler lagres på din harddisk, eller at du manuelt må
      godkjenne hver enkelt cookie. Dette kan imidlertid gi dårligere
      funksjonalitet på visse nettsider, kan forhindre tilgang til sider som
      krever innlogging og gjøre at deler av innhold og enkelte funksjoner ikke
      blir tilgjengelige.
    </li>
    <li>
      Du kan reservere deg mot cookier som gir deg markedsføring basert på
      interesseområder for en lang rekke aktører på reservasjonssiden til
      Network Advertising Initiative.
    </li>
  </ol>

  <div class="font-weight-bold mt-5 mb-2">
    Dine rettigheter
  </div>
  <p>Som registrert hos Renteradar.no har du følgende rettigheter:</p>
  <ul style="list-style-type:disc;">
    <li>
      Rett på tilgang til personopplysninger registrert om deg. Du kan ved
      skriftlig og undertegnet henvendelse til oss kreve innsyn i øvrige
      registrerte personopplysninger, beskrivelse av hvilke typer opplysninger
      som behandles, og nærmere informasjon om vår behandling av opplysningene.
    </li>
    <li>
      Rett til å kreve at vi retter feil i personopplysningene registrert om
      deg. Du kan endre all informasjon du har oppgitt ved registrering av
      profil på min side. Dersom forespørselen gjelder kommunikasjon eller annen
      informasjon som ikke er registrert på min side, kan du sende en skriftlig,
      undertegnet henvendelse til oss.
    </li>
    <li>
      Rett til å forespørre sletting eller begrenset behandling av
      personopplysninger, i tilfeller hvor du mistenker opplysningene blir
      behandlet ulovlig eller ikke er korrekte.
    </li>
    <li>
      Retten til å motsette seg bruk av personopplysninger i direkte
      markedsføring og i annen kommunikasjon. Dette omfatter også retten til å
      trekke tilbake samtykke om bruk av personopplysninger, når samtykke er
      grunnlaget for behandlingen.
    </li>
    <li>
      Rett til når som helst å kalle tilbake samtykke til at vi kan behandle
      dine personopplysninger.
    </li>
    <li>
      Rett til å bli glemt. Det vil si at når du avslutter kontoen din hos
      Renteradar.no slettes all informasjon om deg hos oss.
    </li>
  </ul>
  <p></p>
  <p>
    Sist oppdatert 14.08.2019
  </p>
</div>
