<div class="front-container">
  <h2 i18n=“first-title|privacy-policy@@privacy.policy.first.title” class="mb-3"><strong>Personvernerklæring</strong></h2>
  <p i18n=“first-paragraph|privacy-title@@privacy.policy.first.paragraph”>
    Renteradar.no er en tjeneste levert av Forbrukerøkonomene AS (org. nr: 921 534 191). 
    Her vil dufinne en orientering om hvordan vi forholder oss til personopplysninger 
    om brukerne i vår tjeneste.
  </p>
  <p i18n=“second-paragraph|privacy-policy@@privacy.policy.second.paragraph”>
    Forbrukerøkonomene AS er et norsk selskap underlagt norsk lov. Vi behandler 
    personopplysninger i samsvar med den til enhver tid gjeldende personvernlovgivning, 
    herunder personopplysningsloven og personvernforordningen (GDPR). 
  </p>

  <p>
    Om du har spørsmål om vår personvernpolicy eller håndtering av dine 
    opplysninger må du gjernekontakte oss på personvern@forbrukerøkonomene.no. 
    Vi oppfordrer deg til å lese denne erklæringen nøye før du benytter deg av 
    tjenesten. Denne personvernerklæringen gjelder for all behandling av 
    personopplysninger som skjer når du besøker Renteradar.no hjemmesider og 
    benytter deg av Renteradar.no’s tjenester.
  </p>
  <div i18n=“second-title|privacy-policy@@privacy.policy.second.title” class="font-weight-bold mt-4 mb-2">
    Hva er personopplysninger?
  </div>
  <p i18n=“first2-paragraph|privacy-policy@@privacy.policy.first2.paragraph”>
    En personopplysning er informasjon som direkte eller indirekte kan knyttes 
    til en fysisk person. Eksempel på personopplysninger er navn, adresse, 
    telefonnummer og e-postadresse, men også IP-nummer og hvordan du bruker 
    tjenesten betegnes som personopplysninger. Behandling av personopplysninger 
    inkluderer all håndtering av personopplysninger, feks innsamling, analysering,
     registrering og lagring.Opplysningene vil kunne bli supplert med tilgjengelig 
     informasjon fra tredjepartsaktører, e.g. informasjon om boligverdi eller 
     kredittopplysningsselskap.
  </p>
  <p i18n=“second2-paragraph|privacy-policy@@privacy.policy.second2.paragraph”>
    Behandling av personopplysninger er enhver bruk av personopplysninger, 
    som for eksempel innsamling, registrering, sammenstilling, lagring og 
    utlevering eller en kombinasjon av slike bruksmåter. All behandling av 
    personopplysninger er underlagt personopplysningsloven, og Datatilsynet 
    fører tilsyn med loven og medvirker til at personvernet til hver enkelt 
    ikke blir krenket gjennom bruken av personopplysninger.
  </p>

  <p>
    Behandlingsansvarlig er den som bestemmer formålet og midler for behandlingen 
    av personopplysningene og som er ansvarlig for at behandlingen skjer i samsvar 
    med gjeldende personvernlovgivning. Det er Forbrukerøkonomene som er behandlingsansvarlig 
    for behandling av personopplysningene som angis nedenfor.
  </p>


  <div>Formål og grunnlag for behandling av personopplysninger</div>
  <p>
    For å kunne gjennomføre våre tjenester samler vi inn data fra deg som kan suppleres med informasjon fra bankene. 
  </p>

  <p>
    Vi behandler hovedsakelig personopplysninger om deg for å drifte tjenesten. Vi behandler også ovennevnte informasjon til følgende formål:
  </p>

  <ul>
    <li>For å sikkerhetsstille kjennskap til tjenesten</li>
    <li>For å personalisere og forbedre din opplevelse av tjenesten</li>
    <li>For å sende deg varslinger og meldinger via elektronisk kommunikasjon (som SMS eller e-post)</li>
    <li>For å informere deg om våre oppdateringer av tjenesten og brukervilkårene</li>
    <li>For å forbedre og utvikle tjenesten og nye tjenester og produkter, samt å analyser din bruk avtjenesten</li>
    <li>For å sikkerstille den tekniske funksjonaliteten i tjenesten</li>
    <li>For å forhindre bruk av tjenesten i strid med brukervilkårene for tjenesten og for å forebygge og utrede misbruk av tjenesten</li>
    <li>Og for å oppfylle forpliktelser i henhold til gjeldende lover og regler.</li>
  </ul>

  <p>
    Renteradar.no bearbeider personopplysninger for å tilby statistikk til bruk i media, 
    samt offentlige og private virksomheter på aggregert nivå. Statistikken vi deler med 
    disse er aldri personopplysninger og du vil aldri være identifiserbare overfor dem.
  </p>

  <p>Opplysningene samles og behandles inn på følgende måter og på følgende grunnlag:</p>
  
  <ol start="2"> 
    <li>
      <b>Opplysninger du selv gir til oss</b>

      <p>
        Når du registrerer en brukerkonto hos vil du oppgi en del opplysninger som 
        vi lagrer og behandles. Opplysningene lagres i vår database for å yte eller 
        sikre leveranse av våre tjenester. Behandlingen av personopplysninger gjøres da 
        for å oppfylle en avtale med deg; å levere tjenestene til deg (GDPR artikkel 6 (1) b).
      </p>

      <p>
        Likeledes vil vi lagre opplysninger når du kontakter oss ved å sende oss 
        en e-post eksempelvis til kundeservice eller gir tilbakemeldinger gjennom 
        funksjoner i tjenesten, herunder e-postadresse, telefonnummer og innholdet i 
        e-postforespørsler slik at vi kan svare på dine spørsmål. Denne behandlingen av 
        personopplysninger er basert på GDPR artikkel 6 (1) f, og vi vurderer at vi har 
        en berettiget interesse for å ha kontakt med våre kunder og andre, og at og at 
        behandling av denne type opplysninger er ikke så inngripende at personvernet 
        til personene det gjelder må overstyre denne behandlingen.
      </p>
    </li>

    <li>
      <div>
        <b>Opplysninger som samles inn gjennom bruk av tjenestene</b>
        <p>
          Når du bruker våre tjenester registrerer vi informasjon om 
          hvilke tjenester du bruker og hvordan du bruker dem. Dette gjør 
          det mulig å forbedre tjenestene våre og avdekke tekniske feil. Som eksempel, 
          kan vi samle informasjon om hvor mye en gjennomsnittlig kunde sparer ved å 
          bytte boliglånet sitt.
        </p>
      </div>

      <div>
        <b>Teknisk informasjon om din enhet og internett-tilkobling</b>
        <p>
          Gjennom tjenerlogger og andre verktøy registrerer vi informasjon om 
          enheten og tilkoblingen til våre tjenester, herunder operativsystem, 
          nettleserversjon, ip-adresser, informasjonskapsler og unike identifikasjonsfiler. 
          Denne informasjon brukes ofte i anonymog aggregert statistikk, men vi kan også 
          koble den mot din brukerkonto. Informasjonen gjør blant annet at vi kan tilpasse 
          visningen av våre tjenester til den enheten du bruker, i tillegg til at vi kan 
          analysere ulike måter som brukerne benytter tjenestene våre på.
        </p>
      </div>

      <div>
        <b>Informasjon om bruk av tjenestene</b>
        <p>
          Når du bruker tjenestene våre, registreres denne aktiviteten automatisk 
          i våre datalogger. Vi bruker denne informasjonen til å forbedre tjenestene 
          våre og for å gi deg innhold som er tilpasset deg som bruker.
        </p>
      </div>

      <div>
        <b>Informasjon om posisjon</b>
        <p>
          Det kan hende at vi registrerer din geografiske posisjon ut i fra ip-adressen 
          eller andre former for geolokalisering, eksempelvis når du bruker mobiltjenestene 
          våre. Informasjonen kan blant annet brukes til å utarbeide statistikk eller tilby 
          lokalt innhold. Informasjonskapsler og annet innhold som lagres lokalt
        </p>

        <p>
          All behandlingen av personopplysninger ovenfor behandles på grunnlag at vi har 
          en interesse av å forberede, utvikle og sikre våre tjenester (GDPR artikkel 6 (1) f).
        </p>

        <p>
          Når du besøker våre tjenester bruker vi ulike teknologier for å gjenkjenne deg 
          som bruker.Vi bruker informasjonskapsler (cookies) for å analysere og teste hvordan 
          brukerne reagerer på endringer av nettsidene eller tjenestene. Informasjonskapsler 
          kan også gi informasjon om feilsaker, og gir oss mulighet til å måle effekten av 
          våre markedsføringskampanjer. Se nedenfor om bruk av informasjonskapsler.
        </p>
      </div>
    </li>

    <li>
      <div>
        <b>Informasjon fra bankene</b>
        <p>
          For å drifte tjenesten innhentes informasjon fra bankene om deg og ditt/dine lån. 
          Denne informasjonen inkluderer navn, adresse, email, fødselsdato/nummer, 
          medlåntaker/kausjonist, lånt beløp, gjenværende lånebeløpbeløp, type lån, 
          rente, renteutgifter og løpetid for dine/ditt lån. Denne informasjonen vil kun 
          deles med våre samarbeidspartnere med ditt spesifikke samtykke. Hvis du ønsker at 
          vi formidler kontakt med banker som kan tilby deg bedre rente kan deler av denne 
          informasjonen bli delt med disse bankene, men vi vil da spørre deg spesifikt om 
          tillatelse til dette. Behandlingen av personopplysninger gjøres da for å oppfylle 
          en avtale med deg for å gi deg sammenligning av vilkårene for ditt lån med andre 
          långivere; å levere tjenestene til deg (etter GDPR artikkel 6 (1) b).
        </p>
      </div>
    </li>

    <li>
      <div>
        <b>Informasjon fra andre kilder</b>
        <p>
          Vi kan fra tid til annen også ta imot og behandle personopplysninger 
          fra andre kilder, somf eks: tilbydere av målingsverktøy eller andre parter 
          som hjelper oss med å forstå brukeraktiviteten eller for å forbedre personalisere 
          tjenesten.
        </p>
      </div>
    </li>
  </ol>

  <div class="font-weight-bold mt-2 mb-2">
    Behandling av personopplysninger om eksisterende og potensielle kunder, leverandører og samarbeidspartnere mv.
  </div>

  <p>
    Vi behandler personopplysninger om kontaktpersoner hos eksisterende og potensielle kunder 
    (i forretningsforhold), leverandører og andre samarbeidspartnere for å 
    administrere vårt forhold til leverandører og andre, forberede, gjennomføre 
    og dokumentere tjenester samt evaluere bruk av tjenester. Vi vil i disse tilfelle 
    behandle navn, kontaktinformasjon, foretaksnavn og opplysninger tilknyttet kontakten 
    med selskapet som vedkommende arbeider i.
  </p>

  <p>
    Behandlingen av personopplysninger er basert på GDPR artikkel 6 (1) f, og vi 
    vurderer at vi har en berettiget interesse for å administrere forholdet til 
    våre kunder, samarbeidspartnere og leverandører, og at og at behandling av denne 
    type opplysninger er ikke så inngripende at personvernet til personene det gjelder 
    må overstyre denne behandlingen.
  </p>

  <p>
    Vi lagrer og utleverer opplysninger også der vi har en rettslig forpliktelse til det, 
    for eksempel etterregnskaps- og skattelovgivningen. Vi kan lagre opplysninger så 
    lenge vi mener det kan bli bruk for dem, for eksempel for å dokumentere forhold 
    rundt tjenester.
  </p>

  <p>
    I mange tilfeller vil det være nødvendig at vi får personopplysninger for å 
    inngå avtaler med kunder og leverandører, blant annet for å dokumentere at 
    avtale er inngått. Får vi ikke de opplysningene vi trenger, vil vi ikke kunne 
    inngå avtaler.
  </p>

  <p>
    Det er frivillig for kontaktpersonene om de ønsker å gi oss personopplysninger. 
    Henter vi inn personopplysninger fra andre, vil det i hovedsak gjelde kontaktopplysninger 
    (herunder navn, adresse, telefonnummer og e-postadresse), stilling, funksjon og 
    arbeidsgiver samt eventuelt kompetanse og referanser der det er relevant. Kilde for 
    slike opplysninger vil være kontaktpersonens arbeidsgiver, for eksempel fra 
    arbeidsgivers nettside. I noen tilfeller henter vi inn referanser fra andre for 
    å vurdere egnethet av leverandører og samarbeidspartnere.
  </p>

  <p>
    Vi lagrer opplysningene inntil forholdet til kunde, leverandør eller samarbeidspart 
    opphører eller tilkontaktpersonen opphører å være kontaktperson, med de unntakene som 
    er nevnt ovenfor.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Behandling av personopplysninger i forbindelse med rekruttering</div>

  <p>
    Ved rekruttering til nye stillinger oss hos vil bl.a. CV, søknad, attester og referanser 
    behandles. Behandling av personopplysninger skjer på grunnlag av samtykke som du har 
    gitt dersom behandling skjer gjennom f.eks. rekrutteringsløsning, eller på grunnlag av 
    vår berettigede interesse for å rekruttere nye ansatte basert på GDPR artikkel 6 (1) f. 
    For sistnevnte har vi vurdert at det er innenfor vår berettigede interesse i å rekruttere 
    nye ansatte, og at de registrertespersonvern ikke går foran disse interessene.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Oppbevaring og lagring (sletting) av personopplysninger </div>


  <p>
    Vi oppbevarer personopplysninger så lenge det er nødvendig for det formål 
    personopplysningene ble samlet inn for, og sletter opplysningene i tråd med krav i 
    regelverket.
  </p>

  <p>
    Dette betyr for eksempel at personopplysninger som vi behandler på grunnlag 
    av ditt samtykke slettes hvis du trekker ditt samtykke. 
    Personopplysninger vi behandler for å oppfylle en avtale med deg slettes når 
    avtalen er oppfylt og alle plikter som følger av avtaleforholdet er oppfylt, 
    som f.eks. lovmessige plikter knyttet til regnskapsføring, oppfølging av 
    kundeforholdet knyttet til reklamasjon mv.
  </p>
  
  <p>
    Har du registrert konto hos oss, så vil kontoen og dine personopplysninger slettes 
    om du ikke har brukt tjenestene på to år. Om du ønsker å bruke tjenesten igjen etter 
    din konto er slettet, må du etablere ny konto. Slettes din konto vil alle opplysninger 
    i denne slettes eller anonymiseres slik at opplysningene ikke kan knyttes til deg. 
    Tekniske logger mv. behandles for å sikre og utvikle tjenesten.
  </p>

  <p>
    Du kan også slette dine opplysninger når du måtte ønske ved å sende en epost til <a href = "mailto: slettmeg@renteradar.no">slettmeg@renteradar.no</a> .
  </p>
  
  <p>
    I stedet for å slette personopplysningene, kan det i enkelte tilfeller være aktuelt å 
    anonymisere personopplysningene. Med anonymisering menes at alle identifiserende 
    eller potensielt identifiserende kjennetegn fjernes fra datasett som tas vare på.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Overføring eller utlevering av personopplysninger til andre </div>
  <p>
    Vi gir ikke personopplysninger videre til andre i andre tilfeller enn nevnt i 
    denne erklæringen og med mindre det foreligger et lovlig grunnlag for slik utlevering. 
    Eksempler på slikt grunnlag vil typisk være en avtale med eller samtykke fra deg eller 
    et lovgrunnlag som pålegger oss å gi ut informasjonen. Sistnevnte gjelder tiloffentlig 
    virksomhet som skatteinnkreving (om nødvendig), regnskapsfører/revisor, samt andre som 
    vi har behov for i vår virksomhet som bankforbindelse. 
  </p>

  <p>
    Vi bruker databehandlere til å samle inn, lagre eller på annen måte behandle 
    personopplysninger på våre vegne. I slike tilfeller har vi inngått avtaler for å 
    ivareta informasjonssikkerheten i alle ledd av behandlingen.
  </p>

  <p>
    Er det pålagt ved lov eller det er mistanke om at det er begått lovbrudd i 
    forbindelse med bruk av våre tjenester, vil personopplysninger vi har lagret om deg 
    kunne utleveres til offentlige myndigheter.
  </p>

  <p>
    Dersom personopplysninger kan bli gjenstand for overføring til en annen organisasjon 
    i forbindelse med fusjon, finansiering, omorganisering eller oppløsningstransaksjon 
    av hele eller deler av oss, vil vi kun gjøre dette dersom de involverte partene har 
    inngått en avtale der innsamlingen, bruk og deling av personopplysningene er begrenset 
    til de formålene som angår transaksjonen, herunder en bestemmelse om hvorvidt 
    transaksjonen skal gå videre eller ikke, ogpersonopplysningene skal kun brukes av de 
    involverte parter for å gjennomføre og fullføre transaksjonen. Hvis et annet selskap 
    kjøper oss eller vår virksomhet eller eiendeler, vil dette selskapet ha tilgang til 
    personopplysningene innsamlet av oss, og vil påta seg de rettigheter og forpliktelser 
    vedrørende dine personopplysninger som beskrevet i denne personvernerklæringen.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Overføring av personopplysninger til mottaker i land utenfor EØS </div>
  <p>
    Det er en målsetting for oss at all behandling av personopplysninger skal foretas 
    innenfor EØS, men det vil kunne være at vi benytter leverandører eller 
    behandlerpersonopplysninger utenfor EØS. I slike tilfeller vil overføring og behandling 
    utenfor EØS skje i land godkjent av EU-kommisjonen eller i samsvar med gyldig rettslig 
    grunnlag for overføringen av personopplysninger etter GPDR kapittel V. Skjer ikke 
    overføring til land godkjent av EU-kommisjonen, vil overføring kun skje etter de 
    garantier som er oppstilt i GDPR artikkel 46 (2). Hvilket grunnlag som er benyttet 
    for overføring kan du få opplyst om du kontakter oss
  </p>

  <div class="font-weight-bold mt-2 mb-2">Linker til tredjeparter/andre nettsteder</div>
  <p>
    Det kan være linker til andre nettsteder eller tredjeparter som tilbyr produkter 
    eller tjenester, og andre steder som ikke er under vår kontroll. Disse koblingene 
    tilbys kun som en mulighet for brukere til å få mer informasjon. Nettsider som ikke 
    er en del av våre, dvs. som ikke er under adressene renteradar.no vil behandle 
    personopplysninger som behandlingsansvarlig selv og vil kunne ha separate og uavhengige 
    retningslinjer for personvern. Vi har ikke noe ansvar for innholdet og aktivitetene 
    til disse nettsidene.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Sikkerhet for behandlingen</div>
  <p>
    Vi prioriterer sikkerhet av personopplysninger høyt i vår virksomhet og vil 
    iverksette alle påkrevede tekniske og organisatoriske tiltak for å sikre dine 
    personopplysninger. Alle behandlinger vil om mulig krypteres, og ikke tilgjengelig 
    for andre enn de som trenger personopplysninger for sine oppgaver. 
  </p>

  <p>
    Vi håndterer informasjon slik at den er riktig, tilgjengelig og håndtert 
    i henhold til grad av sensitivitet på opplysningene. Vi benytter også en rekke
     sikkerhetsteknologier og informasjonssikkerhetsprosedyrer for å beskytte 
     personopplysningene dine fra uautorisert tilgang, bruk eller formidling. 
     Hvor det er nødvendig gjennomføres det risikovurderinger.
  </p>

  <p>
    Vi har inngått databehandleravtaler med alle våre leverandører som behandler 
    personopplysninger, hvor de påtar seg samme grad av sikkerhet som vi har på 
    vår behandling av personopplysningene.
  </p>

  <p>
    Vi begrenser tilgangen til personopplysningene dine til det personalet eller de 
    tredjepartene som skal behandle opplysningene på våre vegne. Disse partene er 
    underlagt strenge konfidensialitetskrav og vi kan utøve sanksjoner eller si opp 
    avtalen dersom disse kravene ikke overholdes.
  </p>

  <p>
    Det er etablert rutiner for håndtering av brudd på informasjonssikkerhet og 
    rutiner (personvernbrudd), og vi vil, dersom det foreligger brudd som medfører 
    risiko for personvernet til de personopplysningene gjelder, sende avviksmelding 
    til Datatilsynet så raskt som mulig og senest innen 72 timer etter bruddet ble 
    oppdaget. Medfører bruddet høy sannsynlighet for personvernet til de bruddet 
    gjelder, vil vi også varsle disse.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Dine rettigheter når vi behandler personopplysninger om deg </div>

  <p>
    Nedenfor følger dine rettigheter som registrert. For å ta i bruk dine rettigheter mådu kontakte oss, se kontaktinformasjon <a href="https://renteradar.no/kontakt">her </a>.
  </p>
  
  <p>
    Vi vil svare på din henvendelse til oss så fort som mulig, og senest innen 30 dager. 
    Tar det lenger tid enn 30 dager vil du få beskjed.
  </p>

  <p>
    Vi vil be deg om å bekrefte identiteten din eller å oppgi ytterligere informasjon 
    før vi lar deg ta i bruk dine rettigheter overfor oss. Dette gjør vi for å være 
    sikre på at vi kun gir tilgang til dine personopplysninger til deg - og ikke noen 
    som gir seg ut for å være deg.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Informasjon</div>
  
  <p>
    Du har rett til å få informasjon om de personopplysninger vi behandler om deg. 
    Gjennom denne erklæringen informerer vi deg om vår behandling av personopplysninger. 
    Du kan også kontakte oss om du ønsker mer informasjon.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Innsyn</div>
  <p>
    Du har rett til å kreve innsyn i personopplysningene som behandles om deg. 
    Om du har registrert konto, vil de fleste opplysninger du har avgitt kunne 
    håndteres i tjenesten, om opplysningene ikke er slettet, se ovenfor.
  </p>

  <p>
    Vi vil om nødvendig be deg om å bekrefte identiteten din eller å oppgi ytterligere 
    informasjon før vi lar deg ta i bruk dine rettigheter overfor oss. Dette gjør vi for 
    å være sikre på at vi kun gir tilgang til dine personopplysninger til deg – og ikke 
    noen som gir seg ut for å være deg.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Endring og sletting</div>

  <p>
    Du kan også be oss om å rette feilaktige opplysninger vi har om deg eller be 
    oss om å slette personopplysninger. Du kan også rette eller slette dine opplysninger 
    gjennom din konto om du er registrert bruker. Vi vil så langt som mulig imøtekomme 
    en forespørsel om å slette personopplysninger, 
    men vi kan ikke gjøre dette dersom vi fremdeles har behov for opplysningene.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Behandling på grunnlag av samtykke</div>

  <p>
    Behandler vi personopplysninger på grunnlag av ditt samtykke, så kan du til enhver 
    tid trekke tilbake samtykket. Den enkleste måten å gjøre dette på, er å bruke den 
    måte som er opplyst om da du ga samtykket eller kontakte oss.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Rett til å begrense eller protestere mot behandlingen</div>
  <p>
    Du har rett til å få behandlingen begrenset i visse tilfeller, som dersom:  
  </p>

  <ol>
    <li>
      Du bestrider riktigheten av personopplysningene, i en periode som gjør detmulig for oss 
      å kontrollere riktigheten av personopplysningene.
    </li>
    <li>
      Behandlingen er ulovlig, og du motsetter seg sletting av personopplysningene og 
      isteden anmoder om at bruken av personopplysningene begrenses.
    </li>
    <li>
      Vi ikke lenger trenger personopplysningene til formålet med behandlingen, 
      men du har behov for disse for å fastsette, gjøre gjeldende eller forsvare rettskrav.
    </li>
    <li>
      Du har protestert mot behandling etter GDPR artikkel 21 nr. 1 i påvente av 
      kontrollen av om hvorvidt våre berettigede interesser går foran ditt personvern.
    </li>
  </ol>

  <div class="font-weight-bold mt-2 mb-2">Retten til dataportabilitet</div>
  <p>
    For opplysninger som du har gitt til oss og er nødvendig for å gjennomføre en
     avtale med oss, og som behandles automatisk (dvs. ikke manuelt av oss) kan du
      be om å få personopplysningene om deg utlevert eller overført til annen leverandør
       i et strukturert, alminnelig anvendt og maskinlesbart format (dataportabilitet).
  </p>

  <div class="font-weight-bold mt-2 mb-2">Automatiserte avgjørelser, herunder profilering</div>
  <p>
    Det vil ikke bli foretatt automatiserte avgjørelser som nevnt i GDPR artikkel 22 nr.1 og 4 
    basert på dine personopplysninger.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Klager</div>
  <p>
    Vi benytter Datatilsynet i Norge som ledende tilsynsmyndighet for grenseoverskridende 
    behandling etter GDPR artikkel 56.
  </p>

  <p>
    Mener du at vår behandling av personopplysninger ikke er i overensstemmelse med det 
    vi har beskrevet her eller at vi på andre måter bryter personvernlovgivningen, så 
    kan du klage til Datatilsynet. Vi ber deg imidlertid å først kontakte oss, slik 
    at vi kan få utbret eventuelle feil behandling raskest mulig.
  </p>

  <p>
    Du finner informasjon om dine rettigheter og hvordan kontakte Datatilsynet på
    Datatilsynets nettsider: <a href="http://www.datatilsynet.no">www.datatilsynet.no</a>.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Endringer</div>
  <p>
    Hvis det skulle skje endring av våre tjenester eller endringer i regelverket 
    om behandling av personopplysninger, kan det medføre forandring i informasjonen 
    du er gitt her. Hvis vi har dine kontaktopplysninger, vil vi gjøre deg oppmerksom 
    på disse forandringene. Ellers vil oppdatert informasjon alltid finnes lett 
    tilgjengelig på våre nettsider.
  </p>

  <div class="font-weight-bold mt-2 mb-2">Bruk av nettsider og informasjonskapsler</div>
  <p>
    For å få informasjon om bruk av våre nettsider benytter vi informasjonskapsler (cookies).
     Du kan lese mer om cookies og hvilke cookies vi benytter nedenfor
  </p>

  <p>
    Vi bruker informasjonen som samles inn til bedre kundeopplevelsen på nettsider 
    og tjenester, samt å tilby funksjonalitet i tjenestene. Vi benytter også informasjonen 
    for å gi besøkende anbefalinger og tjenestetilpasninger som er mest mulig relevant for deg. Dette vil både bli gitt på bakgrunn av besøkendes atferd, f.eks. på bakgrunn av tjenester som er benyttet, linker som det er klikket 
    på, eller informasjon som er lest, og på bakgrunn av atferden til andre brukere med liknende
    bruksmønster.
  </p>

  <p>
    Vi kan også lagre anonyme identifikatorer lokalt på din enhet, 
    eksempelvis for enheter hvor vi ikke kan benytte informasjonskapsler. 
    Disse identifikatorene fungerer i stor utstrekning på sammevis som 
    informasjonskapslene, men kan være vanskeligere å fjerne.
  </p>

  <p>
    Personopplysningene benyttes også for å forbedre våre nettsider, og å utarbeide 
    statistikk og forstå bruken av sidene. Så langt det er praktisk mulig forsøker 
    vi å gjøre dette med anonyme opplysninger, uten at vi vet at informasjonen er 
    knyttet spesifikt til den enkelte besøkende.
  </p>

  <p>
    Vi behandler personopplysninger ovenfor på grunnlag av samtykke fra deg 
    (GDPR artikkel 6 (1) a). Vi har vurdert det slik at det er nødvendig for oss 
    for å gjøre dette for å tilpasse nettsiden til våre brukere. Vi ivaretar 
    imidlertid personvernet til besøkende på nettsiden ved at vi kun bruker 
    opplysningene til statistikk. I denne statistikken er det ikke mulig å 
    identifisere enkeltpersoner. Opplysningene vil oppbevares så lenge de er 
    nødvendige for formålene som nevnt ovenfor.
  </p>

  <p>
    Du kan forhindre at informasjonskapsler lagres og behandles på følgende måte: 
  </p>

  <ol class ="numeric">
    <li>
      Du kan slette informasjonskapsler fra din harddisk når som helst, men dette gjør at dine personlige innstillinger forsvinner.
    </li>
    <li>
      Du kan også endre innstillingene i din nettleser slik at den ikke tillater at 
      informasjonskapsler lagres på din harddisk, eller at du manuelt må godkjenne hver 
      enkelt cookie. Dette kan imidlertid gi dårligere funksjonalitet på visse nettsider, 
      kan forhindre tilgang til sider som krever innlogging og gjøre at deler av innhold 
      og enkelte funksjoner ikke blir tilgjengelige.
    </li>
    <li>
      Du kan reservere deg mot cookier som gir deg markedsføring basert på interesseområderfor 
      en lang rekke aktører på reservasjonssiden til Network Advertising Initiative.
    </li>
  </ol>

  <p>
    Dersom du ikke ønsker lagring av anonyme identifikatorer, kan du deaktivere 
    javascript i nettleseren. Det vil imidlertid innebære at Renteradar.no ikke vil fungere 
    i nettleseren din.
  </p>
  <p>
    Vi benytter og behandler følgende informasjonskapsler: 
  </p>
  
  <ul>
    <li>
      <b>Google Analytics:</b> Er et verktøy som måler all trafikk på nettsiden og kan benyttes for analyseformål. Mer informasjonher <a href="https://policies.google.com/technologies/ads?hl=no" target="_blank">her.</a>
    </li>
    <li>
      <b>Google Ads: </b>Brukes for måling av betalt reklame av søkeord og Google annonsering. Mer informasjonher <a href="https://policies.google.com/technologies/types?hl=en" target="_blank">her.</a>
    </li>
    <li>
      <b>Google Tag Manager:</b> Styrer tags for tracking og analyse. Mer info <a href="https://marketingplatform.google.com/about/tag-manager" target="_blank">her.</a>
    </li>
    <li>
      <b>Facebook Pixel:</b> Interaksjonsverktøy som Facebook bruker mot nettsteder for å bruke data til mer målrettet reklame. Mer informasjonher <a href="https://www.facebook.com/help/1075880512458213/?helpref=hc_fnav" target="_blank">her.</a>
    </li>
    <li>
      <b>Hotjar:</b> Er et interaksjonsverktøy som registrerer hvordan brukere bruker nettsiden. Mer informasjonher <a href="https://www.hotjar.com/legal/compliance/opt-out/" target="_blank">her.</a>
    </li>
  </ul>
</div>
