<div class="loans">
  <div *ngFor="let loan of loans; index as i" class="loan">
    <div *ngIf="!isMobile" class="desktop">
      <div class="loan-index">Lån {{ i + 1 }}</div>
      <!-- <div class="display-info"></div> -->
      <div class="loantype">
        <p class="title">Lånetype:</p>
        <div class="value">{{ loan.loanType }}</div>
      </div>
      <div class="info oustandingdebt">
        <p class="title">Utestående lån:</p>
        <div class="value">{{ loan.outstandingDebt }} kr</div>
      </div>
      <div class="info remainingyears">
        <p class="title">Løpetid:</p>
        <div class="value">{{ loan.remainingYears }} år</div>
      </div>
      <div class="info nominalrate">
        <p class="title">Nominell rente:</p>
        <div class="value">{{ loan.nominalRate }} %</div>
      </div>
    </div>

    <div *ngIf="isMobile" class="mobile"></div>
  </div>
</div>
