<div class="spart">
  <h4>Våre</h4>
  <h2 class="blue">30 000</h2>
  <h4>brukere kan i snitt spare</h4>
  <h2 class="green">110 000 kr</h2>


</div>


<!-- 
<div class="spart">
  <h4>Våre brukere har tilsammen:</h4>
  <div><h2 [countUp]="totalOutstandingDebt " [options]="totalOutstandingoptions"></h2> <span>kr</span></div>

  <h4 style="margin-bottom: 40px">i boliglån…</h4>
  <h4>…og kan potensielt spare:</h4>
  
  <div><h2 class = "green" [countUp]="combinedSavingsPotential " [options]="combinedSavingsPotentialOptions"> </h2>  <span>kr</span></div>
  <div class="counter green">

  </div>
</div>
 -->