
@import "../../../../../styles/theme/colors";
.spart {
  text-align: center;
  
  h4 {
    margin-bottom: 20px;
  }
  margin-bottom: 80px;
}
.counter {
  display: block;
  text-align: center;

  ng2-odometer {
    margin: auto;
  }
}

h2 {
  display: inline-block;
  margin-right: 10px
}

.green {
  color: $green;
}
