<div class="spart">
  <h4>Våre brukere har tilsammen:</h4>
  <div class="counter black">
    <ng2-odometer
      [number]="totalOutstandingDebt"
      [config]="{
        animation: 'slide',
        format: '  ddd',
        theme: 'car',
        value: 0,
        auto: true
      }"
      >0</ng2-odometer
    >
    kr
  </div>

  <h4 style="margin-bottom: 40px">i boliglån…</h4>
  <h4>…og kan potensielt spare:</h4>
  <div class="counter green">
    <ng2-odometer
      [number]="combinedSavingsPotential"
      [config]="{
        animation: 'slide',
        format: ' ddd',
        theme: 'car',
        value: 0,
        auto: true
      }"
      >0</ng2-odometer
    >
    kr
  </div>
</div>
