<div class="front-container blue">
  <div *ngIf="!isLoading" class="top">
    <img *ngIf="propertyIconPath !== null" src="{{propertyIconPath}}" />
    <div class="title">
      <h3>Vi har estimerat din bostad til</h3>
      <h1>{{ estimatedPropertyValue | number }} kr</h1>
    </div>
  </div>
  <div *ngIf="!isLoading" class="bottom">
    <div>
      <rente-button class="left" color="primary-wide-white" (click)="clickChangeButton()">
        Ändra / lägg till fler hem
      </rente-button>
      <rente-button class="right" color="primary-wide" (click)="clickConfirmButton()">
        Ta mig till erbjudanden
      </rente-button>
    </div>
  </div>
</div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>