@import '../../../../../../styles/theme/_colors.scss';

:host {
  z-index: 999999;
}

::ng-deep .mat-dialog-container {
  margin-top: 40px !important;
}
h2 {
  text-align: center;
}

h3,
h4,
p {
  margin: 20px 0;
}
.small {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 20px;
  font-weight: 400px;
  font-size: 16px;
}

rente-button {
  display: block;
  margin: auto;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  min-height: 400px;
  img {
    width: 75px;
    align-self: center;
    margin-bottom: 20px;
  }

  .address-grid {
    display: grid;
    background: $grey-light;
    padding: 10px 20px;
    border-radius: 15px;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    p {
      margin: 0;
    }
    .left {
      grid-column-start: 1;
    }
    .right {
      grid-column-start: 2;
    }
  }
}
.bottom {
  border-top: 1px solid #ececec;
  padding: 20px;
  border-radius: 0 0 10px 10px;

  &.single {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.double {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 370px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
