<div
  *ngIf="antiChurnIsOn && isNordea"
  class="big-box round-box right anti-churn-box"
>
  <div class="top">
    <div class="circleIconWrapper">
      <img src="{{ banksMap[currentBank?.name].imgCircle }}" />
    </div>
    <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
      {{ currentBank?.label }} ønsker å beholde deg som kunde
    </p>
  </div>
  <div class="bottom">
    <p>
      Gi Nordea anledning til å sette ned renten din før du eventuelt bytter
      bank
    </p>

    <p></p>

    <!-- 
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
    -->
    <rente-button
      i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
      [color]="antiChurnIsOn ? 'primary-wide-break' : 'primary-wide-hollow'"
      [disabled]="changeBankLoading || !antiChurnIsOn"
      [isLoading]="changeBankLoading"
      (click)="openAntiChurnBankDialog(offersInfo.offers.top5[0])"
      >Be {{ currentBank?.label }} om et bedre tilbud</rente-button
    >
  </div>
</div>

<div
  *ngIf="antiChurnIsOn && isDanskeBank"
  class="big-box round-box right anti-churn-box"
>
  <div class="top">
    <div class="circleIconWrapper">
      <img src="{{ banksMap[currentBank?.name].imgCircle }}" />
    </div>

    <p>Danske Bank ønsker å være konkurransedyktige</p>
  </div>
  <div class="bottom">
    <p>Gi Danske Bank anledning til å komme med et bedre tilbud.</p>

    <p></p>

    <!-- 
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
      PUT BACK DISABLED FOR SAVINGSTYPE BEFORE PROD!!!!!
    -->
    <rente-button
      i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
      [color]="antiChurnIsOn ? 'primary-wide-break' : 'primary-wide-hollow'"
      [disabled]="changeBankLoading || !antiChurnIsOn"
      [isLoading]="changeBankLoading"
      (click)="openAntiChurnBankDialog(offersInfo.offers.top5[0])"
      >Send forespørsel til Danske Bank</rente-button
    >
  </div>
</div>

<div
  *ngIf="canBargain && !isSweden && !antiChurnIsOn"
  class="big-box round-box right"
>
  <div class="top">
    <div class="circleIconWrapper">
      <img class="" src="../../../../assets/icons/mail-green.svg" />
    </div>
    <p
      *ngIf="!bankHasFixedLoans"
      i18n="“help-you|offers-main@@offers.mainPage.helpYou”"
    >
      Be banken min om lavere rente
    </p>
    <p *ngIf="bankHasFixedLoans">
      Banken din benytter listepris som ikke kan forhandles
    </p>
  </div>
  <div class="bottom">
    <rente-button
      i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
      color="primary-wide-hollow"
      [disabled]="shouldDisableButton()"
      [isLoading]="changeBankLoading"
      [color]="antiChurnIsOn ? 'primary-wide' : 'primary-wide-hollow'"
      (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
      >Be banken matche tilbud</rente-button
    >
  </div>
</div>

<div *ngIf="isSweden" class="big-box round-box left">
  <div class="top">
    <div class="circleIconWrapper">
      <img class="" src="../../../../assets/icons/rente-green-big.svg" />
    </div>
    <p i18n="“found-offers|offers-main@@offers.mainPage.foundOffers”">
      Vi har funnet de beste tilbudene for deg
    </p>
  </div>
  <div class="bottom">
    <rente-button
      i18n="
        “found-best-offers|offers-main@@offers.mainPage.found.bestOffers.button”"
      [disabled]="
        changeBankLoading ||
        offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
      "
      [isLoading]="changeBankLoading"
      color="primary-wide"
      (click)="goToBestOffer()"
      >Se beste tilbud</rente-button
    >
  </div>
</div>

<div *ngIf="!isSweden" class="big-box round-box left">
  <div class="top">
    <div class="circleIconWrapper">
      <img class="" src="../../../../assets/icons/rente-green-big.svg" />
    </div>
    <p i18n="“found-offers|offers-main@@offers.mainPage.foundOffers”">
      Vi har funnet de beste tilbudene for deg
    </p>
  </div>
  <div class="bottom">
    <rente-button
      i18n="
        “found-best-offers|offers-main@@offers.mainPage.found.bestOffers.button”"
      [disabled]="
        changeBankLoading ||
        offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
      "
      [isLoading]="changeBankLoading"
      [color]="antiChurnIsOn ? 'primary-wide-hollow' : 'primary-wide'"
      (click)="goToBestOffer()"
      >Se beste tilbud</rente-button
    >
  </div>
</div>

<div *ngIf="canBargain && isSweden" class="big-box round-box right desktop">
  <div class="top">
    <div class="circleIconWrapper">
      <img class="" src="../../../../assets/icons/mail-green.svg" />
    </div>
    <p i18n="“help-you|offers-main@@offers.mainPage.helpYou”">
      Be banken min om lavere rente
    </p>
  </div>
  <div class="bottom">
    <rente-button
      i18n="“help-you|offers-main@@offers.mainPage.helpYou.button”"
      color="primary-wide-hollow"
      [disabled]="shouldDisableButton()"
      [isLoading]="changeBankLoading"
      (click)="openChangeBankDialog(offersInfo.offers.top5[0])"
      >Be banken matche tilbud</rente-button
    >
  </div>
</div>

<div *ngIf="!canBargain && isSweden" class="big-box round-box right desktop">
  <div class="top">
    <div class="circleIconWrapper">
      <img class="" src="../../../../assets/icons/rente-green-big.svg" />
    </div>
    <p i18n="“found-offers|offers-main@@offers.mainPage.foundOffers”">
      Vi har funnet de beste tilbudene for deg
    </p>
  </div>
  <div class="bottom">
    <rente-button
      i18n="
        “found-best-offers|offers-main@@offers.mainPage.found.bestOffers.button”"
      [disabled]="
        changeBankLoading ||
        offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
      "
      [isLoading]="changeBankLoading"
      [color]="antiChurnIsOn ? 'primary-wide-hollow' : 'primary-wide'"
      (click)="goToBestOffer()"
      >Se beste tilbud</rente-button
    >
  </div>
</div>

<div *ngIf="!canBargain && isSweden" class="big-box round-box right desktop">
  <div class="top">
    <div class="circleIconWrapper">
      <img class="" src="../../../../assets/icons/mail-green.svg" />
    </div>
    <p>Pruta-funktionen är inte tillgänglig för dig</p>
  </div>
  <div class="bottom">
    <rente-button
      color="primary-wide-hollow"
      [disabled]="
        changeBankLoading ||
        offersInfo.offerSavingsType === offerSavingsType.NO_SAVINGS
      "
      [isLoading]="changeBankLoading"
      (click)="openBargainMoreInfoDialog()"
      >Läs mer</rente-button
    >
  </div>
</div>
