<div class="loan-summary" *ngIf="isSummaryNeeded">
  <div>
    <h3 class="title">Sammendrag av lån</h3>
    <div class="summary-box">
      <div
        class="four-container"
        *ngIf="myLoansService.loanOverViewObservable$ | async as result"
      >
        <div class="tab-container">
          <div class="btitle-one">
            <p>Utestående lån</p>
          </div>
          <div class="bvalue">
            <h3>
              {{ result.totalOutstandingDebt / 1000000 | number: '1.3-3' }}
              mill
            </h3>
          </div>
        </div>
        <div class="tab-container">
          <div class="btitle-two">
            <p>Effektiv rente</p>
          </div>

          <div class="bvalue">
            <h3>{{ result.totalEffectiveRate | number: '1.2-2' }} %</h3>
          </div>
        </div>
        <div class="tab-container">
          <div class="btitle-one">
            <p>Totale renter og gebyrer</p>
          </div>
          <div class="bvalue">
            <h3>
              {{
                result.aggregatedTotalInterestAndFee == null
                  ? 'N/A'
                  : (result.aggregatedTotalInterestAndFee | number: '1.0-0') +
                    ',-'
              }}
            </h3>
          </div>
        </div>
        <div class="tab-container">
          <div class="btitle-two">
            <p>Renter & gebyrer per år</p>
          </div>
          <div class="bvalue">
            <h3>
              {{
                result.aggregatedTotalInterestAndFeeByRemainingYears == null
                  ? 'N/A'
                  : (result.aggregatedTotalInterestAndFeeByRemainingYears
                      | number: '1.0-0') + ',-'
              }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="summary main-container">
  <div *ngFor="let loan of loans; index as i">
    <div *ngIf="loanData.loans.length === 1" class="general-title">
      <h3>Mitt lån</h3>
    </div>
    <rente-loan-signicat-users
      *ngIf="loan.isDeleted === false"
      [index]="i"
      [loan]="loan"
      [allOffers]="allOffers"
    ></rente-loan-signicat-users>
    <div *ngIf="loan.isDeleted === true" class="no-loans">Lån slettet</div>
  </div>
  <rente-button
    color="secondary"
    (click)="addLoan()"
    class="add-loan"
    [ngClass]="{
      'add-loan-opacity-low': isEditMode !== null,
      'add-loan-opacity-full': isEditMode === null
    }"
    >Legg til lån</rente-button
  >
</div>
<div *ngIf="isEmptyLoans" class="no-loans">Ingen lån</div>
