@import '../../../../../../styles/theme/_colors.scss';

.summary {
}

@media (min-width: 600px) {
  .summary {
    border-top: none;
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
  }
}

h3.title {
  color: white;
  padding: 0 0 10px 0;
}

p,
h3 {
  color: white !important;
}

.mb {
  margin-bottom: 6px;
}

.summary-box {
  width: 100%;
  background: none;
  border-radius: 10px;

  .first-box {
    background: none;
    box-shadow: none;
  }

  .double-container {
    justify-content: center;
  }

  .move-first-box {
    margin-left: 0px;
    margin-right: 0px;
  }

  .move-sec-box {
    margin-right: 0px;
  }

  .bvalue {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background: $karl-blue;

    @media (max-width: 768px) {
      width: 150px;
    }
  }

  .btitle-one,
  .btitle-two {
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: 767px) and (max-width: 992px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  @media (min-width: 769px) and (max-width: 992px) {
    width: 90%;
  }

  @media (min-width: 767px) and (max-width: 769px) {
    width: 100%;
  }
}

.four-container {
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.tab-container {
  @media (max-width: 351px) {
    display: grid;
    justify-content: center;
    margin-bottom: 15px;
  }

  @media (max-width: 769px) and (min-width: 351px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
}

.btitle-two,
.btitle-one {
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;

  p {
    margin-bottom: 5px;
  }

  @media (min-width: 767px) and (max-width: 769px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  @media (max-width: 601px) {
    padding-left: 0px;
    padding-right: 0px;
    p {
      padding: 4px !important;
    }
  }

  @media (max-width: 321px) {
    padding-left: 0px;
    padding-right: 0px;
    p {
      padding: 3px !important;
    }
  }
}

.btitle-two {
  padding-left: 7px;
  padding-right: 7px;

  @media (max-width: 321px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.bvalue {
  text-align: center;
  padding: 15px;
}

.main-container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
}

@media (min-width: 600px) {
  .summary {
    border-top: none;
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
  }
}

.loan-summary {
  flex-basis: 75%;
}

.general-title {
  padding: 0 0 20px;

  @media (max-width: 600px) {
    padding: 10px 10px 20px;
  }
  h3 {
    color: white;
  }
}

.no-loans {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  height: 600px;
}

.add-loan {
  margin-top: 200px;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.add-loan-opacity-low {
  opacity: 0.6;
}

.add-loan-opacity-full {
  opacity: 1;
}

.display-with-button {
  @media (min-width: 910px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (max-width: 910px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
  }
}

.add-loan-flex {
  flex-basis: 20%;
  align-self: flex-end;
}

.btn-margin-singleloan {
  margin-top: 30px;
}
