<div
  class="summary"
  *ngIf="loansData && loansData.loans && loansData.loans.length > 0"
>
  <div *ngFor="let loan of loans">
    <div>
      <div
        [ngClass]="
          isEditMode === true ? 'content-blue-box-edit' : 'content-blue-box'
        "
      >
        <div class="loan-type">
          <h3>Lån</h3>
          <div>
            <img
              [hidden]="isEditMode"
              (click)="setEnabled()"
              class="loan-edit-activate"
              src="../../../../../../assets/icons/edit-icon-grey.svg"
              alt="loan-edit"
            />
            <img
              [hidden]="!isEditMode"
              (click)="setDisabled()"
              class="loan-edit-cancel"
              src="../../../../../../assets/icons/cancel-icon-grey.svg"
              alt="loan-edit"
            />
          </div>
        </div>

        <div
          class="all-text"
          *ngIf="!isEditMode"
          [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
        >
          <h4 class="loan-center-title">Lånetype</h4>
          <div class="loan-center">
            <p>
              <!-- {{ loan.loanName }} -->
              BOLIGLÅN 85% BOLIGKR 0-2
            </p>
          </div>
        </div>

        <div
          class="forms"
          *ngIf="loanForm"
          [ngClass]="isEditMode === true ? 'edit-modus' : 'general-modus'"
        >
          <form class="p-0 border-0" [formGroup]="loanForm" novalidate change>
            <div class="field-box">
              <h4 class="text-white">Utestående lån:</h4>

              <div
                [ngClass]="
                  isEditMode === false ? 'non-active-input' : 'active-input'
                "
              >
                <mat-form-field class="white-input w-75" appearance="outline">
                  <input
                    placeholder="Skriv inn din lån"
                    matInput
                    type="tel"
                    maxlength="14"
                    autocomplete="off"
                    [formControlName]="'outstandingDebt'"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: ' kr',
                      align: 'center',
                      thousands: ' ',
                      precision: 0
                    }"
                  />
                </mat-form-field>

                <div
                  *ngIf="loanForm.controls['outstandingDebt'].touched"
                  class="error-message"
                >
                  <rente-form-message
                    class="d-block"
                    [type]="'error'"
                    *ngIf="
                      loanForm.controls['outstandingDebt'].hasError('required')
                    "
                  >
                    Kan ikke være tom
                  </rente-form-message>
                </div>
              </div>
            </div>

            <div class="field-box">
              <h4 class="text-white">Løpetid:</h4>

              <div
                [ngClass]="
                  isEditMode === false ? 'non-active-input' : 'active-input'
                "
              >
                <mat-form-field class="white-input w-130" appearance="outline">
                  <input
                    placeholder="Skriv inn løpetiden"
                    matInput
                    type="tel"
                    maxlength="9"
                    autocomplete="off"
                    [formControlName]="'remainingYears'"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: ' år',
                      align: 'center',
                      thousands: ' ',
                      decimal: ',',
                      precision: 2
                    }"
                  />
                </mat-form-field>

                <div
                  *ngIf="loanForm.controls['remainingYears'].touched"
                  class="error-message"
                >
                  <rente-form-message
                    class="d-block"
                    [type]="'error'"
                    *ngIf="
                      loanForm.controls['remainingYears'].hasError('required')
                    "
                  >
                    Kan ikke være tom
                  </rente-form-message>
                </div>
              </div>
            </div>

            <div class="field-box">
              <h4 class="text-white">Nominell rente:</h4>

              <div
                [ngClass]="
                  isEditMode === false ? 'non-active-input' : 'active-input'
                "
              >
                <mat-form-field class="white-input w-130" appearance="outline">
                  <input
                    placeholder="Nominell rente"
                    matInput
                    type="tel"
                    maxlength="7"
                    autocomplete="off"
                    [formControlName]="'nominalRate'"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: ' %',
                      align: 'center',
                      thousands: ' ',
                      decimal: ',',
                      precision: 2
                    }"
                  />
                </mat-form-field>

                <div
                  *ngIf="loanForm.controls['nominalRate'].touched"
                  class="error-message"
                >
                  <rente-form-message
                    class="d-block"
                    [type]="'error'"
                    *ngIf="
                      loanForm.controls['nominalRate'].hasError('required')
                    "
                  >
                    Kan ikke være tom
                  </rente-form-message>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div
          class="loan-info"
          *ngIf="showDisplayBox"
          [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
        >
          <div>
            <p>Effektiv rente:</p>
          </div>
          <div>
            <h3>{{ loan.effectiveRate | number: '1.2-2' }} %</h3>
          </div>
        </div>

        <div
          class="total-cost"
          *ngIf="showDisplayBox"
          [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
        >
          <div class="double-container">
            <div class="first-box move-first-box">
              <div class="btitle-one">
                <p>Totale renter og gebyrer</p>
              </div>
              <div class="bvalue">
                {{
                  loan.totalInterestAndTotalFee == null
                    ? 'N/A'
                    : (loan.totalInterestAndTotalFee | number: '1.0-0') + ',-'
                }}
              </div>
            </div>

            <div class="first-box move-sec-box">
              <div class="btitle-two">
                <p>Renter & gebyrer per år</p>
              </div>
              <div class="bvalue">
                {{
                  loan.totalInterestAndTotalFeeByRemainingYears == null
                    ? 'N/A'
                    : (loan.totalInterestAndTotalFeeByRemainingYears
                        | number: '1.0-0') + ',-'
                }}
              </div>
            </div>
          </div>
        </div>

        <div
          class="save-loan-button"
          *ngIf="isEditMode"
          [@buttonFadeInOut]="showButton ? 'visible' : 'hidden'"
        >
          <rente-button
            color="primary"
            (click)="save()"
            [disabled]="!ableTosave"
          >
            Lagre
          </rente-button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading" *ngIf="!loansData && !errorMessage">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div *ngIf="errorMessage">
  <h1 class="text-center mt-4">{{ errorMessage }}</h1>
</div>
