@import '../../../../../../styles/theme/_colors.scss';

.info {
  text-align: center;
  color: white;
  margin: 5px;
}

h3 {
  color: white;
}

p {
  color: white;
}

.forms {
  .non-active-input {
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background: none;
    }
    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
      border: none;
    }
  }

  .active-input {
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background: #004465a6;
    }

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
      border: 1px solid #478ccc;
      border-radius: 8px;
    }
  }

  ::ng-deep .mat-form-field-infix {
    top: 2px !important;
    border-top: none;
  }

  ::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 0 !important;
  }
  ::ng-deep .mat-form-field-outline-start {
    display: none !important;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 50px !important;
    border-width: 5px;
    border-left: none;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 1px !important;
    border: none;
    border-right: none;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-radius: 1px !important;
    border-bottom: none;
  }

  ::ng-deep .mat-form-field-infix input {
    text-align: center !important;
  }

  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: none !important;
  }

  @media (min-width: 600px) {
    form {
      min-width: 100%;
      display: flex;
    }
  }

  ::ng-deep input.mat-input-element {
    color: white !important;
  }

  .field-box {
    padding: 0 10px 13px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-size: 16px;
    }
  }

  ::placeholder {
    color: white;
    font-size: 1.1rem;
  }

  .loan-value {
    margin-right: 20px;
  }

  .d-block {
    text-align: center;
  }

  input {
    font-size: 16px !important;
  }
}

.summary {
  padding: 10px;
}

@media (min-width: 600px) {
  .summary {
    border-top: none;
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
  }
}

.total-cost {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-blue-box {
  width: 100%;
  background-color: $secondary;
  border-radius: 10px;
  height: 550px;
  transition: height 0.3s;
}

.content-blue-box-edit {
  width: 100%;
  background-color: $secondary;
  border-radius: 10px;
  height: 330px;
  transition: height 0.3s;
}

.double-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general-modus {
  margin-top: 0;
}

.edit-modus {
  margin-top: 10px;
}

.all-text {
  padding-top: 20px;
}

.loan-center-title {
  text-align: center;
  font-size: 15px;
  color: white;
}

.loan-center {
  text-align: center;
  margin: 2px 25px 25px 25px;
  background: #004465a6;
  border-radius: 30px;

  p {
    padding: 1em 2em;
    font-size: 14px;
    font-weight: 400;
  }
}

.loan-edit-activate {
  width: 35px;
}

.loan-edit-cancel {
  width: 35px;
  height: 35px;
}

.first-box {
  color: white;
  width: 40%;
  border-radius: 10px;
  padding: 8px;
  // border: 1px solid #4d97dc;
  background-color: #004465a6;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 3px 3px -1px;
}

.move-first-box {
  margin-left: 20px;
}

.move-sec-box {
  margin-right: 20px;
}

.btitle-two,
.btitle-one {
  text-align: center;
  padding-left: 11px;
  padding-right: 11px;

  p {
    padding: 6px;
  }
}

.btitle-two {
  padding-left: 7px;
  padding-right: 7px;
}

.bvalue {
  text-align: center;
  padding: 15px;
}

.loan-type {
  padding: 10px;
  color: white;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #004465a6;
  h3 {
    margin-left: 10px;
  }
}

.loan-info {
  padding: 10px 38px 10px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3,
  p {
    font-size: 16px;
  }
}

.text-white {
  width: 40% !important;
}

.w-75 {
  width: 150px !important;
}

.w-130 {
  width: 110px !important;
}

.save-loan-button {
  padding: 10px 0 18px;
}
