<div class="the-offers">
  <h3 id="best-offers-text" i18n=“best-offers3|offers-main@@offers.mainPage.bestOffers3” style="margin-bottom: 20px;">
      Beste tilbud:
    </h3>

    <div class="offers-type-container">
        <a class=" clickable" [ngClass]="currentOfferType == 'threeMonths' ? 'active' : 'deactive'" (click)="setOfferType('threeMonths')"> 3 mån </a>
        <a class=" clickable" [ngClass]="currentOfferType == 'oneYear' ? 'active' : 'deactive'" (click)="setOfferType('oneYear')"> 1 år </a>
        <a class=" clickable" [ngClass]="currentOfferType == 'all' ? 'active' : 'deactive'" (click)="setOfferType('all')">  Alla lån </a>
    </div>

    <div *ngIf="isMobile" class="sticky-table-header">
      <p i18n=“your-interest|offers-main@@offers.mainPage.yourInterestStickyBox”>Min effektive rente: </p>
      <span>{{ offersInfo.totalEffectiveRate | number: "1.2-2" }} %</span>
    </div>

    <div class="offers-grid">
      <ng-container *ngIf="currentOfferInfo">
        <div *ngFor="let offer of currentOfferInfo.offers.top5; let i = index" class="the-offer">

          <ng-container *ngIf="isMobile; else desktop">
            <rente-offer-card-blue [offer]="offer" [offersInfo]="currentOfferInfo" [index]="i + 1" [offerType]="currentOfferType">
            </rente-offer-card-blue>
          </ng-container>

          <ng-template #desktop>
            <rente-offer-card-big-blue [offer]="offer" [offersInfo]="currentOfferInfo" [index]="i + 1" [offerType]="currentOfferType">
            </rente-offer-card-big-blue>
          </ng-template>

        </div>
      </ng-container>
    </div>

    <div class="offers-grid">

      <ng-container *ngIf="offersInfo">
        <div *ngFor="let offer of offersInfo.offers.additionalPartnersOffers; let i = index" class="the-offer">

          <ng-container *ngIf="isMobile; else desktop">
            <rente-offer-card-blue [offer]="offer" [offersInfo]="currentOfferInfo" [index]=offer.offerPosition [offerType]="currentOfferType">
            </rente-offer-card-blue>
          </ng-container>

          <ng-template #desktop>
            <rente-offer-card-big-blue [offer]="offer" [offersInfo]="currentOfferInfo" [index]=offer.offerPosition [offerType]="currentOfferType">
            </rente-offer-card-big-blue>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>