
<!-- 
  <iframe src="https://link.tink.com/1.0/authorize/?client_id=3973e78ee8c140edbf36e53d50132ba1&redirect_uri=http%3A%2F%2Flocalhost%3A4302%2F&scope=accounts:read,investments:read,transactions:read,user:read&market=NO&locale=en_US&iframe=true">
 -->
 <rente-auth-sv-mockup></rente-auth-sv-mockup>
<rente-auth-sv>
</rente-auth-sv>


<!--
<p class="signUp">Skriv upp dig här så håller vi dig uppdaterad</p>
  <div class="singupContainer">
  
  <form
      [formGroup]="contactUsForm"
      novalidate
      (ngSubmit)="request()"
    >
      <div class="inputWrapper">
        <rente-input
          class="signup"
          [placeholder]="'E-post'"
          formControlName="email"
          [errorStateMatcher]="
            isErrorState(contactUsForm.controls['email'], contactUsForm)
          "
          [textControl]="inValid()"
          (blur)="onBlurErrorCheck()"
        >
        </rente-input>
        <div
          *ngIf="emailError"
          class="error-message"
        >
          <rente-form-message
            class="text-left d-block"
            [type]="'error'"
            *ngIf="contactUsForm.controls['email'].hasError('required')"
          >
            Ikke gyldig email
          </rente-form-message>
          <rente-form-message
            class="text-left d-block"
            [type]="'error'"
            *ngIf="contactUsForm.controls['email'].hasError('pattern')"
          >
            Ikke gyldig email
          </rente-form-message>
        </div>
      </div>

      <rente-button-small
        color="primary"
        [disabled]="!contactUsForm.valid || isLoading"
        >Håll mig uppdaterad
      </rente-button-small>
    </form>
  </div>

  -->