@import '../../../../styles/theme/_colors.scss';

.text {
  letter-spacing: 0.27px;
  line-height: 24px;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.register-btn {
  margin-bottom: 90px;
}

.text-left-small-screen {
  @media (max-width:450px) {
    text-align: left !important;
  }
}