<section *ngIf="!isLoginStarted && bankIdForm">
  <div class="row justify-content-center text-center my-md-5 my-2">

    <div class="col">
      <h2 class="title font-weight-bold">Logg inn med BankID på mobil</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <p class="mb-5 text text-left">
          Legg inn fødselsnummer og mobilnummer. Bekreft referansen på mobilen, så hentes dine lånedata automatisk. Vi
          bruker
          SSL verifisering, så all informasjon sendes kryptert.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <div class="text-center">
          <form [formGroup]="bankIdForm" novalidate>

            <div class="mb-4 bg-wrap">
              <div class="mb-4"><img style="max-width: 100px" src="{{bankLogo}}" alt="{{this.userBank.label}}"
                  title="{{this.userBank.label}}"></div>
              <div *ngIf="isSsnBankLogin; else birthdateInput" class="form-group">
                <!-- <input type="text" mask='separator'> -->
                <rente-input [placeholder]="'Fødselsnummer:'" formControlName="ssn" [textMask]="ssnMask" [type]="'tel'">
                </rente-input>

                <rente-form-message class="text-left d-block" [type]="'info'">11 siffer</rente-form-message>

                <div class="error-message" *ngIf="bankIdForm.controls['ssn'].touched">
                  <rente-form-message class="text-left d-block" *ngIf="bankIdForm.controls['ssn'].hasError('required')"
                    [type]="'error'">
                    This field is required
                  </rente-form-message>
                  <rente-form-message class="text-left d-block" *ngIf="bankIdForm.controls['ssn'].hasError('pattern')"
                    [type]="'error'">
                    Fødselsnummer ikke gyldig
                  </rente-form-message>
                </div>
              </div>

              <ng-template #birthdateInput>
                <div class="form-group">
                  <rente-input [placeholder]="'Fødselsdato:'" formControlName="birthdate" [textMask]="birthdateMask"
                    [type]="'tel'"></rente-input>
                  <rente-form-message class="text-left d-block" [type]="'info'">6 siffer</rente-form-message>
                  <div class="error-message" *ngIf="bankIdForm.controls['birthdate'].touched">
                    <rente-form-message class="text-left d-block"
                      *ngIf="bankIdForm.controls['birthdate'].hasError('required')" [type]="'error'">
                      This field is required
                    </rente-form-message>
                    <rente-form-message class="text-left d-block"
                      *ngIf="bankIdForm.controls['birthdate'].hasError('pattern')" [type]="'error'">
                      Fødselsdato ikke gyldig
                    </rente-form-message>
                  </div>
                </div>
              </ng-template>

              <div class="form-group">
                <rente-input [placeholder]="'Mobil:'" formControlName="phone" [textMask]="phoneMask" [type]="'tel'">
                </rente-input>
                <rente-form-message class="text-left d-block pb-0" [type]="'info'">8 siffer</rente-form-message>
                <div class="error-message" *ngIf="bankIdForm.controls['phone'].touched">
                  <rente-form-message class="text-left d-block"
                    *ngIf="bankIdForm.controls['phone'].hasError('required')" [type]="'error'">
                    This field is required
                  </rente-form-message>
                  <rente-form-message class="text-left d-block" *ngIf="bankIdForm.controls['phone'].hasError('pattern')"
                    [type]="'error'">
                    Telefonnummer ikke gyldig
                  </rente-form-message>
                </div>
              </div>
            </div>

            <p class="small my-4 text-center text-left-small-screen">
              Ved registrering bekrefter du <a (click)="openServiceDialog()">vilkårene</a> våre
            </p>
            <div class="register-btn">
              <rente-button color="primary" (click)="startLogin(bankIdForm.value)">Logg inn</rente-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<rente-login-status [userData]="userData" [userBank]="userBank" *ngIf="isLoginStarted"></rente-login-status>