.address-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
  grid-template-rows: 40px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

form {
  border: none !important;
}
.stepper {
  border-radius: 15px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  margin: 40px;
}
