<div class="wrapper">
  <div class="loading" *ngIf="isLoading">
    <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
  </div>

  <div class="forms-wrapper">
    <div *ngIf="signicatIframeUrl !== null" class="iframe-wrapper">
      <p class="warning" *ngIf="shouldShowBankWarningMessageDNB">
        Vi opplever at {{ bank?.label }} sperrer sine kunder fra å innhente egne
        lånedata. Derfor har vi laget en løsning hvor du selv fyller inn dine
        lånedata.
        <span *ngIf="bank?.name === 'DNB'">
          Les mer om hvor du finner disse dataene
          <a
            class="link"
            href="https://blogg.renteradar.no/slik-finner-du-din-rente-og-lanedata-i-dnbs-mobil-og-nettbank/"
            >her</a
          >.
        </span>
        <br />
        <br />
        Velg identifikasjonsmetode nedenfor for å bruke denne løsningen.
      </p>

      <div class="warning" *ngIf="shouldShowBankWarningMessage">
        <p>
          Vi kan dessverre i øyeblikket ikke innhente dine lånedata automatisk.
          Vi jobber med å utbedre feilen. I mellomtiden kan du benytte vår
          løsning hvor du selv fyller inn dine lånedata.
        </p>
      </div>

      <p>
        Ved å logge inn samtykker til at Renteradar.no henter og behandler dine
        personopplysninger.
        <a class="link" (click)="openTermsDialog()">Les mer</a>
      </p>

      <iframe
        *ngIf="signicatIframeUrl !== null"
        [src]="signicatIframeUrl"
        height="400"
        width="400"
      ></iframe>
    </div>

    <div *ngIf="!isMobile"></div>

    <div *ngIf="newClient === false" class="text-box">
      <h2>Velkommen tilbake</h2>
      <p class="wide-text" *ngIf="!oldUserNewLoan">
        Du er allerede registrert. Sjekk om lånedetaljene dine fortsatt stemmer
        før du går videre.
      </p>
      <p class="wide-text" *ngIf="oldUserNewLoan">
        Du er allerede registrert med en annen bank tidligere, derfor trenger vi
        bare oppdaterte lånedetaljer før alt er klart
      </p>
    </div>

    <!-- OldUsers has loan form only-->
    <form
      *ngIf="newClient === false"
      [formGroup]="loanFormGroup"
      novalidate
      class="loan-form"
    >
      <div class="center loan-grid">
        <div class="field left">
          <rente-input
            [placeholder]="'Hvor mye har du i boliglån?'"
            [type]="'tel'"
            [maskType]="mask.currency"
            matSuffix="kr"
            formControlName="outstandingDebt"
            [errorStateMatcher]="
              isErrorState(loanFormGroup?.controls['outstandingDebt'])
            "
          >
          </rente-input>

          <div *ngIf="loanFormGroup?.controls['outstandingDebt'].touched">
            <p
              class="error small"
              *ngIf="
                loanFormGroup?.controls['outstandingDebt'].hasError('required')
              "
            >
              Kan ikke være tom
            </p>
          </div>
        </div>

        <div
          i18n="“help|info-confirmation@@info.confirmation.help”"
          class="grid-right"
          (click)="
            openInfoDialog({
              header: ' Hvor mye er lånet ditt på i dag?',
              text:
                'Om du er usikker kan du gi oss omtrentlig lånestørrelse. Vit da at evt. beregnet besparelse vil bli høyere eller lavere ut i fra blant annet størrelsen på lånet ditt'
            })
          "
        >
          <mat-icon>help</mat-icon>
        </div>

        <div class="field">
          <rente-input
            [placeholder]="'Antall år igjen på lånet?'"
            [type]="'tel'"
            matSuffix="år"
            [maxLength]="4"
            formControlName="remainingYears"
            [errorStateMatcher]="
              isErrorState(loanFormGroup?.controls['remainingYears'])
            "
          >
          </rente-input>

          <div *ngIf="loanFormGroup?.controls['remainingYears'].touched">
            <p
              class="error small"
              *ngIf="
                loanFormGroup?.controls['remainingYears'].hasError('required')
              "
            >
              Kan ikke være tom
            </p>
          </div>
        </div>

        <div
          i18n="“help|info-confirmation@@info.confirmation.help”"
          class="grid-right"
          (click)="
            openInfoDialog({
              header: ' Hvor mange år har du igjen å til lånet er nedbetalt?',
              text:
                'Om du er usikker så kan du legge inn sånn omtrentlig hvor mange år du har. Hvis du lar feltet stå tomt antar vi at lånet har 20 år igjen.'
            })
          "
        >
          <mat-icon>help</mat-icon>
        </div>

        <div *ngIf="bank?.hasFixedLoans === false" class="field left">
          <rente-input
            [placeholder]="'Faste gebyrer'"
            [type]="'tel'"
            [maskType]="mask.currency"
            matSuffix="kr"
            formControlName="fee"
            [errorStateMatcher]="isErrorState(loanFormGroup?.controls['fee'])"
          >
          </rente-input>

          <div *ngIf="loanFormGroup?.controls['outstandingDebt'].touched">
            <p
              class="error small"
              *ngIf="
                loanFormGroup?.controls['outstandingDebt'].hasError('required')
              "
            >
              Kan ikke være tom
            </p>
          </div>
        </div>

        <div
          *ngIf="bank?.hasFixedLoans === false"
          i18n="“help|info-confirmation@@info.confirmation.help”"
          class="grid-right"
          (click)="
            openInfoDialog({
              header: 'Faste gebyrer',
              text: 'Her fyller du inn det månedlige termingebyret'
            })
          "
        >
          <mat-icon>help</mat-icon>
        </div>

        <div *ngIf="bank?.hasFixedLoans === false" class="field left">
          <rente-input
            [placeholder]="'Nominell rente'"
            matSuffix="%"
            [maxLength]="5"
            formControlName="interestRate"
            [errorStateMatcher]="
              isErrorState(loanFormGroup?.controls['remainingYears'])
            "
          >
          </rente-input>

          <div *ngIf="loanFormGroup?.controls['remainingYears'].touched">
            <p
              class="error small"
              *ngIf="
                loanFormGroup?.controls['remainingYears'].hasError('required')
              "
            >
              Kan ikke være tom
            </p>
          </div>
        </div>

        <div *ngIf="bank?.hasFixedLoans === true" class="field left">
          <mat-form-field appearance="fill">
            <mat-label>Lånetype</mat-label>
            <mat-select
              [compareWith]="matSelectLoanTypeCompare"
              formControlName="loanType"
            >
              <mat-option
                *ngFor="let option of productIdOptions"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          *ngIf="bank?.hasFixedLoans === true"
          i18n="“help|info-confirmation@@info.confirmation.help”"
          class="grid-right-dropdown"
          (click)="
            openInfoDialog({
              header: 'Lånetype',
              text:
                'Lånetype er navnet på lånet ditt og er ofte en kombinasjon av «Boliglån», «Rammelån» e.l. og belåningsgraden din. Eksempel: «Boliglån 50%».',
              text2:
                'Merk, listen inkluderer ikke fastrentelån siden tjenesten vår dessverre ikke har støtte for dette enda.'
            })
          "
        >
          <mat-icon>help</mat-icon>
        </div>

        <div *ngIf="bank?.hasFixedLoans === false" class="field left">
          <mat-form-field appearance="fill">
            <mat-label>Lånetype</mat-label>
            <mat-select
              [compareWith]="matSelectLoanTypeCompare"
              formControlName="loanTypeOption"
            >
              <mat-option
                *ngFor="let option of loanTypeOptions"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <!-- End OldUsers loan form -->

    <!-- New users has many forms-->
    <div class="new-client-form" *ngIf="newClient === true">
      <div class="header-wrapper">
        <rente-flow-header
          class="flow-header"
          [count]="5"
          [currentIndex]="currentStepperValue"
          (indexChange)="updateStepperIndex($event)"
        >
        </rente-flow-header>
      </div>

      <div class="stepper-wrapper">
        <mat-horizontal-stepper class="stepper" [linear]="false" #stepper>
          <!-- New users emailFormGroup-->
          <mat-step [stepControl]="emailFormGroup" [editable]="true">
            <div class="text-box">
              <h2>Velkommen!</h2>
              <h4>
                Vi trenger bare noen få detaljer om deg og lånet ditt før alt er
                klart. Fyll inn boksene og trykk på Neste under.
              </h4>
            </div>

            <form [formGroup]="emailFormGroup" novalidate (ngSubmit)="next()">
              <div autofocus class="field">
                <rente-input
                  [placeholder]="'E-post'"
                  formControlName="email"
                  [errorStateMatcher]="
                    isErrorState(emailFormGroup?.controls['email'])
                  "
                >
                </rente-input>

                <div *ngIf="emailFormGroup?.controls['email'].touched">
                  <p
                    class="error small"
                    *ngIf="
                      emailFormGroup?.controls['email'].hasError('required')
                    "
                  >
                    Kan ikke være tom
                  </p>
                  <p
                    class="error small"
                    *ngIf="
                      emailFormGroup?.controls['email'].hasError('pattern')
                    "
                  >
                    Ugyldig e-post
                  </p>
                </div>
              </div>

              <div class="buttons"></div>
            </form>
          </mat-step>
          <!-- New users userFormGroup-->
          <mat-step [stepControl]="userFormGroup" [editable]="true">
            <form
              [formGroup]="userFormGroup"
              novalidate
              (ngSubmit)="next()"
              class="center"
            >
              <div class="address-grid">
                <div class="field">
                  <rente-input
                    [placeholder]="'Adresse'"
                    formControlName="address"
                    [errorStateMatcher]="
                      isErrorState(userFormGroup?.controls['address'])
                    "
                  >
                  </rente-input>

                  <div *ngIf="userFormGroup?.controls['address'].touched">
                    <p
                      i18n="“empty|info-confirmation@@info.confirmation.empty”"
                      class="error small"
                      *ngIf="
                        userFormGroup?.controls['address'].hasError('required')
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                </div>

                <div class="field">
                  <rente-input
                    [type]="'tel'"
                    [placeholder]="'Postnummer'"
                    formControlName="zip"
                    [maxLength]="4"
                    [errorStateMatcher]="
                      isErrorState(userFormGroup?.controls['zip'])
                    "
                    [maskType]="mask.zip"
                  >
                  </rente-input>

                  <div *ngIf="userFormGroup?.controls['zip'].touched">
                    <p
                      i18n="“empty|info-confirmation@@info.confirmation.empty”"
                      class="error small"
                      *ngIf="
                        userFormGroup?.controls['zip'].hasError('required')
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                </div>

                <div class="field-with-info fill">
                  <rente-input
                    [placeholder]="'Størrelse på boligen din'"
                    formControlName="apartmentSize"
                    matSuffix="kvm"
                    [errorStateMatcher]="
                      isErrorState(userFormGroup?.controls['apartmentSize'])
                    "
                    [type]="'tel'"
                    [maskType]="mask.squareMeter"
                  >
                  </rente-input>

                  <div *ngIf="userFormGroup?.controls['apartmentSize'].touched">
                    <p
                      i18n="
                        “empty2|info-confirmation@@info.confirmation.empty2”"
                      class="error small"
                      *ngIf="
                        userFormGroup?.controls['apartmentSize'].hasError(
                          'required'
                        )
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                  <div
                    i18n="“help|info-confirmation@@info.confirmation.help”"
                    class="clickable"
                    (click)="
                      openInfoDialog({
                        text: 'Brukes til å estimere din boligverdi'
                      })
                    "
                  >
                    <mat-icon>help</mat-icon>
                  </div>
                </div>
              </div>

              <div class="field-with-info">
                <rente-input
                  [placeholder]="'Din brutto årsinntekt'"
                  formControlName="income"
                  matSuffix="kr"
                  [errorStateMatcher]="
                    isErrorState(userFormGroup?.controls['income'])
                  "
                  [type]="'tel'"
                  [maskType]="mask.currency"
                >
                </rente-input>
                <div *ngIf="userFormGroup?.controls['income'].touched">
                  <p
                    i18n="“empty3|info-confirmation@@info.confirmation.empty3”"
                    class="error small"
                    *ngIf="
                      userFormGroup?.controls['income'].hasError('required')
                    "
                  >
                    Kan ikke være tom
                  </p>
                </div>
                <div
                  i18n="“help|info-confirmation@@info.confirmation.help”"
                  class="clickable"
                  (click)="
                    openInfoDialog({
                      text:
                        'Din/Husstandens inntekt er en viktig parameter for renten bankene tilbyr'
                    })
                  "
                >
                  <mat-icon>help</mat-icon>
                </div>
              </div>
            </form>
          </mat-step>
          <!--  Confirm estimated value on house -->
          <mat-step [editable]="true">
            <div>
              <div
                class="propertyValueTitle"
                *ngIf="
                  estimatedPropertyValueFromVirdi !== null &&
                  !isManualPropertyValue
                "
              >
                <p class="propertyBox">Estimert boligverdi</p>
                <h3 class="estimatedValueNumber">
                  {{ estimatedPropertyValueFromVirdi | number }} kr
                </h3>
                <br /><br />
                <!-- <h1 class="correctValueTitle"></h1> -->

                <div class="setmanualbutton">
                  <rente-button
                    cdkFocusInitial
                    color="primary-hollow"
                    (click)="setManualPropertyValue()"
                  >
                    Endre boligverdi
                  </rente-button>
                </div>
              </div>
              <div class="propertyValueTitle" *ngIf="isManualPropertyValue">
                <p class="propertyBox">Egen boligverdi estimat</p>
                <h3 class="estimatedValueNumber">
                  {{ manualEstimatedPropertyValueFromUser | number }} kr
                </h3>
                <br /><br />
                <div class="setmanualbutton">
                  <rente-button
                    cdkFocusInitial
                    color="primary-hollow"
                    (click)="setManualPropertyValue()"
                  >
                    Endre boligverdi
                  </rente-button>
                </div>
              </div>
            </div>
          </mat-step>
          <!-- New users loanFormGroup-->
          <mat-step [editable]="true">
            <form
              *ngIf="newClient === true"
              [formGroup]="loanFormGroup"
              novalidate
              (ngSubmit)="next()"
              class="center loan-form"
            >
              <div class="loan-grid">
                <div class="field">
                  <rente-input
                    [placeholder]="'Hvor mye har du i boliglån?'"
                    [type]="'tel'"
                    [maskType]="mask.currency"
                    matSuffix="kr"
                    formControlName="outstandingDebt"
                    [errorStateMatcher]="
                      isErrorState(loanFormGroup?.controls['outstandingDebt'])
                    "
                  >
                  </rente-input>

                  <div
                    *ngIf="loanFormGroup?.controls['outstandingDebt'].touched"
                  >
                    <p
                      class="error small"
                      *ngIf="
                        loanFormGroup?.controls['outstandingDebt'].hasError(
                          'required'
                        )
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                </div>

                <div
                  i18n="“help|info-confirmation@@info.confirmation.help”"
                  class="grid-right"
                  (click)="
                    openInfoDialog({
                      header: ' Hvor mye er lånet ditt på i dag?',
                      text:
                        'Om du er usikker kan du gi oss omtrentlig lånestørrelse. Vit da at evt. beregnet besparelse vil bli høyere eller lavere ut i fra blant annet størrelsen på lånet ditt'
                    })
                  "
                >
                  <mat-icon>help</mat-icon>
                </div>

                <div class="field">
                  <rente-input
                    [placeholder]="'Antall år igjen på lånet?'"
                    [type]="'tel'"
                    matSuffix="år"
                    [maxLength]="4"
                    formControlName="remainingYears"
                    [errorStateMatcher]="
                      isErrorState(loanFormGroup?.controls['remainingYears'])
                    "
                  >
                  </rente-input>

                  <div
                    *ngIf="loanFormGroup?.controls['remainingYears'].touched"
                  >
                    <p
                      class="error small"
                      *ngIf="
                        loanFormGroup?.controls['remainingYears'].hasError(
                          'required'
                        )
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                </div>

                <div
                  i18n="“help|info-confirmation@@info.confirmation.help”"
                  class="grid-right"
                  (click)="
                    openInfoDialog({
                      header:
                        ' Hvor mange år har du igjen å til lånet er nedbetalt?',
                      text:
                        'Om du er usikker så kan du legge inn sånn omtrentlig hvor mange år du har. Hvis du lar feltet stå tomt antar vi at lånet har 20 år igjen.'
                    })
                  "
                >
                  <mat-icon>help</mat-icon>
                </div>

                <div *ngIf="bank?.hasFixedLoans === false" class="field left">
                  <rente-input
                    [placeholder]="'Faste gebyrer'"
                    [type]="'tel'"
                    [maskType]="mask.currency"
                    matSuffix="kr"
                    formControlName="fee"
                    [errorStateMatcher]="
                      isErrorState(loanFormGroup?.controls['fee'])
                    "
                  >
                  </rente-input>

                  <div
                    *ngIf="loanFormGroup?.controls['outstandingDebt'].touched"
                  >
                    <p
                      class="error small"
                      *ngIf="
                        loanFormGroup?.controls['outstandingDebt'].hasError(
                          'required'
                        )
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                </div>

                <div
                  *ngIf="bank?.hasFixedLoans === false"
                  i18n="“help|info-confirmation@@info.confirmation.help”"
                  class="grid-right"
                  (click)="
                    openInfoDialog({
                      header: 'Faste gebyrer',
                      text: 'Her fyller du inn det månedlige termingebyret'
                    })
                  "
                >
                  <mat-icon>help</mat-icon>
                </div>

                <div *ngIf="bank?.hasFixedLoans === false" class="field left">
                  <rente-input
                    [placeholder]="'Nominell rente'"
                    matSuffix="%"
                    [maxLength]="5"
                    formControlName="interestRate"
                    [errorStateMatcher]="
                      isErrorState(loanFormGroup?.controls['remainingYears'])
                    "
                  >
                  </rente-input>

                  <div
                    *ngIf="loanFormGroup?.controls['remainingYears'].touched"
                  >
                    <p
                      class="error small"
                      *ngIf="
                        loanFormGroup?.controls['remainingYears'].hasError(
                          'required'
                        )
                      "
                    >
                      Kan ikke være tom
                    </p>
                  </div>
                </div>

                <div *ngIf="bank?.hasFixedLoans === true" class="field left">
                  <mat-form-field appearance="fill">
                    <mat-label>Lånetype</mat-label>
                    <mat-select
                      [compareWith]="matSelectLoanTypeCompare"
                      formControlName="loanType"
                    >
                      <mat-option
                        *ngFor="let option of productIdOptions"
                        [value]="option"
                      >
                        {{ option.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div
                  *ngIf="bank?.hasFixedLoans === true"
                  i18n="“help|info-confirmation@@info.confirmation.help”"
                  class="grid-right-dropdown"
                  (click)="
                    openInfoDialog({
                      header: 'Lånetype',
                      text:
                        'Lånetype er navnet på lånet ditt og er ofte en kombinasjon av «Boliglån», «Rammelån» e.l. og belåningsgraden din. Eksempel: «Boliglån 50%».',
                      text2:
                        'Merk, listen inkluderer ikke fastrentelån siden tjenesten vår dessverre ikke har støtte for dette enda.'
                    })
                  "
                >
                  <mat-icon>help</mat-icon>
                </div>

                <div *ngIf="bank?.hasFixedLoans === false" class="field left">
                  <mat-form-field appearance="fill">
                    <mat-label>Lånetype</mat-label>
                    <mat-select
                      [compareWith]="matSelectLoanTypeCompare"
                      formControlName="loanTypeOption"
                    >
                      <mat-option
                        *ngFor="let option of loanTypeOptions"
                        [value]="option"
                      >
                        {{ option.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </mat-step>
          <!-- New users membershipFormGroup-->
          <mat-step [stepControl]="membershipFormGroup" [editable]="true">
            <form
              *ngIf="newClient === true"
              [formGroup]="membershipFormGroup"
              novalidate
              (ngSubmit)="newUserFinished()"
              class="center"
            >
              <div class="field full-height">
                <div class="info-box">
                  <p class="small">
                    Bankene gir ofte bedre betingelser om du er medlem i en
                    organisasjon
                  </p>
                </div>
                <div class="membership-wrapper">
                  <mat-form-field>
                    <input
                      type="number"
                      placeholder="+ Legg til medlemskap (valgfritt)"
                      matInput
                      [formControl]="membershipCtrl"
                      formControlName="membership"
                      #membershipInput
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="selected($event)"
                    >
                      <mat-option
                        *ngFor="let membership of filteredMemberships | async"
                        [value]="membership"
                      >
                        {{ membership.label }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <p
                    i18n="
                      “my-memberships|info-confirmation@@info.confirmation.myMemberships”"
                    class="small"
                    *ngIf="memberships.length"
                  >
                    Mine medlemskap
                  </p>
                  <p
                    class="memberlist"
                    *ngFor="let membership of memberships; let i = index"
                  >
                    {{ membership.label }}
                    <mat-icon class="clickable" (click)="remove(membership, i)">
                      delete_forever
                    </mat-icon>
                  </p>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>

    <div class="bottom">
      <rente-button
        *ngIf="newClient === false"
        class="right"
        (click)="oldUserFinished()"
        color="primary"
        [isLoading]="isLoading"
        [disabled]="loanFormGroup?.invalid || isLoading"
      >
        Finn beste rente
      </rente-button>

      <div
        *ngIf="newClient === true && stepper !== undefined"
        [ngSwitch]="stepper.selectedIndex"
      >
        <div *ngSwitchCase="0">
          <rente-button
            class="right"
            (click)="next()"
            color="primary"
            [isLoading]="isLoading"
            [disabled]="emailFormGroup?.invalid || isLoading"
          >
            Neste
          </rente-button>
        </div>
        <div *ngSwitchCase="1">
          <rente-button
            (click)="back()"
            i18n="choose-office |change-bank@@change.bank.location.back"
            class="left"
            color="mat-primar-hollow-medium"
          >
            Tilbake
          </rente-button>
          <rente-button
            class="right"
            (click)="goToLoansForm()"
            color="primary"
            [isLoading]="isLoading"
            [disabled]="userFormGroup?.invalid || isLoading"
          >
            Neste
          </rente-button>
        </div>
        <!-- The switch case for confirming estimated value -->
        <div *ngSwitchCase="2">
          <rente-button
            (click)="back()"
            class="left"
            color="mat-primar-hollow-medium"
          >
            Tilbake
          </rente-button>
          <rente-button
            class="right"
            (click)="next()"
            color="primary"
            [isLoading]="isLoading"
          >
            Fortsett
          </rente-button>
        </div>
        <!-- Conf end -->
        <div *ngSwitchCase="3">
          <rente-button
            (click)="back()"
            i18n="choose-office |change-bank@@change.bank.location.back"
            class="left"
            color="mat-primar-hollow-medium"
          >
            Tilbake
          </rente-button>
          <rente-button
            class="right"
            (click)="next()"
            color="primary"
            [isLoading]="isLoading"
            [disabled]="loanFormGroup?.invalid || isLoading"
          >
            Neste
          </rente-button>
        </div>
        <div *ngSwitchCase="4">
          <rente-button
            (click)="back()"
            i18n="choose-office |change-bank@@change.bank.location.back"
            class="left"
            color="mat-primar-hollow-medium"
          >
            Tilbake
          </rente-button>
          <rente-button
            class="right"
            (click)="newUserFinished()"
            color="primary"
            [isLoading]="isLoading"
            [disabled]="membershipFormGroup?.invalid || isLoading"
          >
            Ferdig
          </rente-button>
        </div>
        <div *ngSwitchDefault></div>
      </div>
    </div>
  </div>
</div>
