@import "../../../../styles/theme/_colors.scss";

.email-form {
  margin-top: 40px;

  h3 {
    font-size: 16px;
    line-height: 1.2;
    color: #112639;
    font-weight: 500;
  }
}

.login {
  text-align: center;
}
h3,
p {
  margin-bottom: 20px;
}

.dnbError {
  text-align: center;
}

rente-button {
  text-align: center;
  margin-top: 40px;
  display: block;
}

.dnbInstability {
  color: $red;
}


.bank-logo {
  margin-bottom: 20px;
  max-width: 140px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}
a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

mat-checkbox {
  margin-bottom: 40px;
  display: block;
}

.red {
  text-align: center;
  color: red;
}

.calculator-promotion {
  text-align: center;
  margin-top: 20px;
}
