<div class="loan-summary" *ngIf="isSummaryNeeded">
  <div class="fix">
    <h3 class="title">Sammendrag av lån</h3>
    <div class="summary-box">
      <div
        class="four-container"
        *ngIf="myLoansService.loanOverViewObservable$ | async as result"
      >
        <div class="tab-container">
          <p>Utestående lån</p>
          <div class="bvalue">
            <h3>
              {{ result.totalOutstandingDebt / 1000000 | number: '1.3-3' }}
              mill
            </h3>
          </div>
        </div>
        <div class="tab-container">
          <p>Effektiv rente</p>

          <div class="bvalue">
            <h3>
              {{ result.totalEffectiveRate | number: '1.2-2' }}
              %
            </h3>
          </div>
        </div>
        <div class="tab-container">
          <p>Totale renter og gebyrer</p>
          <div class="bvalue">
            <h3>
              {{
                result.aggregatedTotalInterestAndFee == null
                  ? 'N/A'
                  : (result.aggregatedTotalInterestAndFee | number: '1.0-0') +
                    ',-'
              }}
            </h3>
          </div>
        </div>
        <div class="tab-container">
          <p>Renter & gebyrer per år</p>
          <div class="bvalue">
            <h3>
              {{
                result.aggregatedTotalInterestAndFeeByRemainingYears == null
                  ? 'N/A'
                  : (result.aggregatedTotalInterestAndFeeByRemainingYears
                      | number: '1.0-0') + ',-'
              }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="summary main-container" *ngIf="loans !== null">
  <div *ngFor="let loan of loans; index as i">
    <rente-loan-fixed-price
      *ngIf="loan.isDeleted === false"
      [index]="i"
      [loan]="loan"
      [allOffers]="allOffers"
    ></rente-loan-fixed-price>
    <div *ngIf="loan.isDeleted === true" class="no-loans">Lån slettet</div>
  </div>
</div>
<div *ngIf="isEmptyLoans" class="no-loans">Ingen lån</div>
