@import '../../../../../../styles/theme/_colors.scss';

.summary {
  padding: 10px;
}

@media (min-width: 600px) {
  .summary {
    border-top: none;
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
  }
}
