
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #112639;
  border-radius: 15px;
}

p {
  color: "#fffffff" !important;
}
rect {
  rx: 0 !important;
}
h3 {
  color: white;
  position: relative;
  padding: 20px;
  z-index: 1;
}
.chart {
  margin-top: -20px;
  pointer-events: none;
  z-index: 1;
}
.chart-hidden {
  position: relative;
  height: 0px;
  z-index: -10;
}


.bottomBox {
  background: #6C7580;
  border-radius: 0 0 15px 15px;
  padding: 1px 15px 15px 15px;
  margin-top: 15px;
}

.segmentText {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

.small {
  text-align: left;
  color: white;
}
