<div class="dash-tabs-blue-wrapper">
  <div class="dash-tabs-blue">
    <div class="inner">
      <div class="dash-logo-tab">
        <nav>
          <a [routerLink]="['./' + routesMap.offers]">
            <img class="rente-logo" [src]="dashLogo" alt="Renteradar logo" />
          </a>
        </nav>
      </div>

      <div class="dash-all-tabs">
        <nav mat-tab-nav-bar class="dash-tab">
          <a
            mat-tab-link
            [active]="activeLinkIndex == 0"
            [routerLink]="'./' + routesMap.offers"
            (click)="setActiveIndex(0)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="inside-btn">
              <span
                class="notification circle"
                *ngIf="getOfferNotifications() | async"
                ><p class="test">{{ getOfferNotifications() | async }}</p></span
              >
              <img
                class="rente-icon"
                src="../../../../../assets/icons/rente-logo-icon-white.svg"
                alt="Banktilbud"
              />
              <p i18n="“title|offer@@dashboard.loggedIn.offer”">Tilbud</p>
            </div>
          </a>
        </nav>
        <nav mat-tab-nav-bar class="dash-tab">
          <a
            mat-tab-link
            [active]="activeLinkIndex == 1"
            [routerLink]="'./' + routesMap.loans"
            (click)="setActiveIndex(1)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="inside-btn">
              <img
                class="graph-icon"
                src="../../../../../assets/icons/graph-icon-white.svg"
                alt="Mine lån"
              />
              <p i18n="“title2|my-loans@@dashboard.loggedIn.myLoans”">
                Mine lån
              </p>
            </div>
          </a>
        </nav>
        <nav mat-tab-nav-bar class="dash-tab">
          <a
            mat-tab-link
            [active]="activeLinkIndex == 2"
            [routerLink]="'./' + routesMap.property"
            (click)="setActiveIndex(2)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="inside-btn">
              <img
                class="house-icon"
                src="../../../../../assets/icons/house-icon-white.svg"
                alt="Bolig"
              />
              <p i18n="“title3|house@@dashboard.loggedIn.house”">Bolig</p>
            </div>
          </a>
        </nav>
        <nav mat-tab-nav-bar class="dash-tab">
          <a
            mat-tab-link
            [active]="activeLinkIndex == 4"
            [routerLink]="'./' + routesMap.profile"
            (click)="setActiveIndex(4)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div class="inside-btn">
              <img
                class="profile-icon"
                src="../../../../../assets/icons/profile-icon-white.svg"
                alt="Profil"
              />
              <p i18n="“title4|profile@@dashboard.loggedIn.profile”">Profil</p>
            </div>
          </a>
        </nav>
      </div>

      <div class="dash-logout-tab">
        <nav mat-tab-nav-bar>
          <a
            i18n="“Headerlink|log-out@@header.logOut5”"
            (click)="logout()"
            [routerLink]="['/']"
            routerLinkActive="active-link"
            class="highlight"
            >Logg ut
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>
