.stars {
  display: flex;
  justify-content: center;
  .star {
    width: 35px;
    height: 64px;
    background-image: url("../../../../../assets/icons/ic_star_empty.svg");
    background-position: center;
    background-repeat: no-repeat;

    &.filled {
      background-image: url("../../../../../assets/icons/ic_star_full.svg");
    }
  }
}
