<div class="container">

<h1>Velg konto:</h1>

<div class="box-container">
  <a class="box round-box blue-bg clickable" (click)="goToChoice(0)">
    <div>
  
      <h2>
        Option 1
      </h2>
     
    </div>
    <img class="arrow-big" src="../../../../assets/icons/arrow-big.svg" />
  </a>


  <a class="box round-box blue-bg clickable" (click)="goToChoice(0)">
    <div>
  
      <h2>
        Option 2
      </h2>
     
    </div>
    <img class="arrow-big" src="../../../../assets/icons/arrow-big.svg" />
  </a>


  <a class="box round-box blue-bg clickable" (click)="goToChoice(0)">
    <div>
  
      <h2>
        Option 3
      </h2>
     
    </div>
    <img class="arrow-big" src="../../../../assets/icons/arrow-big.svg" />
  </a>
</div>

</div>