<div class="top">
  <h4 i18n="could-not-estimate-value@@could-not-estimate.value">
    Vi klarte dessverre ikke å estimere din boligverdi
  </h4>

  <p
    class="no-margin"
    i18n="several-reasons-for-this@@several.reasons.for.this"
  >
    Det kan være flere grunner til dette:
  </p>
  <ul>
    <li i18n="wrong-address-or-zip@@wrong.address.or.zip">
      Feil adresse eller postnummer
    </li>
    <li
      *ngIf="isNorway"
      i18n="cannot-estimate-home-value@@cannot.estimate.home.value"
    >
      Vi greier ikke estimere verdi på fritidsboliger
    </li>
  </ul>

  <div class="info-box" *ngIf="showInfoBox">
    <p
      i18n="
        check-address-or-choose-manually@@check.address.or.set.value.manually"
    >
      Sjekk at adressen er riktig, eller velg <b>"Legg til boligverdi"</b> og
      legg inn verdien manuelt
    </p>
    <div class="address-grid">
      <div class="left">
        <p *ngIf="data.address.street">Adresse:</p>
        <p *ngIf="data.address.zip">Postnummer:</p>
        <p *ngIf="data.address.apartmentSize">Boligstørrelse:</p>
        <p *ngIf="data.income">Din brutto årsinntekt:</p>
      </div>

      <div class="right">
        <p *ngIf="data.address.street">{{ data.address.street }}</p>
        <p *ngIf="data.address.zip">{{ data.address.zip }}</p>
        <p *ngIf="data.address.apartmentSize">
          {{ data.address.apartmentSize }}
        </p>
        <p *ngIf="data.income">{{ data.income }}</p>
      </div>
    </div>
  </div>

  <div class="manualvaluebox" *ngIf="isManualValue">
    <form
      class="manualvalueform"
      [formGroup]="manualPropertyValueForm"
      novalidate
    >
      <div class="field">
        <div class="withinfo">
          <div>
            <rente-input
              #aptValue
              [placeholder]="inputPlaceHolder"
              formControlName="apartmentValue"
              matSuffix="kr"
              [errorStateMatcher]="
                isErrorState(manualPropertyValueForm.controls['apartmentValue'])
              "
              [type]="'tel'"
              [maskType]="mask.currency"
              [focusListener]="sendFocusVal$"
            >
            </rente-input>
            <div
              *ngIf="manualPropertyValueForm.controls['apartmentValue'].touched"
            >
              <p
                i18n="“empty3|info-confirmation@@info.confirmation.empty3”"
                class="error small"
                *ngIf="
                  manualPropertyValueForm.controls['apartmentValue'].hasError(
                    'required'
                  )
                "
              >
                Kan ikke være tom
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Field end -->
    </form>
  </div>
  <!-- Manual value box end -->
</div>
<!-- Top end -->

<div class="bottom double">
  <rente-button cdkFocusInitial color="primary-hollow" (click)="onClose()">
    {{ data.cancelText }}
  </rente-button>

  <rente-button
    *ngIf="firstStep"
    cdkFocusInitial
    color="primary"
    (click)="onConfirm()"
  >
    {{ data.confirmText }}
  </rente-button>

  <rente-button
    *ngIf="secondStep"
    [disabled]="
      manualPropertyValueForm.invalid || !manualPropertyValueForm.valid
    "
    cdkFocusInitial
    color="primary"
    (click)="onSendForm()"
  >
    {{ data.finishText }}
  </rente-button>
</div>
