<div class="top">
  <h4 *ngIf="firstStep">Vi klarte dessverre ikke estimere din boligverdi</h4>
  <h4 *ngIf="secondStep">Legg inn boligverdien din</h4>

  <p class="no-margin" *ngIf="firstStep">
    Det kan være flere grunner til dette:
  </p>
  <ul *ngIf="firstStep">
    <li>Feil adresse eller postnummer</li>
    <li>Vi greier ikke estimere verdi på fritidsboliger</li>
  </ul>

  <div class="info-box" *ngIf="firstStep">
    <p>
      Sjekk at adressen er riktig, eller velg <b>"Legg til boligverdi"</b> og
      legg inn verdien manuelt
    </p>
    <div class="address-grid">
      <div class="left">
        <p *ngIf="data.address.street">Adresse:</p>
        <p *ngIf="data.address.zip">Postnummer:</p>
        <p *ngIf="data.address.apartmentSize">Boligstørrelse:</p>
      </div>

      <div class="right">
        <p *ngIf="data.address.street">{{ data.address.street }}</p>
        <p *ngIf="data.address.zip">{{ data.address.zip }}</p>
        <p *ngIf="data.address.apartmentSize">
          {{ data.address.apartmentSize }}
        </p>
      </div>
    </div>
  </div>

  <div class="info-box" *ngIf="secondStep">
    <p>
      Fyll inn ditt beste estimat på hva du mener primærboligen din er verdt og
      trykk på den grønne knappen
    </p>
    <p>
      Har du flere boliger kan du legge til disse i boligfanen etter innlogging.
    </p>
  </div>

  <div class="manualvaluebox" *ngIf="isManualValue">
    <form
      class="manualvalueform"
      [formGroup]="manualPropertyValueForm"
      novalidate
    >
      <div class="field">
        <div class="withinfo">
          <div>
            <rente-input
              #aptValue
              [placeholder]="'Legg inn boligverdien din'"
              formControlName="apartmentValue"
              matSuffix="kr"
              [errorStateMatcher]="
                isErrorState(manualPropertyValueForm.controls['apartmentValue'])
              "
              [type]="'tel'"
              [maskType]="mask.currency"
              [focusListener]="sendFocusVal$"
            >
            </rente-input>
            <div
              *ngIf="manualPropertyValueForm.controls['apartmentValue'].touched"
            >
              <p
                i18n="“empty3|info-confirmation@@info.confirmation.empty3”"
                class="error small"
                *ngIf="
                  manualPropertyValueForm.controls['apartmentValue'].hasError(
                    'required'
                  )
                "
              >
                Kan ikke være tom
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Field end -->
    </form>
  </div>
  <!-- Manual value box end -->
</div>
<!-- Top end -->

<div class="bottom double">
  <rente-button
    i18n="“close|button@@close”"
    cdkFocusInitial
    color="primary-hollow"
    (click)="onClose()"
  >
    {{ data.cancelText }}
  </rente-button>

  <rente-button
    *ngIf="firstStep"
    i18n="“close|button@@close”"
    cdkFocusInitial
    color="primary"
    (click)="onConfirm()"
  >
    {{ data.confirmText }}
  </rente-button>

  <rente-button
    *ngIf="secondStep"
    [disabled]="
      manualPropertyValueForm.invalid || !manualPropertyValueForm.valid
    "
    i18n="“close|button@@close”"
    cdkFocusInitial
    color="primary"
    (click)="onSendForm()"
  >
    Finn beste rente!
  </rente-button>
</div>
