<div class="input-block" [ngClass]="{ error: errorStateMatcher, textControl: textControl }" >
  <mat-form-field class="example-full-width">
    <div *ngIf="!!maskType; else noMask">
      <input
        matInput
        [disabled]="disabled"
        type="{{ type }}"
        [placeholder]="placeholder"
        [errorStateMatcher]="matcher"
        [ngModelOptions]="modelOptions"
        [(ngModel)]="value"
        [textMask]="mask"
        (blur)="onBlur()"
        [imask]="{mask: maskType}"
      />
    </div>
    <ng-template #noMask>
      <input
        matInput
        [disabled]="disabled"
        type="{{ type }}"
        [placeholder]="placeholder"
        [errorStateMatcher]="matcher"
        [ngModelOptions]="modelOptions"
        (focus)="onFocus()"
        [(ngModel)]="value"
        [maxlength]="maxLength"
        (blur)="onBlur()"

      />
    </ng-template>
    <span matSuffix>{{ matSuffix }}</span>
  </mat-form-field>
</div>
