<div
  class="update-complete"
  [@loading]="updateAnimationTrigger ? 'true' : 'false'"
>
  <img src="../../../../assets/icons/ic_done.svg" alt="success-icon" />
  <p i18n="“saved|profile@@profile.saved”">Lagret</p>
</div>

<div class="update-error" [@loading]="errorAnimationTrigger ? 'true' : 'false'">
  <p i18n="“issue|profile@@profile.issue”">Oops, noe gikk galt</p>
</div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div class="preferences" *ngIf="profileForm">
  <div class="desktop-section">
    <h3>{{ username }}</h3>
    <form [formGroup]="profileForm" novalidate change>
      <div class="field">
        <rente-input
          [placeholder]="'E-post'"
          formControlName="email"
          [errorStateMatcher]="isErrorState(profileForm.controls['email'])"
          [modelOptions]="{ updateOn: 'blur' }"
        >
        </rente-input>
        <div
          *ngIf="profileForm.controls['email'].touched"
          class="error-message"
        >
          <rente-form-message
            [type]="'error'"
            *ngIf="profileForm.controls['email'].hasError('required')"
            i18n="“issue-mail|profile@@profile.issueMail”"
          >
            Ikke gyldig email
          </rente-form-message>
          <rente-form-message
            [type]="'error'"
            *ngIf="profileForm.controls['email'].hasError('pattern')"
            i18n="“issue-mail2|profile@@profile.issueMail2”"
          >
            Ikke gyldig email
          </rente-form-message>
        </div>
      </div>

      <div class="field withinfo">
        <rente-input
          [placeholder]="'Din brutto årsinntekt'"
          formControlName="income"
          [errorStateMatcher]="isErrorState(profileForm.controls['income'])"
          [maskType]="mask.currency"
          [modelOptions]="{ updateOn: 'blur' }"
          [type]="'tel'"
          matSuffix="kr"
        >
        </rente-input>
        <div
          (click)="
            openInfoDialog(
              'Din/Husstandens inntekt er en viktig parameter for renten bankene tilbyr'
            )
          "
          class="clickable"
        >
          <mat-icon>help</mat-icon>
        </div>
      </div>
      <div class="field">
        <div
          *ngIf="profileForm.controls['income'].touched"
          class="error-message"
        >
          <rente-form-message
            class="text-left d-block"
            [type]="'error'"
            *ngIf="profileForm.controls['income'].hasError('required')"
            i18n="“issue-empty|profile@@profile.issueEmpty”"
          >
            Kan ikke være tom
          </rente-form-message>
        </div>
      </div>

      <h3 i18n="“membership|profile@@profile.membership”" class="desktop">
        Medlemskap
      </h3>

      <div class="accordion">
        <div class="header mobile" (click)="showMemberships = !showMemberships">
          <h3 i18n="“membership-length|profile@@profile.membershipLength”">
            Medlemskap ({{ memberships.length }})
          </h3>
          <mat-icon *ngIf="!showMemberships">expand_more</mat-icon>
          <mat-icon *ngIf="showMemberships">expand_less</mat-icon>
        </div>
        <div class="body">
          <div class="inner-body" *ngIf="showMemberships">
            <mat-form-field>
              <input
                type="text"
                placeholder="+ Legg til"
                matInput
                #membershipInput
                [formControl]="membershipCtrl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let membership of filteredMemberships | async"
                  [value]="membership"
                >
                  {{ membership.label }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <p
              i18n="“my-memberships|profile@@profile.myMemberships”"
              class="small"
              *ngIf="memberships.length"
            >
              Mine medlemskap
            </p>
            <p
              class="memberlist"
              *ngFor="let membership of memberships; let i = index"
            >
              {{ membership.label }}
              <mat-icon
                class="clickable"
                (click)="remove(membership, i)"
                *ngIf="removable"
                >delete_forever</mat-icon
              >
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="desktop-section">
    <form [formGroup]="preferencesForm" novalidate change>
      <div class="field">
        <h3
          i18n="“settings-mail|profile@@profile.settingsMail”"
          class="desktop"
        >
          Epost innstillinger
        </h3>

        <div class="accordion field">
          <div
            class="header mobile"
            (click)="showPreferences = !showPreferences"
          >
            <h3 i18n="“settings-mail2|profile@@profile.settingsMail2”">
              Epost innstillinger
            </h3>
            <mat-icon *ngIf="!showPreferences">expand_more</mat-icon>
            <mat-icon *ngIf="showPreferences">expand_less</mat-icon>
          </div>
          <div class="body">
            <div class="inner-body" *ngIf="showPreferences">
              <div class="field">
                <div class="withinfo">
                  <p
                    i18n="“market-check|profile@@profile.marketCheck”"
                    class="small"
                  >
                    Markedsovervåkning / Rentesjekk av dine lån
                  </p>
                  <div class="clickable">
                    <mat-icon>help</mat-icon>
                  </div>
                </div>
                <mat-radio-group formControlName="checkRateReminderType">
                  <mat-radio-button value="HVER_MANED_1"
                    ><span
                      class="mat-radio-label"
                      i18n="“month-every|profile@@profile.monthEvery”"
                      >Hver måned</span
                    ></mat-radio-button
                  >
                  <mat-radio-button value="HVER_MANED_2"
                    ><span
                      class="mat-radio-label"
                      i18n="“month-two|profile@@profile.monthTwo”"
                      >Hver 2. måned</span
                    ></mat-radio-button
                  >
                  <mat-radio-button value="HVER_MANED_3"
                    ><span
                      class="mat-radio-label"
                      i18n="“month-three|profile@@profile.monthThree”"
                      >Hver 3. måned</span
                    ></mat-radio-button
                  >
                  <mat-radio-button value="HVER_MANED_4"
                    ><span
                      class="mat-radio-label"
                      i18n="“month-four|profile@@profile.monthFour”"
                      >Hver 4. måned</span
                    ></mat-radio-button
                  >
                  <mat-radio-button value="NONE"
                    ><span
                      class="mat-radio-label"
                      i18n="“month-never|profile@@profile.monthNever”"
                      >Aldri</span
                    ></mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <div
                i18n="“market-updates|profile@@profile.marketUpdates”"
                class="field"
              >
                <p class="small">
                  Få markedsoppdateringer, nyheter og annen informasjon på epost
                </p>
                <mat-radio-group formControlName="receiveNewsEmails">
                  <mat-radio-button [value]="true"
                    ><span class="mat-radio-label">Ja</span></mat-radio-button
                  >
                  <mat-radio-button [value]="false"
                    ><span class="mat-radio-label">Nei</span></mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>

        <h3
          i18n="“market-offers|profile@@profile.marketOffers”"
          class="desktop"
        >
          Hvilke tilbud vil du se?
        </h3>

        <div class="accordion field">
          <div
            class="header mobile"
            (click)="showOfferPreferences = !showOfferPreferences"
          >
            <h3 i18n="“see-offers|profile@@profile.seeOffers”">
              Hvilke tilbud vil du se?
            </h3>
            <mat-icon *ngIf="!showOfferPreferences">expand_more</mat-icon>
            <mat-icon *ngIf="showOfferPreferences">expand_less</mat-icon>
          </div>
          <div class="body">
            <div class="inner-body" *ngIf="showOfferPreferences">
              <div
                i18n="“see-offers-special|profile@@profile.seeOffers.special”"
                class="field"
              >
                <p class="small">
                  Ønsker du <b>kun</b> å se tilbud på rammelån/flexilån?
                </p>

                <mat-radio-group formControlName="fetchCreditLinesOnly">
                  <mat-radio-button [value]="true"
                    ><span class="mat-radio-label">Ja</span></mat-radio-button
                  >
                  <mat-radio-button [value]="false"
                    ><span class="mat-radio-label">Nei</span></mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <div
                i18n="“see-offers-other|profile@@profile.seeOffers.other”"
                class="field"
              >
                <p class="small">
                  Vil du se tilbud som krever andre produkter? (F.eks. bytte av
                  nettbank og aktiv lønnskonto)
                </p>

                <mat-radio-group formControlName="noAdditionalProductsRequired">
                  <mat-radio-button [value]="false"
                    ><span class="mat-radio-label">Ja</span></mat-radio-button
                  >
                  <mat-radio-button [value]="true"
                    ><span class="mat-radio-label">Nei</span></mat-radio-button
                  >
                </mat-radio-group>
              </div>

              <div
                i18n="“see-offers-climate|profile@@profile.seeOffers.climate”"
                class="field"
              >
                <p class="small">
                  Er du interessert i lån som forutsetter energiklasse A eller
                  B, nullhus, Svanemerket, tiltak for energimerking, etc.
                </p>

                <mat-radio-group
                  formControlName="interestedInEnvironmentMortgages"
                >
                  <mat-radio-button [value]="true"
                    ><span class="mat-radio-label">Ja</span></mat-radio-button
                  >
                  <mat-radio-button [value]="false"
                    ><span class="mat-radio-label">Nei</span></mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
