<div class="row justify-content-center">
  <form [formGroup]="profileForm" class=" col-6 my-5" novalidate>
    <div class="bg-wrap">
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Medlemskap:</mat-label>
          <mat-chip-list #membershipList aria-label="Membership selection">
            <mat-chip
              *ngFor="let membership of memberships; let i = index;"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(membership, i)">
              {{membership.label}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Medlemskap"
              #membershipInput
              [formControl]="membershipCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="membershipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>

          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)">
              <mat-option *ngFor="let membership of filteredMemberships | async" [value]="membership">
                {{membership.label}}
              </mat-option>
            </mat-autocomplete>

          <!-- <mat-select matNativeControl multiple required>
            <mat-option value=""> -- </mat-option>
            <mat-option value="INGEN_MEDLEMSKAP_INGEN_HOYERE_UTDANNING">Ingen medlemskap/Ingen høyere utdanning
            </mat-option>
            <mat-option value="INGEN_MEDLEMSKAP_HOYERE_UTDANNING_TILSVARENDE_BACHELOR">Ingen medlemskap/Høyere utdanning
              tilsvarende Bachelor</mat-option>
            <mat-option value="INGEN_MEDLEMSKAP_HOYERE_UTDANNING_TILSVARENDE_MASTER">Ingen medlemskap/Høyere utdanning
              tilsvarende Master</mat-option>
            <mat-option value="AKADEMIKERNE_ARKITEKTENES_FAGFORBUND">Akademikerne/Arkitektenes fagforbund</mat-option>
            <mat-option value="AKADEMIKERNE_DEN_NORSKE_LEGEFORENING">Akademikerne/Den norske legeforening</mat-option>
            <mat-option value="AKADEMIKERNE_DEN_NORSKE_TANNLEGEFORENING">Akademikerne/Den norske tannlegeforening
            </mat-option>
            <mat-option value="AKADEMIKERNE_DEN_NORSKE_VETERINAERFORENING">Akademikerne/Den norske veterinærforening
            </mat-option>
            <mat-option value="AKADEMIKERNE_ECONA">Akademikerne/Econa</mat-option>
            <mat-option value="AKADEMIKERNE_JURISTFORBUNDET">Akademikerne/Juristforbundet</mat-option>
            <mat-option value="AKADEMIKERNE_KRIGSSKOLEUTDANNEDE_OFFISERERS_LANDSFORENING">
              Akademikerne/Krigsskoleutdannede
              offiserers landsforening</mat-option>
            <mat-option value="AKADEMIKERNE_NATURVITERNE">Akademikerne/Naturviterne</mat-option>
            <mat-option value="AKADEMIKERNE_NORSK_LEKTORLAG">Akademikerne/Norsk Lektorlag</mat-option>
            <mat-option value="AKADEMIKERNE_NORSK_PSYKOLOGFORENING">Akademikerne/Norsk psykologforening</mat-option>
            <mat-option value="AKADEMIKERNE_SAMFUNNSVITERNE">Akademikerne/Samfunnsviterne</mat-option>
            <mat-option value="AKADEMIKERNE_SAMFUNNSOKONOMENE">Akademikerne/Samfunnsøkonomene</mat-option>
            <mat-option value="AKADEMIKERNE_TEKNA">Akademikerne/Tekna</mat-option>
            <mat-option value="KLP">KLP</mat-option>
            <mat-option value="LO_LOFAVOR">LO/LOfavør</mat-option>
            <mat-option value="OBOS">OBOS</mat-option>
            <mat-option value="NITO">NITO</mat-option>
            <mat-option value="UNIO_AKADEMIKERFORBUNDET">UNIO/Akademikerforbundet</mat-option>
            <mat-option value="UNIO_BIBLOTEKARFORBUNDET">UNIO/Biblotekarforbundet</mat-option>
            <mat-option value="UNIO_DET_NORSKE_DIAKONFORBUND">UNIO/Det Norske Diakonforbund</mat-option>
            <mat-option value="UNIO_DET_NORSKE_MASKINISTFORBUND">UNIO/Det Norske Maskinistforbund</mat-option>
            <mat-option value="UNIO_FORSKERFORBUNDET">UNIO/Forskerforbundet</mat-option>
            <mat-option value="UNIO_NORSK_ERGOTERAPEUTFORBUND">UNIO/Norsk Ergoterapeutforbund</mat-option>
            <mat-option value="UNIO_NORSK_FYSIOTERAPEUTFORBUND">UNIO/Norsk Fysioterapeutforbund</mat-option>
            <mat-option value="UNIO_NORSK_RADIOGRAFFORBUND">UNIO/Norsk Radiografforbund</mat-option>
            <mat-option value="UNIO_NORSK_SYKEPLEIERFORBUND">UNIO/Norsk Sykepleierforbund</mat-option>
            <mat-option value="UNIO_POLITIETS_FELLESFORBUND">UNIO/Politiets fellesforbund</mat-option>
            <mat-option value="UNIO_PRESTEFORENINGEN">UNIO/Presteforeningen</mat-option>
            <mat-option value="UNIO_SKATTEREVISORENES_FORENING">UNIO/Skatterevisorenes Forening</mat-option>
            <mat-option value="UNIO_UTDANNINGSFORBUNDET">UNIO/Utdanningsforbundet</mat-option>
            <mat-option value="YS_AVYO">YS/AVYO</mat-option>
            <mat-option value="YS_BEFALETS_FELLESORGANISASJON">YS/Befalets Fellesorganisasjon</mat-option>
            <mat-option value="YS_DELTA">YS/Delta</mat-option>
            <mat-option value="YS_FINANSFORBUNDET">YS/Finansforbundet</mat-option>
            <mat-option value="YS_KRIMINALOMSORGENS_YRKESFORBUND">YS/Kriminalomsorgens Yrkesforbund</mat-option>
            <mat-option value="YS_NEGOTIA">YS/Negotia</mat-option>
            <mat-option value="YS_NORSK_TOLLERFORBUND">YS/Norsk Tollerforbund</mat-option>
            <mat-option value="YS_PARAT">YS/Parat</mat-option>
            <mat-option value="YS_SAFE">YS/SAFE</mat-option>
            <mat-option value="YS_SKATTEETATENS_LANDSFORBUND">YS/Skatteetatens Landsforbund</mat-option>
            <mat-option value="YS_SKOLELEDERFORBUNDET">YS/Skolelederforbundet</mat-option>
            <mat-option value="YS_STAFO">YS/STAFO</mat-option>
            <mat-option value="YS_YRKESTRAFIKKFORBUNDET">YS/Yrkestrafikkforbundet</mat-option>
          </mat-select> -->
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-12">
          <p>Din/Husstandens brutto årsinntekt:</p>
          <rente-input [placeholder]="'Bruttoårsinntekt'" formControlName="income"
            [errorStateMatcher]="isErrorState(profileForm.controls['income'], profileForm)">
          </rente-input>

          <rente-form-message class="text-left d-block" [type]="'info'">Din/Husstandens inntekt er en viktig parameter
            for
            renten bankene tilbyr
          </rente-form-message>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-12">
          <p>E-post:</p>
          <rente-input [placeholder]="'E-post'" formControlName="email"
            [errorStateMatcher]="isErrorState(profileForm.controls['email'], profileForm)">
          </rente-input>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-12 col-sm-6 ">
        <rente-button color="primary" (click)="updateProfile()">Lagre</rente-button>
        <small class="form-text text-muted">Husk å lagre ved endringer</small>
      </div>
    </div>

  </form>
</div>
