<h3>Personvern er viktig for oss</h3>
<div>
  <p>
    Vi tar GDPR på alvor og ditt personvern er viktig for oss i Renteradar.no.
    Renteradar.no eies og drives av Forbrukerøkonomene AS som er et norsk
    selskap underlagt norsk lov, og vi behandler personopplysninger i samsvar
    med gjeldende personvernlovgivning. Vår fulle personvernerklæring kan leses
    <a [routerLink]="['/personvernerklaering']">her</a>.
  </p>
</div>

<h3>Brukervilkår</h3>
<div>
  <p>
    Våre brukervilkår finner du <a [routerLink]="['/brukervilkar']">her</a>.
  </p>
</div>
