<div class="front-container">

  <h3 i18n class="mt-3 mb-3">Personvern er viktig for oss</h3>
  <div>
    <p i18n>
      Vi tar GDPR på alvor og ditt personvern er viktig for oss i Renteradar.no.
      Renteradar.no eies og drives av Forbrukerøkonomene AS som er et norsk
      selskap underlagt norsk lov, og vi behandler personopplysninger i samsvar
      med gjeldende personvernlovgivning. Vår fulle personvernerklæring kan
      leses
      <a [routerLink]="['personvernerklaering']">her</a>.
    </p>
  </div>

  <h3 i18n class="mt-5 mb-3">Brukervilkår</h3>
  <div>
    <p i18n>
      Våre brukervilkår finner du <a [routerLink]="['brukervilkar']">her</a>.
    </p>
  </div>

  <h3 i18n class="mt-5 mb-3">Informasjon om cookies (informasjonskapsler)</h3>
  <div>
    <p i18n>
      Vår cookiepolicy og informasjon finner du <a [routerLink]="['cookies']">her</a>.
    </p>
  </div>

</div>
