<section class="container">
    <h2>Personvern er viktig for oss</h2>
    <div>
        <p>
            Vi tar GDPR på alvor og ditt personvern er viktig for oss i Renteradar.no. Renteradar.no eies og drives av Forbrukerøkonomene AS som er et norsk selskap underlagt norsk lov, og vi behandler personopplysninger i samsvar med gjeldende personvernlovgivning. Vår fulle personvernerklæring kan leses <a href="/personvernerklaering">her</a>.
        </p>
    </div>

    <h2>Brukervilkår</h2>
    <div>
        <p>
            Våre brukervilkår finner du <a href="/brukervilkar">her</a>.
        </p>
    </div>
</section>