<div class="the-offer">
  <div class="the-offer-header">
    <div *ngIf="!isSweden" class="nr all">
      {{ index }}
    </div>
    <div
      *ngIf="isSweden"
      class="nr"
      [ngClass]="{
        threeMonths: offerType == 'threeMonths',
        oneYear: offerType == 'oneYear',
        all: offerType == 'all'
      }"
    >
      {{ index }}
    </div>
    <div class="top">
      <div
        class="logo"
        [ngStyle]="{
          'background-image': 'url(' + banksMap[offer.bankInfo.bank].img + ')'
        }"
      ></div>
      <div class="offer-product">
        <a class="clickable" target="_blank" (click)="clickHeaderBankUrl(offer)"
          >{{ offer.bankInfo.name }}
          <!--<mat-icon>
                      open_in_new</mat-icon>
                  -->
        </a>
        <h3>
          {{ offer.productName }}
        </h3>
      </div>
      <p class="interest-rate">{{ offer.effectiveRate | number: '1.2-2' }} %</p>
    </div>
    <div *ngIf="bankSpecialPromoText !== null" class="special-promo">
      <img class="box-icon" src="../../../../../assets/icons/badge.svg" />
      <p>{{ bankSpecialPromoText }}</p>
    </div>
  </div>

  <div class="the-offer-body">
    <div class="the-offer-body-grid">
      <div class="offer-top">
        <p i18n="“title|offer-card@@offer.card.title”" class="save-text">
          Du sparer
        </p>
        <div class="split">
          <div class="offer-inner save">
            <p i18n="“first-year|offer-card@@offer.card.firstYear”">
              første år
            </p>
            <h2 *ngIf="offer.savingsFirstYear > 0; else noTotalSavings">
              {{ offer.savingsFirstYear | abs | number }},-
            </h2>
            <ng-template #noSavingsFirstYear>
              <h2>0,-</h2>
            </ng-template>
          </div>

          <div class="offer-inner save">
            <p i18n="“over-time|offer-card@@offer.card.over.time”">
              over lånets løpetid
            </p>
            <h2 *ngIf="offer.totalSavings > 0; else noTotalSavings">
              {{ offer.totalSavings | abs | number }},-
            </h2>
            <ng-template #noTotalSavings>
              <h2>0,-</h2>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="details">
        <mat-expansion-panel
          (opened)="detailOpenClicked()"
          [expanded]="xpandStatus"
        >
          <mat-expansion-panel-header
            [collapsedHeight]="'20px'"
            [expandedHeight]="'20px'"
          >
            Mer info
          </mat-expansion-panel-header>

          <div
            class="top-details"
            [style.grid-template-columns]="'1fr 1fr'"
            [style.grid-template-rows]="'15px 25px'"
          >
            <p
              i18n="
                “customer-satisfied|offer-card@@offer.card.customerSatisfied”"
              class="small top-details-top"
            >
              Kundetilfredshet
              <span
                (click)="openInfoDialog()"
                class="clickable bank-rating-info-button"
              >
                <mat-icon class="material-icons secondary">help</mat-icon>
              </span>
            </p>

            <p class="small top-details-top">Mobilbank</p>

            <div class="satisfaction-wrapper top-details-bottom">
              <div class="satisfaction">
                <div class="bank-rating-text"></div>
                <img
                  class="offer-score"
                  src="../../../../assets/icons/score-{{
                    offer.bankInfo.score
                  }}.svg"
                />
              </div>
            </div>

            <div
              *ngIf="offer.bankInfo.mobileAppRating"
              class="mobile-rating top-details-bottom"
            >
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#9733;</span
                  >&#9733;
                </span>
              </ng-template>
              <ngb-rating
                [rate]="offer.bankInfo.mobileAppRating"
                [starTemplate]="t"
                [readonly]="true"
                [max]="5"
              >
              </ngb-rating>
            </div>

            <p
              *ngIf="
                offer.bankInfo.mobileAppRating === null ||
                offer.bankInfo.mobileAppRating === undefined
              "
              class="box right na"
              i18n="
                “application-time|offer-card@@offer.card.mobileRatingNotAvailable"
            >
              Webbsida
            </p>
          </div>

          <div class="offer-properties">
            <div class="item">
              <p
                i18n="“application-time|offer-card@@offer.card.applicationTime”"
                class="left"
              >
                Hvor lang tid tar det å søke:
              </p>

              <p
                i18n="“demand-change|offer-card@@offer.card.timeApply.value”"
                class="box"
              >
                {{
                  offer.bankInfo.applicationTime === null
                    ? customLangTextSerice.get18nFixForUnknown()
                    : offer.bankInfo.applicationTime + ' min'
                }}
              </p>
            </div>

            <div class="item">
              <p
                i18n="“demand-change|offer-card@@offer.card.demandChange”"
                class="left"
              >
                Krever bytte av nettbank
              </p>
              <p i18n="“no-yes|offer-card@@offer.card.noYes”" class="box">
                {{
                  offer.requiredProductPackage == null
                    ? customLangTextSerice.get18nFixForNo()
                    : 'Ja'
                }}
              </p>
            </div>

            <div *ngIf="offer.bankRating && !isSweden" class="item">
              <p
                i18n="“demand-change|offer-card@@offer.card.historicRate"
                class="left"
              >
                Historisk plassering
              </p>
              <p i18n="“no-yes|offer-card@@offer.card.noYes”" class="box">
                {{ offer.bankRating }}
              </p>
            </div>

            <div *ngIf="offer.bankInfo.bankType" class="item">
              <p
                i18n="“demand-change|offer-card@@offer.card.bankType"
                class="left"
              >
                Type bank
              </p>
              <p class="box right">{{ offer.bankInfo.bankType }}</p>
            </div>

            <div *ngIf="!isSweden && offer.bankInfo.area" class="item">
              <p
                i18n="“demand-change|offer-card@@offer.card.geografi"
                class="left"
              >
                Geografi
              </p>
              <p class="box right">{{ offer.bankInfo.area }}</p>
            </div>

            <div
              *ngIf="
                !isSweden && offer.bankInfo.area === null && offer.marketArea
              "
              class="item"
            >
              <p
                i18n="“demand-change|offer-card@@offer.card.geografi"
                class="left"
              >
                Geografi
              </p>
              <p class="box right">{{ offer.marketArea }}</p>
            </div>
          </div>
          <rente-offer-card-details
            class="details-wrapper"
            [offer]="offer"
            [align]="'center'"
            (closeClicked)="xpandStatus = xpandStatus ? false : true"
          >
          </rente-offer-card-details>
        </mat-expansion-panel>
      </div>

      <div class="buttons">
        <rente-button
          *ngIf="!isSingleButtonLayout"
          class="firstButton"
          [disabled]="offer.bankInfo.partner == false"
          i18n="“see-more|offer-card-big@@offer.card.big.seeMore”"
          [color]="'primary-wide-hollow-card'"
          type="raised"
          (click)="openBankUrlByButton(offer)"
          >Se mer på {{ getbankNameOrDefault(offer, true) }}s hjemmeside
        </rente-button>

        <div>
          <rente-button
            class="button"
            [disabled]="offer.bankInfo.partner == false"
            color="primary-medium-card"
            type="raised"
            (click)="offerCardService.openNewOfferDialog(offer)"
            >{{ offerCardService.getOfferButtonText(offer) }}
          </rente-button>
          <p
            i18n="“no-deal|offer-card@@offer.card.noDeal”"
            class="small"
            *ngIf="offer.bankInfo.partner === false"
          >
            (Ingen avtale med banken)
          </p>
        </div>

        <div *ngIf="isNordea">
          <rente-button
            child
            childClass="{{ offer.bankInfo.name }}"
            color="secondary-medium-card"
            type="raised"
            (click)="clickNordea()"
          >
            Be Nordea om et bedre tilbud
          </rente-button>
        </div>
      </div>
    </div>

    <div class="obligatory-info offer-bottom full-row">
      <p
        i18n="“number-details|offer-card@@offer.card.numberDetails”"
        class="insignificant"
      >
        <span> </span> Eff.rente {{ offer.effectiveRate | number: '1.2-2' }} %,
        Lånebeløp {{ offer.outstandingDebt | number: '1.0' }},
        {{ offer.loanPeriodYears | number: '1.1-1' }} år, Kostnad:
        {{ offer.cost | number: '1.0' }}, Totalt:
        {{ offer.totalCost | number: '1.0' }}
      </p>
    </div>
  </div>
</div>
