<div class="the-offer">
    <div class="nr">
        {{ index }}
    </div>
    <div class="the-offer-header">
        <div class="logo" [ngStyle]="{
                'background-image': 'url(' + banksMap[offer.bankInfo.bank].img + ')'
              }">
            
        </div>
        <div class="offer-product">
            <a class="clickable" target="_blank" (click)="openBankUrl(offer)">{{ offer.bankInfo.name }}
                <!--<mat-icon>
                    open_in_new</mat-icon>
                -->
                </a>
            <h3>
                {{ offer.productName }} 
            </h3>
        </div>
        <p>{{ offer.effectiveRate | number: "1.2-2" }} %</p>
    </div>
    <div class="the-offer-body">
        <div class="offer-top">
            <!--
            <ul class="info-table">
                <li>
                    <p *ngIf="offer.totalSavings > 0; else noTotalSavings">
                        {{ offer.totalSavings | abs | number }},-
                    </p>
                    <ng-template #noTotalSavings>
                        <p>0,-</p>
                    </ng-template>
                </li>
                <li>
                    <p *ngIf="offer.savingsFirstYear > 0; else noTotalSavings">
                        {{ offer.savingsFirstYear | abs | number }},-
                    </p>
                    <ng-template #noSavingsFirstYear>
                        <p>0,-</p>
                    </ng-template>
                </li>
            </ul>
            -->
            <p class="save-text">Du sparer</p>
            <div class="split">
               
                <div class="offer-inner save">
                  <h2 *ngIf="offer.totalSavings > 0; else noTotalSavings">
                    {{ offer.totalSavings | abs | number }},-
                  </h2>
                  <ng-template #noTotalSavings>
                    <h2>0,-</h2>
                  </ng-template>
                  <p>over lånets løpetid</p>
                </div>
                <div class="offer-inner save">
                  <h2 *ngIf="offer.savingsFirstYear > 0; else noTotalSavings">
                    {{ offer.savingsFirstYear | abs | number }},-
                  </h2>
                  <ng-template #noSavingsFirstYear>
                    <h2>0,-</h2>
                  </ng-template>
                  <p>første år</p>
                </div>
              </div>
        </div>

        <div class="offer-properties">
           

            <div class="item left first">
                <p class="left">Hvor lang tid tar det å søke:</p>
                <p class="box">
                    {{offer.bankInfo.applicationTime  === null ? 'Ukjent' : offer.bankInfo.applicationTime + " min"}}</p>
            </div>

            <div class="item left">
                <p class="left">Krever bytte av nettbank:</p>
                <p class="box">{{ offer.requiredProductPackage == null ? "Nei" : "Ja" }}</p>
            </div>

            <div class="item right first satisfaction-wrapper">
                <div class="satisfaction">
                    <div class ="bank-rating-text">
                        <p class="left">Kundetilfredshet</p>
                        
                    </div>
                    <img class="offer-score" src="../../../../assets/icons/score-{{offer.bankInfo.score }}.svg" />
                </div>
                <span 
                      (click)="
                        openInfoDialog(
                          'Renteradar.no overvåker kontinuerlig markedet for bedre rente enn det du har på lånet ditt. Renten du har på lånet ditt sjekkes og oppdateres ved at du identifiserer deg med BankID. Det er viktig at dette gjøres fra tid til annen for at eventuelle renteendringer på lånet ditt skal fanges opp.'
                        )
                      "
                      class="clickable bank-rating-info-button"
                    >
                      <mat-icon class="material-icons secondary">help</mat-icon>
                </span>
            </div>

            <div class="item details">
               
                    <mat-expansion-panel (opened)="detailOpenClicked()" [expanded]="xpandStatus">
                        <mat-expansion-panel-header [collapsedHeight]="'20px'" [expandedHeight]="'20px'">
                          Detaljer
                        </mat-expansion-panel-header>
                        
                        <rente-details-blue [offer]="offer" (closeClicked)="xpandStatus=xpandStatus?false:true" ></rente-details-blue>
                      </mat-expansion-panel>
              
            </div>

            <div class="item buttons">
                
                <rente-button class="firstButton" [disabled]="offer.bankInfo.partner == false"  
                    [color]="'primary-wide-hollow-card'" type="raised"
                    (click)="openBankUrlByButton(offer)">Se mer på {{getbankNameOrDefault(offer)}}s <br/> hjemmeside
                </rente-button>

                <rente-button
                [disabled]="offer.bankInfo.partner == false" color="primary-medium" type="raised"
                    (click)="openNewOfferDialog(offer)">Få tilbud fra {{ getbankNameOrDefault(offer) }}!
                </rente-button>
                <p class="small" *ngIf=" offer.bankInfo.partner === false"> (Ingen avtale med banken)</p>
                        
            </div>
        </div>

        <div class="obligatory-info offer-bottom full-row">
            
            <p class="insignificant"><span>
                </span> Eff.rente {{offer.effectiveRate | number: "1.2-2"}} %,
                Lånebeløp {{offer.outstandingDebt | number: "1.0" }},
                {{offer.loanPeriodYears | number: "1.1-1" }} år,
                Kostnad: {{offer.cost | number: "1.0" }},
                Totalt: {{offer.totalCost | number: "1.0" }}
            </p>
        </div>

    </div>
</div>