<nav>
  <div class="inner-nav">
    <a (click)="goToTop()" [routerLink]="['/']">
      <img
        src="../../../../assets/img/renteradar_white_logo-no.svg"
        alt="Renteradar logo"
      />
    </a>
    <div class="menu-container">
      <div class="desktop-menu desktop">
        <a i18n=“Headerlink|homepage@@header.home” [routerLink]="['/']" routerLinkActive="active-link"
           [routerLinkActiveOptions]="{exact:true}">Hjem
        </a>
        <a i18n=“Headerlink|blog@@header.blog” href="https://blogg.renteradar.no" target="_self">Blogg</a>
        <!-- <a i18n=“Headerlink|contact@@header.bankGuide” [routerLink]="['/bankguiden']" routerLinkActive="active-link">
          Bankguiden
        </a>  -->
        <a i18n=“Headerlink|contact@@header.contact” [routerLink]="['/kontakt']" routerLinkActive="active-link">
          Kontakt
        </a>
        <a i18n=“Headerlink|about-us@@header.aboutUs” [routerLink]="['/om-oss']" routerLinkActive="active-link">Om oss
        </a>
        <span [routerLink]="['/']" fragment="faq">
            <a i18n=“Headerlink|faq@@header.faq” href="#faq">FAQ </a>
          </span>
        <a [routerLink]="['/dashboard/tilbud']" *ngIf="isLoggedIn" routerLinkActive="active-link" class="highlight">Min
                                                                                                                    side
        </a>
        <a [routerLink]="['/velgbank']" *ngIf="!isLoggedIn"
           routerLinkActive="active-link" class="highlight">Logg inn
        </a>
        <a [routerLink]="['/']" *ngIf="isLoggedIn" (click)="auth.logout()">Logg ut</a>
      </div>
      <div class="menu mobile" (click)="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="mobile-menu mobile" *ngIf="toggleNavbar">
      <a
        i18n=“Headerlink|homepage@@header.home2”
        [routerLink]="['/']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="goToHome()"><h3>Hjem</h3>
      </a>
      <a
        i18n=“Headerlink|my-page@@header.myPage2”
        *ngIf="isLoggedIn"
        [routerLink]="['/dashboard/tilbud']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3 class="highlight">Min side</h3>
      </a>
      <a
        *ngIf="!isLoggedIn"
        [routerLink]="['/velgbank']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3 class="highlight">Logg inn</h3>
      </a>
      <a
        i18n=“Headerlink|blog@@header.blog2”
        href="https://blogg.renteradar.no/"
        target="_blank"
        (click)="toggleNav()"><h3>Blogg</h3>
      </a>
      <a
        target="_blank"
        i18n=“Headerlink|contact@@header.bankGuide”
        [routerLink]="['/bankguiden']"
        (click)="toggleNav()"><h3>Bankguiden</h3>
      </a>  -->
      <a
        i18n=“Headerlink|contact@@header.contact2”
        [routerLink]="['/kontakt']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3>Kontakt</h3>
      </a>
      <a
        i18n=“Headerlink|about-us@@header.aboutUs2”
        [routerLink]="['/om-oss']"
        routerLinkActive="active-link"
        (click)="toggleNav()"><h3>Om oss</h3>
      </a>
      <span [routerLink]="['/']" fragment="faq">
          <a href="#faq"
             (click)="toggleNav()"> <h3>FAQ</h3>
          </a>
        </span>
      <a
        i18n=“Headerlink|log-out@@header.logOut2”
        [routerLink]="['/']"
        *ngIf="isLoggedIn"
        (click)="auth.logout()"><h3>Logg ut</h3>
      </a>
    </div>
  </div>
</nav>
<div class="nav-space"></div>
