@import '../../../styles/theme/_colors.scss';

.dashboard {
  margin-top: 63px;
  @media (max-width:991px) {
    margin-top: 30px;
  }
  .mat-tab-links {
    border: 2px solid $primary;
    border-radius: 8px;
    height: 57px;

    .mat-tab-link {
      border-right: 2px solid $primary;
      opacity: 1;
      color: $primary;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.27px;
      line-height: 20px;
      height: 57px;

      &.mat-tab-label-active {
        color: $white;
      }

      &.last {
        border-right: 0px;
      }
    }

    img {
      display: none;
    }
  }

  mat-ink-bar {
    height: 100%;
    background-color: $primary !important;
    z-index: -1;
  }

  .mobile {
    .mat-tab-links {
      .mat-tab-link {
        flex-direction: column;
        min-width: auto;
        padding: 0;
        img {
          display: block;
        }
      }
    }
  }

}

@media (max-width:750px) {

  .dashboard {
    margin-top: 20px;
  }

  .dashboard .mat-tab-links .mat-tab-link {
    font-size: 11px;
    letter-spacing: 0.18px;
  }
}
