<div>

  <div class="dash-tabs-blue-wrapper">
    <div class="dash-tabs-blue">
      
      <div class="inner">
      <nav mat-tab-nav-bar class="dash-tab">
        <a mat-tab-link [active]="activeLinkIndex == 0" [routerLink]="'./tilbud'">
          <div class="inside-btn">
            <img class="rente-icon" src="../../../assets/icons/rente-logo-icon-white.svg" alt="Banktilbud" />
            <p>Tilbud</p>
          </div>
        </a>
      </nav>
      <nav mat-tab-nav-bar class="dash-tab">
        <a mat-tab-link [active]="activeLinkIndex == 1" [routerLink]="'./mine-lan'">
          <div class="inside-btn">
            <img class="graph-icon"  src="../../../assets/icons/graph-icon-white.svg" alt="Mine lån" />
            <p>Mine lån</p>
          </div>
        </a>
      </nav>
      <nav mat-tab-nav-bar class="dash-tab">
        <a mat-tab-link [active]="activeLinkIndex == 2" [routerLink]="'./bolig'">
          <div class="inside-btn">
            <img class="house-icon"  src="../../../assets/icons/house-icon-white.svg" alt="Bolig" />
            <p>Bolig</p>
          </div>
        </a>
      </nav>
      <nav mat-tab-nav-bar class="dash-tab">
        <a mat-tab-link [active]="activeLinkIndex == 4" [routerLink]="'./profil'">
          <div class="inside-btn">
            <img class="profile-icon"  src="../../../assets/icons/profile-icon-white.svg" alt="Profil" />
            <p>Profil</p>
          </div>
        </a>
      </nav>
      
    </div>
  </div>
  </div>
    
  

  <div [ngClass]="'dashboard-content-blue'">
    <!-- <div class="dashboard-content"> -->
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>

