html {
  height: 100%;
  overflow: auto;
  background-color: $blue;
}

body {
  height: 100%;
  // overflow: auto;
  font-family: $font-family-base;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  background-color: $light;
}

.content {
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
.bank-buttons .button-wrapper {
  display: block;
}
.full-width .button-wrapper {
  display: block;
  button {
    width: 100%;
  }
}
.mat-ink-bar {
  background-color: $green !important;
}
.mat-tab-label {
  width: 100%;
}
.mat-tab-label-active {
  color: black !important;
  opacity: 1 !important;
}

mat-radio-button.mat-accent {
  &.mat-radio-checked .mat-radio-container {
    .mat-radio-outer-circle {
      border-color: $primary;
    }

    .mat-radio-persistent-ripple {
      background-color: $primary !important;
    }
  }

  .mat-radio-container {
    .mat-radio-outer-circle {
      border-color: $primary;
    }

    .mat-radio-inner-circle {
      background-color: $primary;
    }
  }
}
.mat-expansion-indicator::after {
  color: $primary !important;
}
.mat-expansion-panel-body {
  padding: 20px !important;
  padding-top: 0 !important;
  padding-bottom: 40px !important;
}
.cdk-overlay-container {
  padding-bottom: 1px;
}
.cdk-overlay-dark-backdrop {
  background: none !important;
}
.cdk-global-overlay-wrapper {
  background: rgba(17, 38, 57, 0.2) !important;
  top: 60px !important;
  align-items: unset !important;
  padding: 20px;
}
.mat-dialog-container {
  box-shadow: none !important;
  border-radius: 0px !important;
  height: calc(100% - 100px) !important;
}
rente-header {
  z-index: 99999999999;
  position: fixed;
}

.split {
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0px;
  }
}
.automatic .mat-form-field-underline {
  background-color: unset !important;
  background: unset !important;
}
.double {
  margin-bottom: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  &.buttons {
    padding: 10px;
  }
  .box {
    padding: 10px;
  }
}
/* button:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
 */
.estimated input {
  text-align: center;
}
.mat-form-field-disabled * {
  color: rgba(0, 0, 0, 0.38) !important;
}
button#widgetButton {
  border-radius: 100px;
}
iframe#drift-widget {
  right: 10px !important;
  bottom: 60px !important;
}
.hidden {
  display: none;
}
