html {
  height: 100%;
  overflow: auto;
  background-color: $blue;
}

body {
  height: 100%;
  // overflow: auto;
  font-family: $font-family-base;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  background-color: $light;
}

.content {
  background-color: white;
  overflow-x: hidden;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

@media (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

mat-radio-button.mat-accent {
  &.mat-radio-checked .mat-radio-container {
    .mat-radio-outer-circle {
      border-color: $primary;
    }

    .mat-radio-persistent-ripple {
      background-color: $primary !important;
    }
  }

  .mat-radio-container {
    .mat-radio-outer-circle {
      border-color: $primary;
    }

    .mat-radio-inner-circle {
      background-color: $primary;
    }
  }
}
.mat-expansion-indicator::after {
  color: $primary !important;
}
.mat-expansion-panel-body {
  padding: 20px !important;
  padding-top: 0 !important;
  padding-bottom: 40px !important;
}
.cdk-overlay-container {
  padding-bottom: 1px;
}
