<p>referral works!</p>

<a href="fb-messenger://share?link=https%3A%2F%2Frente-frontend-dev.herokuapp.com%2F%3Fgrsf%3Deka1g4&amp;&amp;app_id=171181814227284">Send In Messenger dev</a>

  <br>
  <br>
  <br>
  <br>
  <br>

  <a href="fb-messenger://share?link=https%3A%2F%2Frenteradar.no/%2F%3Fgrsf%3Deka1g4&amp;&amp;app_id=171181814227284"> Send In Messenger prod</a>
  
  <br>
  <br>
  <br>
  <br>
  
  <a href="sms:?&body=Hei!%20%0A%0ASjekk%20ut%20https%3A%2F%2https://renteradar.no/%2F%3Fgrsf%3Deka1g4%0A%0AGenial%20tjeneste"> sms</a>

  <br>
  <br>
  <br>
  <br>

  <a href="fb-messenger://share?link=https%3A%2F%2https://renteradar.no/%2F%3Fgrsf%3Deka1g4&amp;&amp;app_id=326133992135942">Send In Messenger</a>