
@import '../../../styles/theme/_colors.scss';

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #112639;
}
