<div class="mb-5">

  <h1>Renterdar.no søker Co-Founder!</h1>

  <hr/>

  <p>Boliglånsmarkedet fungerer ikke: 2 av 3 betaler i snitt 7000 kr mer enn nødvendig i rente hvert år.
    Flertallet av boliglånskundene vet ikke hvor man får best betingelser og mange vet ikke engang hva boliglånet koster.</p>

  <p>Renteradar.no er en fintech startup som skal redefinere boliglånsmarkedet.
    Renteradar.no er idag en tjeneste for boliglånskunder som automatisk gir oversikt over betingelsene de har,
    finner de beste tilbudene og et verktøy for å få bedre rente.
    På kort tid har vi samlet brukere med over 5 milliarder i boliglån, og veksten er eksponentiell.</p>

  <p>Dette er bare starten på en spennende reise og nå søker vi en dyktig og super engasjert co-founder for ytterligere å styrke
    kjernetemaet slik at vi har det som skal til for å kunne gjøre dette til en norsk/nordisk/internasjonal suksess.</p>

  <p>Teamet bak Renteradar.no består av personer med bakgrunn fra konsultent-, bank- og oppstartsvirksomhet.</p>

  <h4>Arbeidsoppgaver</h4>

  <p>Som co-founder i Renteradar.no vil du jobbe direkte med teamet bak Renteradar.
    Det betyr varierte, spennende og utfordrende oppgaver på tvers av fagfelt og kompetanseområder.
    Du vil kunne trekke på utviklingsressurser for å realisere nye idéer.</p>

  <p>Fokus vil ligge på følgende områder:</p>

  <ul>
    <li>Ansvarlig for brukervekst (mediestrategi, samarbeid, betalt annonsering, etc..)</li>
    <li>Videre utvikling av tjenesten Renteradar.no med tanke på funksjonalitet, design og brukeropplevelse</li>
    <li>Utvikle og kommersialisere forretningsmodellen</li>
  </ul>

  <h4>Hvem er du?</h4>

  <ul>
    <li>Nysgjerrig, oppfinnsom og kreativ</li>
    <li>1-5 års erfaring fra konsulentbransjen, media eller lignende</li>
    <li>Høyere utdanning på universitets- eller høyskolenivå ønskelig</li>
    <li>Synes det er spennende å jobbe med teknologi og produktutvikling. Du ser sammenhengen mellom teknologi, design og forretning</li>
    <li>Kvinner oppfordres til å søke</li>
  </ul>

  <p>Som co-founder i Renteradar.no får du konkurransedyktig lønn, eierandel i tjenesten og fordelene med å jobbe i startups.
    Det beste av to verdener i våre øyne!</p>

  <p>Våre kontorer ligger sentralt på Majorstua.</p>

  <h1>Hvordan søke?</h1>

  <hr/>

  <p>For å søke sender du en CV og en kort tekst om hvorfor du er riktig person for denne
    stillingen til <a href="mailto:fredrik@renteradar.no">fredrik@renteradar.no</a></p>

  <p>Søknadene vil bli vurdert fortløpende og du vil bli kontaktet for eventuell innkallelse til intervju som vil foregå i Oslo.
    Ta gjerne kontakt om du skulle ha spørsmål!</p>

</div>
