@import "../../../../styles/theme/_colors.scss";

.house {
  padding-bottom: 80px;
  .title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.addressform:last-of-type {
  margin-bottom: 40px;
  display: block;
}

.add {
  margin: auto;
  display: block;
  text-align: center;
}

@media (min-width: 600px) {
  .house {
    padding: 40px 80px;
    .title {
      padding: 0;
      padding-bottom: 20px;
    }
  }
  .houses {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 80px;
  }
  rente-address-form {
    margin-bottom: 80px;
  }
}
@media (min-width: 900px) {
  .houses {
    grid-template-columns: 1fr 1fr;
  }
}

.center-logo {
  margin-top: 40px;

  p{
    
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  text-align: center;

  img{
    width: 180px;
  }
}
