@import "../../../../styles/theme/_colors.scss";

.house {
  padding-bottom: 80px;
}

.title {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.addressform:last-of-type {
  margin-bottom: 40px;
  display: block;
}

.add {
  margin: auto;
  display: block;
  text-align: center;
}

@media (min-width: 600px) {
  .house {
    padding: 40px 80px;
    .title {
      padding: 0;
      padding-bottom: 20px;
    }
  }
  .houses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
  rente-address-form {
    margin-bottom: 80px;
  }
}

/* .house {
  mat-radio-button {
    label {
      align-items: baseline;
    }
  }

  .bg-wrap {
    p {
      opacity: 0.7;
      color: $black;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.27px;
      line-height: 20px;
    }
  }
}

@media (max-width: 960px) {
  .house {
    .disabled {
      display: none;
    }

    mat-radio-button {
      margin-bottom: 10px;
    }
  }
}


a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  rente-button {
    width: 348px;
  }
}

.statistics-button {
  background-color: $primary;
  height: 40px;
  color: $white !important;
}

.mat-raised-button {
  min-width: 40px !important;
  padding: 0 !important;
}


.button-label {
  color: $text-color;
}
 */
