<footer [class]="router.url.includes('dashboard') ? '' : 'visible'">
  <div class="inner-footer">

      <div class ="item">
        <H4>Samarbeidsbanker:</H4>
        <ul class ="adjust-margin">
  
          <li>
            <a target="_blank" href="https://sbanken.no/lan/boliglan/flytte-boliglan/?utm_source=renteradar&utm_medium=cpc&utm_campaign=boliglan&utm_content=flyttboliglan">
              <picture> 
                <source srcset="../../../assets/img-webp/partners/sbanken.webp" type="image/webp">
                <source srcset="../../../../assets/img/partners/sbanken.png" type="image/jpeg"> 
                <img src="../../../../assets/img/partners/sbanken.png" alt="Sbanken logo"/>
              </picture>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://bulderbank.no/boliglan/flytte-boliglan?utm_source=renteradar.no&utm_medium=cpc&utm_campaign=boliglan&utm_term=lesmer">
              <picture> 
                <source srcset="../../../assets/img-webp/partners/bulder.webp" type="image/webp">
                <source srcset="../../../../assets/img/partners/bulder.png" type="image/jpeg"> 
                <img src="../../../../assets/img/partners/bulder.png" alt="Bulder logo"/>
              </picture>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.landkredittbank.no/lan/privat/boliglan/?mcc=5gzx">
              <img class="landkreditt"src="../../../../assets/img/partners/logo_lk.svg" alt="Landkreditt logo" />
            </a>
          </li>
        </ul>
      </div>

      <div class ="item">
        <H4>Samarbeidspartnere:</H4>
        <ul>
          <li>
            <a target="_blank" href="https://virdi.no/">
              <img class="partner-logo" src="../../../../assets/img/banks-logo/svg/virdi.svg" alt="Virdi logo" />
            </a>
          </li>
          <li>
              <a target="_blank" href="https://www.boligmappa.no/">
                <picture> 
                  <source srcset="../../../assets/img-webp/partners/boligmappa-white.webp" type="image/webp">
                  <source srcset="../../../../assets/img/partners/boligmappa-white.png" type="image/jpeg"> 
                  <img src="../../../../assets/img/partners/boligmappa-white.png" alt="Boligmappa logo"/>
                </picture>
              </a>
            </li>
          <li>
            <a target="_blank" href="https://www.finansportalen.no/">
              <picture> 
                <source srcset="../../../assets/img-webp/partners/finansportalen.webp" type="image/webp">
                <source srcset="../../../../assets/img/partners/finansportalen.png" type="image/jpeg"> 
                <img  class="partner-logo" src="../../../../assets/img/partners/finansportalen.png" alt="finansportalen logo"/>
              </picture>
            </a>
          </li>
        </ul>
      </div>

    <div class ="item">
      <div class="social">  
        <a href="https://www.facebook.com/renteradar/" target="_blank">
          <img src="../../../../assets/img/facebook.svg" alt="Facebook logo" />
        </a>
        <a href="https://www.linkedin.com/company/renteradar/" target="_blank">
          <img src="../../../../assets/img/linkedin.svg" alt="LinkedIn logo" />
        </a>
      </div>

      <p>
        Renteradar.no eies og driftes av
      </p>
      <p>
        Forbrukerøkonomene AS (Org nr: 921 534 191)
        <br />
        <a
          [routerLink]="['/personvern']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Personvern
        </a>
      </p>
    </div>
  </div>
</footer>
