@import '../../../styles/theme/_colors.scss';

@mixin text-style($size, $line-height) {
  font-size: $size;
  color: $black;
  line-height: $line-height;
}

.guide-image {
  min-width: 100%;
  max-width: 100%;
  max-height: 650px !important;
  @media (max-width:750px) {
    max-height: 600px;
  }
}

.guide-image-default {
  max-height: 380px;
}

// .title {
//   @include text-style(30px, 36px);
//   letter-spacing: 0.5px;
// }

// @media (max-width: 960px) {
//   .title{
//       font-size: 24px;
//   }
// }
