<div class="row justify-content-center">
    <div class="col-md-10">
        <h1 class="text-dark font-weight-bold text-left text-md-center">Hvordan fungerer Renteradar?</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10">
        <h3 class="text-left text-md-center mt-md-1">
            Renteradar henter dine lån automatisk og gir deg oversikten:
        </h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-5 col-lg-3 mb-4 mb-md-0">
        <img class="guide-image" src="../../../assets/img/guide-page/guide-1.png" alt="guide">
    </div>
    <div class="col-12 col-md-5 col-lg-3">
        <img class="guide-image" src="../../../assets/img/guide-page/guide-2.png" alt="guide">
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10">
        <h3 class="text-center my-0">
            Prut eller bytt bank med ett klikk!
        </h3>
    </div>
</div>

<div class="row justify-content-center my-5 my-md-1">
    <div class="col-md-10">
        <h2 class="text-center">
            Vi overvåker markedet og gir deg beskjed når nye og bedre tilbuder tilgjengelig i fremtiden
        </h2>
    </div>
</div>

<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <rente-button color="primary" [routerLink]="'/velgbank'">Kom igang
        </rente-button>
    </div>
</div>