<div class="main-div">
  <div class="chosen-memberships-div">
    <div *ngFor="let option of selectedMemberships" class="item-list">
      <p>
        {{ option }}
      </p>
      <span (click)="removeMembership(option)" class="material-icons">
        close
      </span>
    </div>
  </div>
  <div class="dropdown-div">
    <div class="dropdown-scroll">
      <div class="search-div">
        <input
          class="search-div-input"
          type="search"
          [(ngModel)]="searchText"
          placeholder="Søk"
        />
      </div>
      <div
        *ngFor="let option of membershipNames | filter: searchText"
        class="list-div"
      >
        <p class="membership-name" (click)="chooseMembership(option)">
          {{ option }}
        </p>
      </div>
    </div>
    <div class="buttons">
      <rente-button color="primary-hollow" (click)="abort()"
        >Avbryt</rente-button
      >

      <rente-button color="primary" (click)="test()">Lagre</rente-button>
    </div>
  </div>
</div>
