<!-- MOBILE VERSION -->
<div *ngIf="isMobile" class="main-div">
  <div *ngIf="isMobile" class="chosen-memberships-div">
    <h2 class="selected-membership-top">
      Valgte medlemskap ({{ selectedMemberships?.length || 0 }})
    </h2>

    <div
      *ngFor="let option of selectedMemberships"
      class="item-list"
      [@inOutAnimation]
    >
      <div class="selected-membership">
        <p>
          {{ option.label | truncate: 25 }}
        </p>
        <img
          class="remove-icon"
          src="{{ icon }}"
          (click)="removeMembership(option)"
        />
      </div>
    </div>
  </div>
  <div class="search-div">
    <input
      class="search-div-input"
      [(ngModel)]="searchText"
      placeholder="Søk medlemskap"
    />
    <img class="search-icon" src="{{ searchIconDark }}" />
  </div>
  <div class="dropdown-scroll">
    <div
      *ngFor="let option of membershipNames | filter: searchText"
      class="list-div"
    >
      <p *ngIf="!chosenMemberships(option)" (click)="chooseMembership(option)">
        {{ option.label }}
      </p>
      <p
        class="p-selected"
        *ngIf="chosenMemberships(option)"
        (click)="removeMembership(option)"
      >
        {{ option.label }}
      </p>
      <img
        *ngIf="chosenMemberships(option)"
        class="remove-icon-list"
        src="{{ icon }}"
        (click)="removeMembership(option)"
      />
    </div>
  </div>
</div>
<!-- DESKTOP VERSION -->
<div *ngIf="!isMobile" class="main-div">
  <div class="desktop-column-one">
    <div class="desktop-flex-part-one">
      <h2 class="selected-membership-top">
        Valgte medlemskap ({{ selectedMemberships?.length || 0 }})
      </h2>
      <div class="selected-memberships">
        <div
          *ngFor="let option of selectedMemberships"
          class="item-list"
          [@inOutAnimation]
        >
          <div class="selected-membership">
            <p>
              {{ option.label | truncate: 19 }}
            </p>
            <img
              class="remove-icon"
              src="{{ icon }}"
              (click)="removeMembership(option)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-flex-part-two">
      <div class="search-div">
        <input
          class="search-div-input"
          [(ngModel)]="searchText"
          placeholder="Søk medlemskap"
        />
        <img class="search-icon" src="{{ searchIconDark }}" />
      </div>
      <div class="dropdown-scroll">
        <div class="dropdown-div">
          <div
            *ngFor="let option of membershipNames | filter: searchText"
            class="list-div"
          >
            <p
              *ngIf="!chosenMemberships(option)"
              (click)="chooseMembership(option)"
            >
              {{ option.label }}
            </p>
            <p
              class="p-selected"
              *ngIf="chosenMemberships(option)"
              (click)="removeMembership(option)"
            >
              {{ option.label }}
            </p>
            <img
              *ngIf="chosenMemberships(option)"
              class="remove-icon-list"
              src="{{ icon }}"
              (click)="removeMembership(option)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
