@import '../../../../../styles/theme/colors';

//////// MOBILE STYLING ////////

@media (max-width: 600px) {
  ::ng-deep .cdk-overlay-container,
  .cdk-global-overlay-wrapper {
    width: 100%;
    height: 100%;
  }

  ::ng-deep .cdk-overlay-pane {
    height: 100% !important;
    max-height: unset !important ;
  }

  ::ng-deep .mat-dialog-container {
    border-radius: 100px;
    margin: unset !important;
    @media (min-width: 601px) {
      margin: unset !important;
      height: 44vh !important;
      top: 15vh;
    }
  }

  .main-div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .list-div {
    background: $white;
    p {
      background: $grey-light;
      font-size: 1rem;
      margin-top: 10px;
      position: relative;
      left: 35px;
      width: 80%;
      border-radius: 9px;
      padding: 15px;
      font-weight: 400;
    }
    .p-selected {
      color: $green;
      background: $grey-light;
      font-size: 1rem;
      margin-top: 10px;
      position: relative;
      left: 35px;
      width: 80%;
      border-radius: 9px;
      padding: 15px;
      font-weight: 400;
    }

    .remove-icon-list {
      width: 8%;
      margin-left: 1rem;
      position: absolute;
    }
  }

  .dropdown-div {
  }

  .dropdown-scroll {
    overflow-y: scroll;
    height: 39vh;
    @media (min-height: 800px) {
      height: 43vh;
    }
    @media (max-height: 568px) {
      height: 34vh;
    }
  }

  .search-div {
    background-color: white;
    width: 96%;
    padding: 10px;
    z-index: 1;
    margin-top: 34vh;
    display: flex;

    input {
      border: 0;
      border-bottom: 2px solid $grey-dark;
      width: 84%;
      left: 26px;
      position: relative;
    }
    ::placeholder {
      color: $grey-dark;
      position: relative;
      font-weight: 400;
      font-size: 1.1rem;
    }
    .search-div-input {
      width: 100%;
    }

    .search-icon {
      width: 6%;
      z-index: 2;
      margin-right: 30px;
      margin-bottom: 3px;
    }
  }

  .chosen-memberships-div {
    display: flex;
    flex-direction: column;
    height: 33%;
    overflow-y: scroll;
    background: linear-gradient(180deg, #162537, #183a63);
    position: fixed;
    z-index: 2;
    width: 100%;
    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      color: white;
      padding: 10px;
    }
    p {
      background: $grey-light;
      font-size: 1rem;
      margin-top: 20px;

      left: 35px;
      width: 80%;
      border-radius: 9px;
      padding: 15px;
      margin: 10px;
    }
    .p-selected {
      background: $green;
    }
    .item-list {
    }
    .remove-icon {
      width: 6%;
    }

    .selected-membership {
      display: flex;
    }
  }

  .buttons {
    position: fixed;
    background: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }

  .seleced-membership-top {
    color: $white;
    position: relative;
    left: 20px;
    font-weight: 400;
    font-size: 1.1rem;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background: inherit;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(54, 56, 58);
  }
}

//////// DESKTOP STYLING ////////

@media (min-width: 601px) {
  ::ng-deep .cdk-overlay-container,
  .cdk-global-overlay-wrapper {
    width: 100%;
    height: 100%;
  }

  ::ng-deep .cdk-overlay-pane {
    height: 100% !important;
    max-height: unset !important ;
  }

  ::ng-deep .mat-dialog-container {
    margin: unset !important;
    height: 420px !important;
    top: 15vh;
  }

  .main-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .desktop-column-one {
    display: flex;
    height: 83%;
  }
  .desktop-column-two {
    padding: 10px;
  }

  .desktop-flex-part-one {
    order: 1;
    width: 55%;
    overflow-y: hidden;
    // background: linear-gradient(180deg, #009688, #ffffff);
    background: linear-gradient(180deg, #264f80, #183a63);
    border-radius: 0px 0px 15px 0px;

    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      color: white;
      padding: 10px;
      font-weight: 400;
    }
    p {
      background: $white;
      font-size: 1rem;
      margin-top: 20px;
      font-weight: 400;

      width: 80%;
      max-width: 80%;
      border-radius: 9px;
      padding: 10px;
      margin: 10px;
    }
    .p-selected {
      background: $green;
    }
    .item-list {
    }
    .remove-icon {
      width: 6%;
    }

    .selected-membership {
      display: flex;
    }
  }

  // .desktop-flex-part-one {
  //   order: 1;
  //   width: 55%;
  // }
  .desktop-flex-part-two {
    order: 2;
    max-width: 62%;
    min-width: 62%;
  }
  .dropdown-scroll {
    overflow-y: scroll;
    height: 86%;
    .dropdown-div {
    }
  }

  .list-div {
    background: $grey-light;
    width: 85%;
    margin-left: 30px;
    border-radius: 8px;
    display: flex;
    margin-top: 10px;
    p {
      font-size: 1rem;
      margin-top: 10px;
      margin-left: 15px;
      width: 90%;
      padding: 10px;
      font-weight: 400;
    }

    .p-selected {
      color: $green;
      font-size: 1rem;
      margin-top: 10px;
      margin-left: 15px;
      width: 90%;
      padding: 10px;
      font-weight: 400;
    }

    .remove-icon-list {
      width: 1.5rem;
      margin-right: 1rem;
    }
  }

  .search-div {
    background-color: white;

    padding: 10px;
    display: flex;

    input {
      border: 0;
      border-bottom: 2px solid black;
      width: 84%;
      left: 26px;
      position: relative;
    }
    ::placeholder {
      color: black;
      position: relative;
      font-weight: 400;
      font-size: 1.1rem;
    }
    .search-div-input {
      width: 100%;
    }

    .search-icon {
      width: 6%;
      z-index: 2;
      margin-right: 30px;
      margin-bottom: 3px;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
