<div class="loading" *ngIf="isLoading">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div class="main">
  <div class="top">
    <img class="profile-icon" src="{{ profileIcon }}" />
    <h3 class="username">
      {{ username }}
    </h3>
  </div>
  <div class="forms">
    <form class="p-0 border-0">
      <div class="field-box">
        <h4 class="text-white">E-mail</h4>
        <mat-form-field class="white-input w-75" appearance="outline">
          <input
            placeholder="Skriv inn din e-mail"
            matInput
            type="tel"
            autocomplete="off"
            formControlName="income"
            currencyMask
          />
        </mat-form-field>
        <!-- <div *ngIf="isLowIncome">
          <p class="error small error-big">For lav inntekt</p>
        </div> -->
      </div>
      <div class="field-box">
        <h4 class="text-white">Din bruto årsinntekt</h4>
        <mat-form-field class="white-input w-75" appearance="outline">
          <input
            placeholder="Skriv inn din brutto årsinntekt"
            matInput
            type="tel"
            autocomplete="off"
            formControlName="outstandingDebt"
            currencyMask
          />
        </mat-form-field>
      </div>
    </form>
    <!-- <div class="email-form">
      <rente-input
        [placeholder]="'E-post'"
        formControlName="email"
        [modelOptions]="{ updateOn: 'blur' }"
      >
      </rente-input>
    </div>
    <div class="annual-income">
      <rente-input
        i18n="“income-per-year|profile@@profile.income"
        [placeholder]="textLangService.getProfileIncomePlaceHolder()"
        formControlName="income"
        [maskType]="mask.currency"
        [modelOptions]="{ updateOn: 'blur' }"
        [type]="'tel'"
        matSuffix="kr"
      >
      </rente-input>
    </div> -->
  </div>
  <div [formGroup]="preferencesForm" class="preferences-tab">
    <div class="flex-1">
      <h5 class="element">
        Medlemskap:
        <p>Velg dine medlemskap</p>
      </h5>

      <rente-button class="rente-button" color="blue-select">
        <mat-select
          [formControl]="membershipCtrl"
          [placeholder]="getMembershipPlaceholder()"
          (click)="openPropertySelectDialog()"
        >
        </mat-select>
      </rente-button>
      <hr />
      <h5 class="element">
        Markedsovervåkning:
        <p>
          Velg hvor ofte din rente skal sjekkes og du vil ha påminnelse på epost
        </p>
      </h5>
      <rente-button class="rente-button" color="blue-select">
        <mat-select
          formControlName="checkRateReminderType"
          [placeholder]="'Velg'"
        >
          <mat-option *ngFor="let option of marketOptions" [value]="option">{{
            option
          }}</mat-option>
        </mat-select>
      </rente-button>
      <hr />
    </div>

    <div class="grid-1">
      <h5 class="element">
        Markedsoppdateringer:
        <p>
          Send meg markedsoppdateringer, nyheter og annen informasjon på epost
        </p>
      </h5>

      <mat-slide-toggle
        class="button"
        (change)="isChecked = !isChecked"
        formControlName="receiveNewsEmails"
        [value]="isChecked"
        >{{ isChecked }}</mat-slide-toggle
      >

      <hr />
      <hr />
    </div>
    <h3>HVILKE TILBUD VIL DU SE:</h3>
    <div class="grid-2">
      <p class="element-subtitle">Vis kun tilbud på rammelån/flexilån</p>
      <mat-slide-toggle class="button"></mat-slide-toggle>
      <p class="element-subtitle">
        Vis tilbud som krever andre produkter eller har sækrav: feks. bytte av
        nettbank og aktiv lønnskonto
      </p>
      <mat-slide-toggle class="button"></mat-slide-toggle>
      <p class="element-subtitle">
        Vis tilbud som forutsetter bolig med energiklasse A/B, nullhus,
        Svanemerket, tiltak for energimerking, etc.
      </p>
      <mat-slide-toggle class="button"></mat-slide-toggle>
      <hr />
      <hr />
    </div>
  </div>
</div>
