<div class="loading" *ngIf="isLoading">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div class="main">
  <div class="top">
    <img class="profile-icon" src="{{ profileIcon }}" />
    <h3 class="username">
      {{ username }}
    </h3>
  </div>
  <div class="forms">
    <div class="email-form">
      <rente-input
        [placeholder]="'E-post'"
        formControlName="email"
        [modelOptions]="{ updateOn: 'blur' }"
      >
      </rente-input>
    </div>
    <div class="annual-income">
      <rente-input
        i18n="“income-per-year|profile@@profile.income"
        [placeholder]="textLangService.getProfileIncomePlaceHolder()"
        formControlName="income"
        [maskType]="mask.currency"
        [modelOptions]="{ updateOn: 'blur' }"
        [type]="'tel'"
        matSuffix="kr"
      >
      </rente-input>
    </div>
  </div>
  <div class="preferences-tab">
    <div class="elements">
      <div class="element">Medlemskap</div>
      <div class="element">Markedsovervåkning / Rentesjekk av dine lån</div>
      <div class="element">
        Få markedsoppdateringer, nyheter og annen informasjon på epost
      </div>
      <div class="element">Ønsker du kun å se tilbud på rammelån/flexilån?</div>
      <div class="element">
        Vil du se tilbud som krever andre produkter? (F.eks. bytte av nettbank
        og aktiv lønnskonto)
      </div>
      <div class="element">
        Er du interessert i lån som forutsetter energiklasse A eller B, nullhus,
        Svanemerket, tiltak for energimerking, etc.
      </div>
    </div>
    <div class="buttons">
      <button>velg</button>
      <button>VELG</button>
      <mat-slide-toggle (click)="toggleOneOnChange()">{{
        toggleOneText
      }}</mat-slide-toggle>
      <mat-slide-toggle (click)="toggleTwoOnChange()">{{
        toggleTwoText
      }}</mat-slide-toggle>
      <mat-slide-toggle (click)="toggleThreeOnChange()">{{
        toggleThreeText
      }}</mat-slide-toggle>
      <mat-slide-toggle (click)="toggleFourOnChange()">{{
        toggleFourText
      }}</mat-slide-toggle>
    </div>
  </div>
</div>
