<div class="housecontainer">
    <div class="heading">
      <img src="../../../assets/icons/house-icon.svg" alt="Bolig" />
    <b>Bostad {{ index + 1 }}</b>
      <mat-icon
        *ngIf="isAbleToDelete"
        (click)="onDeleteAddressClick()"
        class="clickable"
        >delete_forever</mat-icon
      >
    </div>
    <div class="body">
      <div class="address">
        <rente-input
          type="text"
          [placeholder]="'Adress'"
          [(ngModel)]="address.street"
          (change)="countChange($event)"
          (focus)="countChange($event)"
        ></rente-input>

      </div>
      <div [class]="'double-bias-right'">
        <rente-input
          [type]="'tel'"
          [placeholder]="'Postnummer'"
          [(ngModel)]="address.zip"
          [maxLength] ="4"
          (change)="countChange($event)"
          (focus)="countChange($event)"
        ></rente-input>
  
        <rente-input
          matInput
          [type]="'tel'"
          [placeholder]="'Storlek på bostaden'"
          [(ngModel)]="address.apartmentSize"
          [maxLength] ="3"
          (change)="countChange($event)"
          (focus)="countChange($event)"
          matSuffix="kvm"
        ></rente-input>
      </div>
      <div [class]="isStatMode ? 'hidden' : 'estimate'">
        <p class="small">Bostadens värde</p>
  
        <div class="estimated">
          <rente-input
            matInput
           
            [type]="'tel'"
            [ngModel]="address.manualPropertyValue | thousands"
            (change)="countChange($event)"
            (focus)="countChange($event)"
            style="text-align: left !important;"
            (keyup)="manualPropertyValueChanged($event)"
            matSuffix="kr"
          ></rente-input>
        </div>
      </div>
      
      
      <div class="center-button">
        <rente-button
        color="primary"
        [disabled]="!ableTosave"
        (click)="save()"
        class="save-changes-local"
        >Spara ändringar
      </rente-button>

      <p *ngIf="!address.estimatedPropertyValue" class="small saveForEstimate">
        Spara ändringar för att hämta estimat
      </p>

    </div>
    </div>
   
  </div>