<div
  class="input-box"
  [ngClass]="{
    'input-edit': inEditMode === true,
    'input-inactive': isEditMode === false,
    'input-focus': isInputFocused === true,
    'input-error': isInputError === true
  }"
>
  <div class="input-container">
    <input
      class="input-text"
      matInput
      type="tel"
      [maxLength]="maxLength"
      [imask]="maskType.currency"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      required
    />

    <span matSuffix class="white-text"> {{ suffix }}</span>
  </div>
</div>

<!-- <div *ngIf="inputGroup.controls[formControlName].touched">
  <div
    *ngIf="
      inputGroup.controls[formControlName].hasError('required') || isInputError
    "
    class="error-text"
  >
    Ikke gyldig verdi
  </div>
</div> -->
