<section>
  <div class="row justify-content-center text-center">
    <div class="col">
      <h2>Klikk på din bank for å komme igang</h2>
    </div>
  </div>
  <div class="d-block d-md-flex justify-content-center text-center align-items-center mt-4 mb-4">
    <div>
      <a href="/login?bank=DNB"><img style="max-width: 100px" src="../../../assets/img/banks-logo/dnb.png" alt="DNB"
          title="DNB"></a>
    </div>
    <div class="mx-5 my-4 my-md-0">
      <a href="/login?bank=NORDEA"><img style="max-width: 100px" src="../../../assets/img/banks-logo/nordea.png"
          alt="NORDEA" title="NORDEA"></a>
    </div>
    <div>
      <h5 class="font-weight-bold font-italic mb-0">Flere banker kommer!
        <br><a href="/faabeskjed">
          Klikk her
        </a>
        og få beskjed når
        <br>
        din bank er tilgjengelig
      </h5>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col">
      <p class="text-center">
        Klikk på din bank for å logge deg inn med BankID på mobil - og gi oss fullmakt til å hente dine rente og lånedata
      </p>

      <p class="text-center">
        Vi støtter kun BankID på Mobil, ikke kodebrikke. 
        <br>
        Har du ikke BankID på Mobil kan du registrere deg og legge inn dine lånedetaljer
        <a href="/telefon-logg-inn">
          manuelt her
        </a>
      </p>
    </div>
  </div>
</section>
