<div class="row justify-content-center text-center">
  <div class="col">
    <h2
    class="text-dark font-weight-bold">Hvilken bank har du boliglån i?</h2>
  </div>
</div>
<section class="masthead bank-select">

  <div class="row justify-content-center text-center align-items-center mt-4 mb-4 flex-wrap">
    <div class="col-6 col-md-2">
      <a [routerLink]="['/autentisering/dnb']"><img class="mw-100" src="../../../assets/img/banks-logo/dnb.png" alt="DNB"
          title="DNB"></a>
    </div>
    <div class="col-6 col-md-2">
      <a [routerLink]="['/autentisering/nordea']"><img class="mw-100" src="../../../assets/img/banks-logo/nordea.png"
          alt="NORDEA" title="NORDEA"></a>
    </div>
    <div class="col-6 col-md-2">
      <a [routerLink]="['/autentisering/sparebank1-sub']"><img class="mw-100" src="../../../assets/img/banks-logo/square/sparebank1v2.png"
        alt="Sparebank1" title="Sparebank1"></a>
    </div>
    <div class="link col-6 col-md-2">
      <!-- <div class="d-flex align-items-center justify-content-center"> -->
       <a class="font-weight-bold d-flex justify-content-center text-center align-items-center mx-auto" [routerLink]="['/faabeskjed']">Flere banker kommer!</a>
      <!-- </div> -->
    </div>
  </div>
  <div class="row justify-content-center mt-md-2 mb-5">
    <div class="col text-center">
      <p class="text-center mt-0">
          Klikk på din bank for å logge deg inn med BankID på mobil - og gi oss fullmakt til å hente dine rente og lånedata
      </p>

      <p class="text-center">
          Vi støtter <span class="font-weight-bold">kun BankID på Mobil, ikke med passord/kode.</span>  
      </p>
      <!-- <rente-button class="card-btn" mat-button color="primary" [type]="'stroked'">
          Manuell registering
      </rente-button> -->
      
    </div>
  </div>
</section>
