@import '../../../styles/theme/_colors.scss';

.bank-select {
  h2 {
    color: $dark;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin: 67px 0 40px;
  }

  img {
    border: 6px solid $white;
    box-sizing: content-box;
  }

  img:hover {
    border: 6px solid $primary;
    border-radius: 23px;
  }

  .link {
    height: 100px;
    width: 100px;
    border: 2px solid $primary;
    border-radius: 16px;

    a {
      color: $primary;
      font-size: 12px;
      letter-spacing: 0.2px;
      line-height: 15px;
      text-decoration: none;
    }
  }

  rente-button {
    width: 168px;
    display: inline-block;
  }
}
