<div [ngClass]="setOpacity ? 'setTransparent' : 'resetTransparent'">
  <div class="loan-boxes">
    <div
      [ngClass]="
        isEditMode === true ? 'content-blue-box-edit' : 'content-blue-box'
      "
    >
      <div class="loan-type">
        <div class="loan-delete">
          <h3>Lån {{ index + 1 }}</h3>
          <mat-icon
            *ngIf="isEditMode && loansLength > 1"
            (click)="deleteLoan()"
            class="is-clickable"
            >delete_forever</mat-icon
          >
        </div>

        <div>
          <img
            [hidden]="hideEditIcon"
            (click)="setEditEnabled()"
            class="loan-edit"
            src="../../../../../../assets/icons/edit-icon-grey.svg"
            alt="loan-edit"
          />
          <img
            [hidden]="!isEditMode"
            (click)="setEditDisabled()"
            class="loan-edit-cancel"
            src="../../../../../../assets/icons/cancel-icon-grey.svg"
            alt="loan-edit-cancel"
          />
        </div>
      </div>

      <!-- <div
        class="all-text"
        *ngIf="!isEditMode"
        [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
      >
        <div class="loan-center">
          <p>
            {{ loan.loanName }}
          </p>
        </div>
      </div> -->

      <div class="forms">
        <form class="p-0 border-0" [formGroup]="loanForm" novalidate change>
          <div class="field-box">
            <h4 class="text-white">Utestående lån:</h4>

            <div class="input-width">
              <rente-general-input
                (click)="setInputOutDebtActive()"
                formControlName="outstandingDebt"
                [maskType]="maskType"
                [suffix]="'kr'"
                [maxLength]="'14'"
                [placeholder]="'Fyll inn lån'"
                [isEditMode]="isEditMode"
                [inEditMode]="inEditMode"
                [isInputFocused]="
                  isEditMode &&
                  inputOutstandingDebtIsActive &&
                  !outstandingDebtIsError
                "
                [isInputError]="outstandingDebtIsError"
                [errorStateMatcher]="
                  isErrorState(loanForm?.controls['outstandingDebt'])
                "
              ></rente-general-input>

              <div *ngIf="loanForm?.controls['outstandingDebt'].touched">
                <p
                  class="error-small"
                  *ngIf="
                    loanForm?.controls['outstandingDebt'].hasError(
                      'required'
                    ) ||
                    (outstandingDebtIsError &&
                      !isServerError &&
                      !isGeneralError)
                  "
                >
                  Ikke gyldig verdi
                </p>
              </div>
            </div>
          </div>

          <div class="field-box">
            <h4 class="text-white">Løpetid:</h4>

            <div>
              <div class="input-width-small">
                <rente-general-input
                  (click)="setInputRemYearsActive()"
                  formControlName="remainingYears"
                  [maskType]="maskType"
                  [suffix]="'år'"
                  [maxLength]="'5'"
                  [isEditMode]="isEditMode"
                  [inEditMode]="inEditMode"
                  [isInputFocused]="
                    isEditMode &&
                    inputRemainingYearsIsActive &&
                    !remainingYearsIsError
                  "
                  [isInputError]="remainingYearsIsError"
                  [errorStateMatcher]="
                    isErrorState(loanForm?.controls['remainingYears'])
                  "
                ></rente-general-input>

                <div *ngIf="loanForm?.controls['remainingYears'].touched">
                  <p
                    class="error-small"
                    *ngIf="
                      loanForm?.controls['remainingYears'].hasError(
                        'required'
                      ) ||
                      (remainingYearsIsError &&
                        !isServerError &&
                        !isGeneralError)
                    "
                  >
                    Ikke gyldig verdi
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="field-box">
            <h4 class="text-white">Nominell rente:</h4>

            <div>
              <div class="input-width-small">
                <rente-general-input
                  (click)="setInputNominalRateActive()"
                  formControlName="nominalRate"
                  [maskType]="maskType"
                  [suffix]="'%'"
                  [maxLength]="'5'"
                  [isEditMode]="isEditMode"
                  [inEditMode]="inEditMode"
                  [isInputFocused]="
                    isEditMode &&
                    inputNominalRateIsActive &&
                    !nominalRateIsError
                  "
                  [isInputError]="nominalRateIsError"
                  [errorStateMatcher]="
                    isErrorState(loanForm?.controls['nominalRate'])
                  "
                ></rente-general-input>
                <div *ngIf="loanForm?.controls['nominalRate'].touched">
                  <p
                    class="error-small"
                    *ngIf="
                      loanForm?.controls['nominalRate'].hasError('required') ||
                      (nominalRateIsError && !isServerError && !isGeneralError)
                    "
                  >
                    Ikke gyldig verdi
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="field-box">
            <h4 class="text-white">Termin gebyr:</h4>

            <div>
              <div class="input-width-small">
                <rente-general-input
                  (click)="setInputFeeActive()"
                  formControlName="fee"
                  [maskType]="maskType"
                  [suffix]="'kr'"
                  [maxLength]="'3'"
                  [isEditMode]="isEditMode"
                  [inEditMode]="inEditMode"
                  [isInputFocused]="
                    isEditMode && inputFeeIsActive && !feeIsError
                  "
                  [isInputError]="feeIsError"
                  [errorStateMatcher]="isErrorState(loanForm?.controls['fee'])"
                ></rente-general-input>
                <div *ngIf="loanForm?.controls['fee'].touched">
                  <p
                    class="error-small"
                    *ngIf="
                      loanForm?.controls['fee'].hasError('required') ||
                      (feeIsError && !isServerError && !isGeneralError)
                    "
                  >
                    Ikke gyldig verdi
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="loan-info"
            *ngIf="showDisplayBox"
            [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
          >
            <div class="center">
              <p>Effektiv rente:</p>
            </div>
            <div class="center">
              <h3>{{ loan.effectiveRate | number: '1.2-2' }} %</h3>
            </div>
          </div>

          <div
            [ngClass]="{
              'loan-center': !isEditMode,
              'loan-center-edit': inEditMode,
              'loan-center-edit-focus':
                isEditMode && inputLoanTypeIsActive && !loanTypeIsError,
              'loan-center-edit-error': loanTypeIsError
            }"
            (click)="setInputLoanTypeActive()"
          >
            <mat-form-field appearance="fill">
              <mat-select
                [(value)]="loanTypeSelected"
                [disabled]="!isEditMode"
                (selectionChange)="matSelectChanged()"
                disableOptionCentering
                panelClass="overlay-pane"
              >
                <mat-option
                  *ngFor="let loanType of loanTypeList"
                  [value]="loanType.name"
                >
                  {{ loanType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>

      <div
        class="total-cost"
        *ngIf="showDisplayBox"
        [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
      >
        <div class="double-container">
          <div class="first-box move-first-box">
            <div class="btitle-one">
              <p>Totale renter og gebyrer</p>
            </div>
            <div class="bvalue">
              {{
                loan.totalInterestAndTotalFee == null
                  ? 'N/A'
                  : (loan.totalInterestAndTotalFee | number: '1.0-0') + ',-'
              }}
            </div>
          </div>

          <div class="first-box move-sec-box">
            <div class="btitle-two">
              <p>Renter & gebyrer per år</p>
            </div>
            <div class="bvalue">
              {{
                loan.totalInterestAndTotalFeeByRemainingYears == null
                  ? 'N/A'
                  : (loan.totalInterestAndTotalFeeByRemainingYears
                      | number: '1.0-0') + ',-'
              }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="save-loan-button"
        *ngIf="isEditMode"
        [@buttonFadeInOut]="showButton ? 'visible' : 'hidden'"
      >
        <rente-button
          color="primary"
          (click)="save()"
          [disabled]="!isAbleToSave"
        >
          Lagre
        </rente-button>
      </div>
    </div>
  </div>
</div>
