<div class="summary">
  <div class="loan-boxes">
    <div
      [ngClass]="
        isEditMode === true ? 'content-blue-box-edit' : 'content-blue-box'
      "
    >
      <div class="loan-type">
        <div class="loan-delete">
          <h3>Lån {{ index + 1 }}</h3>
          <!-- <div *ngIf="!isEditMode"></div> -->
          <mat-icon *ngIf="isEditMode" (click)="deleteLoan()"
            >delete_forever</mat-icon
          >
        </div>

        <div>
          <img
            [hidden]="hideEditIcon"
            (click)="setEditEnabled()"
            class="loan-edit"
            src="../../../../../../assets/icons/edit-icon-grey.svg"
            alt="loan-edit"
          />
          <img
            [hidden]="!isEditMode"
            (click)="setEditDisabled()"
            class="loan-edit-cancel"
            src="../../../../../../assets/icons/cancel-icon-grey.svg"
            alt="loan-edit-cancel"
          />
        </div>
      </div>

      <div
        class="all-text"
        *ngIf="!isEditMode"
        [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
      >
        <div class="loan-center">
          <p>
            {{ loan.loanName }}
          </p>
        </div>
      </div>

      <div
        class="forms"
        [ngClass]="isEditMode === true ? 'edit-modus' : 'general-modus'"
      >
        <form class="p-0 border-0" novalidate change>
          <div class="field-box">
            <h4 class="text-white">Utestående lån:</h4>

            <div class="input-width">
              <rente-general-input
                (click)="setInputOutDebtActive()"
                [maskType]="maskType"
                [value]="initialOutStandingDebt"
                [suffix]="'kr'"
                [maxLength]="'14'"
                [placeholder]="'Skriv inn lån'"
                [isEditMode]="isEditMode"
                [inEditMode]="inEditMode"
                [isInputFocused]="
                  isEditMode === true && inputOutstandingDebtIsActive === true
                "
                [isInputError]="
                  outstandingDebtIsError === true &&
                  inputOutstandingDebtIsActive === false
                "
                (inputValueString)="setOutstandingDebtVal($event)"
              ></rente-general-input>
            </div>
          </div>

          <div class="field-box">
            <h4 class="text-white">Løpetid:</h4>

            <div>
              <div (click)="setInputRemYearsActive()">
                <rente-general-input
                  [maskType]="maskType"
                  [value]="initialRemainingYears"
                  [suffix]="'år'"
                  [maxLength]="'5'"
                  [placeholder]="'Løpetid'"
                  [isEditMode]="isEditMode"
                  [inEditMode]="inEditMode"
                  [isInputFocused]="
                    isEditMode === true && inputRemainingYearsIsActive === true
                  "
                  [isInputError]="
                    remainingYearsIsError === true &&
                    inputRemainingYearsIsActive === false
                  "
                  (inputValueString)="setRemainingYearsVal($event)"
                ></rente-general-input>
              </div>
            </div>
          </div>

          <div class="field-box">
            <h4 class="text-white">Nominell rente:</h4>

            <div>
              <div (click)="setInputNominalRateActive()">
                <rente-general-input
                  [maskType]="maskType"
                  [value]="initialNominalRate"
                  [suffix]="'%'"
                  [maxLength]="'5'"
                  [placeholder]="'Nominell rente'"
                  [isEditMode]="isEditMode"
                  [inEditMode]="inEditMode"
                  [isInputFocused]="
                    isEditMode === true && inputNominalRateIsActive === true
                  "
                  [isInputError]="
                    nominalRateIsError === true &&
                    inputNominalRateIsActive === false
                  "
                  (inputValueString)="setNominalRateVal($event)"
                ></rente-general-input>
              </div>
            </div>
          </div>

          <div
            class="loan-info"
            *ngIf="showDisplayBox"
            [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
          >
            <div>
              <p>Effektiv rente:</p>
            </div>
            <div>
              <h3>{{ loan.effectiveRate | number: '1.2-2' }} %</h3>
            </div>
          </div>
        </form>
      </div>

      <div
        class="total-cost"
        *ngIf="showDisplayBox"
        [@fadeOut]="isEditMode ? 'hidden' : 'visible'"
      >
        <div class="double-container">
          <div class="first-box move-first-box">
            <div class="btitle-one">
              <p>Totale renter og gebyrer</p>
            </div>
            <div class="bvalue">
              {{
                loan.totalInterestAndTotalFee == null
                  ? 'N/A'
                  : (loan.totalInterestAndTotalFee | number: '1.0-0') + ',-'
              }}
            </div>
          </div>

          <div class="first-box move-sec-box">
            <div class="btitle-two">
              <p>Renter & gebyrer per år</p>
            </div>
            <div class="bvalue">
              {{
                loan.totalInterestAndTotalFeeByRemainingYears == null
                  ? 'N/A'
                  : (loan.totalInterestAndTotalFeeByRemainingYears
                      | number: '1.0-0') + ',-'
              }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="save-loan-button"
        *ngIf="isEditMode"
        [@buttonFadeInOut]="showButton ? 'visible' : 'hidden'"
      >
        <rente-button
          color="primary"
          (click)="save()"
          [disabled]="isDisabled === true"
        >
          Lagre
        </rente-button>
      </div>
    </div>
  </div>
</div>
