@import '../../../../../styles/theme/_colors.scss';

button.mat-primary {
    border-radius: 4px;
    font-family: Lato;	
    font-size: 16px;
    font-weight: bold;	
    line-height: 19px;
    width: 100%;	
    height: 40px;
}

.mat-raised-button.mat-primary {
    background-color: $primary;
}

.mat-stroked-button.mat-primary {
    border-color: $primary;
    color: $primary;
    border-width: 2px;
    white-space: normal;
}