@import "../../../../../styles/theme/_colors.scss";
.button-wrapper {
  display: block;
  text-align: center;
}
button.mat-button {
  min-width: 150px;
  border-radius: 100px;
  margin: auto;
  font-size: 16px;
  line-height: 19px;
  height: 56px;
  outline: none;
  display: inline-block;
  opacity: 1;
  padding: 0 20px;
  font-weight: 500;
  p {
    color: white;
  }
  img {
    height: 20px;
  }
}

button.mat-primary-hollow {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  white-space: break-spaces;
}


button.mat-button:hover:not([disabled]) {
  opacity: 0.8;
}
button[disabled] {
  opacity: 0.3;
}

button.mat-secondary[disabled][disabled] {
  background: #ECECEC;
  color: #B5B4B4;
  opacity: 1;
}

button.mat-grey[disabled] {
  opacity: 1.0  ;
  color: white;
}

button.mat-primary {
  background-color: $primary;
}

button.mat-secondary {
  background-color: $secondary;
  color: white;
}

.mat-button.mat-primary {
  color: white !important;
}
button.mat-blue {
  background-color: $blue;
  color: white;
}

button.mat-blue-bank{
  background-color: $blue;
  color: white;
  width: 135px;
}

button.mat-primary-wide {
  background-color: $primary;
  color: white;
  height: 56px;
  width: 80%
}

button.mat-primary-semi-wide {
  background-color: $primary;
  color: white;
  height: 56px;
  width: 325px;
}

button.mat-primary-medium {
  background-color: $primary;
  color: white;
  height: 56px;
  width: 90%;
  border-radius: 100px;
}

button.mat-primary-medium[disabled] {
  color: white !important;
}

button.mat-primary-wide-landing {
  background-color: $primary;
  color: white;
  height: 56px;
  width: 80%;
  @media (min-width: 600px) {
    width: 320px;
  }
}

button.mat-primary-wide-hollow {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  height: 56px;
  width: 80%;
  white-space: break-spaces;
}

button.mat-primary-wide-hollow[disabled] {
  opacity: 1;
  height: 56px;
  width: 80%;
  background-color: unset;
  color: #A9A9A9;
  border: 1px solid #C9EAE3;
}

button.mat-primary-wide-hollow-card {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  height: 56px;
  width: 90%;
  white-space: break-spaces;
  border-radius: 100px;
}

button.mat-primary-wide-hollow-card[disabled] {
  opacity: 1;
  height: 56px;
  width: 90%;
  background-color: unset;
  color: #A9A9A9;
  border: 1px solid #C9EAE3;
  border-radius: 100px;
}
  
  
button.mat-blue-wide {
  background-color: $blue;
  color: white;
  height: 43px;
  width: 80%;
}

button.mat-grey {
  background-color: $grey;
  color: white;
  width: 100%;
}

button.mat-orange {
  background-color: $orange;
  color: white;
  width: 100%;
}
.loading-icon {
  animation: spin 2s infinite linear;
  display: inline-block;
}


.small-button.mat-button.mat-button-base.mat-primary-hollow-small-landkreditt{
  width: 165px;
  font-size: 12px;
  height: 3.5em;
  padding: 0 2em;
  border: 1px solid $primary;
  border-radius: 100px;
  @media (max-width: 340px) {
      min-width: 280px;
  }
}




@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


