@import '../../../../../styles/theme/_colors.scss';
.button-wrapper {
  display: block;
  text-align: center;
}
button.mat-button {
  min-width: 150px;
  border-radius: 100px;
  margin: auto;
  line-height: 19px;

  outline: none;
  display: inline-block;
  opacity: 1;
  height: 56px;
  font-weight: 500;
  p {
    color: white;
  }
  img {
    height: 20px;
  }

  @media (min-width: 360px) {
    font-size: 16px;
  }
}

button.mat-button:hover:not([disabled]) {
  opacity: 0.8;
}

button:disabled,
button[disabled] {
  opacity: 0.3;
  color: white !important;
}

button.mat-primary-wide-break,
button.mat-primary-medium,
button.mat-primary-wide-landing,
button.mat-primary-wide,
button.mat-primary {
  background-color: $primary;
  color: white !important;
}

button.mat-primary-hollow {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  white-space: break-spaces;
}

button.mat-primary,
button.mat-primary-wide {
  width: 80%;
}

button.mat-primary-wide-break {
  width: 100%;
  white-space: break-spaces;
}

button.mat-primary-medium {
  width: 100%;
  border-radius: 100px;
}

button.mat-primary-wide-landing {
  width: 80%;
  @media (min-width: 600px) {
    width: 320px;
  }
}

button.mat-primary-wide-landing-hollow,
button.mat-primary-wide-hollow,
button.mat-primary-wide-white,
button.mat-primary-wide-hollow-base {
  background-color: white;
  color: black;
  height: 56px;
}

button.mat-primary-wide-landing-hollow {
  border: 1px solid $primary;
  width: 80%;
  @media (min-width: 600px) {
    width: 320px;
  }
}

button.mat-primary-wide-hollow {
  border: 1px solid $primary;
  width: 100%;
  white-space: break-spaces;
}

button.mat-primary-wide-hollow {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  height: 56px;
  width: 100%;
  white-space: break-spaces;
}

button.mat-primar-hollow-medium {
  min-width: 150px;
  background-color: white;
  color: black;
  border: 1px solid $primary;
  height: 56px;
  width: 100%;
  white-space: break-spaces;
}

button.mat-primary-wide-white {
  width: 80%;
  white-space: break-spaces;
}

button.mat-primary-wide-hollow[disabled] {
  opacity: 1;
  height: 56px;
  background-color: unset;
  color: #000000 !important;
  border: 1px solid #c9eae3;
}

button.mat-blue-wide {
  background-color: $blue;
  color: white;
  height: 43px;
  width: 80%;
}

.loading-icon {
  animation: spin 2s infinite linear;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button.mat-primary-wide-hollow-card {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  height: 45px;
  font-size: 14px;
  width: 100%;
  white-space: break-spaces;
  border-radius: 100px;
}

button.mat-primary-wide-hollow-card[disabled] {
  opacity: 1;
  height: 45px;
  font-size: 14px;
  width: 100%;
  background-color: unset;
  color: #a9a9a9;
  border: 1px solid #c9eae3;
  border-radius: 100px;
}

button.mat-primary-wide-hollow-card-big {
  background-color: white;
  color: black;
  border: 1px solid $primary;
  height: 56px;
  font-size: 14px;
  width: 100%;
  white-space: break-spaces;
  border-radius: 100px;
}

button.mat-primary-medium-card {
  background-color: $primary;
  color: white;
  height: 45px;
  font-size: 14px;
  width: 100%;
  border-radius: 100px;
}

button.mat-secondary-medium,
button.mat-secondary-medium-card,
button.mat-secondary {
  background-color: $secondary;
  color: white;
}

button.mat-secondary-medium {
  height: 56px;
  width: 100%;
  border-radius: 100px;
}

button.mat-secondary-medium {
  height: 56px;
  border-radius: 100px;
}

button.mat-secondary-medium-card {
  height: 45px;
  font-size: 14px;
  width: 100%;
  border-radius: 100px;
}

button.mat-secondary-medium-card[disabled] {
  color: white !important;
}

// Cookies popup
button.mat-grey {
  background-color: $grey-dark;
  color: white;
  width: 100%;
}
