@import '../../../styles/theme/_colors.scss';

@mixin text-style($size, $line-height) {
  font-size: $size;
  color: $black;
  font-family: Lato;
  line-height: $line-height;
}

.title {
  @include text-style(30px, 36px);
  letter-spacing: 0.5px;
  margin: 60px 0;

  &-btn {
    ::ng-deep.mat-raised-button {
      min-height: 60px !important;
      font-size: 23px !important;
      color: $white;
      font-family: Lato;
      line-height: 35px;
    }
  }
}

.partner-logo-finansportalen {
  max-width: 150px !important;
  height: 80px !important;
}

.partner-logo-virdi {
  max-width: 50px !important;
  height: 50px !important;
}

.card-wrapper {
  border-radius: 12px;
  background-color: rgba(33, 37, 41, 0.05);
}

.card {
  &-icon {
    height: 150px !important;
  }

  &-number-wrapper {
    &:after {
      content: '';
      width: 100%;
      position: absolute;
      height: 2px;
      background: $black;
      top: 50%;
      opacity: 0.2;
    }

    p {
      box-sizing: border-box;
      height: 40px;
      width: 40px;
      border: 2px solid $primary;
      background-color: $white;
      border-radius: 50%;
      @include text-style(18px, 20px);
      z-index: 1;
    }
  }

  &-title {
    height: 35px;
    @include text-style(23px, 29px);

    @media (max-width:750px) {
      height: auto;
      @include text-style(20px, 29px);
    }
  }

  &-text {
    @media (max-width:750px) {
      margin-bottom: 20px !important;
    }

    @include text-style(16px, 24px);
    margin-bottom: 30px;
  }

  &-btn {
    width: 368px;
    margin: 20px 0;

    @media (max-width:750px) {
      ::ng-deep.mat-raised-button {
        min-height: 60px !important;
        font-size: 24px !important;
        color: $white;
        font-family: Lato;
        line-height: 35px;
      }
    }
  }
}
