<div class="front-container">
  <div class="intro" [style.margin-bottom.px]="isMobile ? 20 : 80">
    <h1 [style.margin-bottom.px]="isMobile ? 20 : 40">
      Få beste <a [routerLink]="'/velgbank'">boliglånsrente</a>
    </h1>
    <h4 i18n="Our header|Describes the header@@landingheader">
      Sammenlign boliglånet ditt mot markedets beste tilbud - kjapt, enkelt og
      gratis!
    </h4>
  </div>
<!--
  <iframe src="https://link.tink.com/1.0/authorize/?client_id=f58c3faf6749466384b71791fe233a22&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fcallback&scope=accounts:read,investments:read,transactions:read,user:read,statistics:read,identity:read,credentials:read&market=SE&locale=en_US&test=true">
-->
    <rente-login></rente-login>
    <h3>Start med å velge banken du har lån i:</h3>
    <div class="bank-buttons">
      <rente-button color="blue" [routerLink]="'/autentisering/sparebank1-sub'">
        <img
          src="../../../assets/img/banks-logo/svg/sparebank1.svg"
          alt="Sparebank1 logo"
          class="sparebank1"
        />
      </rente-button>
      <rente-button color="blue" [routerLink]="'/autentisering/bank/nordea'">
        <img
          src="../../../assets/img/banks-logo/svg/nordea.svg"
          alt="Nordea logo"
          style="height: 20px;"
        />
      </rente-button>
      <rente-button color="blue" [routerLink]="'/autentisering/bank/dnb'">
        <img src="../../../assets/img/banks-logo/svg/dnb.svg" alt="DNB logo" />
      </rente-button>
      <rente-button color="blue" [routerLink]="'/velgbank'">
        <p>Annen bank</p>
      </rente-button>
    </div>
  <div class="data-logos">
    <a class="finansportalen" target="_blank" href="https://www.finansportalen.no">
      <img
        src="../../../assets/img/banks-logo/svg/finansportalen.svg"
        alt="Finansportalen logo"
      />
    </a>
    <a target="_blank" href="https://virdi.no/">
      <img
        src="../../../assets/img/banks-logo/svg/virdi.svg"
        alt="Virdi logo"
      />
    </a>
    <a class="boligmappa" target="_blank" href="https://www.boligmappa.no/">
      <img src="../../../../assets/img/partners/boligmappa-color.png" alt="boligmappa logo" />
    </a>
  </div>

  <rente-counter></rente-counter>

  <div>
    <!-- Dont load huge example svgs before scroll hits this element -->
    <div class="list">
      <div class="list-inner">
        <div class="four-columns">
          <div class="block">
            <img src="../../../assets/icons/renteradar.svg" alt="renteradar" />
            <p i18n="Sellingpoint 1|Describes sellingpoint 1@@landing.sellingpoint-1">Renteradar finner den beste boliglånsrenten helt gratis.</p>
          </div>
          <div class="block">
            <img src="../../../assets/icons/user.svg" alt="bankID" />
            <p i18n="Sellingpoint 2|Describes sellingpoint 2@@landing.sellingpoint-2">
              Ingen utfylling av skjema. <br />
              Logg inn med BankID på mobil.
            </p>
          </div>
          <div class="block">
            <img src="../../../assets/icons/save.svg" alt="save" />
            <p>Få oversikt og spar penger med et klikk.</p>
          </div>
          <div class="block">
            <img src="../../../assets/icons/notify.svg" alt="notify" />
            <p i18n="Sellingpoint 3|Describes sellingpoint 3@@landing.sellingpoint-3">
              Renteradar overvåker markedet og gir deg beskjed når det kommer
              bedre tilbud.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="list gradient desktop small-padding">
      <div class="example">
        <h2>Slik fungerer det</h2>
        <div class="item second-row">

          <h4>
            Renteradar henter renten og dine lånedetaljer automatisk med BankID på
            mobil.
          </h4>

          <h4>
            Vi sammenligner renten du betaler med renten du kan få i andre banker
            og viser deg hvor mye du kan spare. Du kan også prute i banken du er
            kunde med et klikk.
          </h4>
        </div>
          <div class="item img">
            <img
            [lazyLoad]="'../../../assets/img/example-desktop-info.svg'"
            offset="600"
            alt="Screenshot example"
            />
          </div>
          <div class="item img">

            <img
              [lazyLoad]="'../../../assets/img/example-desktop-offers.svg'"
              offset="600"
              alt="Screenshot example"
              />
          </div>
        <h4 class="bottom">
          Vi overvåker markedet og gir deg beskjed når nye og bedre tilbud er
          tilgjengelig i fremtiden!
        </h4>
      </div>
    </div>

    <div class="list gradient mobile">

      <div class="list-inner">
        <div class="desktop-inner">
          <h2>Slik fungerer det</h2>
          <h4>
            Renteradar henter renten og dine lånedetaljer automatisk med BankID på
            mobil.
          </h4>
          <h4>
            Vi sammenligner renten du betaler med renten du kan få i andre banker
            og viser deg hvor mye du kan spare. Du kan også prute i banken du er
            kunde med et klikk.
          </h4>
            <img
            [lazyLoad]="'../../../assets/img/example.svg'"
              offset="600"
              class="mobile"

              alt="Screenshot Example"
            />
          <h4>
            Vi overvåker markedet og gir deg beskjed når nye og bedre tilbud er
            tilgjengelig i fremtiden!
          </h4>
        </div>
      </div>
    </div>

  <div class="articles">
    <h2 style="margin-bottom: 20px;">Fornøyde brukere</h2>
    <div class="horizontal-scroll">
      <div class="sitater">
        <!-- TODO: move to component -->
        <div class="sitatboks">
          <div class="quote">…her kommer en ny tjeneste Renteradar.no, som gir deg et genialt argument… prøv du også…</div>
          <div class="bilde" style="background-image: url('../../../assets/img/p4.jpg')"></div>
          <div class="name">Øystein Røe Larsen, P4s Radiofrokost</div>
        </div>
        <div class="sitatboks">
          <div class="quote">Genial tjeneste! Renteradar.no sendte meg en mail om bedre tilbud. Da var det bare å flytte lånet som ga meg svært store besparelser.</div>
          <div class="bilde" style="background-image: url('../../../assets/img/sitat8.png')"></div>

          <div class="name">Erik Schmelck, Oslo</div>
        </div>
        <div class="sitatboks">
            <div class="quote">Sparte 400 kroner i måneden. Veldig brukervennlig. Slipper å bruke tid på å kontakte sin egen bank eller andre. Renteradar.no gjør jobben.</div>
            <picture>
              <source srcset="../../../assets/img-webp/sitat9.webp" type="image/webp">
              <source srcset="../../../assets/img/sitat9.jpg" type="image/jpeg">
              <img class="bilde" src="../../../assets/img/sitat9.jpg"/>
            </picture>
            <div class="name">Rita Bügelmeyer, Stavanger</div>
          </div>
        <div class="sitatboks">
          <div class="quote">For 3-4 dager siden testet vi renteradar.no og i dag ringte banken. De satte ned boliglånsrenten med ett prosent!</div>
          <picture>
            <source srcset="../../../assets/img-webp/sitat7.webp" type="image/webp">
            <source srcset="../../../assets/img/sitat7.jpg" type="image/jpeg">
            <img class="bilde" src="../../../assets/img/sitat7.jpg"/>
          </picture>
          <div class="name">Rita Hansen, Spydeberg</div>
        </div>
        <div class="sitatboks">
          <div class="quote">Renteradar.no foreslo Bulder Bank. Der fikk jeg lavere rente, uten gebyr som DNB hadde på 60kr i måneden!! Så derfor Bulder Bank for meg!</div>
          <picture>
            <source srcset="../../../assets/img-webp/sitat6.webp" type="image/webp">
            <source srcset="../../../assets/img/sitat6.jpg" type="image/jpeg">
            <img class="bilde" src="../../../assets/img/sitat6.jpg"/>
          </picture>
          <div class="name">Berit Bongo, Hammerfest</div>
        </div>
        <div class="sitatboks">
          <div class="quote">Banken satte ned renta vår 0,24% etter at Renteradar gjorde jobben med å kontakte banken for meg. Helt gull :) Dette kan virkelig anbefales!!</div>
          <img class="bilde" src="../../../assets/img/sitat5.jpg"/>
          <div class="name">Stine Kischel, Ås</div>
        </div>
        <div class="sitatboks">
          <div class="quote">
            Jeg ble overrasket over at det var så lett å spare 5000 bare ved å klikke på pruteknappen. Anbefaler alle å teste Renteradar.no
          </div>
          <picture>
            <source srcset="../../../assets/img-webp/sitat4.webp" type="image/webp">
            <source srcset="../../../assets/img/sitat4.jpg" type="image/jpeg">
            <img class="bilde" src="../../../assets/img/sitat4.jpg"/>
          </picture>
          <div class="name">Susanne, Oslo</div>
        </div>
        <div class="sitatboks">
          <div class="quote" style="height: 120px;">
            Jeg trodde jeg hadde full kontroll på boliglånsrenten vår, men det hadde jeg ikke.
          </div>
          <div class="quote" style="height: 118px;">
            Vi sparer 16 000 i året takket være Renteradar.no
          </div>
          <div class="name">Kristian, Oslo</div>
        </div>
        <div class="sitatboks">
          <div class="quote">
            Jeg er superglad jeg brukte Renteradar.no og anbefaler alle å bruke Renteradar.no for alt det er verdt!
          </div>
          <div class="bilde" style="background-image: url('../../../assets/img/sitat2.jpg')"></div>
          <div class="name">Silje Martinsen, Hamar</div>
        </div>
        <div class="sitatboks">
          <div class="quote">
            Det ble bedre rente! Testet Renteradar.no og fikk satt ned renten 0,20%
          </div>
          <img class="bilde" src="../../../assets/img/sitat3.jpg"/>
          <div class="name">Morten, Kongsvinger</div>
        </div>
        <div class="sitatboks">
          <div class="quote">
            Fikk akkurat beskjed fra banken at jeg fikk boliglånsrenta ned med 0,15%! Superfornøyd!
          </div>
          <picture>
            <source srcset="../../../assets/img-webp/sitat1.webp" type="image/webp">
            <source srcset="../../../assets/img/sitat1.jpg" type="image/jpeg">
            <img class="bilde" src="../../../assets/img/sitat1.jpg"/>
          </picture>
          <div class="name">Johanna, Tromsø</div>
        </div>
      </div>
    </div>
  </div>

  <div class="articles">
    <h2 style="margin-bottom: 20px;">Renteradar i media</h2>
    <div class="horizontal-scroll">

      <a class="article" target="_blank" href="https://www.tv2.no/nyheter/11327692/">
        <picture>
          <source srcset="../../../assets/img-webp/200325_tv2_sak_kollasje.webp" type="image/webp">
          <source srcset="../../../assets/img/200325_tv2_sak_kollasje.jpg" type="image/jpeg">
          <img class="background-image" src="../../../assets/img/200325_tv2_sak_kollasje.jpg"/>
        </picture>
        <img class="logo" src="../../../assets/img/tv2-logo.svg" alt="https://tv2.no" style="margin: -10px 0; width: 40px; height: 40px;" />
        <h3>Renteradar.no og TV2.no setter søkelyset på ordet «inntil» når bankene varsler rentekutt.</h3>
      </a>

      <a class="article" target="_blank" href="https://www.dn.no/makrookonomi/privatokonomi/norges-bank/rente/dette-blir-den-nye-gullrenten-men-bankene-kunne-vist-samfunnsansvar-og-kuttet-raskere/2-1-775551">
        <picture>
          <source srcset="../../../assets/img-webp/200320_DN_Fredrik_Sindre_kollasje.webp" type="image/webp">
          <source srcset="../../../assets/img/200320_DN_Fredrik_Sindre_kollasje.jpg" type="image/jpeg">
          <img class="background-image" src="../../../assets/img/200320_DN_Fredrik_Sindre_kollasje.jpg"/>
        </picture>
      <img class="logo" src="../../../assets/img/dagens_naeringsliv.jpg" alt="https://dn.no" />
      <h3>Bankene kunne vist samfunnsansvar og kuttet raskere</h3>
      </a>

      <a class="article" target="_blank" href="https://twitter.com/halkva/status/1187385224432410624">
        <div class="image" style="background-image: url('../../../assets/img/kvadsheim.jpg')"></div>
        <img class="logo" src="../../../assets/img/twitter.svg" alt="twitter logo" style="margin: 5px 0 3px 0" />
        <h3>Hallgeir Kvadsheim: "[...] en fintech-nykommer som gjør prutejobben enklere"</h3>
      </a>

      <a class="article" target="_blank" href="https://www.dn.no/privatokonomi/rente/privatokonomi/makrookonomi/ny-analyse-lojale-lanekunder-over-50-pa-boligrente-toppen/2-1-743720">
        <img class="background-image" src="../../../assets/img/dn_eldre_kunder.jpg"/>
        <img class="logo" src="../../../assets/img/dagens_naeringsliv.jpg" alt="Dagens Næringsliv" />
        <h3>Med data fra Renteradar.no setter DN søkelyset på at lojale og eldre bankkunder ofte betaler mer i rente enn andre.</h3>
      </a>

      <a
        href="https://shifter.no/axel-busch-christensen-fredrik-stang-heffermehl-renteradar/renteradar-vil-la-deg-bytte-bank-med-ett-klikk----de-store-bankene-tjener-pa-kundenes-uvitenhet/125418"
        target="_blank"
        class="article"
      >
        <div
          class="image"
          style="background-image: url('../../../assets/img/shifter.jpg')"
        ></div>


        <img
          class="logo"
          src="../../../assets/img/shifter_logo.svg"
          alt="Shifter logo"
        />
        <h3>
          Renteradar vil la deg bytte bank med ett klikk: – De store bankene
          tjener på kundenes uvitenhet
        </h3>
      </a>
      <a
        href="https://www.dinepenger.no/penger/bank/naa-gaar-vi-inn-i-en-ny-bankvirkelighet-kan-utloese-et-ras-av-ferske-tjenester/24695762"
        target="_blank"
        class="article"
      >

        <picture>
          <source srcset="../../../assets/img-webp/dinepenger.webp" type="image/webp">
          <source srcset="../../../assets/img/dinepenger.jpg" type="image/jpeg">
          <img class="background-image" src="../../../assets/img/dinepenger.jpg"/>
        </picture>
        <img
          class="logo"
          src="../../../assets/img/dine-penger-logo.png"
          alt="Dine Penger logo"
        />
        <h3>
          Nå går vi inn i en ny bankvirkelighet – kan utløse et ras av ferske
          tjenester
        </h3>
      </a>
      <a
        href="https://kapital.no/tech/2019/10/renteradar-pruter-kundene"
        target="_blank"
        class="article"
      >
        <picture>
          <source srcset="../../../assets/img-webp/kapital.webp" type="image/webp">
          <source srcset="../../../assets/img/kapital.jpg" type="image/jpeg">
          <img class="background-image" src="../../../assets/img/kapital.jpg"/>
        </picture>

        <img
          class="logo"
          src="../../../assets/img/kaptial.svg"
          alt="Kapital logo"
        />
        <h3>
          Renteradar pruter for kundene
        </h3>
      </a>
    </div>
  </div>

  <!-- Hack for anchor scroll for FAQ section -->
  <span class="anchor" id="faq"></span>
  <rente-faq></rente-faq>
</div>
