<div class="cont">
  <h2 class="text-center my-0">Vilkår for bruk av tjenesten</h2>
  <br />
  <hr class="my-0" />
  <br />
  <div class="dialog-body">
    <div class="text-left dialog-text">
      <div class="mb-4">
        Denne tjenesten er laget for at du så enkelt som mulig skal kunne
        sammenligne ditt boliglån.
      </div>
      <div class="mb-4">
        Jeg godtar at Forbrukerøkonomene AS
        <a [routerLink]="['/']" target="_blank"> (Renteradar.no)</a> samler inn
        informasjon om meg og mitt boliglån. Ved å bruke tjenesten aksepterer du
        også hvordan vi behandler personopplysningene dine. Du lese vår
        personvernerklæring som du finner her:
        <a [routerLink]="['personvern/personvernerklaering']" target="_blank"
          >Personvernerklæring</a
        >
      </div>
      <div class="mb-4">
        I tillegg til vilkårene for bruk av denne tjenesten godkjenner du også
        våre generelle vilkår, som du finner her:
        <p class="my-0">
          <a [routerLink]="['personvern/brukervilkar']" target="_blank"
            >Brukervilkår</a
          >
        </p>
      </div>
    </div>
  </div>
  <hr class="my-0" />

  <div class="d-flex justify-content-center">
    <div class="button-200" style="text-align: center">
      <br />
      <rente-button
        cdkFocusInitial
        color="primary"
        (click)="onClose()"
        i18n="“close|button@@close”"
        >Lukk</rente-button
      >
      <br /><br />
    </div>
  </div>
</div>
