<div class="test-buttons">
  <p (click)="testType = 0">demo1</p>

  <p (click)="testType = 1">demo2</p>

  <p (click)="testType = 2">demo3</p>

  <p (click)="testType = 3">demo4</p>
</div>

<div
  class="score-container"
  [className]="'score-container-' + testType"
  *ngIf="combinedScores$ | async as score"
>
  <div class="sliders">
    <div
      [@demoBorder]="borderTest ? 'show' : 'hide'"
      [ngClass]="
        demoIsLive === true
          ? 'demo-container slider-container'
          : 'slider-container-transparent slider-container'
      "
    >
      <h3>Tilbyr en lav rente</h3>

      <ngx-slider
        [value]="demoIsLive ? demoValue : score.priceSensitivity"
        (userChangeEnd)="priceSensitivityChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div>

    <div
      [ngClass]="
        demoIsLive === true
          ? 'reduced-opacity slider-container'
          : 'slider-container'
      "
    >
      <h3>Tilbyr en personlig rådgiver</h3>
      <ngx-slider
        [value]="score.advisorScore"
        (userChangeEnd)="advisorScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div>

    <div
      [ngClass]="
        demoIsLive === true
          ? 'reduced-opacity slider-container'
          : 'slider-container'
      "
    >
      <h3>Har lokal tilstedeværelse (filial)</h3>
      <ngx-slider
        [value]="score.localPresenceScore"
        (userChangeEnd)="localPresenceScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div>

    <div
      [ngClass]="
        demoIsLive === true
          ? 'reduced-opacity slider-container'
          : 'slider-container'
      "
    >
      <h3>Tilbyr forsikring, spareprodukter (pensjon, etc) og aksjehandel</h3>
      <ngx-slider
        [value]="score.combinedStockEnsuranceProductsScore"
        (userChangeEnd)="CombinedScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div>

    <div
      [ngClass]="
        demoIsLive === true
          ? 'reduced-opacity slider-container'
          : 'slider-container'
      "
    >
      <h3>Tilbyr lån til deg som har en komplisert økonomi</h3>
      <ngx-slider
        [value]="score.complicatedEconomyScore"
        (userChangeEnd)="complicatedEconomyScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div>

    <!-- <div 
      [ngClass]="sliderBox === true  ? 'slider-container' : 'slider-container-transparent'">
      <h3>tilbyr lån til deg som har en komplisert søknadsprosess</h3>
      <ngx-slider
        [value]="score.changeProcessScore"
        (userChangeEnd)="changeProcessScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div> -->

    <!-- <div 
      [ngClass]="sliderBox === true  ? 'slider-container' : 'slider-container-transparent'">
      <h3>tilbyr forsikring</h3>
      <ngx-slider
        [value]="score.insuranceScore"
        (userChangeEnd)="insuranceScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div> -->

    <!-- <div 
      [ngClass]="sliderBox === true  ? 'slider-container' : 'slider-container-transparent'">
      <h3>tilbyr aksjehandel</h3>
      <ngx-slider
        [value]="score.stockScore"
        (userChangeEnd)="stockScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div>
   -->

    <!-- <div 
      [ngClass]="sliderBox === true  ? 'slider-container' : 'slider-container-transparent'">
      <h3>Er enkel å bytte til</h3>
      <ngx-slider
        [value]="score.changeProcessScore"
        (userChangeEnd)="changeProcessScoreChanged($event)"
        [options]="testType === 0 ? optionsWithTicks : options"
      ></ngx-slider>
    </div> -->
  </div>
</div>
