<div class="initial-offer white-bg mx-auto p-3">
  <div class="d-flex justify-content-between w-100">
    <div class="bank-name justify-content-lg-center col-8 p-0">
      <div class="logo d-inline-block">
        <img [src]="bank?.icon" [alt]="bank?.label">
      </div>
      <div class="offer-product w-100">
        <div class="label d-flex text-left pl-3">
          {{bank?.label}}
        </div>
        <div class="product-name d-flex text-left pl-3">
          {{offer.productName}}
        </div>
      </div>

    </div>
    <div class="effective-rate my-auto col-4 p-0 text-right" *ngIf="offer.effectiveRate; else notPresent">
      {{offer.effectiveRate.toFixed(2)}}%
    </div>
  </div>
  <div class="d-flex justify-content-between w-100 mt-3">
    <div class="d-flex flex-column text-center">
      <div class="middle-title">Kundetilfredshet</div>
      <div *ngIf="offer.bankInfo.score; else notPresent">
        <img class="offer-score" src="../../../../assets/icons/score-{{offer.bankInfo.score}}.svg"/>
      </div>
    </div>
    <div class="d-flex flex-column text-center">
      <div class="middle-title">Historisk rente:</div>
      <div class="my-auto middle-property" *ngIf="offer.bankRating; else notPresent">
        {{offer.bankRating}}
      </div>
    </div>
    <div class="d-flex flex-column text-center">
      <div class="middle-title">Månedskostnad</div>
      <div class="my-auto middle-property" *ngIf="offer.monthlyCost; else notPresent">
        {{offer.monthlyCost | round | number}},-
      </div>
    </div>
  </div>
  <div class="w-100 mt-3">
    <mat-expansion-panel (opened)="detailOpenClicked()" [expanded]="expandStatus">
      <mat-expansion-panel-header [collapsedHeight]="'20px'" [expandedHeight]="'20px'">
        Detaljer
      </mat-expansion-panel-header>

      <rente-offer-card-details [offer]="offer" (closeClicked)="expandStatus=expandStatus?false:true" ></rente-offer-card-details>
    </mat-expansion-panel>
  </div>

  <rente-button
    color="primary" type="raised"
    [href]="offer.bankInfo.transferUrl || offer.bankInfo.url"
        >Få tilbud fra banken
  </rente-button>
</div>

<ng-template #notPresent>
  <div>-</div>
</ng-template>
