
<div class="loading" *ngIf="isLoading">
    <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>
<div class="update-complete" [@loading]="updateAnimationTrigger? 'true' : 'false'">
    <img src="../../../../assets/icons/ic_done.svg" alt="success-icon" />
    <p i18n=“saved|email-preferences@@email.preferences.saved”>Lagret</p>
  </div>

<div class="update-error" [@loading]="errorAnimationTrigger ? 'true' : 'false'">
    <p>{{errorMessage}}</p>
  </div>


<div class="preferences">
    <h3 i18n=“settings|email-preferences@@email.preferences.settings”>Epost innstillinger</h3>
    <ng-container *ngIf="showErrorMessage; else form">
        <p i18n=“error|email-preferences@@email.preferences.error” class="warning">Noe gikk galt, vennligst logg inn eller ta kontakt med oss på <a href = "mailto: {{langService.getEmail()}}">hei@renteradar.no</a></p>
    </ng-container>

      <ng-template #form>
        <ng-container *ngIf="emailForm">
        <form [formGroup]="emailForm" novalidate change>
             

            <div class="field">
                <div class="withinfo">
                    <p i18n=“market|email-preferences@@email.preferences.market” class="small">Markedsovervåkning / Rentesjekk av dine lån</p>
                    <div
                      (click)="
                        openInfoDialog()
                      "
                      class="clickable"
                    >
                      <mat-icon>help</mat-icon>
                    </div>
                  </div>
                <mat-radio-group formControlName="checkRateReminderType">
                    <mat-radio-button value="HVER_MANED_1"
                    ><span class="mat-radio-label" i18n=“month-every|email-preferences@@email.preferences.monthEvery”
                        >Hver måned</span
                    ></mat-radio-button
                    >
                    <mat-radio-button value="HVER_MANED_2"
                    ><span class="mat-radio-label" i18n=“month-two|email-preferences@@email.preferences.monthTwo”
                        >Hver 2. måned</span
                    ></mat-radio-button
                    >
                    <mat-radio-button value="HVER_MANED_3"
                    ><span class="mat-radio-label" i18n=“month-three|email-preferences@@email.preferences.monthThree”
                        >Hver 3. måned</span
                    ></mat-radio-button
                    >
                    <mat-radio-button value="HVER_MANED_4"
                    ><span class="mat-radio-label" i18n=“month-four|email-preferences@@email.preferences.monthFour”
                        >Hver 4. måned</span
                    ></mat-radio-button
                    >
                    <mat-radio-button value="NONE"
                    ><span class="mat-radio-label" i18n=“month-never|email-preferences@@email.preferences.monthNever”
                        >Aldri</span
                    ></mat-radio-button
                    >
                </mat-radio-group>
            </div>

            <div i18n=“market-update|email-preferences@@email.preferences.marketUpdate” class="field">
                <p class="small">
                    Få markedsoppdateringer, nyheter og annen informasjon på epost
                </p>
                <mat-radio-group formControlName="receiveNewsEmails">
                <mat-radio-button [value]="true"
                    ><span class="mat-radio-label" >Ja</span></mat-radio-button
                >
                <mat-radio-button [value]="false"
                    ><span class="mat-radio-label" >Nei</span></mat-radio-button
                >
                </mat-radio-group>     
            </div> 
            
        </form>
        <div class="center-button">
            <rente-button class="add" color="primary" (click)="sendForm()" i18n=“save-changes|email-preferences@@email.preferences.saveChanges”>
                Lagre endringer
            </rente-button>
        </div>
        </ng-container>
    </ng-template>
</div>
