h3,
h4,
p {
  margin-bottom: 20px;
}
.small {
  margin-bottom: 0;
}
rente-button {
  display: block;
  margin: auto;
  text-align: center;
}

.top {
  padding: 20px;
}
.bottom {
  border-top: 1px solid #ECECEC;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}