.mypanel {
  color: green;
}

mat-icon {
  position: absolute;
}

.mypanel .title {
  width: 100%;

  cursor: pointer;
}

.mypanel .body {
  padding: 0 !important;
}

.mypanel .body.hidden {
  display: none;
}
