@import "../../../../../styles/theme/_colors.scss";

.small-button.mat-button.mat-button-base.mat-secondary {
    width: 165px;
    font-size: 12px;
    height: 3.5em;
    padding: 0 2em;
    border-radius: 8px;
    background: white;
    border: 1px solid $primary;

    @media (max-width: 340px) {
        min-width: 280px;
    }
}


.small-button.mat-button.mat-button-base.mat-primary {
    width: 165px;
    font-size: 12px;
    height: 3.5em;
    padding: 0 2em;
    border-radius: 8px;
    @media (max-width: 340px) {
        min-width: 280px;
    }
}

.small-button.mat-button.mat-button-base.mat-primary-hollow-small{
    width: 165px;
    font-size: 12px;
    height: 3.5em;
    padding: 0 2em;
    border: 1px solid $primary;
    border-radius: 8px;
    @media (max-width: 340px) {
        min-width: 280px;
    }
}

.small-button.mat-button.mat-button-base.mat-primary-hollow-small[disabled]{
    opacity: 1;
    width: 165px;
    font-size: 12px;
    height: 3.5em;
    padding: 0 2em;
    border-radius: 8px;
    background-color: unset;
    color: #A9A9A9;
    border: 1px solid #C9EAE3;
    @media (max-width: 340px) {
        min-width: 280px;
    }
}

.small-button.mat-button.mat-button-base.mat-primary-hollow-small-landkreditt{
    width: 165px;
    font-size: 12px;
    height: 3.5em;
    padding: 0 2em;
    border: 1px solid $primary;
    border-radius: 8px;
    @media (max-width: 340px) {
        min-width: 280px;
    }
}


.small-button.mat-button.mat-button-base.mat-primary-hollow-small-landkreditt[disabled]{
    opacity: 1;
    width: 165px;
    font-size: 12px;
    height: 3.5em;
    padding: 0 2em;
    border-radius: 8px;
    background-color: #E5E5E5;
    color: #A9A9A9;
    border: unset;
    @media (max-width: 340px) {
        min-width: 280px;
    }
}

