
<a href=""></a>
<mat-icon (click)="onClose()" class="close-modal">close</mat-icon>

<h3>Boligverdi over 85%</h3>

<p>Utifra boligverdien har vi beregnet er belåningsgraden din over 85%. 
    Bankene kan i utgangspunktet ikke gi tilbud hvis belåningsgraden er høyere. 
    Tilbudene du ser er basert på en belåningsgrad på 85%. Det kan være flere 
    grunner til at vi har beregnet din belåningsgrad feil: 
</p>

<ul>
    <li>Vi har bommet på estimatet og estimert for lav verdi</li>
    <li>Du har kausjonist/medlånetaker som stiller ekstra sikkerhet</li>
    <li>Du har sikkerhet i flere eiendommer</li>
</ul>

<p>
    Du kan endre boligverdien og/eller legge til flere boliger i boligfanen ved å klikke her.
    Har du kausjonist anbefaler vi deg også å sjekke at boligverdien stemmer, men utover det 
    trenger du ikke endre noe.
</p>

<div class="double">
    <rente-button color="primary" [routerLink]="['/dashboard/bolig']" (click)="onClose()" >Gå til boligsiden</rente-button>
    <rente-button color="primary" (click)="onClose()">Lukk</rente-button>
</div>

