@import '../../../../styles/theme/_colors.scss';

.email-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  h3 {
    font-size: 16px;
    line-height: 1.2;
    color: #112639;
    font-weight: 500;
  }
}

.login {
  text-align: center;
}
h3,
p {
  margin-bottom: 20px;
}

.dnbError {
  text-align: left;
}

rente-button {
  text-align: center;
  margin-top: 40px;
  display: block;
}

.dnbInstability {
  color: $red;
}

.bank-logo {
  margin-bottom: 20px;
  max-width: 80px;
  max-height: 140px;
  width: 100%;
  height: 100%;
  display: block;
  width: auto;
  height: auto;
}
a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

mat-checkbox {
  margin-bottom: 40px;
  display: block;
}

.red {
  text-align: center;
  color: red;
}

.calculator-promotion {
  text-align: center;
  margin-top: 20px;
}

.temp-button {
  min-width: 150px;
  border-radius: 100px;
  margin: auto;
  font-size: 16px;
  line-height: 19px;
  height: 56px;
  outline: none;
  display: inline-block;
  opacity: 1;
  padding: 0 20px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: $primary;
  p {
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    margin: unset !important;
  }
}
