@import '../../../../styles/theme/_colors.scss';

.login-status {

  .bg-wrap {
    margin-top: 68px;
    margin-bottom: 52px;
  }

  img {
    margin-bottom: 50px;
    padding-top: 32px;
  }

  .mw-100 {
    max-width: 100px !important;
  }

  h3 {
    color: $dark;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 24px;
    margin-bottom: 69px;
  }

  &-btn {
    width: 116px;
    display: inline-block;
  }
}
