<div class="my-5 row justify-content-center" *ngIf="preferencesForm">
  <div class="col-lg-6 col-md-8 col-12">
    <div class="bg-wrap">
      <h2>Hvor ofte skal vi sjekke renten du har?</h2>
      <p>Renteradar.no overvåker kontinuerlig markedet for bedre rente enn det du har på lånet ditt. Renten du har på
        lånet ditt sjekkes og oppdateres ved at du identifiserer deg med BankID. Det er viktig at dette gjøres fra tid
        til annen for at eventuelle renteendringer på lånet ditt skal fanges opp</p>

      <form [formGroup]="preferencesForm" novalidate>
        <div class="mb-4">
          <mat-radio-group formControlName="checkRateReminderType" class="d-flex flex-column">
            <mat-radio-button [value]="1" class="mb-2">Hver måned</mat-radio-button>
            <mat-radio-button [value]="2" class="mb-2">Hver 2. måned</mat-radio-button>
            <mat-radio-button [value]="3" class="mb-2">Hver 3. måned</mat-radio-button>
            <mat-radio-button [value]="4" class="mb-2">Hver 4. måned</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mb-4">
          <h3>Kun rammelån/boligkreditt:</h3>

          <mat-radio-group formControlName="radioBlock2" class="d-flex flex-column">
            <mat-radio-button [value]="false" class="mb-2"><span class="text-wrap">Jeg er ikke avhengig av rammelån/boligkreditt</span></mat-radio-button>
            <mat-radio-button [value]="true" class="mb-2"><span class="text-wrap">Jeg er avhengig av å ha et rammelån/boligkreditt og vil kun ha overvåkning denne type lån</span></mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mb-4">
          <h3>Krav om andre produkter (e.g. lønnskonto):</h3>

          <mat-radio-group formControlName="radioBlock3" class="d-flex flex-column">
            <mat-radio-button [value]="true" class="mb-2"><span class="text-wrap">Jeg vil sammenligne mine betingelser med andre tilbud uavhengig om de krever andre produkter</span></mat-radio-button>
            <mat-radio-button [value]="false" class="mb-2"><span class="text-wrap">Jeg vil kun sammenligne mine betingelser med tilbud som ikke krever andre produkter</span></mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mb-4">
          <h3>Grønne-/miljøboliglån:</h3>

          <mat-radio-group formControlName="radioBlock4" class="d-flex flex-column">
            <mat-radio-button [value]="true" class="mb-2"><span class="text-wrap"> Jeg er ikke avhengig av rammelån/boligkredittJeg er ikke interessert i lån som forutsetter nullhus, tiltak for energimerking, etc..</span></mat-radio-button>
            <mat-radio-button [value]="false" class="mb-2"><span class="text-wrap">Jeg er interessert i lån som forutsetter nullhus, tiltak for energimerking, etc..</span></mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row mt-3 justify-content-center">
          <div class="col-12 col-sm-6 ">
            <rente-button color="primary" (click)="updatePreferances()">Lagre</rente-button>
            <small class="form-text text-muted">Husk å lagre ved endringer</small>
          </div>
        </div>

      </form>


    </div>
  </div>
</div>
