<!-- <div class="row justify-content-center" *ngIf="profileForm" [@shakeAnimation]>
  <form
    [formGroup]="profileForm"
    class="col-lg-7 col-12 my-2 my-lg-5"
    novalidate
    (ngSubmit)="updateProfile()"
  >
    <div class="bg-wrap">
      <div class="row">
        <div class="col-12">
          <p class="mb-1">Medlemskap:</p>
          <div class="input-block">
            <mat-form-field>
              <mat-chip-list #membershipList aria-label="Membership selection">
                <mat-chip
                  *ngFor="let membership of memberships; let i = index"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(membership, i)"
                >
                  {{ membership.label }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                  [placeholder]="'Ingen (trykk her for å legge til)'"
                  #membershipInput
                  [formControl]="membershipCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="membershipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"
                />
              </mat-chip-list>

              <mat-autocomplete
                #auto="matAutocomplete"
                (optionSelected)="selected($event)"
              >
                <mat-option
                  *ngFor="let membership of filteredMemberships | async"
                  [value]="membership"
                >
                  {{ membership.label }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <rente-form-message
            class="text-left d-block memberships-info-messageцц"
            [type]="'info'"
          >
            Bankene gir ofte bedre betingelser hvis du er medlem i en
            organisasjon
          </rente-form-message>
        </div>
      </div>

      <div class="row mt-2 mt-lg-0">
        <div class="col-12">
          <p>Din/Husstandens brutto årsinntekt:</p>
          <rente-input
            [placeholder]="'Din brutto årsinntekt'"
            formControlName="income"
            [errorStateMatcher]="
              isErrorState(profileForm.controls['income'], profileForm)
            "
            [type]="'tel'"
            [mask]="thousandSeparatorMask"
          >
          </rente-input>

          <rente-form-message class="text-left d-block" [type]="'info'"
            >Din/Husstandens inntekt er en viktig parameter for renten bankene
            tilbyr
          </rente-form-message>
          <div
            *ngIf="profileForm.controls['income'].touched"
            class="error-message"
          >
            <rente-form-message
              class="text-left d-block"
              [type]="'error'"
              *ngIf="profileForm.controls['income'].hasError('required')"
            >
              Kan ikke være tom
            </rente-form-message>
          </div>
        </div>
      </div>

      <div class="row mt-2 mt-lg-0">
        <div class="form-group col-12">
          <p>E-post:</p>
          <rente-input
            [placeholder]="'E-post'"
            formControlName="email"
            [errorStateMatcher]="
              isErrorState(profileForm.controls['email'], profileForm)
            "
            [modelOptions]="{ updateOn: 'blur' }"
          >
          </rente-input>
          <div
            *ngIf="profileForm.controls['email'].touched"
            class="error-message"
          >
            <rente-form-message
              class="text-left d-block"
              [type]="'error'"
              *ngIf="profileForm.controls['email'].hasError('required')"
            >
              Ikke gyldig email
            </rente-form-message>
            <rente-form-message
              class="text-left d-block"
              [type]="'error'"
              *ngIf="profileForm.controls['email'].hasError('pattern')"
            >
              Ikke gyldig email
            </rente-form-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-12 col-sm-6 ">
        <rente-button
          color="primary"
          [isLoading]="isLoading"
          [disabled]="isLoading || profileForm.invalid"
          isIconButton="true"
        >
          Lagre
        </rente-button>
        <small class="form-text text-muted">Husk å lagre ved endringer</small>
      </div>
    </div>
  </form>
</div>

<div class="loading" *ngIf="!profileForm">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div
  class="my-2 my-lg-5 row justify-content-center"
  *ngIf="preferencesForm"
  [@shakeAnimation]
>
  <div class="col-lg-7 col-12">
    <div class="bg-wrap">
      <h2 class="mt-0">Hvor ofte skal vi sjekke renten du har?</h2>
      <br />

      <p>
        Renteradar.no overvåker kontinuerlig markedet for bedre rente enn det du
        har på lånet ditt. Renten du har på lånet ditt sjekkes og oppdateres ved
        at du identifiserer deg med BankID. Det er viktig at dette gjøres fra
        tid til annen for at eventuelle renteendringer på lånet ditt skal fanges
        opp
      </p>

      <form [formGroup]="preferencesForm" novalidate>
        <div class="mb-3">
          <mat-radio-group
            formControlName="checkRateReminderType"
            class="d-flex flex-column"
          >
            <mat-radio-button value="HVER_MANED_1" class="mb-2"
              ><span class="mat-radio-label">Hver måned</span></mat-radio-button
            >
            <mat-radio-button value="HVER_MANED_2" class="mb-2"
              ><span class="mat-radio-label"
                >Hver 2. måned</span
              ></mat-radio-button
            >
            <mat-radio-button value="HVER_MANED_3" class="mb-2"
              ><span class="mat-radio-label"
                >Hver 3. måned</span
              ></mat-radio-button
            >
            <mat-radio-button value="HVER_MANED_4" class="mb-2"
              ><span class="mat-radio-label"
                >Hver 4. måned</span
              ></mat-radio-button
            >
          </mat-radio-group>
        </div>

        <div class="mb-3">
          <h3 class="mt-0 mb-2">Kun rammelån/boligkreditt:</h3>
          <mat-radio-group
            formControlName="fetchCreditLinesOnly"
            class="d-flex flex-column"
          >
            <mat-radio-button [value]="false" class="mb-2"
              ><span class="mat-radio-label">
                Jeg er ikke avhengig av rammelån/boligkreditt</span
              >
            </mat-radio-button>
            <mat-radio-button [value]="true" class="mb-2"
              ><span class="mat-radio-label">
                Jeg er avhengig av å ha et rammelån/boligkreditt og vil kun ha
                overvåkning denne type lån</span
              >
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mb-3">
          <h3 class="mt-0 mb-2">Krav om andre produkter (e.g. lønnskonto):</h3>
          <mat-radio-group
            formControlName="noAdditionalProductsRequired"
            class="d-flex flex-column"
          >
            <mat-radio-button [value]="false" class="mb-2"
              ><span class="mat-radio-label">
                Jeg vil sammenligne mine betingelser med andre tilbud uavhengig
                om de krever andre produkter</span
              >
            </mat-radio-button>
            <mat-radio-button [value]="true" class="mb-2"
              ><span class="mat-radio-label">
                Jeg vil kun sammenligne mine betingelser med tilbud som ikke
                krever andre produkter</span
              >
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="mb-2">
          <h3 class="mt-0 mb-2">Grønne-/miljøboliglån:</h3>
          <mat-radio-group
            formControlName="interestedInEnvironmentMortgages"
            class="d-flex flex-column"
          >
            <mat-radio-button [value]="false" class="mb-2"
              ><span class="mat-radio-label">
                Jeg er ikke interessert i lån som forutsetter energiklasse A
                eller B, nullhus, Svanemerket, tiltak for energimerking,
                etc.</span
              >
            </mat-radio-button>
            <mat-radio-button [value]="true" class="mb-2"
              ><span class="mat-radio-label">
                Jeg er interessert i lån som forutsetter energiklasse A eller B,
                nullhus, Svanemerket, tiltak for energimerking, etc.</span
              >
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row mt-3 justify-content-center">
          <div class="col-12 col-sm-6 ">
            <rente-button
              color="primary"
              (click)="updatePreferances()"
              [isLoading]="isLoading"
              [disabled]="isLoading"
            >
              Lagre</rente-button
            >
            <small class="form-text text-muted reminder mt-3"
              >Husk å lagre ved endringer</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="loading" *ngIf="!preferencesForm">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>
 -->
