<div class="barometer">
  <div class="rente-status">
    <p>{{ text }}</p>
  </div>

  <div class="rente-bar-container center-horizontal">
    <div class="bar-ticks">
      <p i18n="“interest-bad2|offers-main@@offers.mainPage.interest.bad2”">
        Dårlig rente
      </p>
      <p i18n="“interest-good2|offers-main@@offers.mainPage.interest.good2”">
        Bra rente
      </p>
    </div>
    <div class="bar-wrap">
      <span
        class="bar-fill-left"
        [ngClass]="[rateBarPercentage.class]"
        [ngStyle]="{ width: rateBarPercentage.percentage + '%' }"
      ></span>
      <span
        class="bar-fill-right"
        [ngStyle]="{ width: rateBarPercentageInverted + '%' }"
      ></span>
    </div>
  </div>

  <div class="save-info">
    <p i18n="“save|offers-main@@offers.mainPage.save”">Du kan spare</p>
    <h2
      *ngIf="
        offersInfo !== null && offersInfo?.bestOfferTotalSaving > 0;
        else noBestOffer
      "
    >
      {{ offersInfo.bestOfferTotalSaving | abs | number }},-
    </h2>
    <ng-template #noBestOffer>
      <h2>0,-</h2>
    </ng-template>
    <p i18n="“time|offers-main@@offers.mainPage.time”">over lånets løpetid</p>
  </div>
</div>
