@import "../../../../styles/theme/_colors.scss";
h3.title {
  padding: 10px;
}
.inner {
  padding: 10px;
}
.summary {
  background-color: $lightgreen;
  border-bottom: 1px solid $green;
  padding: 10px;

  .double {
    .box {
      background-color: white;
    }
  }
}

.detailed {
  margin-bottom: 40px;
  .heading {
    background-color: $light;
    border-top: 1px solid $lesslight;
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .box {
    background-color: $light;
  }
}

@media (min-width: 600px) {
  .summary {
    border: 1px solid $green;
    border-top: none;
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
  }
  .summary,
  .detailed {
    padding: 40px 80px;
    h3 {
      padding: 0px;
      padding-bottom: 10px;
    }
    .heading {
      margin-bottom: 20px;
    }
    .inner {
      padding: 0;
      margin-bottom: 40px;
    }
  }
  .desktop-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .rente-boxes rente-button {
    margin-top: 30px;
    display: block;
  }
}
