<div *ngIf="loansData && loansData.loans && loansData.loans.length > 0">

  <h4 class="font-weight-bold">Sammendrag</h4>

  <div class="bg-wrap bg-light mb-4">
    <div class="mb-0 list-unstyled">
      <p class="font-weight-bold">Totalt</p>
      <p>Utestående lån: <strong>{{loansData.totalOutstandingDebt / 1000000 | number: '1.3-3'}} millioner</strong>
      </p>
      <p>Effektiv rente: <strong>{{loansData.totalEffectiveRate | number: '1.2-2'}}%</strong>
      </p>
      <p>Totale renteutgifter: <strong>
          {{loansData.aggregatedTotalInterest == null ? 'N/A' : (loansData.aggregatedTotalInterest | number: '1.0-0') + ',-'}}</strong>
      </p>
      <p>Renter per år (gj.snitt): <strong>
          {{loansData.aggregatedTotalInterestByRemainingYears == null ? 'N/A' : (loansData.aggregatedTotalInterestByRemainingYears | number: '1.0-0') + ',-'}}</strong>
      </p>
    </div>
  </div>

  <h4 class="font-weight-bold">Detaljert</h4>

  <div class="bg-wrap  mb-4" *ngFor="let loan of loansData.loans">

    <div class="mb-0 list-unstyled">
      <p class="font-weight-bold">{{loan.loanType}}</p>
      <p>Utestående lån: <strong>{{loan.outstandingDebt / 1000000 | number: '1.3-3'}} millioner</strong></p>
      <p>Løpetid: <strong>{{loan.remainingYears | number: '1.2-2'}} år</strong>
      </p>
      <p>Effektiv rente: <strong>{{loan.effectiveRate | number: '1.2-2'}}%</strong>
      </p>
      <p>Nom.rente: <strong>{{loan.nominalRate | number: '1.2-2'}}%</strong>
      </p>
      <p>Totale renteutgifter: <strong>
        {{loan.totalInterest == null ? 'N/A' : (loan.totalInterest | number: '1.0-0') + ',-'}}</strong>
      </p>
      <p>Renter per år (gj.snitt): <strong>
        {{loan.totalInterestByRemainingYears == null ? 'N/A' : (loan.totalInterestByRemainingYears | number: '1.0-0') + ',-'}}
      </strong>
      </p>
    </div>
  </div>

</div>

<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="!loansData && !errorMessage">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>

<div *ngIf="errorMessage">
  <h1 class="text-center mt-4">{{errorMessage}}</h1>
</div>

