@import "../../../../styles/theme/_colors.scss";
h3.title {
  padding: 10px;
}
.inner {
  padding: 10px;
}
.summary {
  background-color: $lightgreen;
  border-bottom: 1px solid $green;
  padding: 10px;
  margin-bottom: 40px;

  .double {
    .box {
      background-color: white;
    }
  }
}

.detailed {
  margin-bottom: 40px;
  .heading {
    background-color: $light;
    border-top: 1px solid $lesslight;
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .box {
    background-color: $light;
  }
}
