@import "../../../../../styles/theme/_colors.scss";

 .the-offer {
    margin: 0px 0px 15px 0px;
    &:first-of-type
      .split:last-of-type
      .offer-info:first-of-type
      .offer-inner {
      background-color: $lightgreen;
    }
    .small {
      font-size: 11px;
    }
    .time {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
      .center {
     
        img {
          width: 40px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
        }
        h3 {
          display: inline-block;
          vertical-align: middle;
        }
      }
      

    }
    .the-offer-header {
      display: flex;
      justify-content: space-evenly;
      background-color: $lightgreen;
      padding: 10px;
      font-size: 15px;
      text-align: left;
      align-items: center;
      
      p {
        display: inline;
        font-size: 14px;
        font-weight: 400;
        margin-left: auto;
      }
      .logo {
        width: 3em;
        height: 3em;
        font-size: 16px;
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        border: 1px solid $primary;
        position: relative;
        display: inline-block;
        .nr {
          text-align: center;
          color: $primary;
          border: 1px solid;
          background-color: white;
          position: absolute;
          left: -0.2em;
          top: -0.2em;
          border-radius: 100%;
          width: 1em;
          height: 1em;
          p {
            font-weight: 500;
            font-size: 0.8em;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .offer-product {
        display: inline-block;
        margin-left: 10px;
        vertical-align: super;
        a {
            font-weight: 400;
            font-size: 14px;
            display: inline-block;
            color: $blue !important;
        }
        h3 {
            font-size: 12px;
            font-weight: 100;
        }
        .mat-icon {
          font-size: 18px;
          margin-left: 5px;
          vertical-align: middle;
          color: $blue;
        }
      }
      p {
        font-size: 14px;
      }
    }
    .the-offer-body {
       
        background: #F8F8F8;
        display: grid;
        grid-gap: 10px;
        grid-template-columns:3fr 2fr;
        padding: 10px;
        border-bottom: 1px solid #cdcdcd;

        .offer-top  {
            display: flex;
            justify-content: flex-end;
            grid-row: 1;
            grid-column-start: 1;
            grid-column-end: span 2;
            padding-top: 0px;



            @media (min-width: 600px) { 
                display: flex;
                grid-column-start: 1;
                grid-column-end: 1;
                .split {
                  display: flex;

                  .save:last-of-type {
                    padding-right: 0;
                  }
                }
            }
            
            p.save-text {
              margin-right: auto;
              font-weight: 400;
            }
        }

        .offer-bottom {
            grid-row: 3;
        }
        .full-row {
            grid-column-start: 1;
            grid-column-end: span 2;
            
        }
        .obligatory-info {
          text-align: left;
          grid-row: 4;
          p {
            font-size: 9px;
            text-align: center;
          }
        }
        .info-table { 
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            width: 240px;
            padding: 0;

            p {
                font-weight: bold;
            }   
        }

        .property {
          &.left{
            grid-column: 1;
          }
          &.right{
            grid-column: 2;
          }
        }

        .offer-properties {
            grid-row: 2;
            display: grid;
            grid-gap: 0px;
            grid-column-gap: 10px;
            grid-row-gap: 5px;
            grid-template-columns: 3fr 2fr;          
            grid-column-start: 1;
            grid-column-end: span 2;
            border-top: 1px solid #ECECEC;
            
            .item{
              display: flex;
              flex-direction: row;
              text-align: left;
              justify-content: space-between;
              align-items: center;

              &.first {
                padding-top: 10px;
                @media (min-width: 600px) {
                  margin-bottom: 3px;
                }

              }
              &.left {
                grid-column: 1;
              }

              &.right {
                grid-column: 2;
                
              }

              &.satisfaction {
                grid-row: 1;
                display: flex;
                flex-direction: column;
                justify-content: start;
                grid-row-start: 1;
                grid-row-end: span 3;
                border-left: 1px solid #ECECEC;
                padding-top: 15px;
                z-index: 10;

                @media (min-width: 600px) {
                  grid-row: 3;
                  grid-column: 1;
                  flex-direction: row;
                  justify-content: space-between;
                  padding-top: 0;
                  border-left: unset;
                }
                img {
                  width: 35px;
                  margin-top: 10px;

                  @media (min-width: 600px) { 
                    width: 30px;
                    margin-top: 0;
                    //align img to boxes above
                    margin-right: 8px;
                  }
                }
              }

              &.details {
                grid-row: 4;
                grid-column-start: 1;
                grid-column-end: span 2;

                //Hack to position details next to smiley
                @media (max-width: 600px) { 
                  position: relative;
                  top: -20px;
                }
                .mat-expansion-panel{
                  border-radius: 0px;
                  box-shadow: unset;
                  width: 100%;
                  background: transparent;
                  z-index: 5;

                  .mat-expansion-panel-header{
                    margin-left: 0px;
                    width: 70px;
                    padding: 0px;
                    background: transparent;

                    .mat-expansion-indicator {
                      display: none;
                    }

                    //selector doesnt work
                    .mat-expansion-indicator::after {
                      //color: red !important;
                    }
                  }
                }
              }

              .box {
                padding: 5px;
                border-radius: 5px;
                background: #ECECEC;
                min-width: 45px;
                text-align: center;
                z-index: 10;
              }
            }
            .right {
                img {
                    width: 60px;
                    margin-top: 10px;
                    display: inherit;
                }
            }
            
            p {
                font-size: 12px;
                font-weight: 400;
            }

            .details {
              font-size: 12px;
              font-weight: bold;      
            }
        }

        .buttons.item {

          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: unset;
          grid-column-start: 1;
          grid-column-end: span 2;
          grid-row: 5;

          p {
            font-weight: 100;
          }

          @media (max-width: 600px) {
            //Positional hack for details button
            position: relative;
            top: -30px;
            height: 30px;
            margin-top: 10px;
            &.item {
              align-items: unset;
            }

            p {
              font-size: 10px;
            }

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            
            div:first-of-type {
              margin-right: 10px;
            }
          }
          
          @media (min-width: 600px) {

            &.item {
              grid-row-start: 1;
              grid-row-end: span 3;
              grid-column: 2;
              flex-direction: column;
              align-items: center;
              justify-content: end;
              text-align: center;
              border-left: 1px solid #ECECEC;

              div {
                margin-top: 10px;
              }
            }
           
          }
        }
      .small-header {
        padding: 4px 0;
        font-size: 14px;
        //background: #e7e9eb;
       /* background-color: $light;
        border-top: 1px solid $lesslight;
        border-bottom: 1px solid $lesslight; */
      }
      .evenly {
        margin: auto
      }
      .offer-inner {
        padding: 15px 10px;
      }
      .save {
        padding-top: 0px;
        padding-bottom: 0px;
        h2 {
          font-size: 14px;
        }
        p {

          font-size: 12px;
        }
        h3 {
          color: $primary;
        }
      }
    }
    .the-offer-footer {
      p{
        text-align: start;
        font-size: 12px
      }
    }
  }