  <mat-icon (click)="onClose()" class="close-modal">close</mat-icon>



<div class="top">
    <h3 *ngIf="data.bankInfo.bank">{{ data.bankInfo.name }}</h3>
  <div class="grid-wrapper">
      <div class="item">
        <p class="small">Produkt</p>
        <p>{{ data.productName }}</p>
      </div>
      <div class="item">
          <p class="small">Max belåningsgrad</p>
          <p>{{ data.maxLTV }} %</p>        
      </div>
      <div class="item">
        <p class="small">Nominell rente</p>
        <p>{{ data.nominalRate | number: "1.2-2" }} %</p>
      </div>
      <div class="item">
        <p class="small">Effektiv rente</p>
        <p>{{ data.effectiveRate | number: "1.2-2" }} %</p>
      </div>
      <div class="item">
          <p class="small">Krav om annet produkt</p>
          <p>{{ data.requiredProductPackage == null ? "Nei" : "Ja" }}</p>
      </div>

      <div class="item">
        <p class="small">Produktpakke</p>
        <p>{{ data.requiredProductPackage == null ? "Ingen krav" :  data.requiredProductPackage}}</p>
      </div>
      <div class="item">
        <p class="small">Max løpetid</p>
        <p>{{ data.maxLoanPeriod }} år</p>
      </div>
      <div class="item">
        <p class="small">Max avdragsfrihet</p>
        <p>{{ data.maxInstallmentFreePeriod }} år</p>
      </div>
      <div class="item">
        <p class="small">Termingebyr</p>
        <p>{{ data.monthlyFee }},-</p>
      </div>
      <div class="item">
        <p class="small">Etableringsgebyr</p>
        <p>{{ data.establishmentFee }},-</p>
      </div>
      <div class="item">
        <p class="small">Depotgebyr</p>
        <p>{{ data.depotFee }},-</p>
      </div>
      <div class="item">  
        <p class="small">Markedsområde</p>
        <p>{{ data.marketArea }}</p>
      </div>
      <div class="item">
        <p class="small">Forutsetter medlemskap</p>
        <p>{{ data.requiredMembership == null ? "Nei" : "Ja" }}</p>
      </div>
      <div *ngIf="data.requiredMembership != null">
        <div class="item">
          <p class="small">Medlemskap</p>
          <p>{{ data.requiredMembership }}</p>
        </div>
      </div>
    
      
  </div>

  <p class="small-header">Forbehold:</p>
  <p>{{ data.otherConditions }}</p>

  <p class="small-header">Tilbud:</p>
  <p class="insignificant">Eff.rente {{data.effectiveRate | number: "1.1-2"}} %, 
    Lånebeløp {{data.outstandingDebt | number: "1.0" }}, 
    {{data.loanPeriodYears | number: "1.1" }} år, 
    Kostnad: {{data.cost | number: "1.0" }}, 
    Totalt: {{data.totalCost | number: "1.0" }}
  </p>
</div>

<div class="bottom">
  <rente-button cdkFocusInitial color="primary" (click)="onClose()">
    Lukk
  </rente-button>
</div>
