h3 {
  margin-bottom: 20px;
}
p {
  margin-bottom: 10px;
}

.small {
  margin-bottom: 0px;
}

form {
  padding: 0;
  background: unset;
  border: 0;
  max-width: unset;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 200px 150px;
    grid-column-gap: 10px;

    div {
      p:nth-child(even) {
        font-weight: 500;
      }
    }

    p {
      line-height: 1.2
    }
}

.insignificant {
  font-style: italic;
  span {
    font-style: normal
  }
}