  <mat-icon (click)="onClose()" class="close-modal">close</mat-icon>

<div class="top">
<h3 *ngIf="offer.bankInfo.bank">{{ offer.bankInfo.name }}</h3>

<div class="grid-wrapper">
    <div class="item">
      <p i18n=“product|details@@details.component.product” class="small">Produkt</p>
      <p>{{ offer.productName }}</p>
    </div>
    <div class="item">
      <p i18n=“max-leverage|details@@details.component.maxLeverage” class="small">Max belåningsgrad</p>
        <p>{{ offer.maxLTV }}%</p>
    </div>
    <div class="item">
      <p i18n=“nominal-interest|details@@details.component.nominalInterest” class="small">Nominell rente</p>
      <p>{{ offer.nominalRate | number: "1.2-2" }}%</p>
    </div>
    <div class="item">
      <p i18n=“efficient-interest|details@@details.component.efficientInterest” class="small">Effektiv rente</p>
      <p>{{ offer.effectiveRate | number: "1.2-2" }}%</p>
    </div>
    <div class="item" i18n=“product-demand|details@@details.component.productDemand”>
        <p class="small">Krav om annet produkt</p>
        <p>{{ offer.requiredProductPackage == null ? "Nei" : "Ja" }}</p>
    </div>

    <div class="item">
      <p i18n=“product-package|details@@details.component.productPackage” class="small">Produktpakke</p>
      <p i18n=“product-no-package|details@@details.component.productPackage.no”>{{ offer.requiredProductPackage == null ? "Ingen krav" :  offer.requiredProductPackage}}</p>
    </div>
    
    <div class="item">
      <p i18n=“demand-membership|details@@details.component.demandMembership” class="small">Forutsetter medlemskap</p>
      <p i18n=demand-membership-answer|details@@details.component.demandMembership.yesOrNo”>{{ offer.requiredMembership == null ? "Nei" : "Ja" }}</p>
    </div>
    <div *ngIf="offer.requiredMembership != null">
      <div class="item">
        <p i18n=“membership|details@@details.component.membership” class="small">Medlemskap</p>
        <p>{{ offer.requiredMembership }}</p>
      </div>
    </div>


</div>

<p i18n=“other-conditions|details@@details.component.other” class="small-header"  >{{offer.otherConditions ? "Forbehold:" : "Ingen forbehold"}} </p>
<p class ="otherConditions">{{ offer.otherConditions }}</p>


<p class="small-header">Tilbud:</p>
<p class="insignificant">Eff.rente {{offer.effectiveRate | number: "1.1-2"}}%,
  Lånebeløp {{offer.outstandingDebt | number: "1.0" }},
  {{offer.loanPeriodYears | number: "1.1" }} år,
  Kostnad: {{offer.cost | number: "1.0" }},
  Totalt: {{offer.totalCost | number: "1.0" }}
</p>
</div>


  <div class="bottom">
    <rente-button color="primary" (click)="onClose()">
      Lukk
    </rente-button>
  </div>

<!-- <div mat-dialog-content>
  <div class="modal-body text-left">
    <div *ngIf="offer.bank">
      <b>Leverandør: </b><span>{{ offer.bankName }}</span>
    </div>
    <div>
      <b>Produktnavn: </b><span>{{ offer.productName }}</span>
    </div>
    <div>
      <b>Nominell rente: </b
      ><span>{{ offer.nominalRate | number: "1.2-2" }}%</span>
    </div>
    <div>
      <b>Effektiv rente: </b
      ><span>{{ offer.effectiveRate | number: "1.2-2" }}%</span>
    </div>
    <div>
      <b>Termingebyr: </b><span>{{ offer.monthlyFee }},-</span>
    </div>
    <div>
      <b>Markedsområde: </b><span>{{ offer.marketArea }}</span>
    </div>
    <div>
      <b>Krav om annet produkt: </b
      ><span>{{ offer.requiredProductPackage == null ? "Nei" : "Ja" }}</span>
    </div>
    <div *ngIf="offer.requiredProductPackage != null">
      <b>Produktpakke: </b><span>{{ offer.requiredProductPackage }}</span>
    </div>
    <div>
      <b>Forutsetter medlemskap: </b
      ><span>{{ offer.requiredMembership == null ? "Nei" : "Ja" }}</span>
    </div>
    <div *ngIf="offer.requiredMembership != null">
      <b>Medlemskap: </b><span>{{ offer.requiredMembership }}</span>
    </div>
    <div>
      <b>Maksimal belåningsgrad: </b><span>{{ offer.maxLTV }}%</span>
    </div>
    <div>
      <b>Maksimal løpetid: </b><span>{{ offer.maxLoanPeriod }} år</span>
    </div>
    <div>
      <b>Maksimal avdragsfrihet: </b
      ><span>{{ offer.maxInstallmentFreePeriod }} år</span>
    </div>
    <div>
      <b>Etableringsgebyr: </b><span>{{ offer.establishmentFee }},-</span>
    </div>
    <div>
      <b>Depotgebyr: </b><span>{{ offer.depotFee }},-</span>
    </div>
    <div>
      <b>Forbehold: </b><span>{{ offer.otherConditions }}</span>
    </div>
  </div>
</div> -->
