@import "../../../../../../styles/theme/_colors.scss";

::ng-deep .cdk-focused {
    display: none !important;
}

::ng-deep .cdk-overlay-pane {
    height: calc(100% - 100px) !important;
    max-height: 100% !important;
}

::ng-deep .mat-dialog-container {
    height: 100% !important;
    max-height: 100% !important;
}



::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

h2 {
    margin: 20px auto 0;
    text-align: center;
}

h3 {
    margin: 30px auto 15px;
    text-align: center;
    margin-bottom: 15px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100% !important
}

.top {
    overflow: auto;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    flex: 0 1 auto;
}

.top-explain {
    margin: 40px 20px 20px 20px;
    text-align: center;
}


.stepper-header {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    .stepper-header-element {
        display: flex;
        align-items: center;

        &.done {
            .stepper-header-node {
                background: $primary;
            }

            .stepper-header-line {
                background: $primary;
            }
        }

        &.active {
            .stepper-header-node {
                width: 40px;
                height: 40px;
                background: $primary;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            }

            .stepper-header-line {
                background: $grey-dark;
            }
        }

        &.active-touched {
            .stepper-header-node {
                width: 40px;
                height: 40px;
                background: $primary;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            }

            .stepper-header-line {
                background: $primary;
            }
        }

        &.waiting {
            .stepper-header-node {
                background: $grey-dark;
            }

            .stepper-header-line {
                background: $grey-dark;
            }
        }
        
        .stepper-header-node {
            background: $grey-dark;
            color: white;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99999;
        }

        .stepper-header-line {
            width: 60px;
            height: 10px;
            border-radius: 15px;
            background: #54606E;
            margin: 0 -5px;
            z-index: 88888;
        }
    }
}


.choise-item {
    background: $grey-light;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px 10px;
    align-items: center;
    margin-bottom: 10px;

    .arrow {
        width: 10px;
    }
}

.bottom {

    & > div > div {
        display: grid;
        grid-column-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
    
    //border-top: 1px solid #ECECEC;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background: white;
    width: 100%;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;

    @media(min-width: 600px) {
    }

    form {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: span 2;
        border: unset !important;
        padding: 20px !important

    }

    .left {
        grid-column-start: 1;



    }

    .right {
        grid-column-start: 2;



    }
}

.choosen-container {
    background: $grey-light;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 20px;
}
.choosen-box {
    display: flex;
    justify-content: space-between;
    @media(max-width: 600px) {
        width: 100%
    }

    .location {
        
    }
    .value {
        font-weight: 400;
        margin-left: 25px;
    }
}


.grid-wrapper{
    display: grid;
    grid-template-columns: 140px 150px;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    div {
    p:nth-child(even) {
        font-weight: 500;
    }
    }

    p {
    line-height: 1.2;
    margin: unset;
    }
}