.mypanel {
  background-color: white;
  color: #222;
}

.mypanel .title {
  background-color: lightgrey;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.mypanel .body {
  padding: 10px;
}

.mypanel .body.hidden {
  display: none;
}
