<div class="container contact-us my-5" *ngIf="propertyForm">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-12 bg-wrap">
      <h2 class="title">Hei, {{userData.name}}</h2>
      <p>Vi begynner straks å overvåke renten for deg, men vi trenger litt informasjon først:</p>

      <form [formGroup]="propertyForm" novalidate (ngSubmit)="updateProperty(propertyForm.value)">
        <div class="mb-4">
          <div>
            <p class="my-0">Medlemskap:</p>
            <mat-form-field class="d-block">
              <mat-label>Ingen (trykk her for å legge til)</mat-label>
              <mat-chip-list #membershipList aria-label="Membership selection">
                <mat-chip *ngFor="let membership of memberships; let i = index;" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(membership, i)">
                  {{membership.label}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Medlemskap" #membershipInput [formControl]="membershipCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="membershipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let membership of filteredMemberships | async" [value]="membership">
                  {{membership.label}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <rente-form-message class="text-left d-block" [type]="'info'">
            Bankene gir ofte bedre betingelser hvis du er medlem i en organisasjon
          </rente-form-message>
        </div>

        <div class="mb-4">
          <mat-label>Størrelse på bolig (kvm):</mat-label>
          <rente-input [placeholder]="'Antall kvadratmeter'" formControlName="apartmentSize"
            [errorStateMatcher]="isErrorState(propertyForm.controls['apartmentSize'], propertyForm)" [type]="'tel'"
            [mask]="threeDigitsMask">
          </rente-input>

          <rente-form-message class="text-left d-block" [type]="'info'">
            Brukes til å estimere din boligverdi
          </rente-form-message>

          <div *ngIf="propertyForm.controls['apartmentSize'].touched" class="error-message">
            <rente-form-message class="text-left d-block" [type]="'error'"
              *ngIf="propertyForm.controls['apartmentSize'].hasError('required')">
              Kan ikke være tom
            </rente-form-message>
          </div>
        </div>

        <div class="mb-4">
          <mat-label>E-post</mat-label>
          <rente-input [placeholder]="'E-post'" formControlName="email"
            [errorStateMatcher]="isErrorState(propertyForm.controls['email'], propertyForm)">
          </rente-input>
          <div *ngIf="propertyForm.controls['email'].touched" class="error-message">
            <rente-form-message class="text-left d-block" [type]="'error'"
              *ngIf="propertyForm.controls['email'].hasError('required')">
              Kan ikke være tom
            </rente-form-message>
            <rente-form-message class="text-left d-block" [type]="'error'"
              *ngIf="propertyForm.controls['email'].hasError('pattern')">
              Kan ikke være tom
            </rente-form-message>
          </div>
        </div>

        <div class="mb-4">
          <mat-label> Din/Husstandens brutto årsinntekt:</mat-label>

          <rente-input [placeholder]="'Bruttoårsinntekt'" formControlName="income"
            [errorStateMatcher]="isErrorState(propertyForm.controls['income'], propertyForm)" [type]="'tel'"
            [mask]="thousandSeparatorMask">
          </rente-input>

          <rente-form-message class="text-left d-block" [type]="'info'">
            Din/Husstandens inntekt er en viktig parameter for renten bankene tilbyr
          </rente-form-message>

          <div *ngIf="propertyForm.controls['income'].touched" class="error-message">
            <rente-form-message class="text-left d-block" [type]="'error'"
              *ngIf="propertyForm.controls['income'].hasError('required')">
              Kan ikke være tom
            </rente-form-message>
          </div>
        </div>

        <div class="row mt-3 justify-content-center">
          <div class="col-12 col-sm-6 ">
            <rente-button color="primary" [isLoading]="isLoading" [disabled]="propertyForm.invalid || isLoading">
              Lagre
            </rente-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="!propertyForm">
  <mat-spinner [diameter]="48" [strokeWidth]="4"></mat-spinner>
</div>