
<div class="change-browser-container">

  <h4>Ränteradar kräver att du öppnar en webbläsare</h4>

  <div class="instruction-numbers">
    <div class="item">
      <div class="nr">1</div>
      <p>Tryck på knappen nederst i det högre hörnet
      </p>
    </div>
    <div class="item">
      <div class="nr">2</div>
      <p>Tryck på öppna i safari</p>
    </div>
  </div>
  <img src="../../../../../assets/img/sv/browser-detection-safari.png"/>
</div>

 <div *ngIf="data.type === 'button-middle'" class="fixed-bottom-middle">
  <div class="item">
    <div class="nr">1</div>
  </div>
  <div class="inner">
    <div class="vertical">
      <p>Tryck på knappen under</p>
      <img src="../../../../../assets/img/sv/browser-detection-arrow.png"/>
    </div>
  </div>
</div> 

<div *ngIf="data.type === 'button-right'" class="fixed-bottom-right">
  <div class="item">
    <div class="nr">1</div>
    <p>Tryck på knappen nederst i det högre hörnet</p>
    </div>
  <img src="../../../../../assets/img/sv/browser-detection-arrow.png"/>
</div>
