@import '../../../../../styles/theme/_colors.scss';

a {
  color: $primary;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.dialog-text {
  @media (max-width:450px) {
    max-height: 28vh;
  }
}