<div class="top">

  <mat-icon (click)="close()" class="close-modal">close</mat-icon>

  <h3>Melding til banken din:</h3>
  <br />
  <hr />
  <br />
  <p>
    Hei,
    <br />
    <br />
    Jeg er kunde i banken i dag, men jeg har funnet et bedre tilbud på
    renteradar.no og vurderer å bytte. Før jeg går videre lurer jeg på om dere kan
    matche tilbudet?
  </p>


  <p class="bold"><b>Opplysninger om tilbud:</b></p>

  <div class="grid-wrapper">
    <div class="item">
        <p class="small">Lånebeløp:</p>
        <p>{{ data.preview.totalOutstandingDebt | number: "0.0-0" }} kr</p>
    </div>
    <div class="item">
        <p class="small">Boligverdi:</p>
        <p>{{ data.preview.propertyValue | number: "1.0-0" }} kr</p>
    </div>
    <div class="item">
      <p class="small">Fellesgjeld:</p>
      <p>{{ (data.preview.commonDebt / 1000000 | number: "1.1-2")}} mill.</p>
  </div>
  <div class="item">
      <p class="small">Est. belåningsgrad:</p>
      <p>{{ (data.preview.ltv) * 100 | number: "1.1-1"}} %
      </p>
  </div>
    <div class="item">
        <p class="small">Nedbetalingstid:</p>
        <p>{{ data.preview.averageRemainingYears | round }} år</p>
    </div>
    <div class="item">
        <p class="small">Min alder:</p>
        <p>{{ data.preview.clientInfo.age | number: "1.0-0" }} år</p>
    </div>
    <div class="item">
      <p class="small">Bank:</p>
      <p>{{ data.preview.bankName }}</p>
    </div>
    <div class="item">
        <p class="small">Produktnavn:</p>
        <p>{{ data.preview.productName }}</p>    
    </div>
    <div class="item">
        <p class="small">Nominell rente:</p>
        <p>{{ data.preview.nominalRate | number: "1.2-2" }} %</p>
    </div>
    <div class="item">
        <p class="small">Effektiv rente:</p>
        <p>{{ data.preview.effectiveRate | number: "1.2-2" }} %</p>
    </div>
  </div>

  <p class="small">Produkt:</p>
  <a href="{{ data.preview.offerUrl }}" target="_blank">
    <p>Link til produkt på Finansportalen</p>
  </a>
  <br />


  <p class="bold"><b>Opplysninger om meg:</b></p>

  <div class="grid-wrapper">
      <div class="item">
          <p class="small">Navn:</p>
          <p>{{ data.preview.clientInfo.name }}</p>
      </div>
      <div class="item">
          <p class="small">Telefon:</p>
          <p>{{ data.preview.clientInfo.phone }}</p>
      </div>
      <div class="item">
          <p class="small">Adresse:</p>
          <p>{{ data.preview.clientInfo.address }}</p>
      </div>
      <div class="item">
          <p class="small">Postnr:</p>
          <p>{{ data.preview.clientInfo.zip }}</p>
      </div>
      
  </div>

  <p class="small">E-post:</p>
  <p>{{ data.preview.clientInfo.email }}</p>
  <br />

  <p>
    Jeg ønsker at dere kontakter meg per telefon.
  </p>
  <p>
    Jeg bekrefter at jeg er over 18 år og myndig eller oppnevnt som verge, samt at
    banken ved behov kan foreta en kredittvurdering.
  </p>
  <p>
    Mvh,<br />
    {{ data.preview.clientInfo.name }}
  </p>
  <br />
</div>
<div class="bottom">
  <p>
    Meldingen sendes til din bank per mail med deg som avsender. Du får også en
    kopi av meldingen i din innboks. Ønsker du å kontakte din bank direkte kan du
    kopiere teksten og bruke den som utgangspunkt for dialog.
  </p>
  <br />

<form [formGroup]="confirmForm" novalidate>
  <mat-checkbox
    formControlName="confirmation"
    (change)="isConfirmed = $event.checked"
  >
    Jeg bekrefter at jeg er over 18 år og myndig eller oppnevnt som verge, samt
    at banken ved behov kan foreta en kredittvurdering.
  </mat-checkbox>
  <div class="double">
    <rente-button
      color="primary"
      [isLoading]="isLoading"
      [disabled]="!isConfirmed || isLoading"
      (click)="sendRequest()"
      >Send til banken
    </rente-button>

    <rente-button color="primary" (click)="close()">
      Avbryt
    </rente-button>
  </div>
</form>
</div>